//=require checkout_addresses

$('#shipping_services_types').show();
if( $(".motoboy").size() > 0 && $('.shipping_service_radio:last').is(':checked') && $("#motoboy_info").size() == 0){
  $(".motoboy").append('<span id=motoboy_info>Apenas para pedidos com pagamento confirmado até as 17h</span>');
}else{
  $("#motoboy_info").remove();
}

$('.shipping_service_radio:first').val(<%= @shipping_service.shipping_service_id %>);

<% if @has_two_shipping_services %>
  $(".expresso,.motoboy").show();
  $(".shipping").html("(<%= @shipping_service.delivery_time %> dias úteis) <%= number_to_currency(@shipping_service.price) %>");
  $(".expresso,.motoboy").find("p").html("(<%= @shipping_service_fast.delivery_time %> dias úteis) <%= number_to_currency(@shipping_service_fast.price) %>");
  _gaq.push(['_trackEvent', 'ExpressFreight', 'ShowExpressDeliveryBox','<%= @zip_code %>', , true]);
  $('.shipping_service_radio:first').data('shipping-service',<%= @shipping_service.shipping_service_id %>); 
  $('.shipping_service_radio:last').data('shipping-service', <%= @shipping_service_fast.shipping_service_id %>); 
  $('.shipping_service_radio:last').val(<%= @shipping_service_fast.shipping_service_id %>);
  var expressInput = $('.shipping_service_radio:last');
  expressInput.data('shipping-service', <%= @shipping_service_fast.shipping_service_id %>); 

  <% if show_motoboy_freight? %>
    expressInput.parent().removeClass('expresso').addClass('motoboy');

    var expressLabel = expressInput.siblings().first();
    expressLabel.html('Entrega a jato');
    
    var expressDeliveryTime = expressInput.siblings().last();
    expressDeliveryTime.html('(Em 3 horas) <%= number_to_currency(@shipping_service_fast.price) %>' );
    $('.shipping_service_radio:last').val(<%= @shipping_service_fast.shipping_service_id %>);
  <% else %>
    expressInput.parent().removeClass('motoboy').addClass('expresso');
    var expressLabel = expressInput.siblings().first();
    expressLabel.html('Expresso');

  <% end %>

  $('.shipping_service_radio:last').data('shipping-service', <%= @shipping_service_fast.shipping_service_id %>); 
  $('.shipping_service_radio:last').val(<%= @shipping_service_fast.shipping_service_id %>);
<% end %>
<% if !@has_two_shipping_services && !params[:freight_service_ids] %>
  $(".shipping").html("(<%= @shipping_service.delivery_time %> dias úteis) <%= number_to_currency(@shipping_service.price) %>");
  $('.shipping_service_radio:first').data('shipping-service',<%= @shipping_service.shipping_service_id %>); 
  $('.shipping_service_radio:first').attr("checked",true);
  $(".expresso,.motoboy").hide();
  $("#motoboy_info").remove();
<% end %>

$("#freight_price").
  hide().
  html("<%= number_to_currency(@freight_price) %>").
  delay(200).
  fadeIn();

$("#freight_price").data('freight_price', <%= @freight_price %>);

<% if !@has_two_shipping_services %>
  $("#delivery_time").
    hide().
    html("Seu pedido será entregue em <%= @days_to_deliver %> dias úteis.").
    delay(200).
    fadeIn();
<% end %>
$("#total").hide().html("<%= number_to_currency(total_with_freight(@freight_price)) %>");
$("#total_billet").hide().html("<%= number_to_currency(total_with_freight(@freight_price, Billet.new)) %>");
$("#total_debit").hide().html("<%= number_to_currency(total_with_freight(@freight_price, Debit.new)) %>");

updateCreditCardSettlementsValue( $("#checkout_payment_payments"), "<%= total_with_freight(@freight_price) =%>", "<%= current_user && current_user.reseller? %>");


