<div class="credit_details">
  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Créditos das suas últimas compras</th>
        <th class="value"><%= number_to_currency @amount_of_loyalty_credits %></th>
      </tr>
    </thead>
  </table>

  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Créditos por indicação</th>
        <th class="value"><%= number_to_currency @amount_of_invitee_bonus_credits + @amount_of_inviter_bonus_credits %></th>
      </tr>
    </thead>
  </table>

  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Reembolso via Central de Atendimento</th>
        <th class="value"><%= number_to_currency current_user.user_credits_for(:redeem).total %></th>
      </tr>
    </thead>
  </table>

  <table cellspacing="0" cellpadding="0">
    <thead>
      <tr>
        <th>Crédito disponível</th>
        <th class="value"><%= number_to_currency current_user.current_credit %></th>
      </tr>
    </thead>
  </table>
  
  <%= link_to "Saiba mais sobre seus créditos", user_credits_path %>
</div>
