<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>
<% content_for :ecommerce_tracking do %>
<script type="text/javascript">
_gaq.push(['_addTrans',
   '<%= @cart.id %>',
   'olook',
   '<%= @cart_service.total %>',
   '',
   '<%= @cart_service.freight_price.to_s %>',
   '<%= @cart_service.freight_city %>',
   '<%= @cart_service.freight_state %>',
   'Brasil'
 ]);
</script>

  <%= render :partial => "shared/metrics/google/ecommerce_add_item", :locals => { :cart => @cart, :cart_service => @cart_service} %>
<% end %>
<% content_for :footer do %>
  <%= render :partial => "shared/metrics/ve_interactive/get_user" %>
  <%= render :partial => "shared/metrics/criteo/basket_tracker", :locals => {:cart => @cart, :cart_service => @cart_service } %>
  <%= render :partial => "shared/metrics/sociomantic/basket", :locals => {:cart => @cart, :cart_service => @cart_service } %>
  <%= render :partial => "shared/metrics/triggit/cart" %>
  <%= javascript_include_tag "carts" %>
<% end %>

<section id="cart">
  <%  if @cart.items.count > 0 %>
  <p class="buying-continue"><%= link_to "Continuar comprando","/colecoes" %></p>
  <% end %>

  <h1>Minha sacola</h1>

  <% if free_item_promotion_is_active? %>
    <div class="promo-leve3">
      <p>Promo leve 3, pague 2<br />
        <span>Na compra de 2 itens, o 3° item de menor valor é grátis</span>
      </p>
    </div>  
  <%end%>

  <%  if @cart.items.count > 0 %>
    <% if current_user %>
        <%= link_to "Continuar", cart_checkout_addresses_path, :class => "continue"  %>
    <% else %>
        <%= link_to "Continuar", "#", :class => "continue login"  %>
    <% end %>
  <% end %>  
  
  <% if @cart_service.has_more_than_one_discount? %>
    <div class="banner">
      <%= image_tag("/assets/cart/banner_discount2.jpg", :class => "img-alert") %>
      <h1>Sua sacola possui descontos que não podem ser aplicados juntos ao mesmo produto</h1>
      <p>Selecionamos o maior desconto possível para você em cada produto (verifique abaixo):</p>
    </div>
  <% end %>

  <% if @cart.items.count > 0 %>
    <ul id="titles" class=<%= !@promotion_free_item ? "border" : "" %>>
      <li class="item">Item</li>
      <li class="amount">Quantidade</li>
      <li class="value">Subtotal</li>
    </ul>
    
    <% if free_item_promotion_is_active? %>
      <%= render partial: "free_item_notification", locals: { cart: @cart, promotion: @promotion_free_item } if @promotion_free_item %>
    <% end %>

    
    <table cellpadding="0" cellspacing="0" class="items_list" id="products">
      <tbody>
        <% @cart.items.each_with_index do |item, index| %>
          <tr id="product_<%=item.product.id%>">
            <td class="item">
              <% unless item.thumb_picture.nil? %>
                <%= image_tag item.variant.bag_picture %>
              <% end %>
              <p class="txt-black"><span><%= item.variant.name %></span></p>
              <p>Tamanho: <%= item.variant.description %></p>
              <p>Cor/Material: <%= item.variant.color_name %></p>
            </td>
            <td class="delete-item">
              <%= form_for(cart_path, :method => :put, :html => { :onsubmit => track_event("Shopping", "RemoveFromCart", item.variant.product.id.to_s) }) do %>
                <%= hidden_field('variant','id', :value => item.variant.id) %>
                <%= submit_tag('excluir')  %>
              <% end %>
            </td>  
            <td class="amount">
              <%= form_tag(cart_path, :method => :post, onsubmit: track_event("Shopping", "ChangeAvcAmount", item.product.id), id: "change_amount", remote: false) do %>

                <%= hidden_field('variant','id', :value => item.variant.id) %>
                <%= select_tag('variant[quantity]', options_for_select((1..1).to_a, item.quantity), :onchange => "submit();") %>
              <% end %>
            </td>
            <td class="discount">
              <% if @cart_service.item_promotion?(item) %>
                  <%= link_to promotion_discount(item), "#", :class => 'discount_percent' %>
                <div class='discount_origin'>
                  <p><%= @cart_service.item_discount_origin(item) %></p>
                </div>
              <% end %>
            </td>
            <td class="value" >

              <b><%= item.price %><b>

              <%= hidden_field('variant', "unit_value_#{item.product.id}", :value => @cart_service.item_retail_price(item)) %>
              <% if @cart_service.item_promotion?(item) %>
                <p class="price_retail">de: <%= number_to_currency(@cart_service.item_price_total(item)) %></p>
                <p>por: <%= number_to_currency(@cart_service.item_retail_price_total(item)) %></p>
              <% else %>
                <p><%= number_to_currency(@cart_service.item_price_total(item)) %></p>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  <% if !@cart.items.map{|item| item.variant.product}.include?(@suggested_product) && @suggested_product%>
	<table cellpadding="0" cellspacing="0" class="items_list avc-pulseira" id="products">
      <tbody>
          <tr>
            <td class="avc-foto">
              <p class="txt-recomenda">OLOOK RECOMENDA</p>
              <% unless @suggested_product.master_variant.thumb_picture.nil? %>
                <%= image_tag @suggested_product.master_variant.thumb_picture %>
              <% end %>
            </td>
            <td class="avc-desc">
              <p><span><b><%= @suggested_product.name %></b></span></p>
              <p><%= @suggested_product.description %></p>
            </td>
            <td class="avc-button">
              <p><%= number_to_currency(@suggested_product.retail_price) %></p>
			  <%= form_tag(cart_path, onsubmit: track_event("Shopping", "AddToCart", @suggested_product.id), id: "product_add_to_cart", remote: false) do %>
				<input id="variant_id" name="variant[id]" type="hidden" value="<%= @suggested_product.variants.first.id.to_s %>" />
				<%= submit_tag "", id: "add_product", class: "add_product" %>
			  <% end %>

            </td>
          </tr>
      </tbody>
    </table>
    <% end %>

    <table cellpadding="0" cellspacing="0" class="check gift">
      <tbody>
        <tr>
          <td class="check_column">
            <%= form_for(update_gift_wrap_cart_path, :url => update_gift_wrap_cart_path, :remote=>true, :method => :put, :html => { :id => "gift_wrap" } ) do %>
              <%= check_box('gift', 'gift_wrap', :checked => @cart_service.gift_wrap?) %>
              <h1>Embrulhar pedido para presente</h1>
            <% end %>
          </td>
          <td class="value">R$ 5,00</td>
        </tr>
      </tbody>
    </table>
    <% if @user && @user.current_credit > 0 %>
    <table cellpadding="0" cellspacing="0" class="check">
      <tbody>
        <tr>
          <td class="check_column">
            <%= form_for(update_credits_cart_path, :url => update_credits_cart_path, :remote => true, :method => :put, :html => { :id => "use_credit_form" }) do %>
              <%= check_box('use_credit', 'value', :checked => (@cart_service.credits) ) %>
              <h1>Quero usar meus créditos</h1>
              <p>Você acumulou créditos que podem ser utilizados nesta compra.</p>
              <% if total_user_credits > @cart_service.total %>
                <p>O valor do seu saldo é superior ao valor do pedido e você receberá a diferença em créditos</p>
              <% elsif @cart_service.total == total_user_credits %>
                <p>O valor do seu pedido é o mesmo que o seu saldo. Você pagará apenas o custo de envio (dependendo da localidade)</p>
              <% else %>
                <% if @cart.items.count > 0 %>
                  <p>O valor do seu pedido é superior ao seu saldo e você deverá pagar a diferença</p>
                <% end %>
              <% end %>

              <section id="credits_explanation">
                <p>SOBRE OS SEUS CRÉDITOS</p>
                <% style = @cart_service.allow_credit_payment? ? 'normal' : 'prohibited' %>

                <ul>
                  <li>
                    <div class="description">Créditos por compras realizadas:</div>
                    <div class="value <%= style %>"><%= number_to_currency @amount_of_loyalty_credits %></div>
                    <div class="message"><%= print_credit_message %></div>
                  </li>

                 <li>
                    <div class="description">Créditos por indicação:</div>
                    <div class="value <%= style %>"><%= number_to_currency @amount_of_invite_credits %></div>
                    <div class="message"><%= print_credit_message %></div>
                  </li>

                 <li>
                    <div class="description">Reembolso via Central de Atendimento:</div>
                    <div class="value"><%= number_to_currency @redeem_credits %></div>
                    <div class="message">&nbsp;</div>
                  </li>
                </ul>

              </section>
            <% end %>
          </td>
          <td class="value">
            <%= number_to_currency(total_user_credits) %>
          </td>
        </tr>
      </tbody>
    </table>
    <% end %>


    <table cellpadding="0" cellspacing="0" id="total">
      <tbody>
        <% if @cart_service.coupon %>
          <tr>
            <td>Código Promocional</td>
            <td class="value">
              <p>
                <%= number_to_currency(@cart_service.total_coupon_discount) if !@cart_service.coupon.is_percentage? %>
                <%= discount_percentage(@cart_service.coupon.discount_percent) %>
              </p>
              <%= form_for(remove_coupon_cart_path, :url => remove_coupon_cart_path, :method => :delete) do %>
                <fieldset class="inputs">
                  <ol>
                    <li>
                      <%= submit_tag "Limpar" %>
                    </li>
                  </ol>
                </fieldset>
              <% end %>
            </td>
          </tr>
        <% end %>
        <tr class="total">
          <td>
              <table id="coupon" cellpadding="0" cellspacing="0">
                <tbody>
                  <tr class="discount">
                    <td>
                      <a href="#" id="show_coupon_field">Quero usar um código promocional</a>
                      <%= form_for update_coupon_cart_path, :url => update_coupon_cart_path, :method => :put, :html => {:id => "coupon"} do %>
                        <fieldset class="inputs">
                          <ol>
                            <li>
                              <%= text_field 'coupon', 'code', :value => @coupon_code %>
                            </li>
                            <li class="cupom">
                              <%= submit_tag '' %>
                            </li>
                          </ol>
                        </fieldset>
                      <% end %>
                    </td>
                  </tr>
                </tbody>
              </table>  
          </td>
          <td class="value">
            <p>Total: <span><%= number_to_currency(@cart_service.total) %></span></p>
            <p class="limit <%= @cart_service.is_minimum_payment? ? 'show' : '' %>">R$5,00 é o valor mínimo para processamento da compra</p>
          </td>
        </tr>
      </tbody>
    </table>

    <table id="coupon" cellpadding="0" cellspacing="0" class="items_list">
      <tbody>
        <tr>
          <td class="buy-link">
            <p class="buying-continue"><%= link_to "Continuar comprando","/colecoes" %></p>
          </td>
          <td class="buttons">
            <p class="credits">Você ganhará <span id="amount_for_loyalty_program"><%=  number_to_currency @cart_service.amount_for_loyalty_program %></span> de desconto em sua próxima compra. <%= link_to "Saiba mais", "#", :class => "open_loyalty_lightbox" %></p>
            <% if current_user %>
              <%= link_to "Continuar", cart_checkout_addresses_path, :class => "continue"  %>
            <% else %>
              <%= link_to "Continuar", "#", :class => "continue login"  %>
            <% end %>
            
          </td>
        </tr>
      </tbody>
    </table>
  <% else %>
    <%= render 'empty_cart' %>
  <% end %>
  <%= render "shared/modal_login" %>
</section>
