%p.title-category
  Modelo
%ul.subcategory-list
  - filters_by("categoria").each do |text, amount|
    %li= filter_link_to(build_link_path, :categoria, text.chomp, amount)

%p.title-category
  Cores
%ul.subcategory-list
  - filters_by("cor_filtro").each do |text, amount|
    %li= filter_link_to(build_link_path, :color, text.chomp, amount)

- if ['roupa', 'acessorio'].include? category
  %p.title-category
    Marcas
  %ul.subcategory-list
    - filters_by("brand_facet").each do |text, amount|
      %li= filter_link_to(build_link_path, :color, text.chomp.split(" ").map{|w| w.upcase}.join(" "), amount)

%p.title-category
  Preço
.price-range
  #min-value-label 0
  %input{type: "text", id: "min-value"}
  .slider
    #slider-range
  #max-value-label 0
  %input{type:"text", id:"max-value"}
  %input{type:"hidden", name:"price", id:"price"}

- if category == 'sapato'
  %p.title-category
    Salto
  %ul.subcategory-list
    %li= link_to("0-4cm", "/catalogo/sapato?#{@querystring}&salto=0..4" )
    %li= link_to("5-9cm","/catalogo/sapatos/?salto=5..9")
    %li= link_to("10-15cm", "/catalogo/sapatos/?salto=10..")
