.exhibition-mode
  = form_tag catalog_path(parameters: params[:parameters]), method: 'get' do
    %fieldset
      %span.label ORDENAÇÃO:
      %p{class: "selected_relevance #{'watermelon' if params[:por].to_i == 0}" }
        %span NOSSA SELEÇÃO
      = select_tag('por', options_for_select({"NOSSA SELEÇÃO" => 0, "MENOR PREÇO" => "menor-preco", "MAIOR PREÇO" => "maior-preco", "MAIOR DESCONTO" => "maior-desconto"}, :selected => params[:por]), :class => "custom_select", :onchange => ("$(this).parents('form').submit();"))

  .pagination.topo
    = render partial: "/shared/nav_bar_pagination", locals: { search: @search, link: catalog_path, other_parameters: "por=#{ params[:por]}" }

