.exhibition-mode
  = form_tag url_builder.current_filters, method: 'get' do
    - url_builder.filters_outside_path.each do |k, v|
      = hidden_field_tag(k, v) if k.to_s != 'por'

    %fieldset
      %p{class: "selected_relevance#{' watermelon' if params[:por].present? && params[:por].to_s != '0'}" }
        - if params[:por].present?
          - opts = {"NOSSA SELEÇÃO" => "0", "MENOR PREÇO" => "menor-preco", "MAIOR PREÇO" => "maior-preco", "MAIOR DESCONTO" => "maior-desconto", "NOVIDADES" => "novidade"}
          %span= opts.invert[params[:por]] || "ORDENAÇÃO"
        - else
          %span ORDENAÇÃO

        = select_tag('por', options_for_select(opts, :selected => params[:por]), :class => "custom_select", :onchange => ("$(this).parents('form').submit();"))
