- content_for :head do
  = stylesheet_link_tag "new_structure/section/lite_catalog"
  %meta{property: "og:title", content: facebook_title(@category)}/
  %meta{property: "og:description", content: facebook_description(@category)}/
  %meta{property:"og:image", content:"http://d22zjnmu4464ds.cloudfront.net/assets/home/olook-5c5edb27a8d142a5e4b9db909c5bfbde.jpg"}/
  %meta{property:"og:url", content:"#{root_url}#{@category}"}/
  %meta{property:"og:site_name", content:"Olook"}/
  %meta{property: "og:type", content:"website"}/
  %meta{property:"fb:app_id", content:"#{@facebook_app_id}"}

  :javascript
    SOASTA = {};
    SOASTA.pg = "catalog";
    if(typeof BOOMR !== "undefined") {
      BOOMR.addVar("h.pg", SOASTA.pg);
    } 

- content_for :footer do
  :javascript
    start_position = #{@search.range_values_for(:price)[:min] rescue 0};
    final_position = #{@search.range_values_for(:price)[:max] rescue 600};
  = javascript_include_tag 'section/lite_catalog'
- content_for :data_layer do
  = render "shared/data_layer/category", pixel_information: @pixel_information, catalog_products: @search.products

= render "shared/mkt_breadcrumb"
= cache @cache_key, expires_in: 40.minutes, raw: true do
  = first_level_breadcrumb(Category.t(Category.with_name(@category)).pluralize)
  #catalog
    %aside
      %h5{:style => 'font-size: 11px;margin-bottom: 10px;'}
        Filtre sua pesquisa:
      = render "filters", search: @search, category: @category

    - present 'Header', header: header do |header_presenter| 
      = header_presenter.show_header

    #result
      = render('current_section', search: @search)
      %br{style:'clear:both'}
      .fixed_filter
        .row.cata_filters{style: 'position:relative'}
          = render "ordenation_filters", search: @search, url_builder: @url_builder
          = render "size_filters", search: @search, url_builder: @url_builder, category: @category      

      

      %section.container_product
        %ul#products
          = render_highlighted_products_from(@campaign)
          = render "shared/searched_products", :products => @search.products, campaign_products: @campaign.products
        .loading

      .pagination
        = render "shared/nav_bar_pagination", search: @search, url_builder: @url_builder, link: lambda { |hash| @url_builder.current_filters { |_p| _p.merge(hash) } }

      - if hot_products = show_hot_products?(@leaderboard, 4)
        :javascript
          log_event('view', 'hot_products');
        %section.hot_products
          %h3 Os mais clicados
          %ul
            - hot_products.each do |hp|
              = render "shared/searched_product_item", :product => hp, :product_source => 'SearchedProduct'

      .banner
        = banner_for(@category, position: :botton)
