- content_for :head do
  = stylesheet_link_tag "new_structure/section/lite_catalog"
  %meta{:content => @glasses ? "#{@glasses}" : "home/#{params["category"].to_s.titleize}", :name => "chaordic:source"}/
  %meta{:content => @chaordic_user, :name => "chaordic:user"}/
  %meta{:content => @glasses ? "#{@glasses}" : params["category"].to_s.titleize, :name => "chaordic:category"}/
  %meta{property:"fb:app_id", content:"#{@facebook_app_id}"}

- content_for :footer do
  :javascript
    start_position = #{@search.range_values_for(:price)[:min] rescue 0};
    final_position = #{@search.range_values_for(:price)[:max] rescue 600};
  = javascript_include_tag 'section/lite_catalog'
  = javascript_include_tag 'section/catalog'
- content_for :data_layer do
  = render "shared/data_layer/category", pixel_information: @pixel_information, catalog_products: @search.products

  - content_for(:after_body) do
    = javascript_include_tag "common/fb_like_button"

= cache @cache_key, expire_in: 15.minutes do

  #catalog
    %aside
      = render "filters", search: @search, category: @category
      - if @category
        .promo_brands
          = banner_for(@category, position: :sidebotton)

    - if 1==2
      .promo_catalog
        =link_to image_tag("catalog/full_single.jpg"), "#"
 
    - if 1==1
      .banners_group
        %ul
          %li.big
            =link_to image_tag("catalog/primavera_verao_full.jpg"), "#"
          %li
            =link_to image_tag("catalog/menor_1.jpg"), "#"
          %li
            =link_to image_tag("catalog/menor_2.jpg"), "#"

    - if @header = @header.first && @header.text?
      .about_item
        %h2.title
          Saia
        %span.summary
          Se antigamente as mulheres precisavam lidar com a escassez de modelagens de saias, hoje em dia chegam a se perder com tanta variedade da peça.  
          %br
            
        %span.full
          Se antigamente as mulheres precisavam lidar com a escassez de modelagens de saias, hoje em dia chegam a se perder com tanta variedade da peça. Além de ser uma peça chave no guarda-roupa feminino, as saias são capazes de dar charme, autencidade e muita feminilidade a qualquer look. Com elas, é possível deixar sem medo a velha e boa calça jeans um pouquinho de lado. Entre os modelos que fazem a cabeça das mulheres estão a saia Lápis (comprimento na altura do joelho), a mini saia (que deixa as pernocas totalmente de fora) e o peplum (que nada mais é do que um babadinho localizado na região do quadril ou final da cintura). Aqui na Olook você encontrará o modelo ideal para você! ;) 
          %br   
        =link_to (">> Tudo sobre saia"), "#", :class => "more_info_show"
        =link_to (">> Ocultar conteúdo"), "#", :class => "more_info_hide"
        %fb:like{"href" => "http://#{Rails.env == 'production' ? "www" : "homolog"}.olook.com.br/olook-na-imprensa", "data-action" => "like", "layout" => "button_count", "send" => "false", "show-faces" => "false", "class" => "like", "width" => "100"}
    .pagination.topo
      = render "shared/nav_bar_pagination", search: @search, url_builder: @url_builder, link: lambda{ |hash| catalog_path(@category, @url_builder.current_filters.merge({por:params[:por]}).merge(hash)) }
    #result
      - unless @search.has_any_filter_selected? || params[:cmp].present?
        / local onde o viewpersonalized será exibido
        .chaordic.viewpersonalized
        / local onde o purchasepersonalized será exibido
        / .chaordic.purchasepersonalized
        / local onde o mostpopular será exibido
        / .chaordic.mostpopular

      = render "ordenation_filters", search: @search, url_builder: @url_builder
      = render 'current_section', search: @search

      %section.container_product
        %ul#products
          - if @campaign_products && @campaign_products.products.any?
            - @campaign.product_ids.split('-').map { |pid| @campaign_products.products.find { |p| p.id.to_i == pid.to_i } }.compact.each do |cp|
              = render "shared/searched_product_item", :product => cp
            = render "shared/searched_products", :products => @search.products, campaign_products: @campaign_products.products
          - else
            = render "shared/searched_products", :products => @search.products
        .loading

      = render "shared/antibounce_box", antibounce_box: @antibounce_box if @antibounce_box.present? && @antibounce_box.search.products.count > 0 && Setting.antibounce_enabled

      .pagination
        = render "shared/nav_bar_pagination", search: @search, url_builder: @url_builder, link: lambda{ |hash| catalog_path(@category, @url_builder.current_filters.merge({por:params[:por]}).merge(hash)) }

      .banner
        = banner_for(@category, position: :botton)
  
