<%= f.hidden_field :require_telephone, :value => "true"%>
<div class="zip_code">
  <fieldset class="inputs">
    <ol>
      <li>
        <%= f.label :zip_code %><em>*</em>
        <%= f.text_field :zip_code, :class => "zip_code" %>
      </li>
    </ol>
  </fieldset>
</div>

<div class="address_fields">
  <fieldset class="inputs desc">
    <ol>
      <li class="street">
        <%= f.label :street %><em>*</em>
        <%= f.text_field :street %>
      </li>
      <li class="number">
        <%= f.label :number %><em>*</em>
        <%= f.text_field :number %>
      </li>
      <li class="complement">
        <%= f.label :complement %>
        <%= f.text_field :complement %>
      </li>
      <li class="neighborhood">
        <%= f.label :neighborhood %><em>*</em>
        <%= f.text_field :neighborhood %>
      </li>
      <li class="state field">
        <%= f.label "Estado: " %>
        <% #= f.text_field :state,  class: "uf #{error_class_if_needed(address, :state)}", onblur: [track_event("CheckoutAddress","fillState"), "javascript:trackStateForFreightABTest();"] %>
        <p class="text">
          <%= f.select :state, [] %>
        </p>
      </li>      
      <li class="city field">
        <%= f.label "Cidade: " %>
        <% #= f.text_field :city,  class: "cidade #{error_class_if_needed(address, :city)}", onblur: track_event("CheckoutAddress","fillCity") %>
        <p class="text">
          <%= f.select :city, [] %>
        </p>
      </li>
    </ol>
  </fieldset>
</div>
<div class="contact_fields">
  <h1>Contato no local</h1>
  <fieldset class="inputs desc">
    <ol>
      <li class="name">
        <%= f.label :first_name, "Nome" %><em>*</em>
        <%= f.text_field :first_name, :placeholder => 'Nome' %>
      </li>
      <li class="lastname">
        <%= f.label :last_name %><em>*</em>
        <%= f.text_field :last_name, :placeholder => 'Sobrenome' %>
      </li>
      <li class="warn_phone">
        <p>Telefone de contato *</p>
        <p>Você deve informar ao menos um telefone de contato</p>
      </li>
      <li class="phone">
        <%= f.label :telephone %><em>*</em>
        <%= f.text_field :telephone, :class => "phone", :placeholder => '(  )' %>
      </li>
      <li class="phone">
        <%= f.label :mobile %>
        <%= f.text_field :mobile, :class => "phone", :placeholder => '(  )' %>
      </li>
      <li class="mandatory">
        <p>
          <em>*</em> <span>Campos obrigatórios</span>
        </p>
      </li>
    </ol>
  </fieldset>
</div>


<% content_for :footer do %>
  <%= javascript_include_tag "addresses" %>
<% end %>
