<ol class="addresses">
<% if addresses.any? %>
  <% addresses.each do |address| %>
    <li class="address_item">
      <p><strong><%= address.identification %></strong></p>
      <p><%= "#{address.street}, #{address.number}" %><%= address.complement? ? ", #{address.complement}" : "" %></p>
      <p><%= "#{address.neighborhood} - #{address.zip_code}" %></p>
      <p><%= "#{address.city}, #{address.state}" %></p>
      <ul class="links">
        <li><%= link_to "Editar endereço", my_account == true ? edit_user_address_path(address) : edit_address_path(address) %></li>
        <li class="address"><%= link_to "Escolher este endereço", "javascript:void(0);", :class => "select_address" %></li>
      </ul>
      <%= radio_button_tag(:delivery_address_id, address.id) unless my_account == true %>
    </li>
  <% end %>
<% end %>
<li class="address_item add">
  <%= link_to "Adicionar Novo Endereço", my_account == true ? new_user_address_path : new_address_path %>
</li>
</ol>
