<ol class="addresses">
<% if addresses.any? %>
  <% addresses.each do |address| %>
    <li class="address_item <%= cycle('','no_margin') %>">
      <p><span><%= address.identification %></span></p>
      <p><%= "#{address.street}, #{address.number}" %><%= address.complement? ? ", #{address.complement}" : "" %></p>
      <p><%= "#{address.neighborhood} - #{address.zip_code}" %></p>
      <p><%= "#{address.city}, #{address.state}" %></p>
      <ul class="links">
        <li><%= link_to "Alterar este endereço", edit_user_address_path(address), :class => 'edit' %></li>
        <li><%= link_to "Excluir este endereço", "#", :class => 'edit' %></li>
      </ul>
    </li>
  <% end %>
<% end %>
<li class="address_item add">
  <%= link_to "Adicionar novo endereço".html_safe, new_user_address_path %>
</li>
</ol>
