<li>
  
  <%= render :partial => 'answers_about_shoe_size', :locals => {:question => question_shoe_size} %>

  <%= render :partial => 'answers_about_dress_size', :locals => {:question => question_dress_size} %>

  <h3>Data de Nascimento</h3>
  <fieldset class="select">
    <select name='day'>
      <option>Dia</option>
      <% (1..31).each do |d| %>
        <option value="<%= d %>"><%= "%02d" % d %></option>
      <% end %>
    </select>

    <select name='month'>
      <option>Mês</option>
      <% (1..12).each do |m| %>
        <option value="<%= m %>"><%= I18n.t('date.month_names')[m] %></option>
      <% end %>
    </select>

    <select id="birthdate" name='year'>
      <option>Ano</option>
      <% (Time.now.year - 12).downto(1900) do |a| %>
        <option value="<%= a %>"><%= a %></option>
      <% end %>
    </select>
  </fieldset>

  <fieldset class='buttons'>
    <ol>
      <li class="grey-button">
        <%= submit_tag("", :disabled => 'disabled', :id => "finish")   %>
      </li>
    </ol>
  </fieldset>
</li>
