<li>
  <% @colors.each do |question, colors| %>
    <div>
      <h3><%= question.title %></h3>
      <ol class="colors">
        <% colors.each do |color| %>
          <li class="<%= color %>"><%= color.gsub("-", " ") %></li>
        <% end %>
      </ol>
      <% new_title = question.title.downcase.gsub(" ", "_") %>
      <ol id="<%= new_title %>" class="stars">
        <% question.answers.each do |i| %>
          <li>
            <label for="<%= "questions_#{new_title}_#{question.id}_#{i.id}" %>">
              <%= radio_button_tag("questions[#{new_title}_#{question.id}]", i.id) %>
            </label>
          </li>
        <% end %>
      </ol>
    </div>
  <% end %>
</li>
