<% content_for(:head) do %>
  <%= render "shared/close_popup_js", :redirect_url => @redirect_url  %>
<% end %>
<%= content_tag :h2, "Convidada por #{session[:invite][:invited_by]}" if session[:invite] %>

<div id="survey">
  <%= form_tag({:controller => "survey", :action => "create"}) do %>
    <ul class="question">
      <% question = @questions.next %>
      <li>
        <h2><%= question.title %></h2>
        <ol class="option">
          <%= render "answers_radio_button", :question => question %>
        </ol>
      </li>
      
      <% question = @questions.next %>
      <li>
        <h2><%= question.title %></h2>
        <ol class="option">
          <%= render "answers_radio_button", :question => question %>
        </ol>
      </li>
    </ul>
    <p><%= submit_tag("Enviar")  %></p>
  </div>
<% end %>
