<% content_for(:head) do %>
  <%= render "shared/close_popup_js", :redirect_url => @redirect_url  %>
<% end %>

<h1>Survey</h1>

<%= content_tag :h2, "Convidada por #{session[:invite][:invited_by]}" if session[:invite] %>

<%= form_tag({:controller => "survey", :action => "create"}) do %>
  <% @questions.each do |question| %>
    <% answer_template = question.id.odd? ? 'answers_check_box' : 'answers_radio_button' %>

    <h2><%= question.title %></h2>
    <%= render :partial => answer_template, :locals => {:question => question} %>
    <hr/>
  <% end %>

  <p><%= submit_tag("Enviar")  %></p>
<% end %>
