<h1>Survey</h1>

<%= form_tag({:controller => "survey", :action => "create"}) do %>

  <% @questions.each do |question| %>
    <h2><%= question.title %></h2>

    <% question.answers.each do |answer| %>
      <%= radio_button_tag("questions[question_#{question.id}]", answer.id) %> <%= answer.title %>
    <% end %>

  <hr/>
  <% end %>

  <p><%= submit_tag("Enviar")  %></p>
<% end %>
