<% content_for(:head) do %>
  <%= stylesheet_link_tag "section/survey" %>
<% end %>
<span id="next_link"></span>
  <div id="asynch-load"></div>
  <div id="survey">
    <%= form_tag({:controller => "survey", :action => "create"}) do %>
      <input type="hidden" id="id_first_question" value="<%= @presenter.id_first_question %>" />

      <ul class="questions">
        <% question_number = 0 %>
        <% for question in @presenter.common_questions %>
          <li id="question_<%= question.id %>" class="images">
            <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
            <h2><%= question.title %></h2>
            <ol class="options">
              <%= render "answers_radio_button", :question => question, :question_number => (question_number += 1) %>
            </ol>
          </li>
        <% end %>

        <% question = @presenter.shoe_question %>
        <li id="question_<%= question.id %>" class="images shoes">
            <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
          <h2><%= question.title %></h2>
          <ol class="options">
            <%= render "answers_shoes", :question => question, :question_number => (question_number += 1) %>
          </ol>
        </li>

        <% @colors = @presenter.color_questions %>
        <% question = @presenter.first_color_question %>
        <li id="question_<%= question.id %>" class="colors">
          <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
          <h2><%= @presenter.title_color_question %></h2>
          <ol class="options">
            <%= render "answers_colors" %>
          </ol>
        </li>

        <% question_shoe_size = @presenter.shoe_size_question %>
        <% question_dress_size = @presenter.dress_size_question %>
        <li id="question_<%= question_shoe_size.id %>" class="about">
          <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
          <h2><%= @presenter.title_about_question %></h2>
          <ol class="options">
            <%= render "answers_about", :question_shoe_size => question_shoe_size, :question_dress_size => question_dress_size %>
          </ol>
        </li>
    </ul>
  </div>
<% end %>
