<% content_for :head do %>
  <%= stylesheet_link_tag "section/survey" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "survey" %>
<% end %>

<span id="next_link"></span>
  <div id="asynch-load"></div>
  <div id="survey">
    <%= form_tag({:controller => "survey", :action => "create"}) do %>
      <!-- ver o porquê desse campo -->
      <input type="hidden" id="id_first_question" value="<%= @presenter.id_first_question %>" />

      <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
        <% question_number = 0 %>
        <% for question in @presenter.common_questions %>
          <div class="questions" id="question_<%= question.id %>" class="images">
            <h2><%= question.title %></h2>
            <ol class="options">
              <% question.answers.each_with_index do |answer,answer_number| %>
              <li>
                <label for="<%="for_questions_question_#{answer.question.id}_#{answer.id}" %>"></label>
                <%= radio_button_tag("questions[question_#{answer.question.id}]", answer.id) %>
                <%= image_tag "common/ajax-loader.gif", :class => 'asynch-load-image', :'data-href' => image_path("gift/survey/n#{question_number}_#{answer_number+1}.jpg") %>
              </li>
            <% end %>
            </ol>
          </div>
        <% end %>

        <!-- arrancar esse pedaço-->

        <% question = @presenter.heel_height_question %>
        <li id="question_<%= question.id %>" class="images shoes">
            <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
          <h2><%= question.title %></h2>
          <ol class="options">
            <%= render "answers_shoes", :question => question, :question_number => (question_number += 1) %>
          </ol>
        </li>

       


       
        <% @colors = @presenter.color_questions %>
        <% question = @presenter.first_color_question %>
        <li id="question_<%= question.id %>" class="colors">
          <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
          <h2><%= @presenter.title_color_question %></h2>
          <ol class="options">
            <%= render "answers_colors" %>
          </ol>
        </li>

        
        <% question_shoe_size = @presenter.shoe_size_question %>
        <% question_dress_size = @presenter.dress_size_question %>
        <li id="question_<%= question_shoe_size.id %>" class="about">
          <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
          <h2><%= @presenter.title_about_question %></h2>
          <ol class="options">
            <%= render "answers_about", :question_shoe_size => question_shoe_size, :question_dress_size => question_dress_size %>
          </ol>
        </li>
        <!--fim arrancar esse pedaço-->
    
  </div>
<% end %>
