%section#profiles
  .content-chic
    .style.chic
      %p
        = "#{ @user.first_name } é:"
    .share
      %p
        Gostou do resultado? Então compartilhe!
        = link_to 'Compartilhar', "javascript:void(0);", id: "facebook_share_profile", :class => "share", data: { width: 128, height: 24, url: wysquiz_url, profile: @profile.alternative_name.downcase }, onclick: track_event("Showroom","ShowroomShareFacebook")
  %ul
    %li
      %h1 DIA-A-DIA
      %p Você gosta de peças que fazem a diferença, deixando o visual mais sofisticado.
      = link_to collection_theme_path('casual'), class: 'hoverdiv' do
        = image_tag("quiz/profiles/e_2.jpg")
        .hover
          .boxi
            Confira produtos
            %br
            para esta ocasião
    %li
      %h1 TRABALHO
      %p Adora looks clássicos e que nunca saem de moda no ambiente de trabalho.
      = link_to collection_theme_path('executivo'), class: 'hoverdiv' do
        = image_tag("quiz/profiles/e_3.jpg")
        .hover
          .boxi
            Confira produtos
            %br
            para esta ocasião
    %li.party
      %h1 FESTA
      %p O seu dress code é: Estar sempre chique e elegante!
      = link_to collection_theme_path('festa'), class: 'hoverdiv' do
        = image_tag("quiz/profiles/e_4.jpg")
        .hover
          .boxi
            Confira produtos
            %br
            para esta ocasião
