%section#profiles
  .content-sexy
    .style.sexy
      %p
        = "#{ @user.first_name } é:"
    .share
      %p
        Gostou do resultado? Então compartilhe!
        = link_to 'Compartilhar', "javascript:void(0);", id: "facebook_share_profile", :class => "share", data: { width: 128, height: 24, url: wysquiz_url, profile: @profile.alternative_name.downcase }, onclick: track_event("Showroom","ShowroomShareFacebook")
  %ul
    %li
      %h1 DIA-A-DIA
      %p Você adora  deixar as pernas à mostra e chamar atenção por onde passar.
      = link_to collection_theme_path('casual'), class: 'hoverdiv' do
        = image_tag("quiz/profiles/s_2.jpg")
        .hover
          .boxi
            Confira produtos
            %br
            para esta ocasião
    %li
      %h1 TRABALHO
      %p Estampas e acessórios marcantes fazem parte do seu dossiê de trabalho
      = link_to collection_theme_path('executivo'), class: 'hoverdiv' do
        = image_tag("quiz/profiles/s_3.jpg")
        .hover
          .boxi
            Confira produtos
            %br
            para esta ocasião
    %li.party
      %h1 FESTA
      %p O seu lado mais ousado tem passe livre para frequentar festas de puro glamour.
      = link_to collection_theme_path('festa'), class: 'hoverdiv' do
        = image_tag("quiz/profiles/s_4.jpg")
        .hover
          .boxi
            Confira produtos
            %br
            para esta ocasião
