<h2>Sign in</h2>
<%= form_for(:user, :as => :user, :url => session_path(:user)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>

  <%= link_to "Forgot your password?", new_password_path(:user) %><br />

  <div><%= f.submit "Sign in" %></div>
<% end %>
