<%= form_for(resource, :as => resource_name, :url => session_path(resource)) do |f| %>
  <fieldset class="inputs">
    <ol>
      <li>
        <%= f.label "E-mail" %>
        <%= f.email_field :email %>
      </li>

      <li>
        <%= f.label "Senha" %>
        <%= f.password_field :password %>
      </li>
    </ol>
  </fieldset>

  <fieldset class='buttons'>
    <ol>
      <li class="remember-me">
        <%= f.check_box :remember_me %> <%= f.label "Lembrar de mim" %>
        <%= link_to 'Esqueci minha senha', new_user_password_path, :class => "forgot_password" %>
      </li>
      <li>
        <%= f.submit "", :id => "login" %>
      </li>
    </ol>
  </fieldset>
<% end %>
