<%= form_for([:admin,@collection_theme], multipart: true) do |f| %>
  <% if @collection_theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection_theme.errors.count, "error") %> impediram essa coleção de ser salva:</h2>

      <ul>
      <% @collection_theme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :collection_theme_group %><br />
    <%= f.collection_select :collection_theme_group_id, CollectionThemeGroup.all, :id, :name %>
  </div>
  <%= f.fields_for :collection_theme_group_attributes, CollectionThemeGroup.new do |group| %>
    <div class="field">
      <%= group.label :name, 'OU Crie um novo Grupo' %><br />
      <%= group.text_field :name %>
    </div>
  <%- end %>
  <div class="field">
    <%= f.label :name, 'Tema' %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :slug, 'URL Amigável' %><br />
    <%= f.text_field :slug %><br />
    <small><i>O valor ficará na url www.olook.com.br/colecoes/&lt;url-amigavel&gt; e por isso deve ser único</i></small>
  </div>
  <div class="field">
    <%= f.label :seo_text, 'Title tag' %><br />
    <%= f.text_field :seo_text %><br />
    <small><i>Título da página da coleção para efeitos de SEO</i></small>
  </div>
  <div class="field">
    <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :text_color %><br />
    <%= f.text_field :text_color %>
  </div>
  <div class="field">
    <%= f.label :header_image %><br />
    <%= f.file_field :header_image %>
  </div>
  <div class="field">
    <%= f.label :header_image_alt %><br />
    <%= f.text_field :header_image_alt %>
  </div>
  <div class="field">
    <%= f.label :video_link %><br />
    <%= f.text_field :video_link %>
  </div>
  <div class="field">
    <%= f.label :product_associate_ids %><br />
    <%= f.text_area :product_associate_ids, value: @collection_theme.product_ids.join(', ') %>
  </div>
  <div class="field">
    <%= f.label :product_associate_ids_file %><br />
    <%= f.file_field :product_associate_ids_file %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
