<%= form_for([:admin,@collection_theme]) do |f| %>
  <% if @collection_theme.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@collection_theme.errors.count, "error") %> impediram essa coleção de ser salva:</h2>

      <ul>
      <% @collection_theme.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position %>
  </div>
  <div class="field">
    <%= f.label :header_image %><br />
    <%= f.file_field :header_image %>
  </div>
  <div class="field">
    <%= f.label :header_image_alt %><br />
    <%= f.text_field :header_image_alt %>
  </div>
  <div class="field">
    <%= f.label :video_link %><br />
    <%= f.text_field :video_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
