<h2>Coleções Temáticas</h2>

<div class="inner">
  <% @groups.each do |group| %>
    <div id="collection_theme_group_<%= group.id %>">
      <%= render 'admin/collection_themes/group_table', group: group, groups_size: @groups.size %>
    </div>
  <%- end -%>
  <br />
  <% content_for :secondary_navigation do %>
    <li><%= link_to 'Nova Coleção Temática', new_admin_collection_theme_path %></li>
    <li><%= link_to 'Gerenciar Grupos de Coleção Temática', admin_collection_theme_groups_path %></li>
    <li><%= link_to 'Importação geral de coleções', import_index_admin_collection_themes_path %></li>
  <% end %>
</div>

