<h2>Coleções Temáticas</h2>
<div class="inner">
  <p id="notice"><%= notice %></p>
  <p>
    <b>Cor do link do vídeo: <span style="background-color: <%= @collection_theme.text_color %>;"><%= ( '&nbsp' * 10 ).html_safe %></span></b>
  </p>
  <p>
    <b>Header: (alt: <%= @collection_theme.header_image_alt %>)</b><br />
    <%= image_tag(@collection_theme.header_image.url, alt: @collection_theme.header_image_alt, title: @collection_theme.header_image_alt) unless @collection_theme.header_image.blank? %>
  </p>
  <p>
    <b>Abacos ID:</b>
    <%= @collection_theme.id %>
  </p>
  <p>
    <b>Tema:</b>
    <%= @collection_theme.name %>
  </p>
  <p>
    <b>Texto para SEO:</b>
    <%= @collection_theme.seo_text %>
  </p>
  <p>
    <b>Link do vídeo:</b>
    <%= @collection_theme.video_link %><br />
    <%- unless @collection_theme.video_link.blank? -%>
      <iframe width="560" height="315" src="<%= "http://www.youtube.com/embed/#{@collection_theme.video_id}?#{ @collection_theme.video_options.to_a.map { |k,v| "#{k}=#{v}" }.join('&') }" %>" frameborder="0" allowfullscreen></iframe>
    <%- end -%>
  </p>
  <p>
    <b>Posição no Grupo:</b>
    <%= @collection_theme.position %>
  </p>

  <p>
    <b>Produtos da coleção</b>
  </p>
  <ul>
    <% @collection_theme.products.each do |product| %>
      <li><%= product.id %></li>
    <% end %>
  </ul>

  <% content_for :secondary_navigation do %>
    <li><%= link_to 'Alterar', edit_admin_collection_theme_path(@collection_theme) %></li>
    <li><%= link_to 'Lista', admin_collection_themes_path %></li>
  <% end %>
</div>
