<h2>Coleções Temáticas</h2>
<div class="inner">
  <p id="notice"><%= notice %></p>
  <p>
    <b>Header: (alt: <%= @collection_theme.header_image_alt %>)</b><br />
    <%= image_tag @collection_theme.header_image.try(:url), alt: @collection_theme.header_image_alt  %>
  </p>
  <p>
    <b>Abacos ID:</b>
    <%= @collection_theme.id %>
  </p>
  <p>
    <b>Tema:</b>
    <%= @collection_theme.name %>
  </p>
  <p>
    <b>Link do vídeo: (title: <%= @collection_theme.video_title %>)</b>
    <%= @collection_theme.video_link %><br />
    <%- unless @collection_theme.video_link.blank? -%>
      <iframe width="560" height="315" src="<%= "http://www.youtube.com/embed/#{@collection_theme.video_id}?#{ @collection_theme.video_options.to_a.map { |k,v| "#{k}=#{v}" }.join('&') }" %>" frameborder="0" allowfullscreen></iframe>
    <%- end -%>
  </p>
  <p>
    <b>Posição no Grupo:</b>
    <%= @collection_theme.position %>
  </p>

  <% content_for :secondary_navigation do %>
    <li><%= link_to 'Edit', edit_admin_collection_theme_path(@moment) %></li>
    <li><%= link_to 'Back', admin_collection_themes_path %></li>
  <% end %>
</div>
