<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="box_title_my_account">
  <div class="content">
    <h1>Minha conta</h1>
    <h2>Acompanhe seus pedidos, altere seus dados e veja seus créditos</h2>
  </div>
</div>
<div id="my_account" class="my_credits">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <div class="credits">
      <h1>Resumo dos seus créditos. Você tem:</h1>
      <h2><span><%= number_to_currency @available_credits %></span> disponíveis para uso</h2>
      <h2><%= number_to_currency @holding_credits %> ainda não liberados para uso</h2>

      <p>Os créditos acumulados por compras realizadas só podem ser utilizados em compras acima de R$100.</p>

      <% if @available_credits <= 0.0 && @holding_credits <= 0.0 %>
        <p class="earn_credits">Você ainda não acumulou créditos. <%= link_to "Saiba como ganhar créditos.", member_earn_credits_path %></p>
      <% end %>
      <% if @loyalty_credits.count > 0 %>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th colspan="2">Créditos por compras realizadas*</th>
          </tr>
        </thead>
        <tbody>
          <% @loyalty_credits.each do |loyalty_credit| %>
          <tr>
            <td><%= loyalty_credit.description_for(:loyalty) %></td>
            <td class="value"><%= number_to_currency loyalty_credit.value %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
      <% end %>
      <% if @invite_credits.count > 0 %>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th colspan="2">Créditos por indicação</th>
          </tr>
        </thead>
        <tbody>
          <% @invite_credits.each do |invite_credit| %>
          <tr>
            <td><%= invite_credit.description_for(:invite) %></td>
            <td class="value"><%= number_to_currency invite_credit.value %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <% if @redeem_credits.count > 0 %>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th colspan="2">Reembolso via Central de Atendimento</th>
          </tr>
        </thead>
        <tbody>
          <% @redeem_credits.each do |redeem_credit| %>
          <tr>
            <td><%= redeem_credit.description_for(:redeem) %></td>
            <td class="value"><%= number_to_currency redeem_credit.value %></td>
          </tr>
          <% end %>

        </tbody>
      </table>
      <% end %>
      <% if @used_credits.count > 0 %>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th colspan="2">Créditos utilizados</th>
          </tr>
        </thead>
        <tbody>
          <% @used_credits.each do |used_credit| %>
          <tr>
            <td><%= used_credit.description_for(:used_credit) %></td>
            <td class="value">- <%= number_to_currency used_credit.value %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <% if @refunded_credits.count > 0 %>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th colspan="2">Créditos estornados</th>
          </tr>
        </thead>
        <tbody>
          <% @refunded_credits.each do |refunded_credit| %>
          <tr>
            <td><%= refunded_credit.description_for(:refunded_credit) %></td>
            <td class="value">- <%= number_to_currency refunded_credit.value %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <% end %>

      <table cellpadding="0" cellspacing="0" class="border">
        <thead>
          <tr>
            <th colspan="2">Total de créditos</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <td>Créditos disponíveis para uso agora</td>
            <td class="value"><%= number_to_currency @available_credits %></td>
          </tr>
        </tfoot>
        <tbody>
          <tr>
            <td>Soma dos créditos acumulados</td>
            <td class="value"><%= number_to_currency @holding_credits + @available_credits %></td>
          </tr>
         </tbody>
      </table>
      <% if @loyalty_credits.count > 0 %>
        <p>A cada compra realizada, você ganhará 15% do valor do seu pedido em créditos para usar na sua próxima compra acima de R$100.</p>
      <% end %>
    </div>
  </div>
</div>
