<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="my_credits">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <div class="box_title">
      <h1 class="credits">Meus Créditos</h1>
      <% if @user.has_fraud %>
        <p class="warn"><strong>Atenção:</strong> Os créditos que estavam atrelados a convidadas com CPFs inválidos, foram inabilitados.</p>
      <% end %>
    </div>
    <div class="invites_list">
      <h1><span><%= @user.invites.accepted.count %></span> amigas já se registraram. Você tem <span><%= number_to_currency(@user.current_credit) %></span> em créditos!</h1>
      <h2>Na primeira compra de suas convidadas, você ganha mais R$10.</h2>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th class="email">Email</th>
            <th>Convidado em</th>
            <th>Registrado</th>
          </tr>
        </thead>
        <tbody>
          <% @invites.each do |invite| %>
            <tr>
              <td class="email"><%= invite.email %></td>
              <td><%= invite.updated_at.strftime("%d/%m/%Y") %></td>
              <td><%= Invite.status_for_user_invite(@user.id, invite) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <%= will_paginate @invites %>
    </div>
  </div>
</div>
