<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>
<% content_for :ecommerce_tracking do %>
  <%#TODO: ARRUMAR !! %>
  <%#= render :partial => "shared/metrics/google/ecommerce_add_trans", :locals => { :cart => @cart } %>
  <%#= render :partial => "shared/metrics/google/ecommerce_add_item", :locals => { :cart => @cart } %>
<% end %>
<% content_for :footer do %>
  <%= javascript_include_tag "carts" %>
  <%#= render :partial => "shared/metrics/criteo/basket_tracker", :locals => {:cart => @cart } %>
  <%= render "shared/metrics/google/cart" %>
<% end %>

<section id="cart">
  <table cellpadding="0" cellspacing="0" class="items_list">
    <thead>
      <tr>
        <th class="item">Item</th>
        <th class="amount">Quantidade</th>
        <th class="value" colspan="2">Valor</th>
      </tr>
    </thead>
    <tfoot>

      <tr class="last">
        <td class="titles" colspan="1">
          Total
        </td>
        <td class="value" colspan="3">
          <p><%= number_to_currency(@cart.total) %></p>
          <% if @cart.total <= 5.0 %>
            <p class="limit">R$5,00 é o valor mínimo para processamento da compra</p>
          <% end %>
        </td>
      </tr>
    </tfoot>
    <tbody>
    <% if @cart.cart_items %>
      <% @cart.cart_items.each do |item| %>
        <tr>
          <td class="item">
            <%= image_tag item.thumb_picture %>
            <p><strong><%= item.name %></strong></p>
            <p>Tamanho: <%= item.description %></p>
            <p>Cor/Material: <%= item.color_name %></p>
          </td>
          <td class="amount">
            <%#= form_for(update_product_cart_path, :url => update_product_cart_path, :method => :put, :html => {:class => "form_amount"}, :remote => true) do %>
              <%#= hidden_field('variant','id', :value => item.variant.id) %>
              <%= select_tag('variant[quantity]', options_for_select({1 => 1}, item.quantity)) %>
            <%# end %>
          </td>
          <td class="value">
            <% if item.promotion? %>
              <p class="price_retail"><strong>de: <%= number_to_currency(item.price) %></strong></p>
              <p><strong>por: <%= number_to_currency(item.retail_price) %></strong></p>
            <% else %>
              <p><strong><%= number_to_currency(item.retail_price) %></strong></p>
            <% end %>
          </td>
          <td class="delete_item" valign="middle">
            <%= form_for(cart_path, :method => :put, :html => { :onsubmit => track_event("Shopping", "RemoveFromCart", item.product.id.to_s) }) do %>
              <%= hidden_field('variant','id', :value => item.variant.id) %>
              <%= submit_tag('')  %>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr class="discount">
        <td class="item"><h1>Embrulhar pedido para presente</h1></td>
        <td colspan="2">
          <p><strong>Selecione a caixa ao lado</strong></p>
          <p>Para embrulhar seu pedido para presente</p>
        </td>
        <td class="cupom">
          <%= form_for(update_gift_wrap_cart_path, :url => update_gift_wrap_cart_path, :remote=>true, :method => :put, :html => { :id => "gift_wrap" } ) do %>
            <fieldset class="inputs">
              <ol>
                <li>
                  <%= check_box('gift', 'gift_wrap', :checked => @cart.gift_wrap?) %>
                </li>
                <li>
                  <p>R$ 5,00</p>
                </li>
              </ol>
            </fieldset>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <table id="coupon" cellpadding="0" cellspacing="0" class="items_list">
    <tbody>
      <tr class="discount">
        <td>
          <a href="#" id="show_coupon_field">Quero usar um código promocional</a>
          <%= form_for update_coupon_cart_path, :url => update_coupon_cart_path, :method => :put, :html => {:id => "coupon"} do %>
            <fieldset class="inputs">
              <ol>
                <li>
                  <%= text_field 'coupon', 'code', :value => @coupon_code %>
                </li>
                <li class="cupom">
                  <%= submit_tag 'Aplicar cupom' %>
                </li>
              </ol>
            </fieldset>
          <% end %>
        </td>
        <td>
          <% if @user %>
            <%= link_to "Continuar", addresses_path, :class => "continue"  %>
          <% else %>
            <%= link_to "Continuar", new_half_user_session_path, :class => "continue"  %>
          <% end %>
        </td>
      </tr>
    </tbody>
  </table>

</section>
