<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "carts" %>
<% end %>

<section id="cart">
  <table cellpadding="0" cellspacing="0" class="items_list">
    <thead>
      <tr>
        <th class="item">Item</th>
        <th class="amount">Quantidade</th>
        <th class="value" colspan="2">Valor</th>
      </tr>
    </thead>
    <tfoot>
      <% if @promotion and not @order.used_coupon %>
        <tr>
          <td class="titles" colspan="3"><%= @promotion.cart_label %></td>
          <td class="value">
            <p>
              <%= number_to_currency(@cart.promotion_discount) %>
              (<%= @promotion.discount_percent %>%)
            </p>
          </td>
        </tr>
      <% end %>
      <% if @cart.coupon_discount > 0 %>
        <tr class="first">
          <td class="titles" colspan="3">Código Promocional</td>
          <td class="value">
            <p>
              <%= number_to_currency(@cart.coupon_discount) %>
              <%= @cart.coupon_discount_in_percentage %>
            </p>
            <%= form_for(remove_bonus_cart_path, :url => remove_coupon_cart_path, :method => :delete) do %>
              <fieldset class="inputs">
                <ol>
                  <li>
                    <%= submit_tag "Limpar" %>
                  </li>
                </ol>
              </fieldset>
            <% end %>
          </td>
        </tr>
      <% end %>
      <% if @promotion and @order.used_coupon %>
        <tr>
          <td class="titles" colspan="3">
            <p>
              A utilização deste código promocional invalida o <strong><%= @promotion.cart_label %></strong>.<br/>
              Para voltar a utilizá-lo limpe seu cupom.
            </p>
          </td>
        </tr>
      <% end %>
      <% if @cart.credits_discount > 0 %>
        <tr>
          <td class="titles" colspan="3">Crédito</td>
          <td class="value">
            <p><%= number_to_currency(@cart.credits_discount) %></p>
            <%= form_for(remove_bonus_cart_path, :url => remove_bonus_cart_path, :method => :delete) do %>
              <fieldset class="inputs">
                <ol>
                  <li>
                    <%= submit_tag "Limpar" %>
                  </li>
                </ol>
              </fieldset>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr class="last">
        <td class="titles" colspan="3">
          Total
          <p>O valor mínimo para finalizar sua compra é de R$ 5,00</p>
        </td>
        <td class="value"><p><%= number_to_currency(@cart.total) %></p></td>
      </tr>
    </tfoot>
    <tbody>
    <% if @line_items %>
      <% @line_items.each do |item| %>
        <tr>
          <td class="item">
            <%= image_tag item.variant.thumb_picture %>
            <p><strong><%= item.variant.name %></strong></p>
            <p>Tamanho: <%= item.variant.description %></p>
            <p>Cor: <%= item.variant.color_name %></p>
          </td>
          <td class="amount">
            <%= form_for(update_quantity_product_cart_path, :url => update_quantity_product_cart_path, :method => :put, :html => {:class => "form_amount"}, :remote => true) do %>
              <%= hidden_field('variant','id', :value => item.variant.id) %>
              <%= select_tag('variant[quantity]', options_for_select({1 => 1}, item.quantity)) %>
            <% end %>
          </td>
          <td class="value">
            <% if item.variant.product.liquidation? %>
              <p class="price_retail"><strong>de: <%= number_to_currency(item.variant.price) %></strong></p>
              <p><strong>por: <%= number_to_currency(item.variant.product.retail_price) %></strong></p>
            <% else %>
              <p><strong><%= number_to_currency(item.variant.price) %></strong></p>
            <% end %>
          </td>
          <td class="delete_item" valign="middle">
            <%= form_for(cart_path, :method => :put, :html => { :onsubmit => track_event("Shopping", "RemoveFromCart", item.variant.product.id.to_s) }) do %>
              <%= hidden_field('variant','id', :value => item.variant.id) %>
              <%= submit_tag('')  %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <tr class="discount">
        <td class="item"><h1>Possui algum código promocional?</h1></td>
        <td colspan="2">
          <p><strong>Digite o código <br/>no campo ao lado</strong></p>
        </td>
        <td class="cupom">
          <%= form_for(update_coupon_cart_path, :url => update_coupon_cart_path, :method => :put) do %>
            <fieldset class="inputs">
              <ol>
                <li>
                  <%= text_field('coupon', 'code', :value => @coupon_code) %>
                </li>
                <li class="cupom">
                  <%= submit_tag 'Aplicar cupom' %>
                </li>
              </ol>
            </fieldset>
          <% end %>
        </td>
      </tr>
      <tr class="discount">
        <td class="item"><h1>Você possui <span><%= number_to_currency(@bonus) %></span> em crédito</h1></td>
        <td colspan="2">
          <p><strong>Quanto deseja usar?</strong></p>
          <p>Digite o valor no campo ao lado</p>
        </td>
        <td class="cupom">
          <%= form_for(update_bonus_cart_path, :url => update_bonus_cart_path, :method => :put) do %>
            <fieldset class="inputs">
              <ol>
                <li>
                  <%= text_field('credits', 'value') %>
                </li>
                <li>
                  <%= submit_tag 'Atualizar' %>
                </li>
              </ol>
            </fieldset>
          <% end %>
        </td>
      </tr>
      <tr class="discount">
        <td class="item"><h1>Embrulhar pedido para presente</h1></td>
        <td colspan="2">
          <p><strong>Selecione a caixa ao lado</strong></p>
          <p>Para embrulhar seu pedido para presente</p>
        </td>
        <td class="cupom">
          <%= form_for(update_gift_data_cart_path, :url => update_gift_data_cart_path, :remote=>true, :method => :put, :html => { :id => "gift_wrapped" } ) do %>
            <fieldset class="inputs">
              <ol>
                <li>
                  <%= check_box('gift', 'gift_wrapped') %>
                </li>
                <li>
                  <p>R$ 5,00</p>
                </li>
              </ol>
            </fieldset>
          <% end %>
        </td>
      </tr>
      <tr class="discount hidden_row">
        <td class="item"></td>
        <td colspan="2">
          <p class="line_bottom"><strong>Mensagem para presente</strong></p>
          <p>Para embrulhar seu pedido para presente</p>
        </td>
        <td class="cupom">
          <%= form_for(update_gift_data_cart_path, :url => update_gift_data_cart_path, :remote=>true, :method => :put, :html => { :id => "gift_message" } ) do %>
            <fieldset class="inputs">
              <ol>
                <li>
                  <%= text_area('gift', 'gift_message') %>
                </li>
              </ol>
            </fieldset>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= link_to "Continuar", addresses_path, :class => "continue"  %>
</section>
<% content_for :ecommerce_tracking do %>
  <%= render :partial => "shared/metrics/google/ecommerce_add_trans", :locals => { :order => @order } %>
  <%= render :partial => "shared/metrics/google/ecommerce_add_item", :locals => { :order => @order } %>
<% end %>
<% content_for :footer do %>
  <%= render :partial => "shared/metrics/criteo/basket_tracker", :locals => {:order => @order } %>
  <%= render "shared/metrics/google/cart" %>
<% end %>
