<% content_for :head do %>
  <%= stylesheet_link_tag "checkout" %>
<% end %>

<table cellpadding="0" cellspacing="0">
  <thead>
    <tr>
      <th>Item</th>
      <th>Quantidade</th>
      <th colspan="2">Valor</th>
    </tr>
  </thead>
  <tbody>
  <% if @order %>
    <% @order.line_items.each do |item| %>
      <tr>
        <td>
          <%= item.variant.name %>
        </td>
        <td>1</td>
        <td>1</td>
        <td>
          <%= form_for(cart_path, :method => :put) do %>
            <%= hidden_field('variant','id', :value => item.variant.id) %>
            <%= submit_tag('Excluir')  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
