<%= form_for([:admin, @shipping_company]) do |f| %>
  <% if @shipping_company.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@shipping_company.errors.count, "error") %> prohibited this shipping_company from being saved:</h2>

      <ul>
      <% @shipping_company.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :erp_code %><br />
    <%= f.text_field :erp_code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
