<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @shipping_company.name %>
</p>

<p>
  <b>Erp code:</b>
  <%= @shipping_company.erp_code %>
</p>


<%= link_to 'Edit', edit_admin_shipping_company_path(@shipping_company) %> |
<%= link_to 'Back', admin_shipping_companies_path %>
