<div id="carousel_lookbooks">
  <ul>
    <li>
      <%= link_to palha_path do %>
        <%= image_tag "lookbooks/palha.jpg", :alt => "Palha" %>
        <h1>Palha</h1>
      <% end %>
    </li>
    <li>
      <%= link_to lets_party_path do %>
        <%= image_tag "lookbooks/lets-party.jpg", :alt => "Let's party" %>
        <h1>Let's Party</h1>
      <% end %>
    </li>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-lookbook" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-lookbook" %>
</div>
