<div id="carousel_lookbooks">
  <ul>
  <% lookbooks.each do |lookbook| %>
    <li>
      <%= link_to "/lookbooks/#{lookbook.slug}" do %>
        <%= image_tag lookbook.thumb_image.try(:url), :alt => "#{lookbook.name}" %>
        <h1><%= lookbook.name %></h1>
      <% end %>
    </li>
  <% end %>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-lookbook" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-lookbook" %>
</div>
