<div id="carousel_lookbooks">
  <ul>
  <% lookbooks.each do |lookbook| %>
    <li>
      <% if lookbook.has_video? %>
        <%= link_to "Assita o vídeo", lookbook_path(lookbook.slug), :class => "label_video", :style => "background-image: url('#{lookbook.movie_image_url(:movie_thumb_mini)}');" %>
      <% end %>
      <%= link_to lookbook_path(lookbook.slug), :class => "link_lookbook" do %>
        <%= image_tag lookbook.thumb_image.try(:url), :alt => "#{lookbook.name}" %>
        <h1><%= lookbook.name %></h1>
      <% end %>
    </li>
  <% end %>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-lookbook" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-lookbook" %>
  <div class="pagination"></div>
</div>
