<div id="carousel_lookbooks">
  <ul>
    <li>
      <%= link_to glitter_path do %>
        <%= image_tag "lookbooks/glitter.jpg", :alt => "Glitter" %>
        <h1>Glitter</h1>
      <% end %>
    </li>
    <li>
      <%= link_to color_block_path do %>
        <%= image_tag "lookbooks/color-block.jpg", :alt => "Color Block" %>
        <h1>Color Block</h1>
      <% end %>
    </li>
    <li>
      <%= link_to golden_grace_path do %>
        <%= image_tag "lookbooks/golden-grace.jpg", :alt => "Golden Grace" %>
        <h1>Golden Grace</h1>
      <% end %>
    </li>
    <li>
      <%= link_to lets_party_path do %>
        <%= image_tag "lookbooks/lets-party.jpg", :alt => "Let's party" %>
        <h1>Let's Party</h1>
      <% end %>
    </li>
    <li>
      <%= link_to flores_path do %>
        <%= image_tag "lookbooks/flores.jpg", :alt => "Flores" %>
        <h1>Flores</h1>
      <% end %>
    </li>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-lookbook" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-lookbook" %>
</div>
