<% content_for :head do %>
  <%= stylesheet_link_tag "section/lookbooks" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "lookbooks" %>
<% end %>

<section id="lookbooks">
  <div id="carousel_lookbooks">
    <ul>
      <% ["flores", "Lookbook 2", "Lookbook 3", "Lookbook 4"].each do |lookbook| %>
        <li>
          <%= link_to flores_path do %>
            <%= image_tag "lookbooks/flores.jpg", :alt => "Flores" %>
            <h1><%= lookbook %></h1>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
  <h1>Flores</h1>
  <div id="carousel_lookbooks_product">
    <ul>
      <% 1.upto(4) do |image| %>
        <li>
          <%= image_tag "lookbooks/1/#{image}.jpg", :alt => "Imagem 1" %>
        </li>
      <% end %>
    </ul>
  </div>
</section>
