<% content_for :head do %>
  <%= stylesheet_link_tag "section/lookbooks" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "lookbooks" %>
<% end %>

<section id="lookbooks">
  <%= render "carousel_lookbooks" %>
  <div id="carousel_lookbooks_product">
    <ul>
      <% 1.upto(3) do |image| %>
        <li>
          <%= image_tag "lookbooks/3/#{image}.jpg", :alt => "Imagem 1" %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class="products_list">
    <ul>
      <% @products.each do |product| %>
        <%= render "shared/showroom_product_item", :product => product %>
      <% end %>
    </ul>
  </div>
</section>
