<% content_for :head do %>
  <%= stylesheet_link_tag "section/lookbooks" %>
  <style type="text/css">
    .product-map { background: url(<%= @lookbook.icon_url || image_path("lookbooks/icon_map_default.png") %>) no-repeat; }
    .product-map:hover { background: url(<%= @lookbook.icon_over.url || image_path("lookbooks/icon_map_default_hover.png") %>) no-repeat; }
    .product-map a p { background: <%= @lookbook.bg_color || "#000" %>; color: <%= @lookbook.fg_color || "#FFF" %>; }
  </style>



<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "lookbooks" %>
  <meta name="chaordic:source" content= <%= "home/tendencias"%> >
  <meta name="chaordic:user" content= <%= @chaordic_user %>>
  <meta name="chaordic:category" content="Tendencias" >
  <%= javascript_include_tag "api_fb" %>
<% end %>

<div id="fb-root"></div>


<section id="lookbooks">
  <%= render 'shared/banners/olooklet' %>
  <!-- <h1>Tendências</h1> -->
  <%= render "carousel_lookbooks", :lookbooks => @lookbooks %>
  <div id="carousel_lookbooks_product">

    <ul>
      <% 0.upto(@lookbook.images.count - 1) do |image| %>
        <li>
          <%= image_tag @lookbook.images[image].image.try(:url), :alt => "Imagem #{image}" %>
          <%= link_to "X", lookbooks_path, :class => "close" %>
          	<% if image == 0 && @lookbook.has_video? %>
		      <%= link_to "Assista ao vídeo", "#", :class => "video_link", :rel => "#{@lookbook.video.url}", :title => "#{@lookbook.video.title}", :style => "background-image: url('#{@lookbook.movie_image_url(:movie_thumb)}');" %>
		      <div class="video_description">
		        <h1><%= @lookbook.video.title %></h1>
		        <%= link_to "Saiba mais", "#" %>
		      </div>
		    <% end %>
          <% @lookbook.images[image].lookbook_image_maps.each do |lim| %>
            <% if lim.product.is_a? Product %>
            <div class="product-map" id="pm<%= lim.id %>" style="top:<%= lim.coord_y %>px; left:<%= lim.coord_x %>px;">
              <%= link_to product_path(lim.product.try(:id)), data: { params: { gift: false, shoe_size: nil } }, rel: "#{lim.product.try(:id)}", remote: true  do %>
                <p class="spy"><%= lim.product.try(:name) %></p>
              <% end %>
            </div>
            <% end %>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Anterior", "javascript:void(0);", :class => "prev-pic" %>
    <%= link_to "Próximo", "javascript:void(0);", :class => "next-pic" %>
    <div class="pagination"></div>
  </div>
  <div class="products_list">
    <h1>Confira os produtos: <%= @lookbooks.first.name %></h1>
    <ul>
      <% @products.each do |product| %>
        <%= get_partial(product) %>
      <% end %>
    </ul>
  </div>
</section>
<img height="1" width="1" src="http://view.atdmt.com/action/mmn_olook_tendencias"/>
<% content_for :footer do %>
  <%= render :partial => "shared/metrics/criteo/listing_tracker", :locals => { :products => @products_id } %>
<% end %>

