<% content_for :head do %>
  <%= stylesheet_link_tag "section/lookbooks" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "lookbooks" %>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=<%= @facebook_app_id %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="lookbooks">
  <%= render "carousel_lookbooks", :lookbooks => @lookbooks %>
  <div id="carousel_lookbooks_product">
    <ul>
      <% 0.upto(@lookbook.images.count - 1) do |image| %>
        <li>
          <%= image_tag @lookbook.images[image].image.try(:url), :alt => "Imagem #{image}" %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Anterior", "javascript:void(0);", :class => "prev-pic" %>
    <%= link_to "Próximo", "javascript:void(0);", :class => "next-pic" %>
  </div>
  <div class="products_list">
    <ul>
      <% @products.each do |product| %>
        <%= get_partial(product) %>
      <% end %>
    </ul>
  </div>
</section>

<% content_for :footer do %>
  <%= render :partial => "shared/metrics/criteo/listing_tracker", :locals => { :products => @products_id } %>
<% end %>
