<% content_for :head do %>
  <%= stylesheet_link_tag "section/lookbooks" %>
  <style type="text/css">
    .product-map { background: url(<%= @lookbook.icon_url || "/assets/lookbooks/icon_map_default.png" %>) no-repeat; }
    .product-map:hover { background: url(<%= @lookbook.icon_over.url || "/assets/lookbooks/icon_map_default_hover.png" %>) no-repeat; }
    .product-map p a { background: <%= @lookbook.bg_color || "#000" %>; color: <%= @lookbook.fg_color || "#FFF" %>; }
  </style>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "lookbooks" %>
<% end %>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=<%= @facebook_app_id %>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<section id="lookbooks">
  <%= render 'shared/banners/olooklet' %>
  <%= render "carousel_lookbooks", :lookbooks => @lookbooks %>
  <div id="carousel_lookbooks_product">
    <% if @lookbook.has_video? %>
      <%= link_to "Assista ao vídeo", "#", :class => "video_link", :rel => "#{@lookbook.video.url}", :title => "#{@lookbook.video.title}" %>
      <div class="video_description">
        <h1><%= @lookbook.video.title %></h1>
        <%= link_to "Saiba tudo sobre essa tendência", "#" %>
      </div>
    <% end %>
    <ul>
      <% 0.upto(@lookbook.images.count - 1) do |image| %>
        <li>
          <%= image_tag @lookbook.images[image].image.try(:url), :alt => "Imagem #{image}" %>
          <% @lookbook.images[image].lookbook_image_maps.each do |lim| %>
            <div class="product-map" id="pm<%= lim.id %>" style="top:<%= lim.coord_y %>px; left:<%= lim.coord_x %>px;">
              <p class="spy"><%= link_to lim.product.name, product_path(lim.product.id), data: { params: { gift: false, shoe_size: nil } }, rel: "#{lim.product.id}", remote: true %></p>
            </div>
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= link_to "Anterior", "javascript:void(0);", :class => "prev-pic" %>
    <%= link_to "Próximo", "javascript:void(0);", :class => "next-pic" %>
  </div>
  <div class="products_list">
    <ul>
      <% @products.each do |product| %>
        <%= get_partial(product) %>
      <% end %>
    </ul>
  </div>
</section>
<% content_for :footer do %>

  <%= render :partial => "shared/metrics/criteo/listing_tracker", :locals => { :products => @products_id } %>
<% end %>
