variant_number = '<%= j params[:variant_number] %>';
product_price = '<%= j params[:product_price] %>';

var hasToFadeIn = false;
var cartContainsItems = false;
variant_numbers = <%= @variant_numbers %>;

for(i=0;i<variant_numbers.length;i++){
  console.log(variant_numbers[i]);
  $('#variant_numbers_[value=\"'+variant_numbers[i]+'\"]').remove();
  $('#variant_numbers[][value=\"'+variant_numbers[i]+'\"]').remove();  
}

$('#minicart').append('<%= escape_javascript(hidden_field_tag("variant_numbers[]", params[:variant_number])) %>');
$('li[data-id=<%= j params[:product_id] %>] form input[type=submit]').addClass("added_product").attr("disabled", "disabled");
$('li[data-id=<%= j params[:product_id] %>] form input[type=submit]').val('PRODUTO ADICIONADO!');

if(StringUtils.isEmpty($("#total_price").val())){
  $("#total_price").val('0.0');

  $('.cart_related').fadeOut("fast",function(){
    $('.cart_related').addClass('product_added');
    $('.cart_related div.empty_minicart').hide();    
    hasToFadeIn = true;
  });
}

setTimeout(function() {
  if ($( ".cart_related ul li:contains("+$('li[data-id=<%= j params[:product_id] %>] img').attr("alt")+")" ).length == 0){
    $('.cart_related ul').append("<li>"+$('li[data-id=<%= j params[:product_id] %>] img').attr("alt")+"</li>");
    $("#total_price").val( parseFloat($("#total_price").val()) + parseFloat(product_price));
  } else if ($( ".cart_related ul li:contains("+$('li[data-id=<%= j params[:product_id] %>] img').attr("alt")+")" ).length > 0 && variant_number.length == 0){
    $( ".cart_related ul li:contains("+$('li[data-id=<%= j params[:product_id] %>] img').attr("alt")+")" ).remove();
    $("#total_price").val( parseFloat($("#total_price").val()) - parseFloat(product_price));
    if($( ".cart_related ul li").length -1 == 0){
      $("#total_price").val('');
      cartContainsItems = true;
      hasToFadeIn = true;
    }
  }

  var installments = CreditCard.installmentsNumberFor($("#total_price").val());
  if ($("li.product").length == ($(".cart_related ul li").length - 1)){
    $(".cart_related .minicart_price").html("De<span class='original_price'>" + installments + "x de " + Formatter.toCurrency( $("#total_price").val() / installments ) + "</span>Por <span class='discounted_price'>"+$(".total_with_discount").html() + " sem juros</span>")
  } else {
    $(".cart_related .minicart_price").html("Por<span class='first_price'>" + installments + "x de " + Formatter.toCurrency( $("#total_price").val() / installments ) + " sem juros </span>");
  }

  $("form#minicart input[type=submit]").removeAttr("disabled").removeClass("disabled");

  if(cartContainsItems) {
    $('.cart_related').removeClass('product_added');
    $(".cart_related .minicart_price").html("");
    $('.cart_related div.empty_minicart').fadeIn("fast");
  }

  if(hasToFadeIn) {
    $('.cart_related').fadeIn("fast");
  }
},300);