.box-cadastro{ class: "campaign_modal_#{@campaign_text}" }
  - if @campaign_text.to_i == 7
    =image_tag("campaign_emails/mari_modal.jpg")
    %div.content
      %p.big_titulo 
        ainda não
        %br 
          comprou na olook?
      %p.cadastre_new
        Aproveite o desconto de 
        %span 
          R$ 20
        %br
          na sua primeira compra e arrase em looks 
        com muito estilo. 
      =link_to "Compre Agora", "/20reais_primeira_compra", :class => "bt_go_catalog", target: '_parent', onclick: track_event('Lightbox', 'PrimeiraCompra')
      %p.terms_new_user
        *Válido para compras acima de R$100
        %br
          *Não cumulativo com outros cupons e descontos do site.
    .nao-exibir
      %input{:type => "checkbox", :name => "dont_show", :class => "dont_show"}
      %label{:for => "dont_show"} Não exibir novamente



  - elsif @campaign_text.to_i == 6
    =image_tag("campaign_emails/bday.jpg", :class => "bday")
    %div.futilish
      =image_tag("campaign_emails/futilish.jpg")
    .nao-exibir
      %input{:type => "checkbox", :name => "dont_show", :class => "dont_show"}
      %label{:for => "dont_show"} Não exibir novamente
  - elsif @campaign_text.to_i >= 4
    .infos
      -if @campaign_text.to_i == 4
        %h1
          com 10% de desconto
      - else
        %h1
          com 20% de desconto
      %ul
        %li
          %p
            Válido somente para produtos 
            %br
              Olook e não cumulativo com 
            outras promoções do site. 
        %li
          %p
            Desconto exclusivo para 
            %br
              usuários Benefício Club. 
        %li
          %p
            O desconto será visualizado 
            %br
              no carrinho de compras. 
      -if @campaign_text.to_i == 4
        %p.date
          Período da promoção 04/10/2013 a
          %br
            31/12/2013 ou enquanto durar o estoque 
        = link_to 'Aproveite', '/sapato', :class => "enjoy", target: '_blank'
      -else
        %p.date
          Período da promoção 04/09/2013 a
          %br
            03/10/2013 ou enquanto durar o estoque 
        = link_to 'Aproveite', '/sapato', :class => "enjoy", target: '_blank'
  - else
    =image_tag("campaign_emails/mari_modal.jpg")
    %div.content
      = (render "campaign_text_#{@campaign_text}") rescue render 'campaign_text_1'
      %p.cadastre Cadastre-se e receba por e-mail novidades </br>sobre moda, tendências e promoções exclusivas
      %div.place-holder
        %div.error
          %p O e-mail informado não parece correto. Que tal conferir?
      =form_for @campaign_email do |f|
        =f.text_field :email, :value => "seunome@email.com.br"
        =f.submit :value => "", :class => "bt-enviar"
      %p.texto Aceito os <a href="/termos" target="_blank">termos de uso</a>
    .nao-exibir
      %input{:type => "checkbox", :name => "dont_show", :class => "dont_show"}
      %label{:for => "dont_show"} Não exibir novamente

  %button{:type => "button", :class => "close"} Fechar