<%= form_for(@catalog_base, as: :catalog_base, :url => admin_catalog_bases_path(@catalog_base), :html => { :multipart => true }) do |f| %>
  <% if @catalog_base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@catalog_base.errors.count, "error") %> prohibited this campaign from being saved:</h2>

      <ul>
      <% @catalog_base.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </div>

  <div class="field">
    <%= f.label :type %><br />
    <%= f.select(:type, [['Texto', 'CatalogHeader::TextCatalogHeader'], ['1 Banner', 'CatalogHeader::BigBannerCatalogHeader'], ['2 Banners','CatalogHeader::SmallBannerCatalogHeader']]) %>
  </div>

  <div class="field">
    <%= f.label :h1 %><br />
    <%= f.text_field :h1 %>
  </div>

  <div class="field">
    <%= f.label :h2 %><br />
    <%= f.text_field :h2 %>
  </div>

  <div class="field">
    <%= f.label :small_banner1 %> <br />
    <%= f.file_field :small_banner1 %>
  </div>

  <div class="field">
    <%= f.label :alt_small_banner1 %> <br />
    <%= f.text_field :alt_small_banner1 %>
  </div>

  <div class="field">
    <%= f.label :link_small_banner1 %><br />
    <%= f.text_field :link_small_banner1 %>
  </div>

  <div class="field">
    <%= f.label :small_banner2 %> <br />
    <%= f.file_field :small_banner2 %>
  </div>

  <div class="field">
    <%= f.label :alt_small_banner2 %> <br />
    <%= f.text_field :alt_small_banner2 %>
  </div>

  <div class="field">
    <%= f.label :link_small_banner2 %><br />
    <%= f.text_field :link_small_banner2 %>
  </div>

  <div class="field">
    <%= f.label :medium_banner %> <br />
    <%= f.file_field :medium_banner %>
  </div>

  <div class="field">
    <%= f.label :alt_medium_banner %> <br />
    <%= f.text_field :alt_medium_banner %>
  </div>

  <div class="field">
    <%= f.label :link_medium_banner %><br />
    <%= f.text_field :link_medium_banner %>
  </div>

  <div class="field">
    <%= f.label :big_banner %> <br />
    <%= f.file_field :big_banner %>
  </div>

  <div class="field">
    <%= f.label :alt_big_banner %> <br />
    <%= f.text_field :alt_big_banner %>
  </div>

  <div class="field">
    <%= f.label :link_big_banner %><br />
    <%= f.text_field :link_big_banner %>
  </div>

  <div class="field">
    <%= f.label :title %> <br />
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :resume_title %> <br />
    <%= f.text_field :resume_title %>
  </div>

  <div class="field">
    <%= f.label :text_complement %><br />
    <%= f.text_field :text_complement %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

