- content_for :footer do
  = javascript_include_tag 'section/admin/catalog_header'

= form_for(@catalog_base, as: :catalog_base, :url => (@catalog_base.new_record? ? resources_path : resource_path(@catalog_base)), :html => { :multipart => true }) do |f|
  - if @catalog_base.errors.any?
    #error_explanation
      %h2
        = pluralize(@catalog_base.errors.count, "error")
        prohibited this campaign from being saved:
      %ul
        - @catalog_base.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label "Tipo de url"
    = f.select(:url_type, [["Nova url", 2], ["Url existente", 1]])

  %br
  %fieldset#no_custom_url
    %legend
      Adicionar
      #{params[:type] == 'CatalogHeader::TextCatalogHeader' ? 'Texto' : 'Banners'}
      a uma URL existente do Site
    .inline_field
      = f.check_box :enabled
      = f.label :enabled
    .field
      = f.label :old_url
      %br/
      = f.text_field :old_url


  %br
  %fieldset#custom_url
    %legend
      Criar uma URL nova com cabeçalho de
      #{params[:type] == 'CatalogHeader::TextCatalogHeader' ? 'Texto' : 'Banners'}
    .inline_field
      = f.check_box :enabled
      = f.label :enabled
    .field
      = f.label :new_url
      %small Evitar caracteres como espaço, acentos e letras maíusculas
      %br/
      = f.text_field :new_url
    .field
      = f.label :organic_url
      %br/
      = f.text_field :organic_url
    .field
      = f.label :product_list
      %br/
      = f.text_area :product_list

  %fieldset
    %legend Tipo do Cabeçalho
    .field
      = f.label :type
      %br/
      = f.select(:type, [['Sem Header', 'CatalogHeader::NoBanner'], ['Texto', 'CatalogHeader::TextCatalogHeader'], ['1 Banner', 'CatalogHeader::BigBannerCatalogHeader'], ['3 Banners','CatalogHeader::SmallBannerCatalogHeader']], value: params[:type].to_a.first)
    .field
      = f.label :seo_text
      %br/
      = f.text_field :seo_text
  %fieldset#small_banner_catalog_header
    %legend Três banners como na figura abaixo
    = image_tag('admin/catalog_header/3banner.jpg')
    .field
      = f.label :small_banner1
      %br/
      = f.file_field :small_banner1
    .field
      = f.label :alt_small_banner1
      %br/
      = f.text_field :alt_small_banner1
    .field
      = f.label :link_small_banner1
      %br/
      = f.text_field :link_small_banner1
    .field
      = f.label :small_banner2
      %br/
      = f.file_field :small_banner2
    .field
      = f.label :alt_small_banner2
      %br/
      = f.text_field :alt_small_banner2
    .field
      = f.label :link_small_banner2
      %br/
      = f.text_field :link_small_banner2
    .field
      = f.label :medium_banner
      %br/
      = f.file_field :medium_banner
    .field
      = f.label :alt_medium_banner
      %br/
      = f.text_field :alt_medium_banner
    .field
      = f.label :link_medium_banner
      %br/
      = f.text_field :link_medium_banner
  %fieldset#big_banner_catalog_header
    %legend Um banner como na figura abaixo
    = image_tag('admin/catalog_header/1banner.jpg')
    .field
      = f.label :big_banner
      %br/
      = f.file_field :big_banner
    .field
      = f.label :alt_big_banner
      %br/
      = f.text_field :alt_big_banner
    .field
      = f.label :link_big_banner
      %br/
      = f.text_field :link_big_banner
  %fieldset#text_catalog_header
    %legend Texto como na figura abaixo
    = image_tag('admin/catalog_header/texto.jpg')
    .field
      = f.label :title
      %br/
      = f.text_field :title
    .field
      = f.label :resume_title
      %br/
      = f.text_area :resume_title
    .field
      = f.label :text_complement
      %br/
      = f.text_area :text_complement
  .actions
    = f.submit "Salvar"
