%h2 Listando Landing page de catálogos
- content_for :secondary_navigation do
  %li= link_to 'Nova landing page de catálogo', new_admin_catalog_basis_path
- content_for :sidebar do
  .block
    %h3 Filtros
    .content
      = form_tag(admin_catalog_bases_path, method: :get, :class => "form") do
        .group
          = label_tag 'search[type]', 'Tipo', :class => "label"
          = select_tag('search[type]', options_for_select(['', ['Texto', 'CatalogHeader::TextCatalogHeader'], ['1 Banner', 'CatalogHeader::BigBannerCatalogHeader'], ['2 Banners','CatalogHeader::SmallBannerCatalogHeader']], params[:search].try(:[], 'type').to_s))
        .group
          = label_tag 'search[url]', 'URL', :class => "label"
          = text_field_tag 'search[url]', params[:search].try(:[], 'url').to_s
        .group
          = submit_tag 'Procurar', :class => "button"
          = link_to 'Limpar', admin_catalog_bases_path, class: 'button'

.inner
  %table.table
    %tr
      %th url
      %th
      %th
      %th
    - @catalog_bases.each do |catalog_base|
      %tr
        %td= catalog_base.url
        %td= link_to 'Mostrar', admin_catalog_basis_path(catalog_base), :class => 'button'
        %td= link_to 'Editar', edit_admin_catalog_basis_path(catalog_base), :class => 'button'
        %td= link_to 'Apagar', admin_catalog_basis_path(catalog_base), confirm: 'Tem certeza?', method: :delete, :class => 'button danger'
  .actions-bar.wat-cf
    .pagination
