%h2 Landing page de catálogo
.inner
  %p
    %b url
    = @catalog_base.url
  %p
    %b tipo
    = @catalog_base.type
  %p
    %b h1
    = @catalog_base.h1
  %p
    %b h2
    = @catalog_base.h2
  %p
    %b small_banner1
    = image_tag @catalog_base.small_banner1
  %p
    %b alt_small_banner1
    = image_tag @catalog_base.alt_small_banner1
  %p
    %b link_small_banner1
    = image_tag @catalog_base.link_small_banner1
  %p
    %b small_banner2
    = image_tag @catalog_base.small_banner2
  %p
    %b alt_small_banner2
    = image_tag @catalog_base.alt_small_banner2
  %p
    %b link_small_banner2
    = image_tag @catalog_base.link_small_banner2
  %p
    %b medium_banner
    = image_tag @catalog_base.medium_banner
  %p
    %b alt_medium_banner
    = image_tag @catalog_base.alt_medium_banner
  %p
    %b link_medium_banner
    = image_tag @catalog_base.link_medium_banner
  %p
    %b big_banner
    = image_tag @catalog_base.big_banner
  %p
    %b alt_big_banner
    = image_tag @catalog_base.alt_big_banner
  %p
    %b link_big_banner
    = image_tag @catalog_base.link_big_banner
  %p
    %b title
    = image_tag @catalog_base.title
  %p
    %b resume_title
    = image_tag @catalog_base.resume_title
  %p
    %b text_complement
    = image_tag @catalog_base.text_complement
  %p
    %b Criado em
    = @catalog_base.created_at
  %p
    %b Atualizado em
    = @catalog_base.updated_at
- content_for :secondary_navigation do
  %li= link_to 'Editar', edit_admin_catalog_base_path(@catalog_base)
  %li= link_to 'Voltar', admin_catalog_bases_path
