<% content_for :head do %>
  <%= stylesheet_link_tag "section/landing" %>
<% end %>

<% content_for :top_my_account, render(:partial => "shared/header_default") if @landing_page.show_header? %>

<% content_for :content do %>
  <%= content_for?(:news_content) ? yield(:news_content) : yield %>
<% end %>
<div class="header_login">
  <!-- <h1>Já faz parte? <span>Entre</span></h1> -->
  <h2><%= image_tag "landing_page/olook_logo.png", :title => "Olook" %></h2>
</div>
<section class="landing-content">
  <div class="registration-form">
    <h1>Descubra seu estilo</h1>
    <h2>RESPONDA AO STYLE QUIZ E RECEBA SUGESTÕES DE NOSSAS STYLISTS</h2>
    <% campaign_email = CampaignEmail.new %>
    <% if params[:ab_t].present? %>
      <div class="error" style="display:none;">
      <p class="mail_error"> O e-mail informado não parece correto. Que tal conferir? </p>
    </div>
    <%= form_for campaign_email, :method => :post do |f| %>
      <%= f.text_field :email, value:"Informe seu email aqui", class: "email", onclick: "_gaq.push(['_trackEvent', 'CadastroQuiz', 'ClickForm', ''])"  %>
    <%= hidden_field_tag :ab_t, true %>
    <%= f.submit "", class: "bt-enviar", onclick: "_gaq.push(['_trackEvent', 'CadastroQuiz', 'StartQuiz', ''])" %>
  <% end %>
  <% else %>
      <%= link_to @landing_page.button_url, :class => "action", :title => @landing_page.button_alt, :style => button_position(@landing_page) do %>
      <%= image_tag @landing_page.button_image.try(:url), :alt => @landing_page.button_alt,  data_src: @landing_page.button_hover_image.try(:url) %>
  <% end %>
  <% end %>
  </div>
</section>
<!-- <div class="tv">
<%=link_to (image_tag "landing_page/imprensa.jpg"), "/olook-na-imprensa", :title => "Olook" %>
</div> -->

<% content_for :footer do %>
  <%= javascript_include_tag "campaign_emails" if params[:ab_t].present? %>
<% end %>
<%= content_for :site_footer, render(:partial => "shared/footer") if @landing_page.show_footer? %>
