- content_for :head do
  = stylesheet_link_tag "section/landing"
.header_login
  %h2= image_tag "landing_page/olook_logo.png", :title => "Olook"
%section.landing-content
  .registration-form
    %h1 Descubra seu estilo
    %h2 Responda ao style quiz e receba sugestões de nossas stylists
    - campaign_email = CampaignEmail.new
    - if params[:ab_t].present?
      .error{style: "display:none;"}
        %p.mail_error O e-mail informado não parece correto. Que tal conferir?
      = form_for campaign_email, :method => :post do |f|
        = f.text_field :email, value:"Informe seu email aqui", class: "email", onclick: "_gaq.push(['_trackEvent', 'CadastroQuiz', 'ClickForm', ''])"
        = hidden_field_tag :ab_t, true
        = f.submit "RESPONDER AO QUIZ", class: "bt-enviar", onclick: "_gaq.push(['_trackEvent', 'CadastroQuiz', 'StartQuiz', ''])"
    - else
      = link_to wysquiz_path, :class => "action", :title => 'Comece agora!', :style => 'top:340px;left:584px;' do
        = image_tag 'landing_page/g_quiz.jpg', :alt => 'Comece agora!',  data_src: image_path('landing_page/g_quiz_h.jpg')
- content_for :footer do
  = javascript_include_tag "campaign_emails" if params[:ab_t].present?
= content_for :site_footer, render(:partial => "shared/footer")
