<% content_for :head do %>
  <%= stylesheet_link_tag "section/landing" %>
<% end %>

<% content_for :top_my_account, render(:partial => "shared/header_default") if @landing_page.show_header? %>

<% content_for :content do %>
  <%= content_for?(:news_content) ? yield(:news_content) : yield %>
<% end %>

 <section id="register">
	<div class="header_login">
<!-- 		<h1>Já faz parte? <span>Entre</span></h1> -->
		<h2><%= image_tag "landing_page/olook-landing-logo.png", :title => "Olook" %></a></h2>
	</div>
	<div class="bg">
		<div class="register-content content-area-A">
			<p class="bt-acesse">
				<a href="#" title="Quiz"></a>
			</p>
		</div>
	</div>
</section>  
<!-- <section id="register">
	<div class="header_login">
		<h1>Já faz parte? <span>Entre</span></h1>
		<h2><%= image_tag "landing_page/olook-landing-logo.png", :title => "Olook" %></a></h2>
	</div>
	<div >
		<div class="register-content content-area-B">
			<h1>Descubra seu estilo</h1>
			<h2>Com qual dessas celebridades brasileiras você se identifica mais?</h2>
			<div class="content-B"></div>


			<p class="bt-acesse">
				<a href="#" title="Quiz"></a>
			</p>
		</div>
	</div>
</section>  -->

<%= content_for :site_footer, render(:partial => "shared/footer") if @landing_page.show_footer? %>
