<h2>Dashboard</h2>

<div class="inner">
  <p><%= access_link("Users") %> </p>
  <p> <%= access_link("Collections") %> </p>
  <p> <%= access_link("Products") %> </p>
  <p> <%= access_link("Shipping Services") %> </p>
  <p> <%= access_link("Orders") %> </p>
  <p> <%= access_link("Coupons") %> </p>
  <p><%= access_link("Landing Pages") %> </p>
  <p><%= access_link("Products") %></p>
  <p><%= access_link("Roles") %></p>
</div>
