<h2>Dashboard</h2>

<div class="inner">
  <p><%= link_to "Users", admin_users_path %></p>
  <p><%= link_to "Collections", admin_collections_path %></p>
  <p><%= link_to "Products", admin_products_path %></p>
  <p><%= link_to "Shipping Services", admin_shipping_services_path %></p>
  <p><%= link_to "Utilities", admin_utilities_path %></p>
  <p><%= link_to "Orders", admin_orders_path %></p>
  <p><%= link_to "Coupons", admin_coupons_path %></p>
</div>
