- content_for :head do
  = stylesheet_link_tag "new_structure/section/search"
.search
  - if @search.products.size == 0
    %h2
      %b
        Poxa, ainda não temos
        %span= @q
        \:(
      Como sempre chegam novidades, logo mais devemos ter o que você procura por aqui. Fique ligada! ;)
    %p.hints Sugestões para uma próxima busca:
    %ul.hint-list
      %li.hint_one Verifique se a ortografia está correta;
      %li.hint_two Tente palavras mais genéricas;
      %li.hint_three Ou palavras diferentes, com o mesmo significado;
      %li.hint_four E remova aspas ou sinais de mais: isso restringe a possibilidade de resultados.
  - else
    .cb
      - unless @dont_show_message
        %h2.title-founded
          Legal! Temos
          %span= @search.result.found_products
          opções de
          %span= @q
          para você :)

      .pagination.topo
        = render "shared/nav_bar_pagination", search: @search, url_builder: @url_builder, link: lambda{ |hash| search_path(@url_builder.current_filters.merge({q: @q}).merge(hash)) }

    #filters= render "filters", search: @search
    #search_result
      %ul.search-results-list
        - @search.products.each do |product|
          = render "shared/searched_product_item", product: product

      .pagination
        = render "shared/nav_bar_pagination", search: @search, url_builder: @url_builder, link: lambda{ |hash| search_path(@url_builder.current_filters.merge({q: @q}).merge(hash)) }

- if @search.products.size == 0
  .other-products
    %p Enquanto isso, porque você não dá uma olhada em...
  .chaordic.mostpopular{"data-skin" => "MP-top-5"}
  - @stylist = Product.fetch_products :selection
  = render "home/stylists"
= render "home/boxes"
= render "home/products_categories"

