- content_for :head do
  = stylesheet_link_tag "new_structure/section/search"
.search
  - if @products.size == 0
    %h2
      %b
        Poxa, ainda não temos
        %span= @q
        \:(
      Como sempre chegam novidades, logo mais devemos ter o que você procura por aqui. Fique ligada! ;)
    %p.hints Sugestões para uma próxima busca:
    %ul.hint-list
      %li.hint_one Verifique se a ortografia está correta;
      %li.hint_two Tente palavras mais genéricas;
      %li.hint_three Ou palavras diferentes, com o mesmo significado;
      %li.hint_four E remova aspas ou sinais de mais: isso restringe a possibilidade de resultados.
  - else
    .cb
      - unless @dont_show_message
        %h2.title-founded
          Legal! Temos
          %span= @search.result.found_products
          opções de
          %span= @q
          para você :)
    #filters
      .filter
        %p.title-category Modelo
        %ul.category-list
          - filters_by("subcategory").each do |text, amount|
            %li= filter_link_to(build_link_path, :subcategory, text.chomp, amount)

      .filter
        %p.title-category Cores
        %ul.category-list.cores
          - filters_by("color").each do |text, amount|
            %li{:class => text.chomp.downcase}= filter_link_to(build_link_path, :color, text.chomp, amount)

      .filter
        %p.title-category Preço
        .price-range
          #min-value-label 0
          %input{type: "text", id: "min-value"}
          .slider
            #slider-range
          #max-value-label 0
          %input{type:"text", id:"max-value"}
          %input{type:"hidden", name:"price", id:"price"}
      - if ['sapato', 'roupa'].include?(category)
        .filter
          %p.title-category Tamanho
          %ul.category-list
            - filters_by('size').each do |text, amount|
              %li= filter_link_to(build_link_path, :tamanho, text.chomp.gsub(/^-/, '').gsub(/-$/,''), amount)
      - if category == 'sapato'
        .filter
          %p.title-category Salto
          %ul.category-list
          - filters_by("heel").each do |text, amount|
            %li= filter_link_to(build_link_path, :heel, text.chomp, amount)
          %p.title-category Conforto & Proteção
          %ul.subcategory-list
            - filters_by("care").each do |text, amount|
              %li= filter_link_to(build_link_path, :care, text.chomp, amount)

    #search_result
      %ul.search-results-list
        - @products.each do |product|
          = render "shared/searched_product_item", product: product
- if @products.size == 0
  .other-products
    %p Enquanto isso, porque você não dá uma olhada em...
  .chaordic.mostpopular{"data-skin" => "MP-top-5"}
  = render "home/stylists"
= render "home/boxes"
= render "home/products_categories"
= render "home/facebook_box"
