<%= form_for([:admin, @detail.product, @detail]) do |f| %>
  <% if @detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@detail.errors.count, "error") %> prohibited this detail from being saved:</h2>

      <ul>
      <% @detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :translation_token %><br />
    <%= f.text_field :translation_token %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :display_on %><br />
    <%= f.select :display_on, DisplayDetailOn.to_a %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
