%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h3
      Imagem de produtos iniciado por: #{@user_email}
    %h2
      Produtos processados com sucesso
    %table{:style => "font-family:'Lucida Sans Unicode','Lucida Grande',Sans-Serif;font-size: 12px;background: #fff;margin: 45px;width: 480px;border-collapse: collapse;text-align: center;border: 1px solid;"}
      %tr{:style => "font-size: 14px;font-weight: normal;padding: 10px 8px;border-bottom: 2px solid #6678b1;"}
        %th ID do produto:
      - @process_info[:product_ids].each_with_index do |id,index|
        %tr{:style => "padding: 9px 8px 0px 8px;background:#{index.even? ? "#CCC" : "#FFF"};"}
          %td{:style => "vertical-align:middle;height: 30px;"}= link_to id, admin_product_url(id)
    %h2
      Erros no processamento
    %table{:style => "font-family:'Lucida Sans Unicode','Lucida Grande',Sans-Serif;font-size: 12px;background: #fff;margin: 45px;width: 480px;border-collapse: collapse;text-align: center;border: 1px solid;"}
      %tr{:style => "font-size: 14px;font-weight: normal;padding: 10px 8px;border-bottom: 2px solid #6678b1;"}
        %th ID do produto:
      - @process_info[:errors].each_with_index do |message,index|
        %tr{:style => "padding: 9px 8px 0px 8px;background:#{index.even? ? "#CCC" : "#FFF"};"}
          %td{:style => "vertical-align:middle;height: 30px;"}= message
