<h2>Freigth Prices</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>Descrição</th>
      <th>Inicio ZIP</th>
      <th>Fim ZIP</th>
      <th>Valor inicial da ordem</th>
      <th>Valor final da ordem</th>
      <th>Tempo de entrega</th>
      <th>Preço</th>
      <th>Custo</th>
    </tr>

  <% freight_prices.each do |freight_price| %>
    <tr>
      <td><%= freight_price.description %></td>
      <td><%= freight_price.zip_start %></td>
      <td><%= freight_price.zip_end %></td>
      <td><%= freight_price.order_value_start %></td>
      <td><%= freight_price.order_value_end %></td>
      <td><%= freight_price.delivery_time %></td>
      <td><%= freight_price.price %></td>
      <td><%= freight_price.cost %></td>
    </tr>
  <% end %>
  </table>
</div>
<div class="actions-bar wat-cf">
  <%= will_paginate freight_prices %>
</div>
