- content_for :secondary_navigation do
  %li
    = form_tag admin_shippings_path, method: :put, multipart: true do
      = file_field_tag :shipping_file
      = submit_tag "Atualizar tabela de frete"

  %li
    = form_tag admin_shipping_policies_path, method: :put, multipart: true do
      = file_field_tag :policy_file
      = submit_tag "Atualizar politicas de frete"
%h2 Novo Serviço de entrada
.inner
  %table.table
    %tr
      %th Transportadora
      %th Fretes
      %th
    - @shipping_services.each do |s|
      %tr
        %td= shipping_service.name
        %td= shipping_service.shippings.count
        %td= link_to 'Remover todos preços de frete', "#", confirm: 'Are you sure?', method: :delete, :class => 'button danger'


%h2 Listando serviços de entrega
.inner
  %table.table
    %tr
      %th Name
      %th Código ERP
      %th Fretes
      %th
      %th
      %th
    - @shipping_services.each do |shipping_service|
      %tr
        %td= shipping_service.name
        %td= shipping_service.erp_code
        %td= shipping_service.freight_prices.count
        %td= link_to 'Mostrar', admin_shipping_service_path(shipping_service), :class => 'button'
        %td= link_to 'Editar', edit_admin_shipping_service_path(shipping_service), :class => 'button'
        %td= link_to 'Remover todos preços de frete', admin_shipping_service_path(shipping_service), confirm: 'Are you sure?', method: :delete, :class => 'button danger'
  %br/
