- content_for :secondary_navigation do
  %li= link_to 'Novo serviço de entrega', new_admin_shipping_service_path

%h2 Atualização de tabelas
.inner
  = form_tag admin_shippings_path, method: :put, multipart: true do
    = file_field_tag :shipping_file
    = submit_tag "Atualizar"

%h2 Atualizar políticas de fretes
.inner
  = form_tag admin_shipping_policies_path, method: :put, multipart: true do
    = file_field_tag :policy_file
    = submit_tag "Atualizar"

%hr

%h2 Serviços de entrega (novo)
.inner
  %table.table
    %tr
      %th Transportadora
      %th Fretes
      %th
    - @shipping_services.each do |shipping_service|
      %tr
        %td= shipping_service.name
        %td= shipping_service.shippings.count
        %td.removing-column= link_to 'Remover', admin_shipping_service_path(shipping_service, version: 'new'), confirm: "Tem certeza que deseja remover TODOS os preços de frete para #{shipping_service.name}?", method: :delete, :class => 'button danger'

%hr

%h2 Listando serviços de entrega
.inner
  %table.table
    %tr
      %th Name
      %th Código ERP
      %th Fretes
      %th
      %th
      %th
    - @shipping_services.each do |shipping_service|
      %tr
        %td= shipping_service.name
        %td= shipping_service.erp_code
        %td= shipping_service.freight_prices.count
        %td= link_to 'Mostrar', admin_shipping_service_path(shipping_service), :class => 'button'
        %td= link_to 'Editar', edit_admin_shipping_service_path(shipping_service), :class => 'button'
        %td= link_to 'Remover todos preços de frete', admin_shipping_service_path(shipping_service, version: 'old'), confirm: 'Are you sure?', method: :delete, :class => 'button danger'
  %br/
