<h2>Transportadora</h2>
<div class="inner">
  <p>
    <b>Nome:</b>
    <%= @shipping_service.name %>
  </p>
  <p>
    <b>Código ERP:</b>
    <%= @shipping_service.erp_code %>
  </p>
  <td><%= link_to 'Remover todos preços de frete', admin_shipping_service_path(@shipping_service), confirm: 'Tem certeza?', method: :delete %></td>

  <%= render :partial => 'freight_prices', :locals => {:freight_prices => @freight_prices} %>

</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Editar', edit_admin_shipping_service_path(@shipping_service) %></li>
  <li><%= link_to 'Voltar', admin_shipping_services_path %></li>
<% end %>
