<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div class="full_bg">
    <div class="content" id="profile">
      <h1><span><%= @gift_recipient.name %></span> é</h1>
      <%= image_tag "/assets/gift/panel_#{@profiles.first.name.parameterize}.png", :title => "#{@profiles.first.name}", :class => "profile" %>
      <%= form_for @gift_recipient, :url => gift_recipient_path(@gift_recipient) do |f| %>
        <h1>e o tamanho do sapato é:</h1>

        <%= hidden_field_tag "gift_recipient[profile_id]", "#{@profiles.first.id}"%>
        <ul class="shoes">
          <% (33..40).each do |size| %>
            <li class="<%= ( size == @gift_recipient.shoe_size) ? 'selected': '' %>">
              <%= label_tag "gift_recipient_shoe_size_#{size}" do %>
                <%= size %>
                <%= f.radio_button :shoe_size, size %>
              <% end %>
            </li>
          <% end %>
        </ul>

        <%= submit_tag("Ver sugestão de presentes", :id => "finish") %>
        <p>Não faz o estilo dela? <%= link_to "Escolha outro estilo", "#", :class => "select_profile" %>
      <% end %>

      <%= form_for @gift_recipient, :url => edit_gift_recipient_path(@gift_recipient), :html => { :class => "edit_profile" } do |f| %>
        <div class="profiles">
          <h1>Quais das palavras abaixo<br /> definem melhor <span><%= @gift_recipient.first_name %></span> ?</h1>
          <ul>
            <% @profiles[1..3].each do |profile| %>
              <li class="<%= profile.name.parameterize %>">
                <%= label_tag "gift_recipient_profile_id_#{profile.id}" do %>
                  <%= f.radio_button :profile_id, profile.id %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

