<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div class="full_bg">
    <div class="content" id="profile">
      <h1><span><%= @gift_recipient.name %></span> é</h1>
      <%= image_tag "/assets/first_visit_banner/#{@profiles.first.first_visit_banner}.jpg", :title => "#{@profiles.first.name}", :class => "profile" %>
      <%= form_for @gift_recipient, :url => gift_recipient_path(@gift_recipient) do |f| %>
        <h1>e o tamanho do sapato é:</h1>
        <ul class="shoes">
          <% (36..40).each do |size| %>
            <li>
              <%= label_tag "gift_recipient_shoe_size_#{size}" do %>
                <%= size %>
                <%= f.radio_button :shoe_size, size %>
              <% end %>
            </li>
          <% end %>
        </ul>

        <%= submit_tag("Ver sugestão de presentes", :id => "finish") %>

        <p>Não faz o estilo dela? <%= link_to "Clique aqui", "#", :class => "select_profile" %>

        <div class="profiles">
          <ul>
            <% @profiles[0..2].each do |profile| %>
              <li>
                <label for="profile_id">
                  <%= profile.name %>
                  <%= f.radio_button :profile_id, profile.id %>
                </label>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

