<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
    <%= stylesheet_link_tag "section/suggestions" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div class="full_bg">
    <%= gift_breadcrumbs_for(@main_profile.alternative_name.titleize) %>
    <section id="profile" class="content bn">
      <h1 class="title_name"><%= @gift_recipient.name %> é</h1>
      <%= image_tag "gift/panel_#{@main_profile.name.parameterize}.png", :title => "#{@main_profile.name}", :class => "profile" %>

      <%= form_for @gift_recipient, :url => gift_recipient_path(@gift_recipient) do |f| %>
        <%= hidden_field_tag "gift_recipient[profile_id]", "#{@main_profile.id}" %>
        <fieldset>
          <h1>Ela calça:</h1>
          <ul class="shoes">
            <% (33..40).each do |size| %>
              <li class="<%= 'selected' if size == @gift_recipient.shoe_size %>">
                <%= label_tag "gift_recipient_shoe_size_#{size}" do %>
                  <%= size %>
                  <%= f.radio_button :shoe_size, size %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </fieldset>

        <%# submit_tag("Ver sugestão de presentes", :id => "finish") %>
        <p class="change_profile">Não faz o estilo dela? <%= link_to "Escolha outro estilo", "#", :class => "select_profile" %></p>
      <% end %>

      <%= form_for @gift_recipient, :url => edit_gift_recipient_path(@gift_recipient), :html => { :class => "edit_profile" } do |f| %>
        <div class="profiles">
          <h1>Quais das palavras abaixo definem<br />melhor o estilo da <span><%= @gift_recipient.first_name %></span> ?</h1>
          <ul>
            <% @profiles[1..3].each do |profile| %>
              <li class="<%= profile.name.parameterize %>">
                <%= label_tag "gift_recipient_profile_id_#{profile.id}" do %>
                  <%= f.radio_button :profile_id, profile.id, :checked => false %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </section>

    <section id="suggestion">
      <section id="suggestions_container">
        <h2>Confira:</h2>
        <h1>Sugestões de presentes para ela</h1>
        <%= render "gift/profiles/products", products: @products %>
      </section>
    </section>
  </div>
<% end %>

