<%= form_for(resource, :as => resource_name, :url => session_path(resource)) do |f| %>
  <fieldset class="inputs">
    <ol>
      <li>
        <%= f.label "E-mail" %>
        <%= f.email_field :email %>
      </li>

      <li>
        <%= f.label "Senha" %>
        <%= f.password_field :password %>
      </li>
    </ol>
  </fieldset>

  <fieldset class='buttons'>
    <ol>
      <li class="remember-me">
        <p><%= f.check_box :remember_me, :checked => true %><%= f.label :remember_me, "Lembrar de mim" %></p>
        <p class="forgot_password"><%= link_to 'Esqueci minha senha', new_user_password_path, :class => "forgot_password" %></p>
        <p class="register">Não possui cadastro, <%= link_to 'clique aqui', wysquiz_path %></p>
      </li>
      <li>
        <%= f.submit "ENTRAR", :id => "login" %>
      </li>
    </ol>
  </fieldset>
<% end %>
