<% content_for :head do %>
<%= stylesheet_link_tag  "new_structure/section/session" %>
<% end %>
<div class="home sign-in">
  <h1>Sua vitrine espera por você ...</h1>
  <div id="sign-in-box">
    <%= link_to 'Entrar com Facebook', user_omniauth_authorize_path(:facebook), :class => 'fb-login-button popup', :"data-width" => 410, :"data-height" => 300, onclick: track_event("FacebookConnect", "ConnectFromLoginPage") %>
    <%= render partial: "shared/errors", locals: { object: resource } %>
    <%= render partial: "form" %>
  </div>
  <%= render partial: "shared/social_links" %>
</div>

