- content_for :head do
  = stylesheet_link_tag  "new_structure/section/session"
.home.sign-in
  .login
    - if flash[:notice]
      %h2= flash[:notice]
    #sign-in-box
      .fb-login-button{"data-max-rows" => "1", "data-size" => "large", "data-show-faces" => "false", "data-auto-logout-link" => "false", "data-scope" => "basic_info,email,user_birthday,friends_birthday,user_education_history,user_location", "data-onlogin" => "loginFacebook"}
      = render partial: "shared/errors", locals: { object: resource }
      = render partial: "form"
    = render partial: "shared/social_links"
  .quiz_login
    =image_tag "login/olook_vantagens.png"
    = link_to image_tag("login/quiz.jpg", :class => "quiz_img"), survey_path, :target => "blank"
    = link_to 'Responder ao quiz', survey_path, :target => "blank", :class => "bt_quiz"
