<div id="quiz_container">
  <%= form_tag "#" do %>
    <div class="question">
      <h1>Style Quiz</h1>
      <h2>Qual dessas peças não pode faltar no dia a dia de <span>Jéssika</span>?</h2>
      <fieldset class="inputs">
        <ul>
          <% answer_number = 0 %>
          <% @question.answers.each do |answer| %>
          <li>
            <%= radio_button_tag 'question', answer.id %>
            <%= image_tag "/assets/quiz/#{answer.question.id}_#{answer_number += 1}.jpg"  %>
          </li>
          <% end %>
        </ul>
      </fieldset>
    </div>
    <div class="friend">
      <fieldset class="buttons">
        <ul>
          <li>
            <div class="pic_mask">
              <%= image_tag "/assets/fake/photo-facebook.png" %>
            </div>
            <%= link_to "Próxima amiga >", update_survey_question_path(:format => :js), :remote => true, :class => "next_friend" %>
          </li>
          <li>
            <%= submit_tag "" %>
          </li>
        </ul>
      </fieldset>
    </div>
  <% end %>
</div>
