<% content_for :head do %>
  <%= stylesheet_link_tag "section/friends" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "friends" %>
<% end %>

<section id="friends" class="home">
  <%= render "user_column" %>
  <section id="friends_content">
    <h1>Adicione suas amigas e compartilhe sua vitrine</h1>
    <div id="quiz_container">
      <%= form_tag "#" do %>
        <div class="question">
          <h1>Style Quiz</h1>
          <h2>Qual dessas peças não pode faltar no dia a dia de <span>Jéssika</span>?</h2>
        </div>
        <div class="friend">
          <fieldset class="buttons">
            <ul>
              <li>
                <div class="pic_mask">
                  <%= image_tag "/assets/fake/photo-facebook.png" %>
                </div>
                <%= link_to "Próxima amiga >", "javascript:void(0);", :class => "next_friend" %>
              </li>
              <li>
                <%= submit_tag "" %>
              </li>
            </ul>
          </fieldset>
        </div>
      <% end %>
    </div>
  </section>
</section>
