<% content_for :head do %>
  <%= stylesheet_link_tag "section/friends" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "friends" %>
<% end %>

<section id="friends" class="showroom">
<<<<<<< HEAD
  <%= render "user_column", :friends => @friends %>
=======
  <%= render "user_column" %>
>>>>>>> Initial markup and style of my friend showroom page
  <section id="friends_content">
    <div id="friend_info">
      <div class="avatar_mask">
        <%= image_tag "/assets/fake/fb-friend.png" %>
      </div>
      <h2>Você está vendo a vitrine de:</h2>
      <h1>Raul Souza Lima</h1>
    </div>
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> Created my friends showroom page
    <div class="product_list">
      <ul>
        <% @products.each do |product| %>
          <%= render "shared/showroom_product_item", :product => product %>
        <% end %>
      </ul>
    </div>
<<<<<<< HEAD
  </section>
</section> 
=======
=======
>>>>>>> Created my friends showroom page
  </section>
</section>
>>>>>>> Initial markup and style of my friend showroom page
