<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="orders">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <div class="box_title">
      <h1 class="orders">Meus Pedidos</h1>
    </div>
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th class="number">Pedido</th>
          <th class="date">Data do pedido</th>
          <th class="amount">Qtde.</th>
          <th class="value">Valor</th>
          <th class="freight">Frete</th>
          <th class="payments">Parcelas</th>
          <th class="status">Status do pedido</th>
          <th class="more"></th>
        </tr>
      </thead>
      <tbody>
        <% if @orders %>
          <% @orders.each do |order| %>
            <tr>
              <td class="number"><%= order.number %></td>
              <td><%= order.created_at.strftime("%d/%m/%Y") %></td>
              <td><%= order.line_items.count %></td>
              <td><%= number_to_currency(order.total_with_freight) %></td>
              <td></td>
              <td>3x</td>
              <td>Aguardando pagamento</td>
              <td class="more"><%= link_to "Mais informação", user_order_path(order) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders %>
  </div>
</div>
