<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="orders">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <div class="box_title">
      <h1 class="orders">Meus Pedidos</h1>
    </div>
    <div class="order_status">
      <h1>Número do Pedido: <span>23456698002</span></h1>
      <h2><strong>Status do seu pedido: <%= @order_presenter.status.message %></strong></h2>
      <ul id="status" class="<%= @order_presenter.status.css_class %>">
        <li class="state1">Pedido Efetuado</li>
        <li class="state2">Pagamento</li>
        <li class="state3">Separando Pedido</li>
        <li class="state4">Saiu para Entrega</li>
      </ul>
      <div id="description">
        <ul id="items">
          <% @order.line_items.each do |item| %>
            <li>
              <%= image_tag item.variant.product.main_picture %>
              <h1><%= item.variant.name %></h1>
              <p><strong>Cor:</strong> </p>
              <p><strong>Quantidade:</strong> 1</p>
              <p><strong>Valor:</strong> <%= number_to_currency(item.variant.price) %></p>
              <p><strong>Forma de pagamento:</strong> Boleto</p>
            </li>
          <% end %>
        </ul>
        <div id="details">
          <div>
            <h1>Endereço de entrega</h1>
            <p><strong>Denis Araujo</strong></p>
            <p>Rua Surubim, 159 - Brooklin Paulista</p>
            <p>São Paulo, SP</p>
          </div>
          <div>
            <h1>Data do Pedido</h1>
            <p><%= @order.created_at.strftime("%d/%m/%Y") %></p>
          </div>
          <div>
            <h1>Quantidade de Produtos</h1>
            <p><%= @order.line_items.count %></p>
          </div>
          <div>
            <table cellspacing="0" cellpadding="0">
              <thead>
                <tr>
                  <th>Valor</th>
                  <th>Frete</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td><%= number_to_currency(@order.total) %></td>
                  <td>R$ 12,00</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div>
            <h1>Forma de pagamento</h1>
            <p>3x no cartão de crédito American Express</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
