<h1>Dashboard</h1>

<h2>Operações</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Prazo para despacho</th>
      <th>Pago</th>
      <th>Aguardando Separação</th>
      <th>Despachado</th>
      <th>Entregue</th>
      <th>TOTAL</th>
    </tr>


    <% @report_days.each do |report_day_number| %>
      <tr id='<%= report_day_number %>_dias'>
        <td><%= I18n.t("dashboard_report_days.#{report_day_number}") %></td>
        <% @statuses.each do |status| %>
        <% state = status.include?(',') ? status.split(',') : status %>
	        <td class='<%= status.include?(',') ? 'all' : status %>'>
			<%= link_to Order.with_date(Time.now - report_day_number.days).with_state(state).size, "/dashboard/show/#{status}/#{report_day_number}" %>
	        </td>
        <% end %>
      </tr>
    <% end %>

	<tr>
		<td>TOTAL</td>
		<td id='total_authorized'><%= Order.with_state("authorized").count %></td>
		<td id='total_picking'><%= Order.with_state("picking").count %></td>
		<td id='total_delivering'><%= Order.with_state("delivering").count %></td>
		<td id='total_delivered'><%= Order.with_state("delivered").count %></td>
		<td id='grand_total'><%= Order.with_state(["authorized","picking","delivering","delivered"]).count %></td>
	</tr>

  </table>
</div>
