<h1>Dashboard</h1>

<h2>Operações</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Prazo para despacho</th>
      <th>Pago</th>
      <th>Aguardando Separação</th>
      <th>Despachado</th>
      <th>Entregue</th>
      <th>TOTAL</th>
    </tr>


    <% @report_days.each do |report_day_number| %>
      <tr>
        <td><%= I18n.t("dashboard_report_days.#{report_day_number}") %></td>
        <td><%= Order.orders_with_date_and_state(Time.now - report_day_number,"authorized").size %></td>
        <td><%= Order.orders_with_date_and_state(Time.now - report_day_number,"picking").size %></td>
        <td><%= Order.orders_with_date_and_state(Time.now - report_day_number,"delivering").size %></td>
        <td><%= Order.orders_with_date_and_state(Time.now - report_day_number,"Entregue").size %></td>
      </tr>
    <% end %>

  </table>
</div>
