%h1 Dashboard

%h2 Operações

- content_for :sidebar do
  .block
  %h3 Filtros
  .content
    =form_tag(admin_orders_life_cicle_report_path) do
      .group
        =label_tag 'Transportadora'
        =select_tag "transportadora",  options_for_select(["Tex", "Pac"]), include_blank: true
      .group
        =submit_tag "Enviar"


.inner
  %table.table
    %tr
      %th Prazo para despacho
      %th Pago
      %th Aguardando Separação
      %th Despachado
      %th Entregue
      %th TOTAL

    - @report_days.each do |report_day_number|
      %tr{:id => "#{report_day_number}_dias"}
        %td= I18n.t("admin_dashboard.report_days.#{report_day_number}")
        %td{:id => "authorized"}= report_days_link(@authorized[report_day_number],report_day_number , state: 'authorized')
        %td{:id => "picking"}= report_days_link(@picking[report_day_number],report_day_number, state: "picking")
        %td{:id => "delivering"}= report_days_link(@delivering[report_day_number],report_day_number, state: "delivering")
        %td{:id => "delivered"}= report_days_link(@delivered[report_day_number],report_day_number, state: "delivered")
        %td{:id => "total"}= report_days_link(@totals[report_day_number],report_day_number)

    %tr
      %td TOTAL
      %td{:id => "total_authorized"}= @authorized_total
      %td{:id => "total_picking"}=    @picking_total
      %td{:id => "total_delivering"}= @delivering_total
      %td{:id => "total_delivered"}=  @delivered_total
      %td{:id => "grand_total"}=      @grand_total
