- content_for :head do
  = javascript_include_tag "section/admin/brands"
= form_for [:admin, @brand] do |f|
  - if @brand.errors.any?
    #error_explanation
      %h2= "#{pluralize(@brand.errors.count, "error")} prohibited this brand from being saved:"
      %ul
        - @brand.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    =f.label :name
    =f.text_field :name
  %br
  %fieldset
    =f.label :header_image_alt
    =f.text_field :header_image_alt
  %br
  %fieldset
    =f.label :header_image
    =f.file_field :header_image
  %br
  %fieldset
    =f.label :info
    %br
    =f.text_area :info
  %br
  %fieldset
    =f.label :bg_color
    =f.text_field :bg_color
    #picker
  %br
  %fieldset
    =f.label :font_color
    =f.text_field :font_color
  .actions
    = f.submit 'Save'
