= form_for [:admin, @brand] do |f|
  - if @brand.errors.any?
    #error_explanation
      %h2= "#{pluralize(@brand.errors.count, "error")} prohibited this brand from being saved:"
      %ul
        - @brand.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    =f.label :name
    =f.text_field :name
  %br
  %fieldset
    %span Irá aparecer: nome da marca - texto abaixo | Olook
    %br
    =f.label :seo_text
    =f.text_field :seo_text

  %br
  %fieldset
    =f.label :header_image_alt
    =f.text_field :header_image_alt

  %br
  %fieldset
    =f.label :header_image
    =f.file_field :header_image
  
  .actions
    = f.submit 'Save'
