%p#notice= notice

%h2 Listagem de Marcas

- content_for :secondary_navigation do
  %li= link_to 'Voltar', admin_path

.inner
  -if @brand.header_image_url.nil?
    %p Sem imagem
  -else
    %p= image_tag @brand.header_image unless @brand.header_image_url.nil?
  %p 
    Nome:
    = @brand.name
  %p 
    Alt da imagem:
    =@brand.header_image_alt
  %p 
    Texto para SEO:
    =@brand.seo_text

= link_to 'Editar', edit_admin_brand_path(@brand)
\|
= link_to 'Voltar', admin_brands_path
