= hidden_field('variant', "unit_value_#{item.product.id}", :value => item.retail_price)
- if item.has_any_discount? && (@coupon_presenter.show_markdown? || item.price != item.retail_price(avoid_ajustment: true))
  %p.price_retail
    de: #{number_to_currency(item.price * item.quantity)}
  %p
    por: #{number_to_currency(item.retail_price(avoid_ajustment: true) * item.quantity)}
- else
  %p{:id => "item_subtotal_#{item.id}"}= number_to_currency(item.retail_price({avoid_ajustment: !@coupon_presenter.show_markdown?}) * item.quantity)
