//deal with empty cart
<% if @cart.items_total == 0 %>
  <% if request.referer =~ /#{new_checkout_path}/ %>
    window.location.href='<%= "#{cart_path}" %>';
    $(".new_sacola a.cart").removeClass("full");
    $("p.freight").next().show();
  <% else %>
    $('section#cart').hide().empty().delay(300).append('<h1>MINHA SACOLA</h1>').append('<%= escape_javascript( render partial: "cart/cart/empty_cart") %>').delay(300).fadeIn();
    $(".new_sacola a.cart").removeClass("full");
    $("p.freight").next().show();
  <% end %>
<% end %>

<% if @cart_service.is_minimum_payment? %>
  $("table#total p.limit").addClass("show");
<% else %>
  $("table#total p.limit").removeClass("show");
<% end %>

//update items total on cart summary
$("#cart_items").hide().delay(200).text("<%= pluralize(@cart.items_total, 'item', 'itens') %>").fadeIn();

//update items total on cart title
$(".total_itens").hide().delay(200).text("<%= pluralize(@cart.items_total, 'item', 'itens') %>").fadeIn();

//?
$("#amount_for_loyalty_program").text("<%= number_to_currency @cart_service.amount_for_loyalty_program %>");

//remove item row
$('tr#item_<%= @item.id %>').fadeOut();

//update total order subtotal
$('table#cart_subtotal tr td#subtotal_parcial').text('<%= number_to_currency(@cart_service.total) %>');

//update total order value
$('table#cart_subtotal tr td#total_value').text('<%= number_to_currency(@cart_service.total) %>');

//Remove item from cart summary pull down
$("li[data-id=<%= @item.id %>]").first().remove();

<%= render "cart/items/update_rows" %>

// Show / hide checkout banner
$(".checkout_banner").remove();
$("#items").after("<%= escape_javascript(render 'cart/cart/checkout_banner') %>");

// update coupon
$("#coupon_discount").empty();
<% if @cart.has_coupon? %>
  $("#coupon_discount").html("<%= @cart.coupon.code %>");
<% end %>
