<% content_for :head do %>
  <%= stylesheet_link_tag "section/login_register" %>
<% end %>

<div class="login">
  <p class="title-box">JÁ TENHO CADASTRO <br /><span>Então é só entrar ;)</span></p>
  <%= render partial: "shared/errors", locals: { object: @user } %>
  <%= render partial: "users/sessions/form_user", locals: { checkout_login: true} %>
</div>

<div class="register">
  <p class="title-box">QUERO ME CADASTRAR<br /><span>Faça aqui o seu cadastro.</span><br /><span>É rápido e simples.</span></p>
  <%= link_to "Realizar Cadastro", new_half_user_session_path(:checkout_registration => "true"), onclick: track_event("Shopping", "RegHalf") %>
</div>

<div class="cart_details">
  <p class="title">Vamos lá. Sua sacola te espera! ;)</span></p>
  <%= render "checkout/checkout/cart_details", address: nil %>
</div>

<% content_for :footer do %>
  <%= javascript_include_tag "checkout" %>
<% end %>
