<h2>Listando Grupos de Temas</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>id</th>
      <th>Posição</th>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    <% @collection_theme_groups.each do |collection_theme_group| %>

    <tr>
      <td><%= "#{collection_theme_group.id}" %></td>
      <td><%= "#{collection_theme_group.position}" %></td>
      <td><%= "#{collection_theme_group.name}" %></td>
      <td><%= link_to 'Exibir', admin_collection_theme_group_path(collection_theme_group), :class => 'button' %></td>
      <td> <%= link_to 'Alterar', edit_admin_collection_theme_group_path(collection_theme_group), :class => 'button' %> </td>
      <td> <%= link_to 'Destruir', admin_collection_theme_group_path(collection_theme_group), confirm: 'Tem certeza?', method: :delete, :class => 'button danger' %>      
    </tr>
    <% end %>
  </table>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Criar Grupo de Temas', new_admin_collection_theme_group_path 
  %></li>
<% end %>

