<h2>Listando Feriados</h2>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Novo feriado', new_admin_holiday_path %></li>
<% end %>

<div class="inner">
  <table class="table">
    <tr>
      <th>Data</th>
      <th>Nome</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @holidays.each do |holiday| %>
    <tr>
      <td><%= holiday.event_time.strftime("%d/%m/%Y") %></td>
      <td><%= holiday.name %></td>
      <td><%= link_to 'Mostrar', admin_holiday_path(holiday), :class => 'button' %></td>
      <td><%= link_to 'Editar', edit_admin_holiday_path(holiday), :class => 'button' %></td>
    </tr>
  <% end %>
  </table>

  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @holidays %>
    </div>
  </div>
</div>
