<h2>Feriado
  <span class="hidden_destroy">
    <%= link_to 'del', admin_holiday_path(@holiday), confirm: 'Are you sure do you want to delete this coupon?', method: :delete %>
  </span>
</h2>
<div class="inner">
  <p id="notice"><%= notice %></p>
  <p>
    <b>Data:</b>
    <%= @holiday.event_date %>
  </p>
  <p>
    <b>Nome:</b>
    <%= @holiday.name  %>
  </p>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Editar', edit_admin_holiday_path(@coupon) %></li>
  <li><%= link_to 'Voltar', admin_holidays_path %></li>
<% end %>
