<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="showroom">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <div class="box_title">
      <h1 class="showroom">Minha Vitrine</h1>
    </div>
    <div class="container">
      <h2>Qual o tamanho do seu sapato?</h2>
      <%= form_for(current_user.user_info, :as => "user_info", :url => "minha-vitrine/update") do |f| %>
        <ul class="shoes_size">
          <% question_shoe_size = @presenter.shoe_size_question
          question_shoe_size.answers.each do |answer| %>
          <li class="<%= ( answer.title == current_user.user_info.shoes_size.to_s ) ? 'selected': '' %>" >
            <label for="user_info_shoes_size_<%= answer.title %>">
              <%= answer.title %>
              <%= f.radio_button :shoes_size, answer.title %>
            </label>
          </li>
          <% end %>
        </ul>
        <%= f.submit "" %>
      <% end %>
    </div>
  </div>
</div>

