<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
  
  
  
      
  <div bgcolor="#ffffff">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

  



        <tr>
          <td>
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/faixinha.jpg" alt="faixa" border="0" style="display:block">
          </td>


  <tr>
    <td align="center" height="5"></td>
  </tr>


    


  <tr><td><table width="510" align="center" border="0" cellpadding="0" cellspacing="0">
      <tr>
      <td>
        <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/dias.jpg" alt="" border="0" style="display:block;float:left">
        <a href="http://www.olook.com.br/devolucoes/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_header_beneficios_troca&amp;auth_token=<%= @member.authentication_token %>" style="text-decoration:none" target="_blank"><p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:9px;color:#999999">Para trocar o<br> seu produto</p></a>
      </td>
      <td width="170">
        <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/setinhas.jpg" alt="" border="0" style="display:block;float:left">
        <a href="http://www.olook.com.br/devolucoes/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_header_beneficios_devolucoes&amp;auth_token=<%= @member.authentication_token %>" style="text-decoration:none" target="_blank"><p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:9px;color:#999999">Ou devolver e pedir<br>o dinheiro de volta</p></a>
      </td>
      <td width="210">
        <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/entrega.jpg" alt="" border="0" style="margin-right:5px;display:block;float:left">
        <a href="http://www.olook.com.br/prazo-de-entrega/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_header_beneficios_entrega&amp;auth_token=<%= @member.authentication_token %>" style="text-decoration:none" target="_blank"><p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:9px;color:#999999">Frete GRÁTIS para Sul e Sudeste<br>em compras acima de R$99,00</p></a>
      </td>
      </tr>
  </table></td></tr>





 
<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_01.jpg" alt="" border="0" style="display:block">
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0">
      <tr>
         <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_02.jpg" alt="" border="0" style="display:block">
        </td>
        <td>
          <a href="http://www.facebook.com/olook" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="https://twitter.com/olook" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/stylist-news?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_topobarra_RSS&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_05.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://statigr.am/olook" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>      
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_07.jpg" alt="" border="0" style="display:block">        
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_topo_logo&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_08.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_09.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0">
      <tr>
         <td>        
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_10.jpg" alt="" border="0" style="display:block">          
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_topo_logo&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_11.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_12.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_13.jpg" alt="" border="0" style="display:block">  
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0">
      <tr>    
        <td>
          <a href="http://www.olook.com.br/membro/vitrine/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_topobarra_minhavitrine&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_14.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/stylist-news" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_15.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/colecoes/olook/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_topobarra_ocasioes&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_16.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/membro/convite/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_topobarra_ganhe20mgm&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_17.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/fidelidade/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male_topobarra_fidelidade&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_18.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
      </tr>  
    </table>
  </td>
</tr>




    





<tr>
  <td>
    <a href="http://www.olook.com.br/presentes?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male__vejamais_&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/maio2013/20130524/imagemmail_03.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/presentes?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male__vejamais_&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/maio2013/20130524/imagemmail_04.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/presentes?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=welcome_program&amp;utm_content=welcome_male__vejamais_&amp;auth_token=<%= @member.authentication_token %>" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/maio2013/20130524/imagemmail_05.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="https://www.facebook.com/Olook" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/extra/maio2013/20130524/imagemmail_06.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>





<tr>
  <td align="center">
     
      <img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/fevereiro2013/20130206_cordas/imgmail_02.jpg" border="0" alt="divisória" style="display:block">
    </td>
  </tr>
  <tr>
    <td align="center">
      <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_01.jpg" border="0" alt="Selecione o que você quer" style="display:block">
    </td>
  </tr>
  <tr>
   <td>
     <%= render "shared/email/footer_links" %>
   </td>
  </tr> 


  <tr>
    <td align="center">       
       <img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/fevereiro2013/20130206_cordas/div.jpg" border="0" alt="divisória" style="display:block">
      </td>
    </tr>


  <tr>
    <td><br>
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block"></center>        
  </td></tr>
       

    <td align="center">
    <br>
      <p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:10px;color:#6d6e71">Adicione <a href="mailto:mensagens@olookmail.com.br" style="color:#ea2e3c" target="_blank">mensagens@olookmail.com.br</a> em sua lista de contatos.<br>
      A olook respeita sua privacidade e de todos os seus clientes.<br>Você está recebendo este e-mail por fazer parte de nossa lista de inscritos. Caso queira deixar de receber os nossos e-mails, por favor, <a style="color:#ea2e3c">cancele seu recebimento</a>. Leia mais sobre a nossa <a href="http://www.olook.com.br/privacidade" style="color:#ea2e3c" target="_blank">Política de Privacidade</a>.<br>
      Endereço olook: Avenida Ribeirão dos Cristais, nº 800, Jordanésia, Cajamar - SP . Galpão 10, módulo C e D 
      </p>
      <p style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:10px;color:#6d6e71">
      A olook se reserva no direito de corrigir possíveis erros com relação aos preços dos produtos.<br>
      As ofertas do e-mail estão sujeitas à disponibilidade de estoque e sua duração é por tempo indeterminado.<br>
      Qualquer tipo de desconto não é cumulativo com outros descontos ou promoções, <br> prevalecendo o maior desconto quando for o caso. 
      </p>
    </td>
  </tr>
  </table>
  </div>
</body></html>
