<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>olook</title>
  </head>    
  <body bgcolor="#ffffff">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

<!--TABELA VAZIA-->
  <tr>
    <td align="center" height="10"></td>
  </tr>


<!--BENEFICIOS 2.0-->
  <tr>
      <td>
        <img src="http://cdn.olook.com.br/assets/base/beneficios2013/toponovo3.jpg" alt="" border="0" style="display:block; float:left;">
      </td>
  </tr>


<!--TABELA VAZIA-->
  <tr>
    <td align="center" height="5"></td>
  </tr>


  <!--NOVO TOPO 2013-->
<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_01.jpg" alt="" border="0" style="display:block">
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_02.jpg" alt="" border="0" style="display:block">
        </td>
        <td>
          <a href="http://www.facebook.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_03.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="https://twitter.com/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_04.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://statigr.am/olook">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_06.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/gamb.jpg" alt="" border="0" style="display:block">  
        </td>
        <td>      
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_07.jpg" alt="" border="0" style="display:block">        
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_regua&utm_campaign=transacional&utm_content=topo_logo&auth_token=<%= @member.authentication_token %>">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_08.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>          
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_09.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>
        <td>        
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_10.jpg" alt="" border="0" style="display:block">          
        </td>
        <td>
          <a href="http://www.olook.com.br/?utm_source=email&utm_medium=email_regua&utm_campaign=transacional&utm_content=topo_logo&auth_token=<%= @member.authentication_token %>">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_11.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>         
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_12.jpg" alt="" border="0" style="display:block">          
        </td>
      </tr>  
    </table>
  </td>
</tr>

<tr>
  <td>   
    <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_13.jpg" alt="" border="0" style="display:block">  
  </td>
</tr>

<tr>
    <td>
      <table align="center" width="620" cellpadding="0" cellspacing="0" >
      <tr>    
        <td>
          <a href="http://www.olook.com.br/minha/vitrine/?utm_source=email&utm_medium=email_regua&utm_campaign=transacional&utm_content=topobarra_minhavitrine&auth_token=<%= @member.authentication_token %>">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_14.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/stylist-news">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_15.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/colecoes/olook/?utm_source=email&utm_medium=email_regua&utm_campaign=transacional&utm_content=topobarra_ocasioes&auth_token=<%= @member.authentication_token %>">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_16.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/membro/convite/?utm_source=email&utm_medium=email_regua&utm_campaign=transacional&utm_content=topobarra_ganhe20mgm&auth_token=<%= @member.authentication_token %>">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_17.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
        <td>
          <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_regua&utm_campaign=transacional&utm_content=topobarra_fidelidade&auth_token=<%= @member.authentication_token %>">
          <img src="http://cdn.olook.com.br/assets/base/newtopo/new_topo_18.jpg" alt="" border="0" style="display:block">
          </a>
        </td>
      </tr>  
    </table>
  </td>
</tr>

    
<!--CONTEUDO-->

<tr>
  <td>

    <p style="font-family:Verdana,Helvetica,Arial, sans-serif; font-size:15px; font-weight:bold; margin-top:35; margin-bottom:15; color:black; text-align:center;">
      Olá <%= @member.first_name %>, bem vinda à Olook!
    </p>

  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/minha/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_thin&auth_token=<%= @member.authentication_token %>">
    <img src="http://cdn.olook.com.br/assets/emailmkt/welcome/20131205/welmemthin_02.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/minha/vitrine/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=welcome_half_female_thin&auth_token=<%= @member.authentication_token %>">
    <img src="http://cdn.olook.com.br/assets/emailmkt/welcome/20131205/welmemthin_03.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<tr>
  <td>
    <a href="http://www.olook.com.br/fidelidade/?utm_source=email&utm_medium=email_regua&utm_campaign=welcome_program&utm_content=welcome_half_female_thin&auth_token=<%= @member.authentication_token %>" target="_blank">
    <img src="http://cdn.olook.com.br/assets/emailmkt/welcome/20131205/welmemthin_04.jpg" alt="" border="0" style="display:block">
    </a>
  </td>
</tr>

<!--FOOTER CATEGORIAS-->

  <tr>
    <td align="center">
      <br><img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/novofooter_01.jpg" border="0" alt="Selecione o que voc&ecirc; quer" style="display:block">
    </td>
  </tr>
    <tr>
   <td>
     <%= render "shared/email/footer_links" %>
   </td>
  </tr> 

<!--DIV GROSSA-->
  <tr>
    <td align="center">       
      <img src="http://cdn.olook.com.br/assets/emailmkt/base/footer2013/linhagrossa.jpg" border="0" alt="divisória" style="display:block">
    </td>
  </tr>

<!-- BANDEIRAS -->
  <tr>
    <td><br />
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block;"></center>
    </td>
  </tr>
  </table>
  </body>
</html>





