<h2>Editing picture</h2>

<div class="inner">
<% [:thumb, :bag, :showroom, :suggestion, :main, :zoom_out].each do |picture_size| %>
  <p>
    <b><%= picture_size.capitalize %>:</b><br />
    <%= image_tag @picture.image_url(picture_size).to_s %>
  </p>
<% end %>

  <%= render 'form' %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Show', admin_product_picture_path(@picture.product) %></li>
  <li><%= link_to 'Back', admin_product_path(@picture.product) %></li>
<% end %>
