<h2>Picture</h2>
<div class="inner">
  <p>
    <b>Display on:</b>
    <%= @picture.display_on_humanize %>
  </p>

  <p>
    <b>Thumb:</b>
    <%= image_tag @picture.image_url(:thumb).to_s %>
  </p>
  <p>
    <b>Bag:</b>
    <%= image_tag @picture.image_url(:bag).to_s %>
  </p>
  <p>
    <b>Showroom:</b>
    <%= image_tag @picture.image_url(:showroom).to_s %>
  </p>
  <p>
    <b>Suggestion:</b>
    <%= image_tag @picture.image_url(:suggestion).to_s %>
  </p>
  <p>
    <b>Main:</b>
    <%= image_tag @picture.image_url(:main).to_s %>
  </p>
  <p>
    <b>Zoom out:</b>
    <%= image_tag @picture.image_url(:zoom_out).to_s %>
  </p>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_product_picture_path(@picture.product, @picture) %></li>
  <li><%= link_to 'Back', admin_product_path(@picture.product) %></li>
<% end %>
