<h2>Picture</h2>
<div class="inner">
  <p>
    <b>Display on:</b>
    <%= @picture.display_on_humanize %>
  </p>

<% [:thumb, :bag, :catalog, :showroom, :main, :zoom_out].each do |picture_size| %>
  <p>
    <b><%= picture_size.capitalize %>:</b><br />
    <%= image_tag @picture.image_url(picture_size).to_s %>
  </p>
<% end %>

</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_product_picture_path(@picture.product, @picture) %></li>
  <li><%= link_to 'Back', admin_product_path(@picture.product) %></li>
<% end %>
