<div id="cart-box">
  <span class="bg-box">&nbsp;</span>
  <div class="products">
    <table cellpadding="0" cellspacing="0" class="items_list" id="items">
      <tbody>
        <% @cart.items.each do |item| %>
          <%= render partial: 'cart/items/checkout_row', locals: { cart_service: @cart_service, item: item } if item %>
        <% end %>
      </tbody>
    </table>
  </div>
  <ul class="subtotal">
    <li><span class="txt-black">SUBTOTAL: </span><span class="txt-black"><%= number_to_currency(@cart_service.subtotal) %></span></li>
    <li class="frete">
      <span class="txt-black">FRETE: </span>
      <span id="freight_price">R$ 0,00</span>
    </li>
    <li><span class="txt-black">CRÉDITOS: </span><span id="credits_used">-<%= number_to_currency(@cart_service.total_credits_discount) %></span></li>
    <% if @cart_service.total_coupon_discount > 0 %>
      <li><span class="txt-black">CUPOM: </span><span id="coupon_discount_value">-<%= number_to_currency(@cart_service.total_coupon_discount) %></span></li>
    <% end %>

    <% if @cart_service.facebook_discount > 0 %>
      <li><span class="txt-black">FACEBOOK: </span><span id="coupon_discount_value">-<%= number_to_currency(@cart_service.facebook_discount) %></span></li>
    <% end %>

    <% if @checkout %>
      <div id="billet_discount_cart">
        <li><span class="txt-black">BOLETO: </span><span id="billet_discount_value">-<%= number_to_currency(@cart_service.billet_discount) %></span></li>
      </div>
      <div id="debit_discount_cart">
        <li><span class="txt-black">DÉBITO: </span><span id="debit_discount_value">-<%= number_to_currency(@cart_service.debit_discount) %></span></li>
      </div>
    <% end %>
  </ul>
  <p class="total">
    <span class="txt-black">TOTAL: </span>
    <% if @checkout %>
      <span class="txt-black" id="total_billet"><%= number_to_currency(@cart_service.total(Billet.new)) %></span>
      <span class="txt-black" id="total_debit"><%= number_to_currency(@cart_service.total(Debit.new)) %></span>
    <%end%>
    <span class="txt-black" id="total"><%= number_to_currency(@cart_service.total) %></span>

    <span class="frete" id="delivery_time"><% if address && address.zip_code %><%= delivery_time_message(freight_for(address)[:delivery_time]) %><% end %></span>
  </p>
</div>
<p class="important"><span>Importante:</span> O prazo de entrega começa a contar a partir da confirmação do pagamento.</p>
  <%= checkout_form.submit '', class: "send_it", disable_with: "", onclick: track_event("Checkout","clickSubmit") if defined?(checkout_form) %>