<%= stylesheet_link_tag  "new_structure/section/address_combo" %>

<%= fields_for "checkout[address]", address do |address_form| %>
  <%= field_set_tag do %>
    <%= address_form.label :zip_code, "CEP*" %>
    <%= address_form.text_field :zip_code, class: "zip_code  #{error_class_if_needed(address, :zip_code)}", onblur: track_event("CheckoutAddress","fillCep") %>
    <%#= button_tag(type: "button", class: "btn_zipcode", id:"zip_code_btn", name:"zip_code_btn", onclick:"retrieve_zip_data($('#checkout_address_zip_code').val());#{track_event('CheckoutAddress','clickCep')}") do %>
      <%#= "Encontrar endereço" %>
    <%# end %>
      <%= errors_for(address, :zip_code) %>
  <% end %>

  <div id="address_fields" name="address_fields" <%#= 'style= opacity:0;-ms-filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=0);display:none;' unless address && (address.id || !address.zip_code.blank?) %>>
    <%= address_form.hidden_field :id %>

    <%= field_set_tag do %>
      <div>
        <%= address_form.label :street, "Rua, Avenida, Praça etc*"%>
        <%= address_form.text_field :street,  class: "endereco #{error_class_if_needed(address, :street)}", onblur: track_event("CheckoutAddress","fillStreet") %>
      </div>
      <div>
        <%= address_form.label :number, "Número*" %>
        <%= address_form.text_field :number,  class: "numero #{error_class_if_needed(address, :number)}", onblur: track_event("CheckoutAddress","fillNumber") %>
      </div>
      <%= errors_for(address, :street) %>
      <%= errors_for(address, :number) %>
    <% end %>

    <%= field_set_tag do %>
      <div>
        <%= address_form.label :complement, "Complemento" %>
        <%= address_form.text_field :complement,  class: "compl #{error_class_if_needed(address, :complement)}", onblur: track_event("CheckoutAddress","fillComplement") %>
      </div>
      <div>
        <%= address_form.label :neighborhood, "Bairro*" %>
        <%= address_form.text_field :neighborhood,  class: "bairro #{error_class_if_needed(address, :neighborhood)}", onblur: track_event("CheckoutAddress","fillNeighborhood") %>
      </div>
      <%= errors_for(address, :complement) %>
      <%= errors_for(address, :neighborhood) %>
    <% end %>

    <%= field_set_tag do %>
      <div class="state field">
        <%= address_form.label :state, "UF*" %>
        <p class="text">
          Selecione
        </p>
        <%= address_form.select :state, [] %>
      </div>
      <div class="city field">
        <%= address_form.label :city, "Cidade*" %>
        <p class="text">
          Selecione
        </p>
        <%= address_form.select :city, [] %>
      </div>
      <%= errors_for(address, :city) %>
      <%= errors_for(address, :state) %>
    <% end %>

    <p class="subtitle">DESTINATÁRIO</p>
    <%= field_set_tag do %>
      <div>
      <%= address_form.label :first_name, "Nome" %>
      <%= address_form.text_field :first_name,  class: "nome_dest #{error_class_if_needed(address, :first_name)}", onblur: track_event("CheckoutAddress","fillFirstName") %>
      </div>
      <div>
      <%= address_form.label :last_name, "Sobrenome" %>
      <%= address_form.text_field :last_name,  class: "sobrenome_dest #{error_class_if_needed(address, :last_name)}", onblur: track_event("CheckoutAddress","fillLastName") %>
      </div>
      <%= errors_for(address, :first_name) %>
      <%= errors_for(address, :last_name) %>
    <% end %>

    <p class="subtitle">CONTATO NO LOCAL</p>
    <%= field_set_tag do %>
      <div>
      <%= address_form.label :telephone, "Telefone de contato 1" %>
      <%= address_form.text_field :telephone, class: "tel_contato1 #{error_class_if_needed(address, :telephone)}", onblur: track_event("CheckoutAddress","fillTelephone1") %>
      </div>
      <%= errors_for(address, :telephone) %>
    <% end %>

    <%= field_set_tag do %>
      <div>
      <%= address_form.label :mobile, "Telefone de contato 2 <span>(opcional)</span>".html_safe %>
      <%= address_form.text_field :mobile, class: "tel_contato2", onblur: track_event("CheckoutAddress","fillTelephone2") %>
      </div>
    <% end %>
  </div>

  <%= image_submit_tag("new_checkout/save_address_bt.jpg", class: 'save_address') %>

<% end %>

<% if @user.addresses && @user.addresses.select{|address| address.id }.any? %>
  <p class="addresses_index"><%= link_to "Utilizar um endereço já cadastrado", checkout_addresses_path, remote: true, onclick: track_event("CheckoutAddress","clickUseExistingAddress") %></p>
<% end %>

<%= javascript_include_tag "checkout_addresses" %>
