<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<%= link_to "Continuar comprando", @referer[:url], :class => "back_link", onclick: track_event("Checkout","clickContinueShopping") %>

<section id="payment" class="checkout">
  <%= form_for(@checkout, url: { action: "create" }) do |checkout_form| %>
    <%= hidden_field_tag :freight_service_ids, params[:freight_service_ids] %>
    <div class="box-step-one">
      <h2 class="step-title">
        <span class="number">1.</span>
        <span class="title">ENTREGA</span>
        <span class="phrase">Como devemos enviar sua compra?</span>
      </h2>

      <div id="checkout_address">
        <%= errors_for(@checkout, :address_base) %>
        <% if @addresses.nil? || @addresses.empty? %>
          <%= render "shipping_address_form", address: @checkout.address %>
        <% else %>
          <%= render "address_list", addresses: @addresses, endpoint_url: @endpoint_url %>
        <% end %>
        <div id="freight_message"></div>
      </div>
    </div>

    <div class="box-step-two">
      <h2 class="step-title">
        <span class="number">2.</span>
        <span class="title">PAGAMENTO</span>
        <span class="phrase">Como você pretende pagar?</span>
      </h2>

      <%= render "payments_type", checkout_form: checkout_form %>
    </div>


    <div class="box-step-three">
      <h2 class="step-title">
        <span class="number">3.</span>
        <span class="title">REVISÃO</span>
        <span class="phrase">Revise e finalize seu pedido.</span>
      </h2>
      <%= render "cart_details", address: @checkout.address, checkout_form: checkout_form %>
  <% end %>

    </div>


</section>

<% content_for :footer do %>
  <%= render partial: "shared/metrics/dbm/order" %>
  <%#= render partial: 'shared/metrics/fb/checkout' %>
  <%= javascript_include_tag "checkout" %>
<% end %>
