<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">

    <%= form_for(@checkout, url: { action: "create" }) do |checkout_form| %>
      <div class="box-step-one">
        <h2 class="step-title">
          <span class="number">1.</span>
          <span class="title">Entrega</span>
          <span class="phrase">Como devemos enviar sua compra?</span>
        </h2>
      
      <!-- <div id="checkout_address"> -->
        <% if @addresses.nil? || @addresses.empty? %>
          <%= render "shipping_address_form", address: @checkout.address %>
        <% else %>
          <%= render "address_list", checkout_form: checkout_form %>
        <% end %>
      </div>

    
      <div class="box-step-two">
        <h2 class="step-title">
          <span class="number">2.</span>
          <span class="title">PAGAMENTO</span>
          <span class="phrase">Como devemos enviar sua compra?</span>
        </h2>
      <%= fields_for "checkout[credits]", @cart do |credits_form|%>
        <div class="credits">
          <%= credits_form.check_box :use_credits %>
          <%= credits_form.label :use_credits, "QUERO USAR MEUS CRÉDITOS" %>
          <p>Você acumulou <span>R$80,00</span> em créditos que podem ser utilizados nesta compra.
             <a href="#">Mais sobre seus créditos</a>
          </p>
        </div>
      <% end %>

      <div class="payment">
        <p>SELECIONE A FORMA DE PAGAMENTO:</p>
        <%= checkout_form.radio_button :payment_method, "credit_card" %>
        <%= checkout_form.label :payment_method, 'Cartão de Crédito' %>
        <%= checkout_form.radio_button :payment_method, "billet" %>
        <%= checkout_form.label :payment_method, 'Boleto' %>
        <%= checkout_form.radio_button :payment_method, "debit" %>
        

        <%= fields_for "checkout[payment]", @checkout.payment do |payment_form|%>
            <p>SELECIONE A BANDEIRA DO CARTÃO:</p>
            <ol>
              <% CreditCard::BANKS_OPTIONS.each do |bank| %>
                <li>
                  <%= payment_form.radio_button :bank, bank %>
                  <%= payment_form.label "credit_card_bank_#{bank}", bank %>
                </li>
              <% end %>
            </ol>
            <p>Número de parcelas:</p>
            <% options = build_installment_options(@cart_service.total, CreditCard.installments_number_for(@cart_service.total)) %>
            <%= payment_form.select :payments, options %>

            <%= payment_form.label :user_name, 'Nome (como exibido no cartão)' %>
            <%= payment_form.text_field :user_name,  class: "user_name #{error_class_if_needed(@checkout.payment, :user_name)}" %>
            <%= errors_for(@checkout.payment, :user_name) %>

            <%= payment_form.label :credit_card_number, 'Número do cartão' %>
            <%= payment_form.text_field :credit_card_number,  class: "credit_card_number #{error_class_if_needed(@checkout.payment, :credit_card_number)}" %>
            <%= errors_for(@checkout.payment, :credit_card_number) %>

            <%= payment_form.label :security_code, 'Cód. de segurança' %>
            <%= payment_form.text_field :security_code,  class: "security_code #{error_class_if_needed(@checkout.payment, :security_code)}" %>
            <%= errors_for(@checkout.payment, :security_code) %>

            <%= payment_form.label :expiration_date, 'Validade (mm/aa)' %>
            <%= payment_form.text_field :expiration_date,  class: "expiration_date #{error_class_if_needed(@checkout.payment, :expiration_date)}" %>
            <%= errors_for(@checkout.payment, :expiration_date) %>

            <%= payment_form.label :user_identification, 'CPF' %>
            <%= payment_form.text_field :user_identification,  class: "user_identification #{error_class_if_needed(@checkout.payment, :user_identification)}" %>
            <%= errors_for(@checkout.payment, :user_identification) %>
        <% end %>
      </div>


      </div>
    
      <div class="box-step-three">  
        <%= checkout_form.submit '', class: "send_it" %>
      </div>
      
    <% end %>
  
</section>
