- content_for :head do
  = stylesheet_link_tag "section/checkout"

%section#payment.checkout
  = form_for(@checkout, url: { action: "create" }) do |checkout_form|
    = hidden_field_tag :freight_service_ids, params[:freight_service_ids]
    .box-step-one
      %h2.step-title Revisão
      = render "cart_details", address: @checkout.address, checkout_form: checkout_form
      %br{style:'clear:both'}
      - if @freebie && Freebie.selection_for(@cart.id) && @freebie.can_receive_freebie?
        .freebie_row
          %p
            Veja 
            = link_to 'aqui', '#', class: 'seeTheSmell' 
            o mimo que a Olook vai te dar de presente! 
    .box-step-two
      %h2.step-title ENTREGA
      #checkout_address
        = errors_for(@checkout, :address_base)
        - if @addresses.nil? || @addresses.empty?
          = render "shipping_address_form", address: @checkout.address
        - else
          = render "address_list", addresses: @addresses, endpoint_url: @endpoint_url

      %br
      #shipping_services_types
        %p
          Selecione a opção de entrega
        %ul
          %li
            = checkout_form.radio_button :shipping_service, @shipping_service.try(:shipping_service_id), class: "shipping_service_radio conventional", checked: false, onclick:"retrieve_shipping_service()"
            = checkout_form.label :shipping_service, "Convencional"
            %p.shipping
              = "(#{@shipping_service.try(:delivery_time)} dias úteis) #{number_to_currency(@shipping_service.try(:price))}"
          %li.expresso
            = checkout_form.radio_button :shipping_service, @shipping_service_fast.try(:shipping_service_id) ,class: "shipping_service_radio express", checked: false, onclick:"retrieve_shipping_service();#{track_event("ExpressFreight","PressShowExpressDeliveryBox")}"
            = checkout_form.label :shipping_service, "Expressa"
            %p.shipping
              = "(#{@shipping_service_fast.try(:delivery_time)} dias úteis) #{number_to_currency(@shipping_service_fast.try(:price))}"
    .box-step-three
      %h2.step-title PAGAMENTO
      = render "payments_type", checkout_form: checkout_form
      %ul.subtotal
        %li
          %span.txt-black Subtotal:
          %span.txt-black.txt-subtotal= number_to_currency(@cart_service.cart.sub_total)
        %li.frete
          %span.txt-black Frete:
          %span#freight_price= initial_freight @shipping_service
        %li
          %span.txt-black Créditos:
          %span#credits_used
            \-#{number_to_currency(@cart_service.total_credits_discount)}
        - if @cart_service.facebook_discount > 0
          %li
            %span.txt-black Facebook:
            %span#coupon_discount_value
              \-#{number_to_currency(@cart_service.facebook_discount)}
        - if @checkout
          #billet_discount_cart
            %li
              %span.txt-black Boleto:
              %span#billet_discount_value
                \-#{number_to_currency(@cart_service.billet_discount)}
          #debit_discount_cart
            %li
              %span.txt-black Débito:
              %span#debit_discount_value
                \-#{number_to_currency(@cart_service.debit_discount)}
      %p.total
        %span.txt-black TOTAL:
        - if @checkout
          %span#total_billet.txt-black= number_to_currency(@cart_service.total(Billet.new))
          %span#total_debit.txt-black= number_to_currency(@cart_service.total(Debit.new))
        %span#total.txt-black= number_to_currency(@cart_service.total)
      = checkout_form.submit 'FECHAR MEU PEDIDO', class: "send_it", disable_with: "", onclick: track_event("Checkout","clickSubmit") if defined?(checkout_form)
    
        
- content_for :footer do
  = render partial: "shared/metrics/dbm/order"
  = javascript_include_tag "checkout"
  :javascript
    var checkoutState = "#{@checkout.address.try(:state)}";
    var checkoutCity = "#{@checkout.address.try(:city)}";
