<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">

    <%= form_for(@checkout, url: { action: "create" }) do |checkout_form| %>
      <div class="box-step-one">
        <h2 class="step-title">
          <span class="number">1.</span>
          <span class="title">Entrega</span>
          <span class="phrase">Como devemos enviar sua compra?</span>
        </h2>
      
      <div id="checkout_address">
        <% if @addresses.nil? || @addresses.empty? %>
          <%= render "shipping_address_form", address: @checkout.address %>
        <% else %>
          <%= render "address_list", checkout_form: checkout_form %>
        <% end %>
      </div>

      
      <div class="box-step-two">
        <h2 class="step-title">
          <span class="number">2.</span>
          <span class="title">PAGAMENTO</span>
          <span class="phrase">Como devemos enviar sua compra?</span>
        </h2>
        <div class="credits">
          <%= checkout_form.check_box :user_credits %>
          <%= address_form.label :user_credits, "QUERO USAR MEUS CRÉDITOS" %>
          <p>Você acumulou <span>R$80,00</span> em créditos que podem ser utilizados nesta compra.
             <a href="#">Mais sobre seus créditos</a>
          </p>
        </div>  
      </div>
      
      <div class="box-step-three">  
        <%= checkout_form.submit '', class: "send_it" %>
      </div>
      
    <% end %>
  
</section>
