<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">
  
    <%= form_for(Address.new, :url => "#", :remote => true) do |f| %>
    
      <p>ENDEREÇO DE ENTREGA</p>
      <%= f.label :nome %>:
      <%= f.text_field :nome, :value => "", :class => "nome" %>
      
      <%= f.label :sobrenome %>:
      <%= f.text_field :sobrenome, :value => "", :class => "sobrenome" %> <br/>
      
      <%= f.label "Endereço"%>:
      <%= f.text_field :endereco, :value => "", :class => "endereco" %>
      
      <%= f.label :numero %>:
      <%= f.text_field :num, :value => "", :class => "numero" %><br/>
      
      <%= f.label :compl %>:
      <%= f.text_field :compl, :value => "opcional", :class => "compl" %>
      <%= f.label :compl %>:
      <%= f.text_field :bairro, :value => "", :class => "bairro" %><br/>
      
      <%= f.label :cidade %>:
      <%= f.text_field :cidade, :value => "", :class => "cidade" %>
      
      <%= f.label "UF" %>:
      <%= f.text_field :uf, :value => "", :class => "uf" %><br/>
      
      <br/><p>DESTINATÁRIO</p>
      <%= f.label "Nome" %>:
      <%= f.text_field :nome_dest, :value => "", :class => "nome_dest" %>
      <%= f.label "Sobrenome" %>:
      <%= f.text_field :sobrenome_dest, :value => "", :class => "sobrenome_dest" %>
      
      <br/><br/><p>CONTATO NO LOCAL</p>
      <%= f.label "Telefone de contato 1" %>:
      <%= f.text_field :tel_contato1, :value => "", :class => "tel_contato1" %><br />

      <%= f.label "Telefone de contato 2" %>:
      <%= f.text_field :tel_contato2, :value => "", :class => "tel_contato2" %>
      
   
      
      <%= f.submit '', :class => "save" %>
      
    <% end %>
  
</section>
