<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "checkout" %>
<% end %>

<section id="payment" class="payment_new checkout">
  <%= form_for(@payment, :url => credit_card_cart_checkout_path) do |f| %>
    <section class="main">
      <h1>Escolha uma forma de pagamento</h1>
      <%= render :partial => "shared/errors", :locals => { :object => @payment } %>
      <%= render :partial => "payment_methods" %>
      <%= render :partial => 'form_credit_cards', :locals => { :f => f, :payment => @payment, :bank => @bank, :installments => @installments } %>
      <%= f.submit '', :class => "finish", :name => "finish", :disable_with => "" %>
    </section>
    <section class="sidebar">
      <% content_for :checkout_sidebar do %>
      <%= render :partial => "shared/payments/info_address_old", :locals => { :cart => @cart, :cart_service => @cart_service, :has_payment => false } %>
      <% end %>
      <%= render "shared/payments/info_sidebar", :cart => @cart, :cart_service => @cart_service, :has_payment => false, line_items: @cart.items %>
    </section>
  <% end %>
</section>
