.show_more.cat_olooklet
  %ul
    - if search.filter_value('category').to_a.include?('roupa')
      = render 'selected_filter', search: search, url_builder: @url_builder, category_name: "Roupas"
    - else
      %li= link_to "Roupas", olooklet_path(parameters: "roupa"), class: 'title_section close'

    - if search.filter_value('category').to_a.include?('sapato')
      = render 'selected_filter', search: search, url_builder: @url_builder, category_name: "Sapatos"
    - else
      %li= link_to "Sapatos", olooklet_path(parameters: "sapato"), class: 'title_section close'

    - if search.filter_value('category').to_a.include?('bolsa')
      = render 'selected_filter', search: search, url_builder: @url_builder, category_name: "Bolsas"
    - else
      %li= link_to "Bolsas", olooklet_path(parameters: "bolsa"), class: 'title_section close'

    - if search.filter_value('category').to_a.include?('acessorio')
      = render 'selected_filter', search: search, url_builder: @url_builder, category_name: "Acessórios"
    - else
      %li= link_to "Acessórios", olooklet_path(parameters: "acessorio"), class: 'title_section close'

    - if search.filter_value('category').to_a.include?('lingerie') && !search.filter_value('category').to_a.include?('roupa')
      = render 'selected_filter', search: search, url_builder: @url_builder, category_name: "Lingeries"
    - else
      %li= link_to "Lingeries", olooklet_path(parameters: "lingerie"), class: 'title_section close'      

    - if search.filter_value('category').to_a.include?('moda praia') && !search.filter_value('category').to_a.include?('roupa')
      = render 'selected_filter', search: search, url_builder: @url_builder, category_name: "Moda Praia"
    - else
      %li= link_to "Moda praia", olooklet_path(parameters: "moda praia"), class: 'title_section close'


- if search.filter_value('category').to_a.include?('sapato')
  .filter
    / TODO uncomment this
    / %p.title-category Salto
    / %ul.category-list
    /   %li= filter_link_to(olooklet_path(SeoUrl.build(search.filters_applied(:heel, '0-4'), params)), 'Baixo (0cm - 4cm)', search.filter_selected?(:heel, '0-4'))
    /   %li= filter_link_to(olooklet_path(SeoUrl.build(search.filters_applied(:heel, '5-9'), params)), 'Médio (5cm - 9cm)', search.filter_selected?(:heel, '5-9'))
    /   %li= filter_link_to(olooklet_path(SeoUrl.build(search.filters_applied(:heel, '10-18'), params)), 'Alto (10cm - 18cm)', search.filter_selected?(:heel, '10-18'))

    %p.title-category Conforto & Proteção
    %ul.subcategory-list
      - filters_by("care", search, use_fields: [:category]).each do |text, amount|
        %li= filter_link_to(olooklet_path(@url_builder.add_filter(:care, text)), text.chomp, search.filter_selected?(:care, text.chomp))

.filter
  %p.title-category Cores
  %ul.category-list.cores
    - filters_by("color", search, use_fields: [:category]).each do |text, amount|
      %li{:class => text.chomp.parameterize}= filter_link_to(olooklet_path(@url_builder.add_filter(:color, text)), text.chomp, search.filter_selected?(:color, text.chomp))

/ .filter
/   %p.title-category Preço
/   .price-range
/     %p#min-value-label{style:'background-image: none'} 0
/     %p#max-value-label{style:'background-image: none'} 0
/     .slider
/       #slider-range
/     %input{type: "text", id: "min-value"}
/     %input{type:"text", id:"max-value"}
/     %input{type:"hidden", name:"price", id:"price"}

- if (['lingerie','moda praia', 'roupa'] & search.filter_value('category').to_a).present?
  .filter
    %p.title-category Marca
    %ul.category-list
      - filters_by('brand_facet', search, use_fields: [:category]).each do |text, amount|
        %li= filter_link_to(olooklet_path(@url_builder.add_filter(:brand, text)), text.chomp.gsub('Ç', 'ç').downcase.titleize, search.filter_selected?(:brand, text.chomp))