.filter
  %p.title-category Cores
  %ul.category-list.cores
    - filters_by("color", search).each do |text, amount|
      %li{:class => text.chomp.parameterize}= filter_link_to(olooklet_path(category, @url_builder.add_filter(:color, text)), text.chomp, search.filter_selected?(:color, text.chomp))



.filter
  %p.title-category Preço
  .price-range
    %p#min-value-label{style:'background-image: none'} 0
    %p#max-value-label{style:'background-image: none'} 0
    .slider
      #slider-range
    %input{type: "text", id: "min-value"}
    %input{type:"text", id:"max-value"}
    %input{type:"hidden", name:"price", id:"price"}

.filter
  %p.title-category Marca
  %ul.category-list
    - filters_by('brand_facet', search).each do |text, amount|
      %li= filter_link_to(olooklet_path(category, @url_builder.add_filter(:brand, text)), text.chomp.gsub('Ç', 'ç').downcase.titleize, search.filter_selected?(:brand, text.chomp))

.show_more
  %p.title
    OUTRAS CATEGORIAS
  %li
    = link_to "Roupas femininas", olooklet_show_path(category: "roupa"), class: "categories"
  %li
    = link_to "Bolsas femininas", olooklet_show_path(category: "bolsa"), class: "categories" 
  %li
    = link_to "Acessórios femininos", olooklet_show_path(category: "acessorio"), class: "categories"
  %li
    = link_to "Sapatos femininos", olooklet_show_path(category: "sapato"), class: "categories"      