<%= stylesheet_link_tag "admin/purchase_timeline/order_timeline" %>
<div id='timeline_container'>
  <div id="timeline-embed"></div>
  <script type="text/javascript">

    var timeline_config = {
      source: "/admin/orders/timeline/<%= params[:id] %>.json",
      css:  "<%= asset_path 'admin/purchase_timeline/timeline.css' %>",
      js:   "<%= asset_path 'timeline-min.js' %>"
    }
  </script>

  <%= javascript_include_tag "timeline-embed.js" %>
  <script type="text/javascript">
    $(document).load(function(){
      var timeline = new VMM.Timeline();
      timeline.init("/admin/orders/timeline/<%= params[:id] %>.json");
    });
  </script>
</div>
<div style='clear:both'>
