%h2 Listando ordens
- content_for :sidebar do
  .block
    %h3 Filtros
    .content
      = form_for([:admin, @search], :html => {:class => "form"}) do |f|
        .group
          = f.label :number_eq, "Número", :class => "label"
          = f.text_field :number_eq, :class => "text_field"
        .group
          = f.label :user_first_name_contains, "Primeiro nome" , :class => "label"
          = f.text_field :user_first_name_contains, :class => "text_field"
        .group
          = f.label :user_email_contains, "Email do usuário" ,:class => "label"
          = f.text_field :user_email_contains, :class => "text_field"
        .group
          = f.label :created_at_gte, "Ordens de", :class => "label"
          = f.date_select :created_at_gte, :include_blank => true
          = f.label :created_at_lte, "até", :class => "label"
          = f.date_select :created_at_lte, :include_blank => true
        .group
          = f.label :state, "Status", :class => "label"
          = f.collection_select :state_eq, Order::STATUS.to_a, :first, :last, {:include_blank => true}
        .group
          = f.label :state, "Metodo de pagamento", :class => "label"
          = f.select :payments_type_eq, {"Boleto Bancário" => "Billet", "Cartão de Crédito" => "CreditCard", "Débito" => "Debit"} , {:include_blank => true}
        .group
          = f.label :state, "Gateway", :class => "label"
          = f.select :gateway_eq, {"Moip" => "1", "Braspag" => "2", "Olook" => 3} , {:include_blank => true}
        .group
          = f.submit 'Procurar', :class => "button"
.inner
  = button_to "Integrar Ordens",  admin_integrate_orders_path
  = button_to "Integrar Pagamento", admin_integrate_payment_path
  = button_to "Cancelar integração", admin_integrate_cancel_path
  %table.table
    %tr
      %th= sort_link @search, :number
      %th= sort_link @search, :user_first_name, "Cliente"
      %th= sort_link @search, :user_email, "E-mail"
      %th= sort_link @search, :created_at, "Data"
      %th= sort_link @search, :gateway, "Gateway"
      %th= sort_link @search, :state, "Status"
      %th Razão do status
      %th= sort_link @search, :payment_type, "Método de pagamento"
      %th Razão do status do pagamento
      %th Quantidade de itens
      %th Total dos produtos
      %th Créditos usados
      %th Cupons usados
      %th Preço do frete
      %th Total
      %th x
      %th Status
    - @orders.each do |order|
      %tr
        %td= link_to order.number, admin_order_path(order)
        %td= link_to order.user.name, admin_user_path(order.user) if order.user
        %td= link_to order.user.email, admin_user_path(order.user) if order.user
        %td= l order.created_at, :format => :short
        %td
          = humanize_gateway order.gateway
        %td= order.status
        %td= order.state_reason
        %td= order.erp_payment ? order.erp_payment.human_to_s : "Pagamento nao encontrado"
        %td= order.erp_payment ? order.erp_payment.gateway_status_reason.to_s : "Pagamento nao encontrado"
        %td= order.items_quantity
        %td= number_to_currency(order.subtotal)
        %td= number_to_currency(order.credits)
        %td= number_to_currency(order.coupon_discount)
        %td= number_to_currency(order.freight_price)
        %td= number_to_currency(order.amount_paid)
        %td
          = order.installments
          x
        - if order.can_authorized?
          %td= link_to "Liberar pagamento", authorize_payment_admin_order_path(id: order.id), method: :post
        - else
          %td Finalizada
  .actions-bar.wat-cf
    .pagination
      = will_paginate @orders
