<h2>Ordem: <b><%= @order.number %></b></h2>

<div class="inner">
  <div class="inner_info" style='float:left;width:20%;'>
    <p>
      <b>Cliente:</b>
      <%= link_to "#{@order.user.name} - #{@order.user.email}", admin_user_path(@order.user) if @order.user %>
    </p>
    <p>
      <button style="padding:5px">
        <b><%= link_to 'Login', "/admin/users/login/#{@order.user.id}" if @order.user %><b>
      </button>
    </p>
    <p>
      <b>Data:</b>
      <%= l @order.created_at, :format => :short %>
    </p>
    <p>
      <b>Gateway de Pagamento:</b>
      <%= humanize_gateway @order.gateway %>
    </p>
    <p>
      <b>Cógido de identificação:</b>
      <%= @order.erp_payment ? @order.erp_payment.identification_code : "" %>
    </p>
    <p>
      <b>Moip ID:</b>
      <%= @order.erp_payment ? @order.erp_payment.try(:gateway_code) : "Pagamento não encontrado" %>
    </p>
    <p>
      <b>URL de Pagamento:</b>
      <%= @order.erp_payment ? link_to("Clique aqui para abrir a url de pagamento", @order.erp_payment.url) : "" %>
    </p>
    <p>
      <b>Status:</b>
      <%= @order.status %>
    </p>
    <p>
      <b>Método de pagamento:</b>
      <% if @order.erp_payment %>
        <%= @order.erp_payment.human_to_s %> <%= "- #{@order.erp_payment.bank}" if @order.erp_payment.is_a? CreditCard %>
      <% else %>
        Pagamento não encontrado
      <% end %>
    </p>
    <p>
      <b>Produtos Total:</b>
      <%= number_to_currency(@order.subtotal) %>
    </p>
    <p>
      <b>Frete Total:</b>
      <%= number_to_currency(@order.freight_price) %>
    </p>
    <p>
      <b>Total Pago:</b>
      <%= number_to_currency(@order.amount_paid) %>
    </p>
    <p>
      <b>Parcelas:</b>
      <%= @order.installments %>x
    </p>
    <p>
      <b>Estimativa de Entrega:</b>
      <%= @order.freight.delivery_time if @order.freight %> dias úteis
    </p>

    <div>
      <h3>Cupons</h3>
      <% @order.payments.each do |payment| %>
        <p>
          <% if payment.coupon_id? %>
            <b><%= payment.coupon.code %></b>
            <b><%= number_to_currency(payment.coupon.value) %></b>
          <% end %>
        </p>
      <% end %>
    </div>

    <div>
      <h3>Endereço de entrega</h3>
        <% if @address %>
      <p><%= @address.identification  %></p>
      <p><%= "#{@address.street}, #{@address.number} - #{@address.neighborhood}" %></p>
      <p><%= "#{@address.zip_code}" %></p>
      <p><%= "#{@address.city}, #{@address.state}" %></p>
      <% end %>
    </div>
  </div>

  <%= render :partial => 'purchase_timeline', :locals => {:order => @order} %>

  <table class="table">
    <tr>
      <th>Brinde?</th>
      <th></th>
      <th>SKU</th>
      <th>Produto</th>
      <th>Quantidade</th>
      <th>Preço unitário</th>
      <th>Total Pago</th>
      <th>Markdown</th>
      <th>Cupom</th>
      <th>Fidelidade</th>
      <th>MGM</th>
      <th>Reembolso</th>
      <th>Créditos de Fidelidade<br/>(ganhos)</th>
      <th></th>
    </tr>

  <% @order.line_items.each do |line_item| %>
    <tr>
      <td><%= "Brinde" if line_item.is_freebie %></td>
      <td><%= image_tag(line_item.variant.thumb_picture) if line_item.variant.thumb_picture %></td>
      <td><%= link_to line_item.variant.sku, admin_product_path(line_item.variant.product) %></td>
      <td><%= link_to line_item.variant.name, admin_product_path(line_item.variant.product) %></td>
      <td><%= line_item.quantity  %></td>
      <td><%= number_to_currency(line_item.price) %></td>
      <td><%= number_to_currency(line_item.total_paid) %></td>
      <td><%= number_to_currency(line_item.calculate_markdown_discount) %></td>
      <td><%= number_to_currency(line_item.calculate_coupon_discount) %></td>

      <td><%= number_to_currency(line_item.calculate_loyalty_credits_discount) %></td>
      <td><%= number_to_currency(line_item.calculate_invite_credits_discount) %></td>
      <td><%= number_to_currency(line_item.calculate_redeem_credits_discount) %></td>

      <td><%= number_to_currency(line_item.calculate_available_credits) %></td>
      <td><% if line_item.debits.empty? && !line_item.is_freebie %>
        <%= form_tag(remove_loyalty_credits_admin_order_path(@order)) do -%>
          <%= hidden_field_tag 'line_item_id', line_item.id %>
          <%= submit_tag 'Remover créditos de fidelidade' -%>
        <% end %>
      <% end %></td>
    </tr>
  <% end %>
  </table>

  <h3>Total de Créditos de fidelidade</h3>
  <p><%= number_to_currency(@order.line_items.sum(&:calculate_loyalty_credit_amount)) %>
  </p>

  <h3>Abacos</h3>
  <p>
    <b>Erp Integrado em:</b>
    <% if @order.erp_integrate_at %>
      <%= l @order.erp_integrate_at, :format => :short %>
    <% else %>
    Não ocorreu
    <% end %>
  </p>

  <p>
    <b>Erp Cancelado em:</b>
    <% if @order.erp_cancel_at %>
    <%= l @order.erp_cancel_at, :format => :short %>
    <% else %>
    Não ocorreu
    <% end %>
  </p>

  <p>
    <b>Erp Pagamento em:</b>
    <% if @order.erp_payment_at %>
    <%= l @order.erp_payment_at, :format => :short %>
    <% else %>
    Não ocorreu
    <% end %>
  </p>

  <p>
    <b>Erro de integração do Erp:</b>
    <%= @order.erp_integrate_error %>
  </p>
  <p>
    <b>Erro de cancelamento do Erp:</b>
    <%= @order.erp_cancel_error %>
  </p>
  <p>
    <b>Erro do pagamento do Erp:</b>
    <%= @order.erp_payment_error %>
  </p>

  <p>
    <h3><%= link_to 'Pagamentos', admin_payments_path(:search => {:order_id_eq => @order.id}) %></h3>
    <% @order.payments.each do |payment| %>
    <p>
      <b><%= link_to payment_with_origin(payment), admin_payment_path(payment) %>:</b>
      <%= number_to_currency payment.total_paid %> -
      <%= number_to_percentage payment.percent, :precision => 2 %>
      <b><%= payment.state %></b>
    </p>
    <% end  %>
  </p>
  <% unless @order.gateway == 1  %>
    <h3>Informações sobre Clear Sale</h3>
    <% if @order.clearsale_order_responses.empty? %>
      Não existem transações
    <% else %>
      <div id="order_clear_sale">
        <table class=table>
          <tr>
           <th>ID</th>
           <th>Score</th>
           <th>Status</th>
           <th>Processado</th>
           <th>Última tentativa</th>
          </tr>
          <% @order.clearsale_order_responses.each do |response| %>
            <tr>
              <td><%= response.id %></td>
              <td><%= response.score %></td>
              <td><%= response.status %></td>
              <td><%= response.processed %></td>
              <td><%= response.last_attempt %></td>
            </tr>
          <% end %>
        </table>
        <p>
        </p>
      </div>
    <% end %>
  <% end %>


  <p>
    <% if @order.state_events(guard: false).many? %>
      <%= form_tag(change_state_admin_order_path(@order), :class => "cb") do -%>
      <%= select_tag "event", options_from_collection_for_select(@order.state_events(guard: false).map{|a| [a,I18n.t("activerecord.state_machines.order.state.events.#{a}")]}, 'first',"last") %>
      <%= submit_tag 'Mudar!' -%>
    <% end %>
    <% else %>
    Não há estados para a alteração.
    <% end %>
  </p>

</div>


<% content_for :secondary_navigation do %>
  <li><%= link_to 'Back', admin_orders_path %></li>
<% end %>

