<h2>Order <b><%= @order.number %></b></h2>

<div class="inner">
  <div class="inner_info" style='float:left;width:20%;'>
    <p>
      <b>Client:</b>
      <%= link_to "#{@order.user.name} - #{@order.user.email}", admin_user_path(@order.user) if @order.user %>
    </p>
    <p>
      <button style="padding:5px">
        <b><%= link_to 'Login', "/admin/users/login/#{@order.user.id}" if @order.user %><b>
      </button>
    </p>
    <p>
      <b>Date:</b>
      <%= l @order.created_at, :format => :short %>
    </p>
    <p>
      <b>Identification Code:</b>
      <%= @order.erp_payment ? @order.erp_payment.identification_code : "" %>
    </p>
    <p>
      <b>Moip ID:</b>
      <%= @order.erp_payment ? @order.erp_payment.try(:payment_response).try(:gateway_code) : "Pagamento não encontrado" %>
    </p>
    <p>
      <b>Status:</b>
      <%= @order.status %>
    </p>
    <p>
      <b>Payment method:</b>
      <% if @order.erp_payment %>
        <%= @order.erp_payment.human_to_s %> <%= "- #{@order.erp_payment.bank}" if @order.erp_payment.is_a? CreditCard %>
      <% else %>
        Pagamento não encontrado
      <% end %>
    </p>
    <p>
      <b>Products Total:</b>
      <%= number_to_currency(@order.subtotal) %>
    </p>
    <p>
      <b>Used credits:</b>
      <%= number_to_currency(@order.credits) %>
    </p>
    <p>
      <b>Discount from coupon:</b>
      <%= number_to_currency(@order.amount_discount) %>
    </p>
    <p>
      <b>Freight Total:</b>
      <%= number_to_currency(@order.freight_price) %>
    </p>
    <p>
      <b>Total:</b>
      <%= number_to_currency(@order.amount_paid) %>
    </p>
    <p>
      <b>Installments:</b>
      <%= @order.installments %>x
    </p>
    <p>
      <b>Estimated delivery:</b>
      <%= @order.freight.delivery_time if @order.freight %> work days
    </p>
    <div>
      <h3>Endereço de entrega</h1>
        <% if @address %>
      <p><%= @address.identification  %></p>
      <p><%= "#{@address.street}, #{@address.number} - #{@address.neighborhood}" %></p>
      <p><%= "#{@address.zip_code}" %></p>
      <p><%= "#{@address.city}, #{@address.state}" %></p>
      <% end %>
    </div>
  </div>
  
  <%= render :partial => 'purchase_timeline', :locals => {:order => @order} %>

  <table class="table">
    <tr>
      <th></th>
      <th>SKU</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>

  <% @order.line_items.each do |line_item| %>
    <tr>
      <td><%= image_tag(line_item.variant.thumb_picture) if line_item.variant.thumb_picture %></td>
      <td><%= link_to line_item.variant.sku, admin_product_path(line_item.variant.product) %></td>
      <td><%= link_to line_item.variant.name, admin_product_path(line_item.variant.product) %></td>
      <td><%= line_item.quantity  %></td>
      <td><%= number_to_currency(line_item.price) %></td>
      <td><%= number_to_currency(line_item.total_price) %></td>
    </tr>
  <% end %>
  </table>
  
  <h3>Abacos</h3>
  <p>
    <b>Erp Integrate At:</b>
    <% if @order.erp_integrate_at %>
      <%= l @order.erp_integrate_at, :format => :short %>
    <% else %>
    Não ocorreu
    <% end %>
  </p>

  <p>
    <b>Erp Cancel At:</b>
    <% if @order.erp_cancel_at %>
    <%= l @order.erp_cancel_at, :format => :short %>
    <% else %>
    Não ocorreu
    <% end %>
  </p>

  <p>
    <b>Erp Payment At:</b>
    <% if @order.erp_payment_at %>
    <%= l @order.erp_payment_at, :format => :short %>
    <% else %>
    Não ocorreu
    <% end %>
  </p>

  <p>
    <b>Erp Integrate Error:</b>
    <%= @order.erp_integrate_error %>
  </p>
  <p>
    <b>Erp Cancel Error:</b>
    <%= @order.erp_cancel_error %>
  </p>
  <p>
    <b>Erp Payment Error:</b>
    <%= @order.erp_payment_error %>
  </p>

  <p>
    <b>Pagamentos</b>
    <% @order.payments.group_by(&:type).each_pair do |payment_type,payments| %>
    <p><b><%= payment_type %>:</b> <%= number_to_currency payments.sum(&:total_paid) %></p>
    <% end  %>
  </p>
  
</div>


<% content_for :secondary_navigation do %>
  <li><%= link_to 'Back', admin_orders_path %></li>
<% end %>

