<h2>Order <%= @order.number %></h2>
<div class="inner">
  <p>
    <b>Client:</b>
    <%= link_to "#{@order.user.name} - #{@order.user.email}", admin_user_path(@order.user) %>
  </p>

  <p>
    <b>Date:</b>
    <%= l @order.created_at, :format => :short %>
  </p>
  <p>
    <b>Status:</b>
    <%= @order.status %>
  </p>
  <p>
    <b>Payment method:</b>
    <%= @order.payment.human_to_s %> <%= "- #{@order.payment.bank}" if @order.payment.is_a? CreditCard %>
  </p>
  <p>
    <b>Products Total:</b>
    <%= number_to_currency(@order.total) %>
  </p>
  <p>
    <b>Freight Total:</b>
    <%= number_to_currency(@order.freight_price) %>
  </p>
  <p>
    <b>Total:</b>
    <%= number_to_currency(@order.total_with_freight) %>
  </p>
  <p>
    <b>Installments:</b>
    <%= @order.installments %>x
  </p>
  <p>
    <b>Estimated delivery:</b>
    <%= @order.freight.delivery_time %> work days
  </p>

  <div>
    <h3>Endereço de entrega</h1>
    <p><%= @address.identification %></p>
    <p><%= "#{@address.street}, #{@address.number} - #{@address.neighborhood}" %></p>
    <p><%= "#{@address.zip_code}" %></p>
    <p><%= "#{@address.city}, #{@address.state}" %></p>
  </div>
  
  <table class="table">
    <tr>
      <th></th>
      <th>SKU</th>
      <th>Product</th>
      <th>Quantity</th>
      <th>Unit Price</th>
      <th>Total</th>
    </tr>

  <% @order.line_items.each do |line_item| %>
    <tr>
      <td><%= image_tag(line_item.variant.thumb_picture) if line_item.variant.thumb_picture %></td>
      <td><%= link_to line_item.variant.sku, admin_product_path(line_item.variant.product) %></td>
      <td><%= link_to line_item.variant.name, admin_product_path(line_item.variant.product) %></td>
      <td><%= line_item.quantity  %></td>
      <td><%= number_to_currency(line_item.price) %></td>
      <td><%= number_to_currency(line_item.total_price) %></td>
    </tr>
  <% end %>
  </table>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Back', admin_orders_path %></li>
<% end %>
