<h2>Listando boxes de presentes</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Ativo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
	<% @gift_boxes.each do |gift_box| %>
    <tr>
      <td><%= gift_box.name %></td>
      <td><%= gift_box.active ? 'Sim' : 'Não' %></td>
      <td><%= link_to 'Mostrar', admin_gift_box_path(gift_box), :class => 'button' %></td>
      <td><%= link_to 'Editar', edit_admin_gift_box_path(gift_box), :class => 'button' %></td>
      <td><%= link_to 'Apagar', admin_gift_box_path(gift_box), confirm: 'Tem certeza?', method: :delete, :class => 'button danger' %></td>
    </tr>
  <% end %>
  </table>
 </div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Novo Boxe de presente', new_admin_gift_box_path %></li>
<% end %>
