<%= form_for([:admin,@moment]) do |f| %>
  <% if @moment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@moment.errors.count, "error") %> prohibited this landing page from being saved:</h2>

      <ul>
      <% @moment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :article %><br />
    <%= f.text_field :article, limit: 10, default: "a" %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :position %><br />
    <%= f.number_field :position,   %>
  </div>
  <div class="field">
    <%= f.label :header_image %><br />
    <%= f.file_field :header_image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
