<h2>Moment</h2>
<div class="inner">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Article:</b>
    <%= @moment.article %>
  </p>
  <p>
    <b>Name:</b>
    <%= @moment.name %>
  </p>
  <p>
    <b>Header:</b>
    <%= image_tag @moment.header_image.try(:url) %>
  </p>

  <% content_for :secondary_navigation do %>
    <li><%= link_to 'Edit', edit_admin_moment_path(@moment) %></li>
    <li><%= link_to 'Back', admin_moments_path %></li>
  <% end %>
</div>
