- content_for :footer do
  = javascript_include_tag 'section/admin/catalog_header'
= form_for([:admin, @header],:multipart => true ) do |f|
  - if @header.errors.any?
    #error_explanation
      %h2
        = pluralize(@header.errors.count, "error")
        prohibited this campaign from being saved:
      %ul
        - @header.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    .field
      = f.label :url_type
      %br
      = f.select(:url_type, [["Nova url", 2], ["Url existente", 1]])
    %br/
    .inline_field
      = f.check_box :enabled
      %br/
      = f.label :enabled
  %br

  %fieldset#no_custom_url
    %legend
      Adicionar informações a uma URL existente do Site
    .field
      = f.label :old_url
      %br/
      = f.text_field :old_url, value: @header.url


  %fieldset#custom_url
    %legend
      Criar uma URL nova
    .field
      = f.label :new_url
      %small Evitar caracteres como espaço, acentos e letras maíusculas
      %br/
      = f.text_field :new_url, value: @header.url
    .field
      = f.label :organic_url
      %small Essa url define os resultados orgânicos após a lista de produtos. Ela também define os filtros laterais e por isso é obrigatória.
      %br/
      = f.text_field :organic_url
    .field
      = f.label :product_list
      %br/
      = f.text_area :product_list

  %br
  %fieldset
    %legend SEO
    .field
      = f.label :type
      %br/
      = f.select(:type, [['Sem Header', 'NoBanner'], ['Texto', 'TextCatalogHeader'], ['1 Banner', 'BigBannerCatalogHeader'], ['3 Banners','SmallBannerCatalogHeader'], ['Tendencia', 'TrendyCatalogHeader'],['Tendencia-Matelasse', 'MatelasseTrendyCatalogHeader'],['Tendencia-Curves', 'CurvesTrendyCatalogHeader'],['Tendencia-Fiorentino', 'FiorentinoTrendyCatalogHeader']],{ value: params[:type].to_a.first},id: "header_type")
    .field
      = f.label :page_title
      %br/
      = f.text_field :page_title
      | Olook
    %br/
    .field
      = f.label :page_description
      %br/
      = f.text_area :page_description
  %br
  %fieldset#small_banner_catalog_header
    %legend Três banners como na figura abaixo
    = image_tag('admin/catalog_header/3banner.jpg')
    %br/
    .field
      = f.label :small_banner1
      %br/
      = f.file_field :small_banner1
      - if f.object.small_banner? && f.object.small_banner1?
        = image_tag(f.object.small_banner1, style: 'max-width: 500px')
        %br/
        = f.check_box :remove_small_banner1, style: 'width: 10px'
        = f.label :remove_small_banner1, 'Remover imagem acima salva previamente'
    %br/
    .field
      = f.label :alt_small_banner1
      %br/
      = f.text_field :alt_small_banner1
    %br/
    .field
      = f.label :link_small_banner1
      %br/
      = f.text_field :link_small_banner1
    %br/
    .field
      = f.label :small_banner2
      %br/
      = f.file_field :small_banner2
      - if f.object.small_banner? && f.object.small_banner2?
        = image_tag(f.object.small_banner2, style: 'max-width: 500px')
        %br/
        = f.check_box :remove_small_banner2, style: 'width: 10px'
        = f.label :remove_small_banner2, 'Remover imagem acima salva previamente'
    %br/
    .field
      = f.label :alt_small_banner2
      %br/
      = f.text_field :alt_small_banner2
    %br/
    .field
      = f.label :link_small_banner2
      %br/
      = f.text_field :link_small_banner2
    %br/
    .field
      = f.label :medium_banner
      %br/
      = f.file_field :medium_banner
      - if f.object.small_banner? && f.object.medium_banner?
        = image_tag(f.object.medium_banner, style: 'max-width: 500px')
        %br/
        = f.check_box :remove_medium_banner, style: 'width: 10px'
        = f.label :remove_medium_banner, 'Remover imagem acima salva previamente'
    %br/
    .field
      = f.label :alt_medium_banner
      %br/
      = f.text_field :alt_medium_banner
    %br/
    .field
      = f.label :link_medium_banner
      %br/
      = f.text_field :link_medium_banner
    %br/
  %fieldset#big_banner_catalog_header
    %legend Um banner como na figura abaixo
    = image_tag('admin/catalog_header/1banner.jpg')
    %br/
    .field
      = f.label :big_banner
      %br/
      = f.file_field :big_banner
      - if f.object.big_banner? && f.object.big_banner_url
        = image_tag(f.object.big_banner, style: 'max-width: 500px')
        %br/
        = f.check_box :remove_big_banner, style: 'width: 10px'
        = f.label :remove_big_banner, 'Remover imagem acima salva previamente'
    %br/
    .field
      = f.label :alt_big_banner
      %br/
      = f.text_field :alt_big_banner
    %br/
    .field
      = f.label :link_big_banner
      %br/
      = f.text_field :link_big_banner
    %br/
  %fieldset#text_catalog_header
    %legend Topo da página
    %br/
    = image_tag('admin/catalog_header/texto.jpg')
    %br/
    .field
      = f.label :title
      %br/
      = f.text_field :title
    %br/
    .field
      = f.label :resume_title
      %br/
      = f.text_area :resume_title
    %br/
  .actions
    = f.submit "Salvar"
