<section id="forget_password" class="forms edit">
  <h1>Altere sua senha</h1>

  <div class="form_content">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= render :partial => "shared/errors", :locals => { :object => resource } %>

      <%= f.hidden_field :reset_password_token %>

      <fieldset class="inputs">
        <ol>
          <li>
            <%= f.label :password, "Nova senha" %>
            <%= f.password_field :password %>
          </li>
          <li>
            <%= f.label :password_confirmation, "Confirme a nova senha" %>
            <%= f.password_field :password_confirmation %>
          </li>
        </ol>
      </fieldset>
      <fieldset class="buttons">
        <ol>
          <li>
            <%= f.submit "Alterar" %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
  <%= image_tag 'common/model-sign-in.png', :class => 'model' %>
  <%= render :partial => "shared/social_links" %>
</section>
