<section id="forget_password" class="forms">
  <h1>Esqueceu sua senha?</h1>

  <div class="form_content">
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= render :partial => "shared/errors", :locals => { :object => resource } %>

      <fieldset class="inputs">
        <ol>
          <li>
            <%= f.label "Email" %>
            <%= f.email_field :email %>
          </li>
        </ol>
      </fieldset>
      <fieldset class="buttons">
        <ol>
          <li>
            <%= f.submit "" %>
          </li>
        </ol>
      </fieldset>
    <% end %>
  </div>
  <%= image_tag '/assets/common/model-sign-in.png', :class => 'model' %>
  <%= render :partial => "shared/social_links" %>
</section>
