<% content_for :head do %>
  <%= stylesheet_link_tag "section/forget_password" %>
<% end %>

<section id="forget_password">
  <h1>Esqueceu sua senha?</h1>
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    <%= render :partial => "shared/errors", :locals => { :object => resource } %>

    <fieldset class="inputs">
      <ol>
        <li>
          <%= label_tag 'user_email', "Email:" %>
          <%= f.email_field :email %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li>
          <%= f.submit "RECRIAR SENHA" %>
        </li>
      </ol>
    </fieldset>
  <% end %>
  <%= render :partial => "shared/social_links" %>
</section>
