<%= form_for([:admin, @liquidation]) do |f| %>
  <% if @liquidation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@liquidation.errors.count, "error") %> prohibited this admin_liquidation from being saved:</h2>

      <ul>
      <% @liquidation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Nome" %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :description, "Descrição" %><br />
    <%= f.text_field :description %>
  </div>

  <div class="field">
    <%= f.label :visible, "Visível" %><br />
    <%= f.check_box :visible %>
  </div>

  <div class="field">
    <%= f.label :show_advertise, "Exibe propaganda padrão?" %><br />
    <%= f.check_box :show_advertise %>
  </div>

  <div class="field">
    <%= f.label :teaser_banner %><br />
    <% if @liquidation.teaser_banner? %>
      <%= image_tag(@liquidation.teaser_banner_url)  %><br />
      <p>
        <%= f.check_box :remove_teaser_banner %>
        Remover
      </p>
    <% end %>
    <%= f.file_field :teaser_banner %>
  </div>

  <div class="field">
    <%= f.label :big_banner, "Banner grande" %>*<br />
    <% if @liquidation.big_banner? %>
      <%= image_tag(@liquidation.big_banner_url)  %><br />
      <p>
        <%= f.check_box :remove_big_banner %>
        Remover
      </p>
    <% end %>
    <%= f.file_field :big_banner %>
  </div>

  * Banner grande tem prioridade sobre teaser_banner + carrossel

  <div class="field">
    <%= f.label :starts_at, "Início em" %><br />
    <%= f.datetime_select :starts_at %>
  </div>

  <div class="field">
    <%= f.label :ends_at, "Término em" %><br />
    <%= f.datetime_select :ends_at %>
  </div>

  <div class="field">
    <%= f.label :lightbox_banner %><br />
    <%= f.file_field :lightbox_banner %>
    <% if @liquidation.lightbox_banner? %>
      <%= image_tag(@liquidation.lightbox_banner_url)  %><br />
      <p>
        <%= f.check_box :remove_lightbox_banner %>
        Remover
      </p>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :welcome_banner %><br />
    <%= f.file_field :welcome_banner %>
    <% if @liquidation.welcome_banner?%>
      <%= image_tag(@liquidation.welcome_banner_url)  %><br />
      <p>
        <%= f.check_box :remove_welcome_banner %>
        Remover
      </p>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
