<h2>Listando liquidações</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Inicia em</th>
      <th>Termina em</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @liquidations.each do |liquidation| %>
    <tr>
      <td><%= liquidation.name %></td>
      <td><%= liquidation.starts_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= liquidation.ends_at.strftime("%d/%m/%Y %H:%M") %></td>
      <td><%= link_to 'Produtos', admin_liquidation_products_path(liquidation)%></td>
      <td><%= link_to 'Carosel', admin_liquidation_carousels_path(liquidation) %></td>
      <td><%= link_to 'Mostrar', admin_liquidation_path(liquidation), :class => 'button' %></td>
      <td><%= link_to 'Editar', edit_admin_liquidation_path(liquidation), :class => 'button' %></td>
      <td><%= link_to 'Apagar', admin_liquidation_path(liquidation), confirm: 'Tem certeza?', method: :delete, :class => 'button danger' %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <% content_for :secondary_navigation do %>
    <li><%= link_to 'Nova Liquidação', new_admin_liquidation_path %></li>
  <% end %>
</div>
