<h2>Liquidation</h2>


<div class="inner">
  <p><%= link_to 'Liquidation Products', admin_liquidation_products_path(@liquidation)%></p>

  <p>
    <b>Name:</b>
    <%= @liquidation.name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @liquidation.description %>
  </p>

  <p>
    <b>Visível ?: <%= @liquidation.visible? %></b>

  </p>

  <p>
    <b>Exibe propaganda pradao ?: <%= @liquidation.show_advertise? %></b>
  </p>
 

  <p>
    <b>Teaser:</b>
    <% if @liquidation.teaser_banner_url %>
      <%= image_tag @liquidation.teaser_banner_url %>
    <% end %>
  </p>

  <p>
    <b>Big Banner:</b>
    <% if @liquidation.big_banner_url %>
      <%= image_tag @liquidation.big_banner_url %>
    <% end %>
  </p>

  <p>
    <b>Starts at:</b>
    <%= @liquidation.starts_at.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    <b>Ends at:</b>
    <%= @liquidation.ends_at.strftime("%d/%m/%Y %H:%M") %>
  </p>



  <p>
    <b>Lightbox banner:</b>
    <% if @liquidation.lightbox_banner_url %>
      <%= image_tag @liquidation.lightbox_banner_url %>
    <% end %>
  </p>

  <p>
    <b>Welcome banner:</b>
    <% if @liquidation.welcome_banner_url %>
      <%= image_tag @liquidation.welcome_banner_url %>
    <% end %>
  </p>


  <%= link_to 'Edit', edit_admin_liquidation_path(@admin_liquidation) %> |
  <%= link_to 'Back', admin_liquidations_path %>

</div>
