<h2>Liquidação</h2>


<div class="inner">
  <p><%= link_to 'Produtos da liquidação', admin_liquidation_products_path(@liquidation)%></p>

  <p>
    <b>Nome:</b>
    <%= @liquidation.name %>
  </p>

  <p>
    <b>Descrição:</b>
    <%= @liquidation.description %>
  </p>

  <p>
    <b>Visível ?: <%= @liquidation.visible? %></b>

  </p>

  <p>
    <b>Exibe propaganda padrão?: <%= @liquidation.show_advertise? %></b>
  </p>


  <p>
    <b>Teaser:</b>
    <% if @liquidation.teaser_banner_url %>
      <%= image_tag @liquidation.teaser_banner_url %>
    <% end %>
  </p>

  <p>
    <b>Banner Grande:</b>
    <% if @liquidation.big_banner_url %>
      <%= image_tag @liquidation.big_banner_url %>
    <% end %>
  </p>

  <p>
    <b>Início em:</b>
    <%= @liquidation.starts_at.strftime("%d/%m/%Y %H:%M") %>
  </p>

  <p>
    <b>Término em:</b>
    <%= @liquidation.ends_at.strftime("%d/%m/%Y %H:%M") %>
  </p>



  <p>
    <b>Lightbox banner:</b>
    <% if @liquidation.lightbox_banner_url %>
      <%= image_tag @liquidation.lightbox_banner_url %>
    <% end %>
  </p>

  <p>
    <b>Welcome banner:</b>
    <% if @liquidation.welcome_banner_url %>
      <%= image_tag @liquidation.welcome_banner_url %>
    <% end %>
  </p>


  <%= link_to 'Editar', edit_admin_liquidation_path(@admin_liquidation) %> |
  <%= link_to 'Voltar', admin_liquidations_path %>

</div>
