<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="personal_data">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <div class="box_title">
      <h1 class="personal_data">Dados Pessoais</h1>
    </div>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset class="inputs">
        <ol>
          <li>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %>
          </li>
          <li>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %>
          </li>
          <li class="email">
            <%= f.label :email %>
            <%= f.email_field :email %>
          </li>
          <li>
            <%= f.label :password %>
            <%= f.password_field :password %>
            <p class="warn">(Deixe em branco se não deseja alterar sua senha)</p>
          </li>
          <li>
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation %>
          </li>
        </ol>
      </fieldset>
      <fieldset class="inputs cpf">
        <ol>
          <li>
            <%= f.label :cpf %>
            <%= f.text_field :cpf, resource.cpf.nil? ? '' : :disabled => "disabled" %>
          </li>
          <li>
            <%= f.label :birthday %>
            <%= f.date_select :birthday, { :start_year => 1900 }, :class => "custom_select"  %>
          </li>
        </ol>
      </fieldset>
      <% if @presenter.try(:shoe_size_question) %>
      <fieldset class="shoe_size">
        <%= fields_for 'user_info' do |ui| %>
        <h2>Qual o tamanho do seu sapato?</h2>
          <ul class="shoes_size">
            <% @presenter.shoe_size_question.answers.each do |answer| %>
            <li class="<%= ( answer.title == current_user.user_info.shoes_size.to_s ) ? 'selected': '' %>" >
              <label for="user_info_shoes_size_<%= answer.title %>">
                <%= answer.title %>
                <%= ui.radio_button :shoes_size, answer.title %>
              </label>
            </li>
            <% end %>
          </ul>
        <% end %>
      </fieldset>
      <% end %>
      <% if current_user.has_facebook? %>
        <fieldset class="facebook">
          <h2>Conta do Facebook utilizada</h2>
          <p>Ao manter o seu Facebook Connect, você pode ver a vitrine das suas amigas e ter acesso às promoções e novidades exclusivas. Tem certeza que deseja desconectar com Facebook?</p>
          <%= link_to "Desconectar Facebook", user_destroy_facebook_account_path, :class => "bt_face", :method => :delete %>
        </fieldset>
      <% end %>
      <fieldset class="buttons">
        <ol>
          <li><%= f.submit "", :id => "update_user" %></li>
        </ol>
      </fieldset>
    <% end %>
  </div>
</div>
