<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
      <%= devise_error_messages! %>

      <li>
      <%= f.label :first_name %><br />
      <%= f.text_field :first_name %>
      </li>

      <li>
      <%= f.label :last_name %><br />
      <%= f.text_field :last_name %>
      </li>

      <li>
      <%= f.label :email %><br />
      <%= f.email_field :email %>
      </li>

      <% if resource.is_invited %>
        <li>
        <%= f.label :cpf, "CPF" %><br/>
        <%= f.text_field :cpf %>
        </li>
      <% end %>

      <li>
      <%= f.label :birthday, "Data de Nascimento" %><br/>
      <%= f.date_select :birthday, :start_year => 1900 %>
      </li>

      <li>
        <%= f.label :password %> <i>(Deixe em branco se não deseja alterar sua senha)</i><br />
        <%= f.password_field :password %>
      </li>

      <li>
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </li>

      <div><%= f.submit "Update" %></div>
    <% end %>
  </div>
</div>
