<% content_for(:head) do %>

  <script type="text/javascript">
    if(window.opener) {
      window.close();
      window.opener.location = '<%= @redirect_uri %>';
    }
  </script>

<% end %>
<div id="models">
  <%= image_tag('common/models-inscription.png') %>
</div>
<div id="sign-up">
  <h2>Preparada?</h2>

  <p>
    Agora nossos stylists selecionarão <strong>sapatos, <br />
      bolsas e acessórios</strong> para sua vitrine pessoal.
  </p>

  <%= render "facebook_connect" %>
  <span>ou</span>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%#= devise_error_messages! %>
    <fieldset>
      <ol>
        <li>
          <%= f.label :first_name, "Primeiro nome" %>
          <%= f.text_field :first_name %>
        </li>

        <li>
          <%= f.label :last_name, "Sobrenome" %>
          <%= f.text_field :last_name %>
        </li>

        <li>
          <%= f.label :email, "Email" %>
          <%= f.email_field :email %>
        </li>

        <li>
          <label for="user_password">Senha
            <span class='hint'>mínimo 6 caracteres</span>
          </label>
          <%= f.password_field :password %>
        </li>

        <li>
          <%= f.label :password_confirmation, "Confirmar senha" %>
          <%= f.password_field :password_confirmation %>
        </li>

        <% if resource.is_invited %>
          <li class="cpf">
            <span class="hint">Para que você e seu amigo recebam R$ 10,00 cada um, preencha o CPF.</span>
            <%= f.label :cpf, "CPF (opcional)" %>
            <%= f.text_field :cpf %>
          </li>
        <% end %>

        <li class="terms">
          <p>Concluindo o cadastro você aceita os <a href="#">Termos e Condições</a></p>
        </li>

      </ol>
    </fieldset>

    <fieldset class="buttons">
      <ol>
        <li><%= f.submit "Cadastrar" %></li>
      </ol>
    </fieldset>
  <% end %>
</div>

