= stylesheet_link_tag  "new_structure/section/survey"

%section#survey
  =image_tag "quiz/style.png", :class => "img_style"
  #content
    .content-survey
      = link_to "Voltar", "#", id: "back"
      = form_tag(wysquiz_path) do
        = hidden_field_tag 'quiz[name]', @quiz.name
        - @quiz.questions.each_with_index do |question, index|
          .step
            %h2
              %span= "#{ index + 1 }"
              = "#{ question.text}"
            %ol.options
              - question.answers.each do |answer|
                %li.next-step-on-click.check-input
                  %p
                    = label_tag "quiz[questions][#{question.id}][#{answer.id}]", answer.text
                    = radio_button_tag "quiz[questions][#{ question.id }]", "#{ answer.id }"
                  = image_tag answer.image

        .last_step
          %fieldset
            = label_tag "quiz[user_data][shoe_size]", "Qual tamanho do seu pezinho?"
            %ol.options
              - (33..40).each do |size|
                %li.check-input
                  = size
                  = radio_button_tag "quiz[user_data][shoe_size]", "#{ size }"

          %fieldset
            = label_tag "quiz[user_data][dress_size]", "E o tamanho do vestido?"
            %ol.options
              - ["PP", "P", "M", "G", "GG"].each do |size|
                %li.check-input
                  = size
                  = radio_button_tag "quiz[user_data][dress_size]", "#{ size }"

          %fieldset
            = label_tag "quiz[user_data][t_shirt_size]", "Blusinha?"
            %ol.options
              - ["PP", "P", "M", "G", "GG"].each do |size|
                %li.check-input
                  = size
                  = radio_button_tag "quiz[user_data][t_shirt_size]", "#{ size }"

          %fieldset
            = label_tag "quiz[user_data][pants_size]", "E o tamanho da sua calça jeans?"
            %ol.options
              - ["34", "36", "38", "40", "42", "44", "46"].each do |size|
                %li.check-input
                  = size
                  = radio_button_tag "quiz[user_data][pants_size]", "#{ size }"
          = submit_tag 'Finalizar'

