= stylesheet_link_tag  "new_structure/section/survey"
#survey
  - @quiz.questions.each_with_index do |question, index|
    %div{class: "question#{' first' if index == 0}"}
      %h2
        %span= "#{ index + 1 }"
        = "#{ question.text}"
      %ol.options
        - question.answers.each do |answer|
          %li
            %p
              = answer.text
            %input{type:"radio", value: answer.id}
            = image_tag answer.image

