<li class="product_item" style="<%= 'display:none;' if hidden %>" data-id="<%= item.id %>">
	<% unless item.thumb_picture.nil? %>
     <%= image_tag item.thumb_picture, :title => item.name %>
  <% end %>
  <h1><%= item.product.formatted_name(24) %></h1>
  <p class="size">Tamanho: <%= item.description %></p>
  <p class="qte">Quantidade: <span><%= item.quantity %></span></p>
  <p class="price"><%= number_to_currency(item.product.promotion? ? item.product.retail_price : item.product.price) %></p>
</li>
<%= render partial: 'shared/metrics/fb/cart' %>
