<%#
<!-- <div class="warn">
  <% link_to "Fechar", "#", class: 'close' %#>
  <p>Também queremos te dar um mimo! Você ganhará <span>20% de desconto</span> no segundo presente.</p>
</div> -->
%>
<div id="cart_summary">
   <div class="scroll">
      <ul class="submenu">
        <% if @cart and @cart.coupon %>
          <li class="coupon_info product_item">
            <%- if @show_coupon_warn %>
              <span class="coupon_warn">
                <span class="check"></span>
                <span class="seta"></span>
                Seu cupom já está garantido em sua sacola de compras
              </span>
            <%- end %>
            <%= image_tag 'common/nav/big_coupon.png', :class => 'big_coupon' %>
            <p class="coupon_tag">Sua sacola agora<br />tem um cupom de <br /><%= coupon_value_for(@cart.coupon) %> de desconto.<br />Aproveite! ;)</p>
          </li>
        <% end %>
        <%= content_tag(:li, content_tag(:p, "Sua sacola está vazia :(<br />Navegue em nosso site e mude isso já!".html_safe, class: 'empty_cart'), class: "product_item") if !@cart || @cart.items.blank? %>

        <% @cart && @cart.items.each do |item| %>
          <%= render partial: 'shared/cart_line_item', locals: {item: item, hidden: false} %>
        <% end %>
        <li class="last" style="display:none">&nbsp;</li>
      </ul>
   </div>
   <p class="see_cart"><%= link_to "Ver minha sacola", cart_path, :class => "finish" %></p>
</div>
