      <li class="product_item" style="<%= 'display:none;' if hidden %>" data-id="<%= item.variant.id %>">
        <%= image_tag item.product.thumb_picture, :title => item.name %>
        <h1><%= item.name %></h1>
        <p class="price"><%= number_to_currency(item.retail_price) %></p>
        <p class="size"><%= item.description %></p>
      </li>