- if products.any?
	- product_source = "FacebookBox"
	.facebook_produtcs
		%h3
			Produtos do facebook
		%ul.products
			- products.each do |product|
				%li.fb_prod
					= link_to product_seo_path(product.seo_path), :class => "product_link", :rel => "#{product.id}", :alt => product.formatted_name, :title => product.formatted_name, onclick: "javascript:log_event('click', 'facebook_products', {'productId': #{product.id}})" do
						.async{data: {product: product.catalog_image, backside_picture: product.backside_picture}, itemprop: "image", alt: product.formatted_name}
						- if product.promotion?
							= render 'shared/searched_product_discount_price', from: number_to_currency(product.price), to: number_to_currency(product.retail_price)
						- else
							.price= number_to_currency(product.price)
						= link_to "Ver Mais", product_seo_path(product.seo_path), :class => 'seeMore'
:javascript
	log_event('view', 'facebook_products');