<footer>
  <section>
    <dl>
      <dt>Sobre a olook</dt>
      <dd><%= link_to "Como funciona", how_to_path %></dd>
      <dd><%= link_to "Nossa essência", our_essence_path %></dd>
      <dd><%= link_to "Responsabilidade social", responsabilidade_social_path %></dd>
      <dd><%= link_to "Olookmóvel", olookmovel_path %></dd>
		  <dd><%= link_to "1 ano muito", um_ano_muito_path %></dd>
      <dd><%= link_to "Olook na imprensa", press_path %></dd>
      <dd><%= link_to "Blog", "http://blog.olook.com.br", :target => "_blank" %></dd>
    </dl>
    <dl>
      <dt>Como trabalhamos</dt>
      <dd><%= link_to "Prazo de entrega", delivery_time_path %></dd>
		  <dd><%= link_to "Termos e condições", terms_path %></dd>
      <dd><%= link_to "Política de privacidade", privacy_path %></dd>
		  <dd><%= link_to "Política de devolução", return_policy_path %></dd>
		  <dd><%= link_to "Fidelidade olook", loyalty_path %></dd>
    </dl>
    <dl>
      <dt>Atendimento</dt>
      <dd><%= link_to "Central de atendimento", duvidasfrequentes_path %></dd>
      <dd><%= link_to "Perguntas frequentes (FAQ)", duvidasfrequentes_path %></dd>
    </dl>
    <dl>
      <dt>Siga-nos</dt>
      <dd><%= link_to "Acompanhe pelo Facebook", "http://twitter.com/olook", target: "_blank" %></dd>
      <dd><%= link_to "Acompanhe pelo Twitter", "http://facebook.com/olook", target: "_blank" %></dd>
      <dd><%= link_to "Acompanhe por RSS", "http://blog.olook.com.br/feed/" %></dd>
      <dd><%= link_to "Acompanhe pelo Instagram", "http://instagram.com/olook", target: "_blank" %></dd>
      <dd>
        <ul class="social">
          <li class="facebook"><%= link_to "facebook", "http://facebook.com/olook", target: "_blank", title: "Facebook" %></li>
          <li class="twitter"><%= link_to "twitter", "http://twitter.com/olook", target: "_blank", title: "Twitter" %></li>
          <li class="rss"><%= link_to "rss", "http://blog.olook.com.br/feed/", target: "_blank", title: "RSS" %></li>
          <li class="instagram"><%= link_to "instagram", "http://instagram.com/olook", target: "_blank", title: "Instagram" %></li>
        </ul>
      </dd>
    </dl>

    <dl class="double payment">
      <dt>Formas de pagamento</dt>
      <dd><%= image_tag("common/ico_bandeiras.png", :alt => "Trabalhamos com Visa, Mastercard, American Express e Dinners") %></dd>
      <dd>Em até 6 vezes (parcela mínima de R$ 30,00)</dd>
    </dl>
    <dl class="double security">
      <dt>Segurança</dt>
      <dd><%= link_to image_tag("common/ico_security.png"), "http://www.trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=SC4&v_search=http://www.olook.com.br/&x=6&y=5", target: '_blank' %></dd>
      <dd><%= render "shared/ebit/seal_footer" %></dd>
    </dl>
    <p>© <%= Time.now.year %> - olook<br />Todos os direitos reservados</p>


  </section>
</footer>
<div id="overlay-campaign">&nbsp;</div>
<div id="modal-campaign">&nbsp;</div>
