- if @campaign_email.present?
  #modal_footer
    .modal
      =image_tag "common/footer_girl.png"
      %button.close{type: "button"} Close

      = form_for @campaign_email, remote: true do |f|
        .modal_container
          .presentation
            %h1 GANHE 10% NA PRIMEIRA COMPRA + 15% NA PRÓXIMA*
            %h2 Cadastre-se e receba por e-mail novidades sobre moda, tendências e promoções exclusivas
            %p.nao-exibir
              %input{type:"checkbox", value: "nao"}
              %label Não exibir novamente

          .form
            %p
              %span.txt Informe seu email
              %span.error-msg O e-mail informado não parece correto. Que tal conferir?
            = f.text_field :email, value:"seunomeaqui@email.com.br", class: "email"
            = f.hidden_field :from_footer, value: true

        %button.register{type: "button"} Cadastre-se
        = f.submit "Cadastra-se", class: "register2"
        %p.termos 
          Aceito os
          = link_to("termos de uso", terms_path)
      
      .ok-msg
        %p
          Cadastro realizado com sucesso!
          %br/
          %b Enviaremos em instantes o cupom de desconto por e-mail

