<footer>
  <section>
    <ul>
      <li><%= link_to "Sobre a olook", about_path %></li>
      <li><%= link_to "Lookbooks", sapatilhas_path %></li>
    </ul>

    <ul>
      <li><%= link_to "Contato", contact_path %></li>
      <li><%= link_to "Prazo de Entrega", delivery_time_path %>
      <li><%= link_to "Termos e Condições", terms_path %></li>
      <li><%= link_to "Política de Privacidade", privacy_path %></li>
      <li><%= link_to "FAQ", faq_path %></li>
    </ul>

    <ul class="footer-social-midia">
      <li class="twitter"><a href="http://www.twitter.com/olook" target="_blank">Siga-nos no twitter</a></li>
      <li class="facebook"><a href="http://www.facebook.com/olook" target="_blank">Curta a olook no Facebook</a></li>
    </ul>

    <ul class="bandeiras">
      <li><span>TRABALHAMOS COM:</span></li>
      <li><%= image_tag("common/ico_bandeiras.png", :alt => "Trabalhamos com Visa, Mastercard, American Express e Dinners") %></li>
      <li><span>SITE SEGURO:</span></li>
      <li><%= link_to image_tag("common/ico_security.png"), "http://www.trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=SC4&v_search=http://www.olook.com.br/&x=6&y=5", :target => '_blank' %></li>
    </ul>

    <p>© 2011 - olook</p>
    <p>Todos os direitos reservados</p>
  </section>
</footer>
