<footer>
  <section>
    <dl>
      <dt>Sobre a olook</dt>
      <dd><%= link_to "Como funciona", how_to_path %></dd>
      <dd><%= link_to "Nossa essência", our_essence_path %></dd>
      <dd><%= link_to "Responsabilidade social", responsabilidade_social_path %></dd>
      <dd><%= link_to "Olookmóvel", olookmovel_path %></dd>
      <dd><%= link_to "Olook na imprensa", press_path %></dd>
      <dd><%= link_to "Stylist news", "http://www.olook.com.br/stylist-news", :target => "_blank" %></dd>
    </dl>
    <dl>
      <dt>Como trabalhamos</dt>
      <dd><%= link_to "Prazo de entrega", delivery_time_path %></dd>
		  <dd><%= link_to "Termos e condições", terms_path %></dd>
      <dd><%= link_to "Política de privacidade", privacy_path %></dd>
		  <dd><%= link_to "Política de devolução", return_policy_path %></dd>
		  <dd><%= link_to "Fidelidade Olook", loyalty_path %></dd>
		  <dd><%= link_to "Revenda Olook", reseller_new_path %></dd>
		  <dd><%= link_to "Programa de Afiliados Olook", afiliados_path %></dd>
    </dl>
    <dl>
      <dt>Atendimento</dt>
      <dd><%= link_to "Central de atendimento", duvidasfrequentes_path %></dd>
      <dd><%= link_to "Perguntas frequentes (FAQ)", duvidasfrequentes_path %></dd>
    </dl>
    <dl>
      <dt>Siga-nos</dt>
      <dd><%= link_to "Acompanhe pelo Facebook", "http://facebook.com/olook", title: "Acompanhe pelo Facebook", target: "_blank" %></dd>
      <dd><%= link_to "Acompanhe pelo Twitter", "http://twitter.com/olook", title: "Acompanhe pelo Twitter", target: "_blank" %></dd>
      <dd><%= link_to "Acompanhe por RSS", "http://stylist-news.olook.com.br/feed/", title: "Acompanhe por RSS", target: "_blank" %></dd>
      <dd><%= link_to "Acompanhe pelo Instagram", "http://instagram.com/olook", title: "Acompanhe pelo Instagram", target: "_blank" %></dd>
      <dd>
        <ul class="social">
          <li class="facebook"><%= link_to "Acompanhe pelo Facebook", "http://facebook.com/olook", title: "Acompanhe pelo Facebook", target: "_blank", title: "Facebook" %></li>
          <li class="twitter"><%= link_to "Acompanhe pelo Twitter", "http://twitter.com/olook", title: "Acompanhe pelo Twitter", target: "_blank", title: "Twitter" %></li>
          <li class="rss"><%= link_to "Acompanhe por RSS", "http://stylist-news.olook.com.br/feed/", title: "Acompanhe por RSS", target: "_blank", title: "RSS" %></li>
          <li class="instagram"><%= link_to "Acompanhe pelo Instagram", "http://instagram.com/olook", title: "Acompanhe pelo Instagram", target: "_blank", title: "Instagram" %></li>
        </ul>
      </dd>
    </dl>
    <%= render "home/facebook_box" %>
    <dl class="double payment">
      <dt>Formas de pagamento</dt>
      <dd>
        <%= image_tag("common/ico_bandeiras.png", :alt => "Trabalhamos com Visa, Mastercard, American Express e Dinners", :style => "position:relative;top:2px;") %>
        <%= link_to image_tag('common/assinatura_125x125.png', alt: 'MercadoPago - Meios de pagamento', title: 'MercadoPago - Meios de pagamento'), "#", :class => 'mercado_pago_button' %>
      </dd>
      <dd style="padding:20px 0;">Em até 6 vezes (parcela mínima de R$ 30,00)</dd>
    </dl>
    <dl class="double security">
      <dt>Segurança</dt>
      <dd><%= link_to image_tag("common/ico_security.png"), "http://www.trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=SC4&v_search=http://www.olook.com.br/&x=6&y=5", target: '_blank' %></dd>
      <dd><%= render "shared/ebit/seal_footer" %></dd>
    </dl>
    <p>© <%= Time.now.year %> - Olook. Todos os direitos reservados. A Olook respeita sua privacidade e de todos os seus clientes. Leia mais sobre a nossa <%= link_to "Política de Privacidade", terms_path %>.</p>
<address>Escritório: Rua Natividade, 72 - Vl. Nova Conceição, São Paulo - SP. Centro de distribuição: Avenida Ribeirão dos Cristais, 800, Jordanésia, Cajamar - SP. Galpão 10, módulo C e D</address>
<p>Olook Comércio Online de Moda Ltda  /  CNPJ 011.216.478/0001-70</p>


  </section>

  <div class="mercado_pago">
    <%= image_tag "common/banner_educativo_mp.jpg" %>
  </div>
</footer>
