<footer>
  <section>
    <ul>
      <li><%= link_to "Sobre a olook", about_path %></li>
    </ul>

    <ul>
      <li><%= link_to "Contato", contact_path %></li>
      <li><%= link_to "Termos de Uso", terms_path %></li>
      <li><%= link_to "Política de Privacidade", privacy_path %></li>
      <li><%= link_to "Dúvidas Frequentes", faq_path %></li>
    </ul>

    <ul class="footer-social-midia">
      <li class="twitter"><a href="http://www.twitter.com/olook" target="_blank">Siga-nos no twitter</a></li>
      <li class="facebook"><a href="http://www.facebook.com/olook" target="_blank">Curta a olook no Facebook</a></li>
    </ul>

    <ul class="bandeiras">
      <li><span>TRABALHAMOS COM:</span></li>
      <li><%= image_tag("common/ico-bandeiras.png", :alt => "Trabalhamos com Visa, Mastercard, American Express e Dinners") %></li>
    </ul>

    <p>© 2011 - olook</p>
    <p>Todos os direitos reservados</p>
  </section>
</footer>
