<footer class="footer_checkout">
    <div>
      <section>
        <p>VANTAGENS OLOOK</p>
        <ul class="vantagens">
          <li>Devolução e TROCA GRÁTIS em até 30 dias</li>
          <li>Ganhe 15% do valor do seu pedido em créditos <br/>para usar em compras acima de R$ 100 </li>
        </ul>
      </section>
      <section style="width:325px;">  
        <p>FORMAS DE PAGAMENTO</p>
        <div class="aceitamos_cartoes" style="width: 162px;">Trabalhamos com Visa, Mastercard, American Express e Dinners</div>
        <%= link_to "MercadoPago - Meios de Pagamento", "#", :class => 'mercado_pago_button' %>
        </section>
      <section>
        <p>SEGURANÇA</p>    
        <ul class="security">
          <li class="comodo"><%= link_to image_tag("common/ico_security.png"), "http://www.trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=SC4&v_search=http://www.olook.com.br/&x=6&y=5", :target => '_blank' %></li>
          <li><%= render "shared/ebit/seal_footer" %></li>
        </ul>
      </section>
      <section class="name-rights">
    <p>© <%= Time.now.year %> - Olook. Todos os direitos reservados. A Olook respeita sua privacidade e de todos os seus clientes. Leia mais sobre a nossa <%= link_to "Política de Privacidade", terms_path %>.<br />
Escritório: Rua Natividade, 72 - Vl. Nova Conceição, São Paulo - SP. Centro de distribuição: Avenida Ribeirão dos Cristais, 800, Jordanésia, Cajamar - SP. Galpão 10, módulo C e D<br />
Olook Comércio Online de Moda Ltda  /  CNPJ 011.216.478/0001-70</p>
      </section>
    </div>

</footer>

<div id="overlay-campaign">&nbsp;</div>
<div id="modal-campaign">&nbsp;</div>
<div class="mercado_pago"><%= image_tag "common/banner_educativo_mp.jpg" %></div>