%footer
  %section.newsletter
    .feedback.js-success.js-footerbox
      %p
        Enviamos para seu e-mail o vale de 
        %span
          R$30,00 GRÁTIS!
        %br
          Acesse seu e-mail agora e aproveite!
        =link_to "Vide Regras", "/termos", :class => "regras"
    .denied.js-error.js-footerbox
      %p
        Oops! Verificamos que seu e-mail já está cadastrado.
    %ul.social
      %li.logo
        =image_tag("footer/olook_logo.png")
      %li.icon-facebook
        =link_to "Facebook", "http://facebook.com/olook", :alt => "Facebook"
      %li.icon-twitter
        =link_to "Twitter", "http://twitter.com/olook", :alt => "Twitter"
      %li.icon-instagram
        =link_to "Instagram", "http://instagram.com/olook", :alt => "Instagram"
      %li.icon-youtube
        =link_to "Youtube", "http://www.youtube.com/user/olookfashion", :alt => "Youtube"
    - unless user_signed_in?
      %ul.mail
        %p
          Nova por aqui? 
          %span
            R$30 GRÁTIS 
          agora
        %fieldset
          =text_field_tag :email, "", :class => "box_mail js-newsletter js-footerbox", :default_value => "Digite aqui seu e-mail"
        %fieldset.botao
          =submit_tag "CADASTRAR", :class => "bt_enviar js-subscribe js-footerbox"
      - content_for :footer do
        :javascript
          log_event('view', 'newsletter-footer');
  %section
    %ul.atendimento
      %li.title
        Fale Conosco
      %li.phone
        (11) 3848-1293
      %li.mail
        =link_to "E-mail", "http://olook.neoassist.com/?action=neolive&th=sac&scr=request&ForcaAutenticar=1", :class => "email"
      %li.trade
        =link_to "Troca Fácil", "http://olook.neoassist.com/?th=troca&action=new", :class => "trade"  
      %li.sac_online
        =link_to "SAC Online", "http://olook.neoassist.com/?action=neolive&th=sac&scr=request&ForcaAutenticar=1", :class => "sac"
      %li.moda_online
        =link_to "Moda Online", "http://olook.neoassist.com/?action=neolive&th=sac&scr=request&ForcaAutenticar=1", :class => "moda"
      %li
        =link_to "FAQ", faq_path
    %ul.about
      %li.title
        Sobre a Olook
      %li
        =link_to "Como funciona", how_to_path
      %li
        =link_to "Nossa essência", our_essence_path
      %li 
        =link_to "Olookmóvel", olookmovel_path
      %li
        =link_to "Olook na imprensa", press_path
      %li
        =link_to "Stylist news", "http://www.olook.com.br/stylist-news", :target => "_blank"
      %li
        =link_to "Ganhe créditos", member_earn_credits_path
      %li
        =link_to "Mapa do site", sitemap_path
    %ul.work
      %li.title
        Como Trabalhamos
      %li
        = link_to "Termos e condições", terms_path
      %li
        =link_to "Troca e devolução", return_policy_path
      %li
        = link_to "Atacado Olook", wholesale_new_path
      %li
        =link_to "Responsabilidade social", responsabilidade_social_path
    %ul.payment
      %li.title
        Formas de Pagamento
      %li.credit
        %p
          Cartão de Crédito
      %li.billet
        %p
          Boleto
      %li.online
        %p
          Débito Online
    %ul.security
      %li.title
        Site Seguro
      %li
        = link_to image_tag("common/ico_security.png"), "http://www.trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=SC4&v_search=http://www.olook.com.br/&x=6&y=5", target: '_blank'
      %li.ebit
        = render "shared/ebit/seal_footer"
    .about_olook
      %p
        © #{Time.now.year} - Olook. Todos os direitos reservados. A Olook respeita sua privacidade e de todos os seus clientes. Leia mais sobre a nossa #{link_to "Política de Privacidade", terms_path}.
      %address Escritório: Avenida Doutor Cardoso de Melo, n° 1.855, 15º andar, conj. 151, Vila Olímpia, São Paulo – SP. 
      %p Centro de distribuição: Rua Pataxós, nº 1.000, Setor D 01 a 17, Mezanino nível 4, Pataxós, Embú das Artes - SP
      %p Olook Comércio Online de Moda Ltda  /  Olook é operada pela Infracommerce CNPJ: 15.427.207/0001-14

