<header>
  <% if user_signed_in? %>
    <div class="contact">
      <div class="content">
        <ul>
          <li>Central de Atendimento (11) 2626-3489</li> | 
          <li><%= link_to "falecom@olook.com.br", "mailto:falecom@olook.com.br" %>
        </ul>
      </div>
    </div>
  <% end %>
  <div class="content">
    <h1><%= link_to 'Olook', root_path %></h1>
    <div class="info">
      <ul>
        <li>Todos os meses uma <strong>coleção nova para você</strong></li>
        <li>O cadastro é gratuito <strong>e leva menos de 2 minutos</strong></li>
        <li>Todos os produtos por <strong>R$69,90, R$99,90 e R$129,90</strong></li>
        <li>Frete grátis para SP e RJ e <strong>acima de R$120,00 para outros estados</strong></li>
      </ul>
    </div>

    <div id="session">
      <% if user_signed_in? %>
        <h2>Olá, <span id="info_user"><%= current_user.name %></span></h2>
      <% end %>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Minha conta", edit_user_registration_path %></li>
          <li><%= link_to 'Minhas amigas convidadas', user_credits_path %></li>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li class="login">
            <p>Já faz parte? <%= link_to "Faça seu login", "javascript:void(0);", :rel => "sign-in-dropdown", :class => "trigger" %></p>
          </li>
        <% end %>
      </ul>
      <div class="sign-in-dropdown close">
        <%= render "sessions/form_user" %>
      </div>
    </div>
  </div>
</header>

<div class="top-shadow"></div>


<% if user_signed_in? %>
  <div id="wrapper_menu">
    <nav class="menu">
      <div class="content">
        <% if current_user.has_early_access?  %>
        <ul class="product_anchors">
          <li class="shoes"><%= link_to "Sapatos", member_showroom_path(:anchor => "shoes")  %></li>
          <li class="purse"><%= link_to "Bolsas", member_showroom_path(:anchor => "purse") %></li>
          <li class="accessories"><%= link_to "Acessórios", member_showroom_path(:anchor => "accessories") %></li>
        </ul>
      <% end %>
        <ul class="default">
          <% if current_user.has_early_access? %>
            <li class="showroom"><%= link_to "Minha Vitrine", member_showroom_path, :class => is_current?('members', 'showroom') %></li>
          <% end %>
          <li class="lookbooks"><%= link_to "Lookbooks", sapatilhas_path, :class => selected_if_current(['lookbooks#sapatilhas','lookbooks#palha','lookbooks#glitter','lookbooks#color_block', 'lookbooks#golden_grace', 'lookbooks#lets_party', 'lookbooks#flores']) %></li>
          <li class="invite"><%= link_to 'Convidar amigas', member_invite_path, :class => is_current?('members', 'invite') %></li>
          <li class="how_to"><%= link_to 'Como funciona', how_to_path, :class => is_current?('pages', 'how_to') %></li>
          <% if current_user.has_early_access? %>
            <li class="cart" id="cart">
              <%= render 'shared/cart', :order => @order %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
<% end %>
