<header id="new_header">
  <div class="new_content">
    <div class="box_left">
      <p>SAC (11) 2626-3489 | <a class="contact" href="/centraldeatendimento">Central de Atendimento</a></p>
      <ul class="social_icons">
        <li><%= link_to "Acompanhe pelo Facebook", "http://facebook.com/olook", title: "Acompanhe pelo Facebook", target: "_blank", class: "social_facebook" %></li>
        <li><%= link_to "Acompanhe pelo Twitter", "http://twitter.com/olook", title: "Acompanhe pelo Twitter", target: "_blank", class: "social_twitter" %></li>
        <li><%= link_to "Acompanhe por RSS", "http://stylist-news.olook.com.br/feed/", title: "Acompanhe por RSS", target: "_blank", class: "social_rss" %></li>
        <li><%= link_to "Acompanhe pelo Instagram", "http://instagram.com/olook", title: "Acompanhe pelo Instagram", target: "_blank", class:"social_instagram" %></li>
      </ul>
      <p><%= link_to "Ganhe créditos!", "/membro/ganhe-creditos", :class => "invite" %></p>
    </div>
     <div class="box_right">
      <% if user_signed_in? %>
        <div class="user">
          <ul>
            <li class="first">Olá,</li>
            <li class="username">
              <%= current_user.first_name %>
            </li>
            <p class="trade"><%= link_to "Troca Fácil", troca_path, :class => "invite" %></p>
            <li class="submenu">
              <%= link_to "Minha Conta", "#", :id => "account" %>
              <div class="my_account">
                <ul>
                  <li><%= link_to "Meus pedidos", user_orders_path %></li>
                  <!-- <li><%#= link_to "Meus presentes", user_gifts_path %></li> -->
                  <li class="last"><%= link_to "Meus créditos", user_credits_path %></li>
                  <li><%= link_to "Dados pessoais", edit_user_registration_path %></li>
                  <li><%= link_to "Endereços", user_addresses_path %></li>
                  <li><%= link_to "Sair", destroy_user_session_path, :method => :delete, onclick: track_event("Checkout","clickSignOut") %></li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      <% else %>
      <p class="new_login"><%= link_to "Entre", "javascript:void(0);", :rel => "sign-in-dropdown", :class => "trigger" %> ou <%= link_to "Descubra seu estilo", wysquiz_path %></p>
      <div class="sign-in-dropdown close">
        <%= render "users/sessions/form_user" %>
      </div>
      <% end %>
      <%= render 'shared/search_bar' %>
      <%= render 'shared/cart', :cart => @cart %>
    </div>
    <div class="olook_logo">
        <h1><%= link_to 'Olook', root_path %></h1>
    </div>
  </div>
</header>

