<header>
  <div class="content">
    <h1><%= link_to 'Olook', root_path %></h1>
    <% if user_signed_in? %>
      <h2 class="moip">Pagamento: Moip</h2>
      <%= link_to "Voltar para minha vitrine", member_showroom_path, :class => "back_showroom" %>
    <% end %>
  </div>
</header>
<div id="order_status">
  <div class="content">
    <ul>
      <li class="<%= is_current?('cart', 'show') %>">
        <h1>Minha Sacola</h1>
        <p>Confira os produtos do seu carrinho</p>
      </li>
      <li class="<%= is_current?('addresses', ['index', 'new','edit']) %>">
        <h1>Entrega</h1>
        <p>Onde quer que seu pedido seja entregue</p>
      </li>
      <li class="<%= is_current?(['payments', 'credit_cards', 'debits', 'billets'], ['index', 'new', 'edit', 'show']) %>">
        <h1>Pagamento</h1>
        <p>Como quer efetuar o pagamento? Selecione uma das opções</p>
      </li>
      <li class="<%= is_current?(['payments'], ['show']) %> last">
        <h1>Confirmação</h1>
        <p>Confirme seus produtos, endereço de entrega e finalize sua compra</p>
      </li>
    </ul>
  </div>
</div>
