<header>
  <div class="content">
    <h1><%= link_to 'Olook', root_path %></h1>
    <div class="info">
      <%= image_tag("common/animacao_topo_site.gif", :alt => "Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolução fácil e gratuita. O cadastro é gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para você.") %>
    </div>

    <div id="session">
      <% if user_signed_in? %>
        <h2>Olá, <span id="info_user"><%= current_user.name %></span></h2>
      <% end %>
      <ul>
        <% if user_signed_in? %>
          <li><%= link_to "Minha conta", edit_user_registration_path %></li>
          <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
        <% else %>
          <li class="login">
            <p>Já faz parte? <%= link_to "Faça seu login", "sign-in-dropdown", :class => "trigger" %></p>
          </li>
        <% end %>
      </ul>
      <div class="sign-in-dropdown close">
        <%= render "sessions/form_user" %>
      </div>
    </div>
  </div>
</header>

<div class="top-shadow"></div>


<% if user_signed_in? %>
  <div id="wrapper_menu">
    <nav class="menu">
      <div class="content">
        <ul class="product_anchors">
          <li class="shoes"><%= link_to "Sapatos", member_showroom_path(:anchor => "shoes")  %></li>
          <li class="purse"><%= link_to "Bolsas", member_showroom_path(:anchor => "purse") %></li>
          <li class="accessories"><%= link_to "Acessórios", member_showroom_path(:anchor => "accessories") %></li>
        </ul>
        <ul class="default">
          <li class="showroom"><%= link_to "Minha Vitrine", member_showroom_path %></li>
          <li class="invite"><%= link_to 'Convidar amigas', member_invite_path, :class => is_current?('members', 'invite') %></li>
          <li class="my_friends"><%= link_to 'Minhas amigas convidadas', member_invite_list_path, :class => is_current?('members', 'invite_list') %></li>
          <li class="how_to"><%= link_to 'Como funciona', member_how_to_path, :class => is_current?('members', 'how_to') %></li>
          <li class="cart">
            <%= link_to "Minha Sacola #{content_tag(:span, @order ? "(#{@order.line_items.count})" : '(0)')}".html_safe, "javascript:void(0);", :class => "cart" %>
            <ul class="submenu">
              <li><p class="freight">Frete grátis acima de R$120,00</p></li>
              <% if @order %>
                <% @order.line_items.each do |item| %>
                  <li class="product">
                    <%= image_tag item.variant.product.thumb_picture, :title => item.variant.name %>
                    <h1><%= item.variant.name %></h1>
                    <p class="price"><%= number_to_currency(item.variant.price) %></p>
                    <p class="size"><%= number_to_currency(item.variant.number) %></p>
                    <%= form_for(item, :url => cart_path, :method => :put, :html => { :class => "delete" }) do %>
                      <%= hidden_field('variant','id', :value => item.variant.id) %>
                      <%= submit_tag('')  %>
                    <% end %>
                  </li>
                <% end %>
              <% end %>
              <li class="last">
                <%= link_to "X Fechar", "javascript:void(0);", :class => "close" %>
                <%= link_to "Finalizar Compra", cart_path, :class => "finish" %>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </nav>
  </div>
<% end %>
