%header#new_header
  .new_content
    .box_left
      %p
        SAC (11) 2626-3489 |
        %a.contact{:href => "/centraldeatendimento"} Central de Atendimento
      %ul.social_icons
        %li= link_to "Acompanhe pelo Facebook", "http://facebook.com/olook", title: "Acompanhe pelo Facebook", target: "_blank", class: "social_facebook"
        %li= link_to "Acompanhe pelo Twitter", "http://twitter.com/olook", title: "Acompanhe pelo Twitter", target: "_blank", class: "social_twitter"
        %li= link_to "Acompanhe por RSS", "http://stylist-news.olook.com.br/feed/", title: "Acompanhe por RSS", target: "_blank", class: "social_rss"
        %li= link_to "Acompanhe pelo Instagram", "http://instagram.com/olook", title: "Acompanhe pelo Instagram", target: "_blank", class:"social_instagram"
      - if user_signed_in?
        %p= link_to "Ganhe créditos!", "/membro/ganhe-creditos", :class => "invite"
      - else
        %p= link_to "Conheça a Revenda Olook", "#", :class => "invite"
    .box_right
      - if user_signed_in?
        .user
          %ul
            %li.first Olá,
            %li.username
              = current_user.first_name
          %p.trade= link_to "Troca Fácil", troca_path, :class => "invite"
        %li.submenu
          = link_to "Minha Conta", user_orders_path, :id => "account"
          .my_account
            %ul
              %li= link_to "Meus pedidos", user_orders_path
              / <li></haml:block><haml:silent></haml:silent><haml:block></li>
              %li.last= link_to "Meus créditos", user_credits_path
              %li= link_to "Dados pessoais", edit_user_registration_path
              %li= link_to "Endereços", user_addresses_path
              %li= link_to "Sair", destroy_user_session_path, :method => :delete, onclick: track_event("Checkout","clickSignOut")
      - else
        %p.new_login
          = link_to "Entre", "javascript:void(0);", :rel => "sign-in-dropdown", :class => "trigger"
          ou #{link_to "Descubra seu estilo", wysquiz_path}
        .sign-in-dropdown.close
          = render "users/sessions/form_user"
      = render 'shared/search_bar'
      = render 'shared/cart', :cart => @cart
    .olook_logo
      %h1= link_to 'Olook', root_path
