<div class="box_invite">
  <h1>Convide suas amigas e ganhe créditos</h1>
  <p>Você ganhará <strong>R$10</strong> na primeira compra de cada amiga que se cadastrar usando seu convite. <strong>Mande para todo mundo!</strong></p>
  <div class="social">
    <ul>
      <li class="twitter"><%= link_to "Tweetar", "https://twitter.com/intent/tweet?text=Cadastre-se na olook pelo meu convite: #{accept_invitation_url(:invite_token => user.invite_token)}, descubra o seu estilo e ainda ganhe R$10!&hashtags=ficaadica" %></li>
      <li class="facebook"><%= link_to "#" do %>Postar no <br />meu mural<% end %></li>
      <li class="orkut"><%= link_to "Compartilhar no orkut", "#" %>
        <div id="orkut_share" style="width:100%;"></div>
        <script src="http://www.google.com/jsapi" type="text/javascript"></script>
        <script type="text/javascript">
          google.load('orkut.share', '1');
          google.setOnLoadCallback(function(){
            new google.orkut.share.Button({
              style:'regular',
              title:'Olook',
              summary:'<%= invite_message %>',
              destination:'<%= invitation_link(user) %>'
            }).draw('orkut_share');
          }, true);
        </script>
      </li>
      <li class="email"><%= link_to "#" do %>Enviar <br />por e-mail<% end %></li>
    </ul>
    <%= form_tag member_invite_by_email_path do %>
      <p>Digite o email de suas amigas separados por vírgula no campo abaixo:</p>
      <%= text_area_tag :invite_mail_list %>
      <%= submit_tag "" %>
    <% end %>
  </div>
  <div class="link_mail">
    <h2>Envie o link abaixo por e-mail ou MSN:</h2>
    <ul>
      <li><%= text_field_tag "link", accept_invitation_url(:invite_token => user.invite_token), :readonly => "readonly" %>
      <li><%= link_to "Copiar link", "#" %></li>
    </ul>
    <div class="box_copy">
      <p><strong>Link copiado</strong></p>
      <p>Aperte CTRL + V para colar.</p>
    </div>
  </div>
</div>
