= stylesheet_link_tag "section/moments"    
.flash_promo
  %ul
    %li=image_tag "common/sale.jpg"
    %li
      %p
        = link_to 'Roupas', 'http://#', :class => "cloth"
    %li
      %p 
        = link_to 'Sapatos', 'http://#', :class => "shoes"
    %li
      %p 
        = link_to 'Bolsas', 'http://#', :class => "bags"
    %li
      %p 
        = link_to 'Acessórios', 'http://#', :class => "accessory"