<li class="product <%= " promotion" if product.promotion? %>" data-id="<%= product.id %>">
  <%= render "shared/product_hover", :product => product %>
  <div class="box_product <%= ( current_user ) ? quantity_status(product, current_user) : '' %>">
    <%= link_to product, :class => "product_link", :rel => "#{product.id}", :remote => defined?(suggestion) do %>
      <%= image_tag(product.send(image_method ||= :showroom_picture) || "fake/showroom-product.png", :alt => product.name) %>
      <h1><%= product.name %></h1>
      <p class="warn sold_out">ESGOTADO</p>
      <% if current_user && product.shoe? %>
        <p class="warn shoe_size">Tam. <%= "#{(current_user.user_info.nil?) ? '' : current_user.user_info.shoes_size}" %></p>
      <% end %>
      <% if current_user && product.promotion? == false %>
        <p class="warn quantity">Só mais <span><%= "#{(current_user.user_info.nil?) ? '' : product.quantity( current_user.user_info.shoes_size )}" %></span></p>
        <% if product.shoe? %>
          <p class="warn shoe_size">Tam. <%= current_user.user_info.shoes_size %></p>
        <% end %>
      <% end %>
      <% unless product.sold_out? || product.discount_percent.to_i == 0 %>
        <p class="warn percentage"><span><%= product.discount_percent.to_i %>%</span><br />off</p>
      <% end %>
    <% end %>
    <div class="line">
      <% if product.promotion? %>
        <span class="old">de: <%= number_to_currency product.price %></span>
        <span>por: <%= number_to_currency product.retail_price %></span>
      <% else %>
        <span><%= number_to_currency product.price %></span>
      <% end %>
    </div>
  </div>
</li>
