- if search.has_next_page?
  = link_to "proximo", "#{link}?#{ other_parameters}&page=#{ search.next_page}"
- if search.has_previous_page?
  = link_to "anterior", "#{link}?#{ other_parameters}&page=#{ search.previous_page}"

- search.pages.times do |page|
  = link_to "#{ page + 1 }", "#{link}?#{ other_parameters}&page=#{ page + 1}"
