<li class="product promotion">
  <% product = liquidation_product.product %>
  <div class="box_product <%= product.sold_out? ? 'sold_out' : '' %>">
    <%= link_to product, :class => "product_link" do %>
      <%= image_tag(product.send(image_method ||= :showroom_picture) || "fake/showroom-product.png", :alt => product.name) %>
      <h1><%= product.name %></h1>
      <p class="warn sold_out">ESGOTADO</p>
      <% unless product.sold_out? %>
        <p class="warn percentage"><span><%= liquidation_product.discount_percent.to_i %>%</span><br />off</p>
      <% end %>
    <% end %>
    <div class="line">
      <ol>
        <% unless product.color_sample.blank? %>
        <li>
          <%= link_to image_tag(product.color_sample.url || 'fake/no-color.png', :title => product.name), product, :'data-href' => "#{product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "selected product_color"  %>
          <%= hidden_field_tag "sold_out_#{product.id}", "#{product.sold_out? ? 'sold_out' : ''}", :class => "sold_out" %>
          <%= hidden_field_tag "percentage_#{product.id}", "#{liquidation_product.discount_percent.to_i}%", :class => "percentage" %>
        </li>
        <% end %>
      <% product.colors.each do |related_product| %>
          <li>
            <%= link_to image_tag(related_product.color_sample.url || 'fake/no-color.png', :title => related_product.name), related_product, :'data-href' => "#{related_product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "product_color" %>
            <%= hidden_field_tag "sold_out_#{related_product.id}", "#{related_product.sold_out? ? 'sold_out' : ''}", :class => "sold_out" %>
            <%= hidden_field_tag "percentage_#{related_product.id}", "#{related_product.liquidation_discount_percent}%", :class => "percentage" %>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="line">
      <span class="old">de: <%= number_to_currency liquidation_product.original_price %>
        <%= liquidation_product.subcategory_name %> -
        <%= liquidation_product.heel %> -
        <%= liquidation_product.shoe_size %> -
      </span>
      <span>por: <%= number_to_currency liquidation_product.retail_price %></span>
    </div>
  </div>
</li>
