<li class="product promotion">
  <div class="box_product <%= product.sold_out? ? 'sold_out' : '' %>">
    <%= link_to product, :class => "product_link" do %>
      <%= image_tag(product.send(image_method ||= :showroom_picture) || "fake/showroom-product.png", :alt => product.name) %>
      <h1><%= product.name %></h1>
      <p class="warn sold_out">ESGOTADO</p>
      <% unless product.sold_out? %>
        <p class="warn percentage"><span>80%</span><br />off</p>
      <% end %>
    <% end %>
    <div class="line">
      <ol>
        <% unless product.color_sample.blank? %>
        <li>
          <%= link_to image_tag(product.color_sample.url || 'fake/no-color.png', :title => product.name), product, :'data-href' => "#{product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "selected product_color"  %>
          <%= hidden_field_tag "sold_out_#{product.id}", "#{product.sold_out? ? 'sold_out' : ''}", :class => "sold_out" %>
          <%= hidden_field_tag "percentage_#{product.id}", "20%", :class => "percentage" %>
        </li>
        <% end %>
      <% product.colors.each do |related_product| %>
          <li>
            <%= link_to image_tag(related_product.color_sample.url || 'fake/no-color.png', :title => related_product.name), related_product, :'data-href' => "#{related_product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "product_color" %>
            <%= hidden_field_tag "sold_out_#{related_product.id}", "#{related_product.sold_out? ? 'sold_out' : ''}", :class => "sold_out" %>
            <%= hidden_field_tag "percentage_#{related_product.id}", "20%", :class => "percentage" %>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="line">
      <span class="old">de: R$ 129,90 <%= product.liquidation_products.first.subcategory_name %></span>
      <span>por: <%= number_to_currency product.price %></span>
    </div>
  </div>
</li>
