<% @catalog_products.each_with_index do |cp,index| %>
  <% if product_doesnt_belong_to_selected_brands?(cp, @catalog_products, params[:brands]) %>
    <% if @catalog_products.current_page == 1 %>
      <%= raw(I18n.t("product_not_found")) %><br /><br />
      <div class="new_brands"><%= image_tag 'showroom/star.png', :class => 'star_left' %>COMPRE NA OLOOK AS MARCAS MAIS DESEJADAS DO MUNDO DA MODA<%= image_tag 'showroom/star.png', :class => 'star_right' %> </br>TRITON, FORUM, IODICE E MAIS</div>
    <% end %>
  <% end %>

  <%= render "shared/searched_product_item", :product => cp %>
<% end %>
<%= raw(I18n.t("product_not_found")) if @catalog_products.empty? %>
