%li{:class => "product#{" promotion" if product.promotion?}", "data-id" => product.id}
  = link_to product_path(product.id), :class => "product_link", :rel => "#{product.id}" do
    = image_tag(product.catalog_image, :alt => product.formatted_name, :class => "async", :data => {:backside_picture => product.backside_picture, :product => product.catalog_image} )
    %h2.name= product.formatted_name
    %p.price.brand
      %b= product.brand
    %p.price
      = number_to_currency product.price
      ou
      %span.plots= installments(product.price)
