- product_source ||= "SearchedProduct"
%li{:itemscope => true, :itemtype => "http://schema.org/Product",:class => "product#{" promotion" if product.promotion?}", "data-id" => product.id}
  %p.spy{ :data => {:url => spy_product_path(product.id) }}
    %span.spy-icon
    = content_tag(:span, "ESPIAR", class: 'spy-txt', :data => {:url => spy_product_path(product.id), :gift => (gift ||= false), :shoe_size => (shoe_size ||= nil)}, :rel => "#{product.id}", :remote => true)

  = link_to product_seo_path(product.seo_path), :class => "product_link", :rel => "#{product.id}", :alt => product.formatted_name, :title => product.formatted_name, onclick: track_event(product_source, "clickOnProduct", product.id.to_s) do
    = image_tag(product.catalog_image, :itemprop => "image", :alt => product.formatted_name, :title => product.formatted_name, :class => "async", :data => {:backside_picture => product.backside_picture, :product => product.catalog_image})
    %p.info-product
      %span.name{:itemprop => "name"}= product.formatted_name
      %br/
      %strong.brand{:itemprop => "brand"}= product.brand
      %br/
      - if product.promotion?
        = render 'shared/searched_product_discount_price', from: number_to_currency(product.price), to: number_to_currency(product.retail_price)
      - else
        %span.price{:itemprop => "price"}
          = number_to_currency product.price
          ou
          %span.plots= installments(product.price)
