<li class="product">
  <div class="box_product">
    <%= link_to product, :class => "product_link" do %>
      <%= image_tag(product.send(image_method ||= :showroom_picture) || "fake/showroom-product.png") %>
      <h1><%= product.name %></h1>
      <p class="know">Conheça</p>
    <% end %>
    <div class="line">
      <ol>
        <li>
          <%= link_to image_tag(product.color_sample.url || 'fake/no-color.png', :title => product.name), product %>
        </li>
      </ol>
      <%= link_to "Adorei", "javascript:void(0);", :class => "like" %>
    </div>
    <p class="line">
      <%= image_tag "fake/like-fb.png" %>
      <span><%= number_to_currency product.price %></span>
    </p>
  </div>
</li>
