<li class="product">
  <div class="box_product <%= product.sold_out? ? 'sold_out' : '' %>">
    <%= link_to product, :class => "product_link" do %>
      <%= image_tag(product.send(image_method ||= :showroom_picture) || "fake/showroom-product.png", :alt => product.name) %>
      <h1><%= product.name %></h1>
      <p class="warn">ESGOTADO</p>
    <% end %>
    <div class="line">
      <ol>
        <% unless product.color_sample.blank? %>
        <li>
          <%= link_to image_tag(product.color_sample.url || 'fake/no-color.png', :title => product.name), product, :'data-href' => "#{product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "selected product_color"  %>
            <%= hidden_field_tag "sold_out_#{product.id}", "box_product #{product.sold_out? ? 'sold_out' : ''}" %>
        </li>
        <% end %>
      <% product.colors.each do |related_product| %>
          <li>
            <%= link_to image_tag(related_product.color_sample.url || 'fake/no-color.png', :title => related_product.name), related_product, :'data-href' => "#{related_product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "product_color" %>
            <%= hidden_field_tag "sold_out_#{related_product.id}", "box_product #{related_product.sold_out? ? 'sold_out' : ''}" %>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="line">
      <span><%= number_to_currency product.price %></span>
    </div>
  </div>
</li>
