<li class="product">
  <div class="box_product <%= ( current_user ) ? quantity_status(product, current_user) : '' %>">
    <%= link_to product, :class => "product_link" do %>
      <%= image_tag(product.send(image_method ||= :showroom_picture) || "fake/showroom-product.png", :alt => product.name) %>
      <h1><%= product.name %></h1>
      <p class="warn sold_out">ESGO<br />TADO</p>
      <% if current_user %>
        <p class="warn quantity">Só<br />mais<br /><span><%= "#{(current_user.user_info.nil?) ? '' : product.quantity( current_user.user_info.shoes_size )}" %></span></p>
      <% end %>
    <% end %>
    <div class="line">
      <ol>
        <% unless product.color_name.blank? %>
        <li>
          <%= link_to image_tag(product.color_sample.url || 'fake/no-color.png', :title => product.name), product, :'data-href' => "#{product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "selected product_color"  %>
          <%= hidden_field_tag "sold_out_#{product.id}", "#{product.sold_out? ? 'sold_out' : ''}", :class => "sold_out" %>
          <% if current_user %>
            <%= hidden_field_tag "quantity_#{product.id}", "#{(current_user.user_info.nil?) ? '' : product.quantity( current_user.user_info.shoes_size )}", :class => "quantity" %>
        <% end %>
        </li>
        <% end %>
      <% product.colors.each do |related_product| %>
          <li>
            <%= link_to image_tag(related_product.color_sample.url || 'fake/no-color.png', :title => related_product.name), related_product, :'data-href' => "#{related_product.send(image_method ||= :showroom_picture) || 'fake/showroom-product.png'}", :class => "product_color" %>
            <%= hidden_field_tag "sold_out_#{related_product.id}", "#{related_product.sold_out? ? 'sold_out' : ''}", :class => "sold_out" %>
            <% if current_user %>
              <%= hidden_field_tag "quantity_#{related_product.id}", "#{(current_user.user_info.nil?) ? '' : related_product.quantity( current_user.user_info.shoes_size )}", :class => "quantity" %>
            <% end %>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="line">
      <span><%= number_to_currency product.price %></span>
    </div>
  </div>
</li>
