<li class="product">
  <div class="box_product">
    <%= link_to product do %>
      <%= showroom_presenter.product_picture(product) %>
      <h1><%= product.name %></h1>
    <% end %>
    <div class="line">
      <ol>
        <li><%= product.color_name %></li>
      </ol>
      <%= link_to "Adorei", "javascript:void(0);", :class => "like" %>
    </div>
    <p class="line">
      <%= image_tag "fake/like-fb.png" %>
      <span><%= number_to_currency product.price %></span>
    </p>
  </div>
</li>
