<%= form_for([:admin, @gift_recipient_relation]) do |f| %>
  <% if @gift_recipient_relation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@gift_recipient_relation.errors.count, "error") %> prohibited this gift recipient relation from being saved:</h2>

      <ul>
      <% @gift_recipient_relation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
