<section id="boxes">
  <ul>
    <li>
      <%= link_to catalog_path("roupa"), onclick: track_event('DestaquesRodape', "BannerEsquerda") do %>
        <%= image_tag "home/box_1.jpg" %>
        <h1>NOVIDADES TODOS OS MESES</h1>
        <p>Agora temos o look completo</p>
      <% end %>
    </li>
    <li>
      <%= link_to catalog_path("sapato"), onclick: track_event('DestaquesRodape', "BannerCentro") do %>
        <%= image_tag "home/box_2.jpg" %>
        <h1>SAPATOS HOT</h1>
        <p>Vai ser difícil escolher apenas um</p>
      <% end %>
    </li>
    <li class="iehack"><!-- NAO REMOVER A CLASSE -->
      <%= link_to catalog_path("bolsa"), onclick: track_event('DestaquesRodape', "BannerDireita") do %>
        <%= image_tag "home/box_3.jpg" %>
        <h1>BOLSAS QUE AMAMOS</h1>
        <p>Carregue estilo pra onde você for</p>
      <% end %>
    </li>
  </ul>
</section>
