<section id="boxes">
  <ul>
    <li>
      <%= link_to clothes_path, onclick: track_event('DestaquesRodape', "BannerEsquerda") do %>
        <%= image_tag "home/picture-1.jpg" %>
        <h1>LOOKS DESEJO</h1>
        <p>Novidades e últimas tendências</p>
      <% end %>
    </li>
    <li>
      <%= link_to shoes_path, onclick: track_event('DestaquesRodape', "BannerCentro") do %>
        <%= image_tag "home/picture-2.jpg" %>
        <h1>SAPATOS HOT</h1>
        <p>Vai ser difícil escolher apenas um</p>
      <% end %>
    </li>
    <li class="iehack"><!-- NAO REMOVER A CLASSE -->
      <%= link_to accessories_path, onclick: track_event('DestaquesRodape', "BannerDireita") do %>
        <%= image_tag "home/picture-3.jpg" %>
        <h1>ACESSÓRIOS INCRÍVEIS</h1>
        <p>Eles valorizam qualquer look</p>
      <% end %>
    </li>
  </ul>
</section>