<section id="boxes">
  <ul>
    <li>
      <%= link_to shoes_path do %>
        <%= image_tag "home/picture-1.jpg" %>
        <h1>Novidades todos os meses</h1>
        <p>Sapatos hot do momento</p>
      <% end %>
    </li>
    <li>
      <%= link_to bags_path do %>
        <%= image_tag "home/picture-2.jpg" %>
        <h1>Bolsas e mais bolsas</h1>
        <p>Vai ser difícil escolher apenas uma</p>
      <% end %>
    </li>
    <li class="iehack"><!-- NAO REMOVER A CLASSE -->
      <%= link_to accessories_path do %>
        <%= image_tag "home/picture-3.jpg" %>
        <h1>Pontue com acessórios</h1>
        <p>Eles valorizam qualquer look</p>
      <% end %>
    </li>
  </ul>
</section>