<section id="brands">
  <div class="box_brand">
    <h1>MARCAS</h1>
        <ul>
        <li class="olook"><%= link_to "",  brand_path("olook") %></li>
        <li class="essential"><%= link_to "", brand_path("olook essential/") %></li>
        <li class="harris"><%= link_to "", brand_path("douglas harris/") %></li>
        <li class="jabour"><%= link_to "", brand_path("juliana jabour/") %></li>
        <li class="concept"><%= link_to "", brand_path("olook concept/") %></li>
        <li class="manzini"><%= link_to "", brand_path("juliana manzini/") %></li>
        <li class="thelure"><%= link_to "", brand_path("thelure/") %></li>
        <li class="fashion"><%= link_to "", brand_path("espaco fashion/") %></li>
        <li class="forum"><%= link_to "", brand_path("forum/") %></li>
        <li class="mofficer"><%= link_to "", brand_path("m officer/") %></li>
        <li class="coke"><%= link_to "", brand_path("coca cola clothing/") %></li>
        <li class="botswana"><%= link_to "", brand_path("botswana/") %></li>
        <li class="iodice"><%= link_to "", brand_path("iodice/") %></li>
        <li class="eclectic"><%= link_to "", brand_path("eclectic/") %></li>
        <li class="triton"><%= link_to "", brand_path("triton/") %></li>
        <li class="mercatto"><%= link_to "", brand_path("mercatto/") %></li>    
        <li class="shop"><%= link_to "", brand_path("shop 126/") %></li>
        <li class="olli"><%= link_to "", brand_path("olli/") %></li>
        <li class="colcci"><%= link_to "", brand_path("colcci/") %></li>
        <li class="leeloo"><%= link_to "", brand_path("leeloo/") %></li>
        <li class="mandi"><%= link_to "", brand_path("mandi/") %></li>
        <li class="carina-duek"><%= link_to "", brand_path("carina duek/") %></li>
        <li class="tan-tan"><%= link_to "", brand_path("tan tan/") %></li>
        <li class="redley"><%= link_to "", brand_path("redley/") %></li>
      </ul>
  </div>  
  <div class="parcerias">
    <h1>PARCERIAS</h1>
    <ul>
        <li class="stylist"><a href="/colecoes/carol-ribeiro">CAROL RIBEIRO PARA OLOOK</a></li>
        <li><%=link_to(image_tag("home/cb.jpg"),"/colecoes/carol-ribeiro", :alt => "Carol Ribeiro para Olook", :class => "img") %></li>
        <li class="stylist"><a href="/colecoes/estilista-juliana-jabour">JULIANA JABOUR PARA OLOOK</a></li>
        <li><%=link_to(image_tag("home/jj.jpg"), "/colecoes/estilista-juliana-jabour", :alt => "Juliana Jabour para Olook", :class => "img") %></li>
    </ul>
  </div>

</section>