<section id="brands">
  <h1>CHEGARAM NOVAS MARCAS!</h1>
  <h2>Agora você também pode comprar na Olook as grifes mais desejadas do mundo da moda</h2>
   <ul>
    <li class="olook"><%= link_to "Blusa", "/roupas?cloth_subcategories[]=blusa"%></li>
    <li class="concept"><%= link_to "Camisa", "/roupas?cloth_subcategories[]=camisa" %></li>
    <li class="jabour"><%= link_to "Calça", "/roupas?cloth_subcategories[]=calca" %></li>
    <li class="forum"><%= link_to "Saia", "/roupas?cloth_subcategories[]=saia" %></li>
    <li class="iodice"><%= link_to "Vestido", "/roupas?cloth_subcategories[]=vestido" %></li>
    <li class="shop"><%= link_to "Anabela", anabelas_path %></li>
    <li class="harris"><%= link_to "Rasteira", rasteiras_path %></li>
    <li class="olli"><%= link_to "Sapatilha", sapatilhas_path %></li>
    <li class="colcci"><%= link_to "Scarpin", scarpins_path %></li>
    <li class="triton"><%= link_to "Sneaker", sneakers_path %></li>
    <li class="eclectic"><%= link_to "Acessórios", accessories_path %></li>
    <li class="thelure"><%= link_to "Bolsas", bags_path %></li>
    <li class="manzini"><%= link_to "Bolsas", bags_path %></li>
    <li class="fashion"><%= link_to "Bolsas", bags_path %></li>
  </ul>
</section>
