<section id="brands">
  <div class="box_brand">
    <h2>MARCAS</h2>
        <ul>
        <li class="olook"><%= link_to "",  brand_path("olook"), onclick: track_event('Home', 'ClickOnBrand', 'Olook') %></li>
        <li class="essential"><%= link_to "", brand_path("olook essential/"), onclick: track_event('Home', 'ClickOnBrand', 'Olook Essential') %></li>
        <li class="harris"><%= link_to "", brand_path("douglas harris/"), onclick: track_event('Home', 'ClickOnBrand', 'Douglas Harris') %></li>
        <li class="jabour"><%= link_to "", brand_path("juliana jabour/"), onclick: track_event('Home', 'ClickOnBrand', 'Juliana Jabour') %></li>
        <li class="concept"><%= link_to "", brand_path("olook concept/"), onclick: track_event('Home', 'ClickOnBrand', 'olook concept') %></li>
        <li class="manzini"><%= link_to "", brand_path("juliana manzini/"), onclick: track_event('Home', 'ClickOnBrand', 'juliana manzini') %></li>
        <li class="thelure"><%= link_to "", brand_path("thelure/"), onclick: track_event('Home', 'ClickOnBrand', 'thelure') %></li>
        <li class="forum"><%= link_to "", brand_path("forum/"), onclick: track_event('Home', 'ClickOnBrand', 'forum') %></li>
        <li class="mofficer"><%= link_to "", brand_path("m officer/"), onclick: track_event('Home', 'ClickOnBrand', 'm officer') %></li>
        <li class="coke"><%= link_to "", brand_path("coca cola clothing/"), onclick: track_event('Home', 'ClickOnBrand', 'coca cola clothing') %></li>
        <li class="botswana"><%= link_to "", brand_path("botswana/"), onclick: track_event('Home', 'ClickOnBrand', 'botswana') %></li>
        <li class="iodice"><%= link_to "", brand_path("Iodice%20Denim/"), onclick: track_event('Home', 'ClickOnBrand', 'Iodice Denim') %></li>
        <li class="eclectic"><%= link_to "", brand_path("eclectic/"), onclick: track_event('Home', 'ClickOnBrand', 'eclectic') %></li>
        <li class="triton"><%= link_to "", brand_path("triton/"), onclick: track_event('Home', 'ClickOnBrand', 'triton') %></li>
        <li class="shop"><%= link_to "", brand_path("shop 126/"), onclick: track_event('Home', 'ClickOnBrand', 'shop 126') %></li>
        <li class="olli"><%= link_to "", brand_path("olli/"), onclick: track_event('Home', 'ClickOnBrand', 'olli') %></li>
        <li class="colcci"><%= link_to "", brand_path("colcci/"), onclick: track_event('Home', 'ClickOnBrand', 'colcci') %></li>
        <li class="leeloo"><%= link_to "", brand_path("leeloo/"), onclick: track_event('Home', 'ClickOnBrand', 'leeloo') %></li>
        <li class="mandi"><%= link_to "", brand_path("mandi/"), onclick: track_event('Home', 'ClickOnBrand', 'mandi') %></li>
        <li class="carina-duek"><%= link_to "", brand_path("carina duek/"), onclick: track_event('Home', 'ClickOnBrand', 'carina duek') %></li>
        <li class="tan-tan"><%= link_to "", brand_path("tan tan/"), onclick: track_event('Home', 'ClickOnBrand', 'tan tan') %></li>
        <li class="perfume"><%= link_to "", brand_path("lanca perfume/"), onclick: track_event('Home', 'ClickOnBrand', 'lanca perfume') %></li>
        <li class="lez-a-lez"><%= link_to "", brand_path("lez a lez/"), onclick: track_event('Home', 'ClickOnBrand', 'lez a lez') %></li>
        <li class="cantao"><%= link_to "", brand_path("cantao/"), onclick: track_event('Home', 'ClickOnBrand', 'cantao') %></li>
        <li class="sommer"><%= link_to "", brand_path("sommer/"), onclick: track_event('Home', 'ClickOnBrand', 'sommer') %></li>
        <li class="shoulder"><%= link_to "", brand_path("shoulder/"), onclick: track_event('Home', 'ClickOnBrand', 'shoulder') %></li>   
        <li class="totem"><%= link_to "", brand_path("totem/"), onclick: track_event('Home', 'ClickOnBrand', 'totem') %></li> 
        <li class="redley"><%= link_to "", brand_path("redley/"), onclick: track_event('Home', 'ClickOnBrand', 'redley') %></li>
        <li class="tvz"><%= link_to "", brand_path("Tvz/"), onclick: track_event('Home', 'ClickOnBrand', 'Tvz') %></li>
        <li class="folic"><%= link_to "", brand_path("Folic/"), onclick: track_event('Home', 'ClickOnBrand', 'Folic') %></li>
        <li class="wollner"><%= link_to "", brand_path("Wollner/"), onclick: track_event('Home', 'ClickOnBrand', 'Wollner') %></li>
        <li class="canal"><%= link_to "", brand_path("Canal/"), onclick: track_event('Home', 'ClickOnBrand', 'Canal') %></li>
        <li class="blue"><%= link_to "", brand_path("Blue%20Man/"), onclick: track_event('Home', 'ClickOnBrand', 'Blue Man') %></li>
        <li class="afghan"><%= link_to "", brand_path("Afghan/"), onclick: track_event('Home', 'ClickOnBrand', 'Afghan') %></li>
        <li class="ellus"><%= link_to "", brand_path("Ellus/"), onclick: track_event('Home', 'ClickOnBrand', 'Ellus') %></li>
        <li class="numbers"><%= link_to "", brand_path("284/"), onclick: track_event('Home', 'ClickOnBrand', '284') %></li>
        <li class="krein"><%= link_to "", brand_path("Fellipe%20Krein/"), onclick: track_event('Home', 'ClickOnBrand', 'Fellipe Krein') %></li>
        <li class="triya"><%= link_to "", brand_path("triya/"), onclick: track_event('Home', 'ClickOnBrand', 'triya') %></li>
        <li class="floor"><%= link_to "", brand_path("Ellus 2 Nd Floor/"), onclick: track_event('Home', 'ClickOnBrand', 'Ellus 2 Nd Floor') %></li>
        <li class="fashion"><%= link_to "", brand_path("espaco fashion/"), onclick: track_event('Home', 'ClickOnBrand', 'espaco fashion') %></li>
        <li class="mercatto"><%= link_to "", brand_path("mercatto/"), onclick: track_event('Home', 'ClickOnBrand', 'mercatto') %></li>    
        <li class="doce"><%= link_to "", brand_path("agua doce/"), onclick: track_event('Home', 'ClickOnBrand', 'agua doce') %></li>
        <li class="collins"><%= link_to "", brand_path("Collins/"), onclick: track_event('Home', 'ClickOnBrand', 'Collins') %></li>
        <li class="piu"><%= link_to "", brand_path("isabella%20piu/"), onclick: track_event('Home', 'ClickOnBrand', 'isabella piu') %></li>
      </ul>
  </div> 
</section>