<section id="brands">
  <div class="box_brand">
    <h1>MARCAS</h1>
        <ul>
        <li class="olook"><%= link_to "", "/colecoes/olook"%></li>
        <li class="essential"><%= link_to "", "/colecoes/essentials" %></li>
        <li class="harris"><%= link_to "", "/colecoes/douglas-harris" %></li>
        <li class="jabour"><%= link_to "", "/colecoes/juliana-jabour" %></li>
        <li class="concept"><%= link_to "", "/colecoes/olookconcept " %></li>
        <li class="manzini"><%= link_to "", "/colecoes/juliana-manzini" %></li>
        <li class="thelure"><%= link_to "", "/colecoes/thelure" %></li>
        <li class="fashion"><%= link_to "", "/colecoes/espaco-fashion" %></li>
        <li class="forum"><%= link_to "", "/colecoes/forum" %></li>
        <li class="mofficer"><%= link_to "", "/colecoes/m-officer" %></li>
        <li class="coke"><%= link_to "", "/colecoes/cocacola-clothing" %></li>
        <li class="botswana"><%= link_to "", "/colecoes/botswana" %></li>
        <li class="iodice"><%= link_to "", "/colecoes/iodice" %></li>
        <li class="eclectic"><%= link_to "", "/colecoes/ecletic" %></li>
        <li class="triton"><%= link_to "", "/colecoes/triton" %></li>
        <li class="mercatto"><%= link_to "", "/colecoes/mercatto" %></li>    
        <li class="shop"><%= link_to "", "/colecoes/shop-126" %></li>
        <li class="olli"><%= link_to "", "/colecoes/olli" %></li>
        <li class="colcci"><%= link_to "", "/colecoes/colcci" %></li>
        <li class="leeloo"><%= link_to "", "/colecoes/leeloo" %></li>
        <li class="mandi"><%= link_to "", "/colecoes/mandi" %></li>
      </ul>
  </div>  
  <div class="parcerias">
    <h1>PARCERIAS</h1>
    <ul>
        <li class="stylist"><a href="/colecoes/carol-ribeiro">CAROL RIBEIRO PARA OLOOK</a></li>
        <li><%= image_tag("home/cb.jpg", :alt => "Carol Ribeiro para Olook", :class => "img") %></li>
        <li class="stylist"><a href="estilista-juliana-jabour">JULIANA JABOUR PARA OLOOK</a></li>
        <li><%= image_tag("home/jj.jpg", :alt => "Juliana Jabour para Olook", :class => "img") %></li>
    </ul>
  </div>

</section>