<div id="carousel">
  <ul>
    <li>
      <%= link_to new_survey_path, onclick: track_event('Carrossel','Banner1')  do %>
        <%= image_tag "home/destaque_botao_melancia.jpg" %>
      <% end %>
    </li>
    <li>
      <%= link_to collection_theme_path("estilista-juliana-jabour"), onclick: track_event('Carrossel','Banner2') do %>
        <%= image_tag "home/banner_homer_spfw.jpg" %>
      <% end %>
    </li>
    <li>
      <%= link_to "/rasteiras", onclick: track_event('Carrossel','Banner3') do %>
        <%= image_tag "home/banner_homer_rasteiras.jpg" %>
      <% end %>
    </li>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-item" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-item" %>
</div>
