<div id="carousel">
  <ul>
    <li>
      <%= link_to new_survey_path do %>
        <%= image_tag "home/discover-your-style2.jpg" %>
      <% end %>
    </li>
    <li>
      <%= link_to "/tendencias/juliana-jabour-para-olook" do %>
        <%= image_tag "home/destaque_jj.jpg" %>
      <% end %>
    </li>
    <li>
      <%= link_to "/tendencias/colecao-andre-lima" do %>
        <%= image_tag "home/andre-lima.jpg" %>
      <% end %>
    </li>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "prev-item" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "next-item" %>
</div>
