#looks.looks_logged
  %h3
    Meus Looks
    =link_to "ver meu estilo", profile_url
  .mylook
    - @showroom_presenter.looks(hot_products: true).each_with_index do |product,idx|
      .look{class: ('last' if idx == 3)}
        = link_to product_seo_path(product.seo_path), onclick: track_event("LoggedHome", "ClickLook", "#{product.id}") do
          %span.look_thumbnail.js-thumbnail{data: {id: product.id, product: product.front_picture.image_url(:main), backside_picture: product.full_look_picture.image_url(:main) }}
  #see_too.js-logged-carousel
    %h4
      Veja Também
    %ul#carousel.elastislide-list
      - @showroom_presenter.products.each do |product|
        %li{data: {id: product.id}}
          = link_to image_tag(product.front_picture.try(:image_url, :main)), product_seo_path(product.seo_path), onclick: track_event("LoggedHome", "ClickCarouselProduct", "#{product.id}")
          %span= number_to_currency(product.retail_price)
          = link_to "Ver Mais", product_seo_path(product.seo_path), :class => 'seeMore'

:javascript
  log_event('view', 'logged_looks');
  log_event('view', 'logged_products');
