<div id="products_categories">
  <h1>O que você quer ver hoje?</h1>
  <ul>
    <li class="blusa"><%= link_to "Blusa", "/colecoes?cloth_subcategories[]=blusa"%></li>
    <li class="camisa"><%= link_to "Camisa", "/colecoes?cloth_subcategories[]=camisa" %></li>
    <li class="calca"><%= link_to "Calça", "/colecoes?cloth_subcategories[]=calca" %></li>
    <li class="saia"><%= link_to "Saia", "/colecoes?cloth_subcategories[]=saia" %></li>
    <li class="vestido"><%= link_to "Vestido", "/colecoes?cloth_subcategories[]=vestido" %></li>
    <li class="anabela"><%= link_to "Anabela", "/olooklet?shoe_subcategories[]=anabela"%></li>
    <li class="rasteira"><%= link_to "Rasteira", "/colecoes?shoe_subcategories[]=rasteira" %></li>
    <li class="sapatilha"><%= link_to "Sapatilha", "/colecoes?shoe_subcategories[]=sapatilha" %></li>
    <li class="scarpin"><%= link_to "Scarpin", "/olooklet?shoe_subcategories[]=scarpin" %></li>
    <li class="sneaker"><%= link_to "Sneaker", "/olooklet?shoe_subcategories[]=sneaker" %></li>
    <li class="acessorios"><%= link_to "Acessórios", "/colecoes?category_id=3&sort_filter=0&select_all_accessories=1  "%></li>
    <li class="bolsas"><%= link_to "Bolsas", "/colecoes?category_id=2&sort_filter=0&select_all_bags=1" %></li>
  </ul>
</div>
