#products_categories
  = image_tag("home/categories_title.png")
  %ul
    %li.blusa= link_to "Blusa", catalog_path('roupa', parameters: "blusa")
    %li.camisa= link_to "Camisa", catalog_path('roupa', parameters: "camisa")
    %li.calca= link_to "Calça", catalog_path('roupa', parameters: "calca")
    %li.vestido= link_to "Vestido", catalog_path("roupa", parameters: "vestido")
    %li.anabela= link_to "Anabela", catalog_path("sapato", parameters: "anabela")
    %li.bota= link_to "Bota", catalog_path('sapato', parameters: 'bota')
    %li.sapatilha= link_to "Sapatilha", catalog_path("sapato", parameters: "sapatilha-slipper")
    %li.scarpin= link_to "Scarpin", catalog_path("sapato", parameters: "scarpin")
    %li.sneaker= link_to "Sneaker", catalog_path("sapato", parameters: "sneaker")
    %li.acessorios= link_to "Acessórios", catalog_path("acessorio")
    %li.bolsas= link_to "Bolsas", catalog_path("bolsa")
