<div id="products_categories">
  <h1>O que você quer ver hoje?</h1>
  <ul>
    <li class="anabela"><%= link_to "Anabela", anabelas_path %></li>
    <li class="rasteira"><%= link_to "Rasteira", rasteiras_path %></li>
    <li class="sandalia"><%= link_to "Sandália", sandalias_path %></li>
    <li class="sapatilha"><%= link_to "Sapatilha", sapatilhas_path %></li>
    <li class="scarpin"><%= link_to "Scarpin", scarpins_path %></li>
    <li class="slipper"><%= link_to "Slipper", slippers_path %></li>
    <li class="sneaker"><%= link_to "Sneaker", sneakers_path %></li>
    <li class="acessorios"><%= link_to "Acessórios", accessories_path %></li>
    <li class="bolsas"><%= link_to "Bolsas", bags_path %></li>
    <li class="oculos"><%= link_to "Óculos", glasses_path %></li>
  </ul>
</div>
