<div id="products_categories">
  <h1>O que você quer ver hoje?</h1>
  <ul>
    <li class="blusa"><%= link_to "Blusa", "/roupas?cloth_subcategories[]=blusa"%></li>
    <li class="camisa"><%= link_to "Camisa", "/roupas?cloth_subcategories[]=camisa" %></li>
    <li class="calca"><%= link_to "Calça", "/roupas?cloth_subcategories[]=calca" %></li>
    <li class="saia"><%= link_to "Saia", "/roupas?cloth_subcategories[]=saia" %></li>
    <li class="vestido"><%= link_to "Vestido", "/roupas?cloth_subcategories[]=vestido" %></li>
    <li class="anabela"><%= link_to "Anabela", anabelas_path %></li>
    <li class="rasteira"><%= link_to "Rasteira", rasteiras_path %></li>
    <li class="sapatilha"><%= link_to "Sapatilha", sapatilhas_path %></li>
    <li class="scarpin"><%= link_to "Scarpin", scarpins_path %></li>
    <li class="sneaker"><%= link_to "Sneaker", sneakers_path %></li>
    <li class="acessorios"><%= link_to "Acessórios", accessories_path %></li>
    <li class="bolsas"><%= link_to "Bolsas", bags_path %></li>
  </ul>
</div>
