<div id="products_categories">
  <h1>O que você quer ver hoje?</h1>
  <ul>
    <li class="blusa"><%= link_to "Blusa", catalog_path('roupa', parameters: "blusa") %></li>
    <li class="camisa"><%= link_to "Camisa", catalog_path('roupa', parameters: "camisa") %></li>
    <li class="calca"><%= link_to "Calça", catalog_path('roupa', parameters: "calca") %></li>
    <li class="vestido"><%= link_to "Vestido", catalog_path("roupa", parameters: "vestido") %></li>
    <li class="anabela"><%= link_to "Anabela", anabelas_path %></li>
    <li class="bota"><%= link_to "Bota", catalog_path('sapato', parameters: 'bota') %></li>
    <li class="sapatilha"><%= link_to "Sapatilha", sapatilhas_path %></li>
    <li class="scarpin"><%= link_to "Scarpin", scarpins_path %></li>
    <li class="sneaker"><%= link_to "Sneaker", sneakers_path %></li>
    <li class="acessorios"><%= link_to "Acessórios", accessories_path %></li>
    <li class="bolsas"><%= link_to "Bolsas", bags_path %></li>
  </ul>
</div>
