<div id="products_categories">
  <h1>O que você quer ver hoje?</h1>
  <ul>
    <li class="anabela"><%= link_to "Anabela", "#" %></li>
    <li class="rasteira"><%= link_to "Rasteira", "#" %></li>
    <li class="sandalia"><%= link_to "Sandália", "#" %></li>
    <li class="sapatilha"><%= link_to "Sapatilha", "#" %></li>
    <li class="scarpin"><%= link_to "Scarpin", "#" %></li>
    <li class="slipper"><%= link_to "Slipper", "#" %></li>
    <li class="sneaker"><%= link_to "Sneaker", "#" %></li>
    <li class="acessorios"><%= link_to "Acessórios", "#" %></li>
    <li class="bolsas"><%= link_to "Bolsas", "#" %></li>
    <li class="oculos"><%= link_to "Óculos", "#" %></li>
  </ul>
</div>
