#looks.looks_unlogged
  %h3 Dicas Olook
  .mylook
    .look
      - if @showroom_presenter.look.present?
        = link_to product_seo_path(@showroom_presenter.look.product.seo_path), onclick: track_event("UnloggedHome", "ClickLook", "#{@showroom_presenter.look.product_id}") do
          %span.look_thumbnail{data: { product: @showroom_presenter.look.front_picture.big_showroom.url, backside_picture: @showroom_presenter.look.full_look_picture.big_showroom.url }}
  #see_too
    %h4
      Veja Também
    %ul#carousel.elastislide-list
      - @showroom_presenter.products.each do |product|
        %li
          =link_to image_tag(product.front_picture.try(:image_url, :showroom)), product_seo_path(product.seo_path), onclick: track_event("UnloggedHome", "ClickCarouselProduct", "#{product.id}")
          %span= number_to_currency(product.retail_price)
          = link_to "Ver Mais", product_seo_path(product.seo_path), :class => 'seeMore'
  = link_to image_tag("home/banner_deslogado.jpg"), wysquiz_path, :class => "banner_unlogged", onclick: track_event("UnloggedHome", "ClickBanner")

- unless user_signed_in?
  #emkt_box
    %ul.mail
      %li.promo
        %h2
          CADASTRE-SE E GANHE AGORA! 
        %p
          R$30 + 15% do valor do produto em créditos
        %fieldset
          =text_field_tag :email, "", :class => "box_mail js-newsletter js-middlebox", :default_value => "Digite aqui seu e-mail"
        %fieldset.botao
          =submit_tag "OK", :class => "bt_enviar js-subscribe js-middlebox"
      =image_tag("home/mkt_home.png")
    .fback.js-success.js-middlebox
      %p
        Enviamos para seu e-mail o vale de 
        %span
          R$30,00 GRÁTIS!
        %br
          Acesse seu e-mail agora e aproveite!
    .fdenied.js-error.js-middlebox
      %p
        Oops! Verificamos que seu e-mail já está cadastrado.