<section id="week_highlights">
  <h1><span>//</span>Veja os destaques da semana<span>//</span></h1>
  <ul>
  <% POST_RETRIEVER_SERVICE.retrieve_posts.each_with_index do |post, index| %>
    <li id="about">
      <%= link_to post[:link], class: "open_making_of", onclick: track_event('Destaques',"Banner#{index + 1}", post[:link]) do %>
        <%= image_tag post[:img_old_home], title: "destaque semanal" %>
      <% end %>
      <div class="video_description">
        <h1>Conheça mais sobre a olook</h1>
        <%= link_to "Gostou? Descubra o seu estilo e veja a coleção completa", wysquiz_path, :class => "home" %>
      </div>
      <h1><%= link_to post[:title], post[:link], onclick: track_event('Destaques',"Banner#{index + 1}", post[:link]) %></h1>
      <p><%= post[:subtitle] %></p>
      <%= link_to "Veja mais aqui", post[:link], class: "more", onclick: track_event('Destaques',"Banner#{index + 1}", post[:link]) %>
    </li>
  <% end %>
  </ul>
</section>
