<section id="week_highlights">
  <h1>Veja os destaques da semana</h1>
  <ul>
    <li id="about">
      <%= link_to "/stylist-news/amarre-se/", class: "open_making_of", onclick: track_event('Destaques','BannerEsquerda') do %>
        <%= image_tag "home/amarre-se_3.jpg", title: "MUST HAVE: INVERNO" %>
      <% end %>
      <div class="video_description">
        <h1>Conheça mais sobre a olook</h1>
        <%= link_to "Gostou? Descubra o seu estilo e veja a coleção completa", new_survey_path, :class => "home" %>
      </div>
      <h1><%= link_to "AMARRE-SE", "/stylist-news/amarre-se/", onclick: track_event('Destaques','BannerEsquerda') %></h1>
      <p>Sandália de amarração: o hit deste inverno</p>
      <%= link_to "Veja mais aqui", "/stylist-news/amarre-se/", class: "more", onclick: track_event('Destaques','BannerEsquerda') %>
    </li>
    <li id="shoes">
      <%= link_to "/roupas?cloth_subcategories[]=vestido", onclick: track_event('Destaques','BannerCentro') do %>
        <%= image_tag "home/vestidos.gif", title: "VESTIDO PARA TODAS" %>
      <% end %>      
      <h1><%= link_to "VESTIDO PARA TODAS", "/roupas?cloth_subcategories[]=vestido", onclick: track_event('Destaques','BannerCentro') %></h1>
      <p>Confira e escolha o seu modelo </p>
      <%= link_to "Confira aqui", "/roupas?cloth_subcategories[]=vestido", class: "more", onclick: track_event('Destaques','BannerCentro') %>
    </li>
    <li id="olookmovel" class="iehack"> <!-- NAO REMOVER A CLASSE -->
      <%= link_to olookmovel_path, onclick: track_event('Destaques','BannerDireita') do %>
        <%= image_tag "home/olookmovel.jpg", title: "Olookmóvel" %>
      <% end %>
      <h1><%= link_to "Olookmóvel", olookmovel_path, onclick: track_event('Destaques','BannerDireita') %></h1>
      <p>Saiba onde encontrar nossa vitrine móvel</p>
      <%= link_to "Veja mais aqui", olookmovel_path, class: "more", onclick: track_event('Destaques','BannerDireita') %>
    </li>
  </ul>
</section>
