<% content_for :head do %>
  <%= stylesheet_link_tag "section/home" %>
  <meta name="chaordic:source" content="home">
  <meta name="chaordic:user" content="<%= @chaordic_user %>">
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "home" %>
<% end %>

<section id="home">
  <ul class="warnings">
    <li class=""><%= image_tag 'home/topo_novo_revisao_frete_3.png', :class => '', style:"" %></li>
  </ul>
  <%= render "home/carousel" %>
  <%= render "home/week_highlights" %>
  <%= link_to "Olook na imprensa", press_path, id: "press" %>
  <%= render "home/brands" %>
  <!-- <div class="chaordic mostpopular" data-skin="MP-top-5"></div> -->
  <%= render "home/stylists" %>
  <%= render "home/concepts" %>
  <div class="chaordic rec4you"></div>
  <%= render "home/boxes" %>
  <%= render "home/products_categories" %>
</section>

<%= render partial: 'shared/metrics/criteo/home' %>
<%#= render partial: 'shared/metrics/triggit/home' %>
