<% content_for :head do %>
  <%= stylesheet_link_tag "section/home" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "home" %>
<% end %>

<section class="model">
  <h1>Didi Wagner</h1>
  <h2>Stylist Convidada</h2>
</section>

<section class="description">
  <h1>20% de desconto na sua primeira compra</h1>
  <h2>Seu estilo está aqui</h2>
  <h3>Receba todos os meses uma coleção de sapatos, bolsas<br /> e acessórios criada pelas nossas stylists.</h3>

  <section class="steps">
    <ul>
      <li><span>1</span> Você responde nosso<br />Style Quiz em menos<br />de 2 minutos.</li>
      <li><span>2</span> Recebe sua vitrine<br />personalizada.</li>
      <li class="last"><span>3</span> Compra seus produtos<br /> favoritos.</li>
    </ul>
  </section>

  <!-- section class="making_of">
    <%= link_to "Video", "#", :rel => "http://youtu.be/edo-jggwD-4", :class => "open_making_of" %>
    <div class="video_description">
      <h1>Making of - Coleção de junho</h1>
      <%= link_to "Gostou? Descubra o seu estilo e veja a coleção completa", new_survey_path, :class => "home" %>
    </div>
    <p>Coleção de junho <span>Confira o making of</span></p>
  </section>
  -->
  <%= link_to 'Comece aqui. É grátis!', new_survey_path, :class => "start" %>
</section>

<%= render 'shared/facebook_like_button' %>
