- content_for :head do
  = stylesheet_link_tag "section/home"
  %meta{:content => "home", :name => "chaordic:source"}/
  %meta{:content => @chaordic_user, :name => "chaordic:user"}/
  %meta{property: "og:title", content: "Olook | Roupas e Sapatos Femininos Online"}/
  %meta{property: "og:description", content: "Na Olook você compra os sapatos, acessórios e roupas femininas mais visados da moda com segurança e facilidade."}/
  %meta{property:"og:image", content:"http://d22zjnmu4464ds.cloudfront.net/assets/home/olook-5c5edb27a8d142a5e4b9db909c5bfbde.jpg"}/
  %meta{property:"og:url", content:"#{root_url}"}/
  %meta{property:"og:site_name", content:"Olook"}/
  %meta{property: "og:type", content:"website"}/
  %meta{property:"fb:app_id", content:"#{@facebook_app_id}"}/

- content_for :footer do
  = javascript_include_tag "section/lite_home"
  - if @current_campaign && @current_campaign.lightbox?
    = render :partial => "shared/modal/lightbox", :locals => {:image_url => @current_campaign.lightbox_url, :link => @current_campaign.link}
- content_for :data_layer do
  = render "shared/data_layer/home"

%section#home

  #banner
    .column
      - if @highlights[:left] && @highlights[:left].left_image
        = link_to @highlights[:left].link, onclick: track_event(show_unlogged_home? ? "UnloggedHome" : "LoggedHome", "ClickHighlight", "left") do
          .highlight{data: {product: @highlights[:left].left_image.url(:site), alt: @highlights[:left].alt_text}}
          %h2
            = @highlights[:left].title
            %span= @highlights[:left].subtitle
    .column.big
      - if @highlights[:center] && @highlights[:center].image
        = link_to @highlights[:center].link, onclick: track_event(show_unlogged_home? ? "UnloggedHome" : "LoggedHome", "ClickHighlight", "center") do
          .highlight{data: {product: @highlights[:center].image.url(:site), alt: @highlights[:center].alt_text}}
          %h2 
            = @highlights[:center].title
            %span= @highlights[:center].subtitle
    .column
      - if @highlights[:right] && @highlights[:right].right_image
        = link_to @highlights[:right].link, onclick: track_event(show_unlogged_home? ? "UnloggedHome" : "LoggedHome", "ClickHighlight", "right") do
          .highlight{data: {product: @highlights[:right].right_image.url(:site), alt: @highlights[:right].alt_text}}
          %h2 
            = @highlights[:right].title
            %span= @highlights[:right].subtitle      

  - if show_unlogged_home?
    = cache "home/unlogged_page", expire_in: 30.minutes do
      = render "unlogged_page"
  - else
    = cache "home/#{@cache_key}", expire_in: 30.minutes do
      = render "logged_page"
  %section#week_highlights
    = render "home/week_highlights"
    = render "home/wishlist"
