- content_for :head do
  = stylesheet_link_tag "section/home"
  %meta{:content => "home", :name => "chaordic:source"}/
  %meta{:content => @chaordic_user, :name => "chaordic:user"}/
- content_for :footer do
  = javascript_include_tag "section/lite_home"

%section#home
  #banner
    .column
      - left_highlight = @highlights.select{|h| h.position == 2}.last
      =image_tag left_highlight.left_image, alt: left_highlight.alt_text, title: left_highlight.alt_text

      %h2 
        = left_highlight.title
        %span= left_highlight.subtitle
    .column.big
      - center_highlight = @highlights.select{|h| h.position == 1}.last
      =image_tag center_highlight.image, alt: center_highlight.alt_text, title: left_highlight.alt_text
      %h2 
        = center_highlight.title
        %span= center_highlight.subtitle
    .column
      - right_highlight = @highlights.select{|h| h.position == 3}.last
      =image_tag right_highlight.right_image, alt: right_highlight.alt_text, title: left_highlight.alt_text
      %h2 
        = right_highlight.title
        %span= right_highlight.subtitle
  #looks
    %h3
      meus looks
      =link_to "consulte seu perfil", "teste"
    .mylook
      .look
        =image_tag "home/trash/look1.jpg"
      .look
        =image_tag "home/trash/look2.jpg"
      .look
        =image_tag "home/trash/look3.jpg"
      .look.last
        =image_tag "home/trash/look4.jpg"
  #see_too
    %h4
      Veja Também
    %ul#carousel.elastislide-list
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look1.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look2.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look3.jpg'), "#"
        %span
          R$ 150,00
      %li
        =link_to image_tag('home/trash/look4.jpg'), "#"
        %span
          R$ 150,00
  %section#week_highlights
    %h4 
      %span s
      tylist 
      %span n
      ews
    = render "home/week_highlights"
