<% content_for :head do %>
  <%= stylesheet_link_tag "section/home" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "home" %>
<% end %>

<section class="model">
  <div class="label">
    <p><strong>30%</strong> <span>de desconto</span> na sua primeira<br /> compra</p>
  </div>
</section>

<section class="description">
  <h1>Seu estilo está aqui.</h1>
  <h2>Receba todos os meses uma seleção de sapatos,<br /> bolsas e acessórios criada pelas nossas stylists</h2>

  <section class="steps">
    <ul>
      <li><span>1</span> Responda o Style Quiz em menos de 2 minutos.</li>
      <li><span>2</span> Apresentamos sua vitrine personalizada.</li>
      <li><span>3</span> Compre os<br /> seus produtos favoritos.</li>
    </ul>
  </section>

  <!-- section class="making_of">
    <%= link_to "Video", "#", :rel => "http://youtu.be/edo-jggwD-4", :class => "open_making_of" %>
    <div class="video_description">
      <h1>Making of - Coleção de junho</h1>
      <%= link_to "Gostou? Descubra o seu estilo e veja a coleção completa", new_survey_path, :class => "home" %>
    </div>
    <p>Coleção de junho <span>Confira o making of</span></p>
  </section>
  -->
  <%= link_to 'Comece aqui. É grátis!', new_survey_path, :class => "start" %>
</section>

<%= render 'shared/facebook_like_button' %>
