- content_for :head do
  = stylesheet_link_tag "section/home"
  %meta{property: "og:title", content: "Olook | Roupas e Sapatos Femininos Online"}/
  %meta{property: "og:description", content: "Na Olook você compra os sapatos, acessórios e roupas femininas mais visados da moda com segurança e facilidade."}/
  %meta{property:"og:image", content:"http://d22zjnmu4464ds.cloudfront.net/assets/home/olook-5c5edb27a8d142a5e4b9db909c5bfbde.jpg"}/
  %meta{property:"og:url", content:"#{root_url}"}/
  %meta{property:"og:site_name", content:"Olook"}/
  %meta{property: "og:type", content:"website"}/
  %meta{property:"fb:app_id", content:"#{@facebook_app_id}"}/

- content_for :footer do
  = javascript_include_tag "section/lite_home"
  - if @current_campaign && @current_campaign.lightbox?
    = render :partial => "shared/modal/lightbox", :locals => {:image_url => @current_campaign.lightbox_url, :link => @current_campaign.link}
- content_for :data_layer do
  = render "shared/data_layer/home"

%section#home

  #banner
    .column
      - if @left_highlight && @left_highlight.image_for_position
        = link_to @left_highlight.link, onclick: track_event(show_unlogged_home? ? "UnloggedHome" : "LoggedHome", "ClickHighlight", "left") do
          .highlight{data: {product: @left_highlight.image_for_position, alt: @left_highlight.alt_text}}
          %h2 
            = @left_highlight.title
            %span= @left_highlight.subtitle
    .column.big
      - if @center_highlight && @center_highlight.image_for_position
        =link_to @center_highlight.link, onclick: track_event(show_unlogged_home? ? "UnloggedHome" : "LoggedHome", "ClickHighlight", "center") do
        
          .highlight{data: {product: @center_highlight.image_for_position, alt: @center_highlight.alt_text}}
          %h2 
            = @center_highlight.title
            %span= @center_highlight.subtitle
    .column
      - if @right_highlight && @right_highlight.image_for_position
        =link_to @right_highlight.link, onclick: track_event(show_unlogged_home? ? "UnloggedHome" : "LoggedHome", "ClickHighlight", "right") do
        
          .highlight{data: {product: @right_highlight.image_for_position, alt: @right_highlight.alt_text}}
          %h2 
            = @right_highlight.title
            %span= @right_highlight.subtitle

  - if show_unlogged_home?
    = cache "home/unlogged_page", expire_in: 30.minutes do
      = render "unlogged_page"
  - else
    = cache "home/#{@cache_key}", expire_in: 30.minutes do
      = render "logged_page"
  %section#week_highlights
    = render "home/week_highlights"
    = render "home/wishlist"
