<% content_for :head do %>
  <%= stylesheet_link_tag "section/home" %>
  <meta name="chaordic:source" content="home">
  <meta name="chaordic:user" content="<%= @chaordic_user %>">
<% end %>

<section id="home">
  <%= render "home/week_highlights" %>




--------------------------------------------OLD----------------------
  <%= link_to "Olook na imprensa", press_path, id: "press" %>
  <%= render "home/stylists" %>
  <%= render "home/brands" %>
  <div class="chaordic rec4you"></div>
  <%= render "home/boxes" %>
  <%= render "home/products_categories" %>
</section>

<%= render partial: 'shared/metrics/criteo/home' %>
<% content_for :footer do %>
  <%= javascript_include_tag "home" %>
<% end %>
