<% content_for :head do %>
  <%= stylesheet_link_tag "section/home" %>
  <meta name="chaordic:source" content="home">
  <meta name="chaordic:user" content="<%= @chaordic_user %>">
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "home" %>
<% end %>

<section id="home">
  <ul class="warnings">
    <li class="freight">FRETE GRÁTIS para o SUL E SUDESTE<br />EM COMPRAS ACIMA DE R$ 60,00</li>
    <li class="exchange">DEVOLUÇÃO E TROCA<br />GRÁTIS em até 30 DIAS</li>
    <li class="discount">GANHE 15% DE VOLTA<br />Em crédito para compras acima de R$ 100</li>
  </ul>
  <%= render "carousel" %>
  <%= render "week_highlights" %>
  <%= link_to "Olook na imprensa", press_path, id: "press" %>
  <%= render "top5" %>
  <%= render "stylists" %>
  <%= render "boxes" %>
  <%= render "products_categories" %>
  <%= render "facebook_box" %>
</section>

<%= render partial: 'shared/metrics/criteo/home' %>
<%= render partial: 'shared/metrics/triggit/home' %>
<%= render partial: 'shared/metrics/nextperformance/home' %>
