- content_for :head do
  = stylesheet_link_tag "section/home"
  %meta{:content => "home", :name => "chaordic:source"}/
  %meta{:content => @chaordic_user, :name => "chaordic:user"}/
- content_for :footer do
  = javascript_include_tag "section/lite_home"

%section#home
  #banner
    .column
      - left_highlight = @highlights[HighlightPosition::LEFT]
      = link_to left_highlight.link do
        = image_tag left_highlight.left_image, alt: left_highlight.alt_text, title: left_highlight.alt_text
        %h2 
          = left_highlight.title
          %span= left_highlight.subtitle
    .column.big
      - center_highlight = @highlights[HighlightPosition::CENTER]
      =link_to center_highlight.link do
        =image_tag center_highlight.image, alt: center_highlight.alt_text, title: center_highlight.alt_text
        %h2 
          = center_highlight.title
          %span= center_highlight.subtitle
    .column
      - right_highlight = @highlights[HighlightPosition::RIGHT]
      =link_to right_highlight.link do
        =image_tag right_highlight.right_image, alt: right_highlight.alt_text, title: left_highlight.alt_text
        %h2 
          = right_highlight.title
          %span= right_highlight.subtitle
  - if current_user
    = render "logged_page"
  - else
    = render "unlogged_page"
  %section#week_highlights
    %h4 
      %span s
      tylist 
      %span n
      ews
    = render "home/week_highlights"
