<%= form_for([:admin,@lookbook], html: {multipart: true}) do |f| %>
  <% if @lookbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookbook.errors.count, "error") %> prohibited this landing page from being saved:</h2>

      <ul>
      <% @lookbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label :active %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :thumb_image %><br />
    <%= f.file_field :thumb_image %>
  </div>

  <%= fields_for :video do |v| %>
    <div class="field">
      <%= v.label :title, 'Video title' %><br />
      <%= v.text_field :title %>
    </div>
    <div class="field">
      <%= v.label :url, 'Video url' %><br />
      <%= v.text_field :url %>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :icon %><br />
    <%= f.file_field :icon %>
  </div>
  <div class="field">
    <%= f.label :icon_over %><br />
    <%= f.file_field :icon_over %>
  </div>

  <div class="field">
    <%= f.label :fg_color %><br />
    <%= f.text_field :fg_color, class: 'color-picker miniColors', size: 6, maxlength: 7, autocomplete: 'off' %>
  </div>
  <div class="field">
    <%= f.label :bg_color %><br />
    <%= f.text_field :bg_color, class: 'color-picker miniColors', size: 6, maxlength: 7, autocomplete: 'off' %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
