<style>
<% lookbook.images.each do |image| %>
  <% image.lookbook_image_maps.each do |lim| %>
#pm<%= lim.id %> {top:<%= lim.coord_y %>px; left:<%= lim.coord_x %>px;}
  <% end %>
<% end %>
</style>
<h2>Images</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>Imagem</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% lookbook.images.each do |image| %>
    <tr>
      <td>
        <div id="im<%= image.id %>">
          <% unless image.image_url(:thumb).nil? %>
            <%= image_tag image.image_url(:thumb).to_s %>
          <% end %>
          <% render partial: image.lookbook_image_maps %>
        </div>
      </td>
      <td><%= link_to 'Mostrar', admin_lookbook_image_path(image.lookbook, image), class: 'button' %></td>
      <td><%= link_to 'Editar', edit_admin_lookbook_image_path(image.lookbook, image), class: 'button' %></td>
      <td><%= link_to 'Apagar', admin_lookbook_image_path(image.lookbook, image), confirm: 'Tem certeza?', method: :delete, class: 'button danger' %></td>
    </tr>
  <% end %>
  </table>
  <div class="action-bar wat-cf">
    <div class="actions">
      <%= link_to 'Adicionar nova imagem', new_admin_lookbook_image_path(lookbook) %>
    </div>
  </div>
</div>
