<h2>Produtos</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th style="width:100px">Produto</th>
      <th>Coleção</th>
      <th>ID</th>
      <th>Perfil</th>
      <th>Nome</th>
      <th>Estoque</th>
      <th>Visível?</th>
      <th>Criteo</th>
      <th></th>
      <th></th>
    </tr>

  <% @lookbook_products.each do |lb| %>
    <tr class="<%= 'not-visible' if !lb.product.is_visible? %>">
      <td><%= image_tag(lb.product.showroom_picture, size: '100x100') if lb.product.showroom_picture %></td>
      <td><%= lb.product.collection.name if lb.product.collection %></td>
      <td><%= lb.product.id %></td>
      <td><%= lb.product.profiles.first.name if lb.product.profiles.size > 0 %></td>
      <td><%= lb.product.name %></td>
      <td><%= lb.product.inventory %></td>
      <td><%= lb.product.is_visible? ? "Sim" : "Não" %></td>
      <td><%= lb.criteo %></td>
      <td><%= link_to 'Mostrar', admin_product_path(lb.product) %></td>
      <td><%= link_to 'Editar', edit_admin_product_path(lb.product) %></td>
    </tr>
  <% end %>
  </table>
  <div class="action-bar wat-cf">
    <div class="actions">
      <%= link_to 'Editar produtos', admin_lookbook_products_path(lookbook) %>
    </div>
  </div>
</div>
