<h2>Products</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>Product</th>
      <th>Collection</th>
      <th>ID</th>
      <th>Profile</th>
      <th>Name</th>
      <th>Inventory</th>
      <th>Criteo</th>
      <th></th>
      <th></th>
    </tr>

  <% @lookbook_products.each do |lb| %>
    <tr>
      <td><%= image_tag(lb.product.showroom_picture, size: '150x150') if lb.product.thumb_picture %></td>
      <td><%= lb.product.collection.name if lb.product.collection %></td>
      <td><%= lb.product.id %></td>
      <td><%= lb.product.profiles.first.name if lb.product.profiles.size > 0 %></td>
      <td><%= lb.product.name %></td>
      <td><%= lb.product.inventory %></td>
      <td><%= lb.criteo %></td>
      <td><%= link_to 'Show', admin_product_path(lb.product) %></td>
      <td><%= link_to 'Edit', edit_admin_product_path(lb.product) %></td>
    </tr>
  <% end %>
  </table>
  <div class="action-bar wat-cf">
    <div class="actions">
      <%= link_to 'Edit products', "product/#{lookbook.id}"%>
    </div>
  </div>
</div>
