<h2>Listing Lookbook</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @lookbooks.each do |lookbook| %>
    <tr>
      <td><%= lookbook.name %></td>
      <td><%= link_to 'Show', admin_lookbook_path(lookbook) %></td>
      <td><%= link_to 'Edit', edit_admin_lookbook_path(lookbook) %></td>
      <td><%= link_to 'Destroy', admin_lookbook_path(lookbook), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />
  <% content_for :secondary_navigation do %>
    <li><%= link_to 'New Lookbook', new_admin_lookbook_path %></li>
  <% end %>
  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @lookbooks %>
    </div>
  </div>
</div>