<%= form_for([:admin,@lookbook]) do |f| %>
  <% if @lookbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lookbook.errors.count, "error") %> prohibited this landing page from being saved:</h2>

      <ul>
      <% @lookbook.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :name %>
  </div>
 	<table class="table">
    <tr>
      <th style="width:100px">Product</th>
      <th>Collection</th>
      <th>ID</th>
      <th>Profile</th>
      <th style="width:125px">Name</th>
      <th>Inventory</th>
      <th>Visible?</th>
      <th>Select</th>
      <th>Criteo</th>
    </tr>
<%
@products.each do |product|
  related = !product.lookbooks_products.empty? && product.lookbooks_products[0].lookbook_id == @lookbook.id ? product.lookbooks_products[0].criteo : false
-%>
    <tr class="<%= 'not-visible' if !product.is_visible %>">
      <td><%= image_tag(product.showroom_picture, :size => '100x100') if product.showroom_picture %></td>
      <td><%= product.collection.name if product.collection %></td>
      <td><%= product.id %></td>
      <td><%= product.profiles.first.name if product.profiles.size > 0 %></td>
      <td><%= product.name %></td>
      <td><%= product.inventory %></td>
      <td><%= product.is_visible ? "Yes" : "No" %></td>
      <td><%= check_box_tag "lookbook[product_list][#{product.id}]", "1", @lookbook.products.detect{ |d| d == product } %></td>
      <td><%= check_box_tag "lookbook[product_criteo][#{product.id}]", "1", related %></td>
    </tr>
<% end %>
  </table>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
