<style>
.product-map {z-index:1; position:relative; background-repeat:no-repeat; width:auto; display:inline-block; padding:5px 0px 5px 30px; height:auto; min-height:20px;}
.product-map {background-image:url(<%= @lookbook.icon_url %>);}
.product-map:hover {background-image:url(<%= @lookbook.icon_over.url %>);}
.product-map span, .product-map-example {visibility:hidden; padding:5px; background-color:<%= @lookbook.bg_color %>;}
.product-map a, .product-map-example {color:<%= @lookbook.fg_color %>; text-shadow:none;}
.product-map:hover span, .product-map-example {visibility:visible;}
.product-map-example {width:auto; display:inline-block;}
</style>

<h2>Lookbook</h2>
<div class="inner">
  <p id="notice"><%= notice %></p>

  <p>
    <b>Name:</b>
    <%= @lookbook.name %>
  </p>
  <p>
    <b>Thumb:</b><br/>
    <%= image_tag @lookbook.thumb_image.try(:url) if @lookbook.thumb_image %>
  </p>

  <p>
    <b>Icon:</b><br/>
    <%= image_tag @lookbook.icon.try(:url) if !@lookbook.icon.blank? %>
  </p>
  <p>
    <b>Icon Over:</b><br/>
    <%= image_tag @lookbook.icon_over.try(:url) if !@lookbook.icon_over.blank? %>
  </p>
  <p>
    <b>Foreground and background colors:</b>
    <div class="product-map-example">Texto de exemplo</div>
  </p>

  <%= render :partial => 'images', :locals => {:lookbook => @lookbook} %>
  <%= render :partial => 'products', :locals => {:lookbook => @lookbook} %>
  
<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_lookbook_path(@lookbook) %></li>
  <li><%= link_to 'Back', admin_lookbooks_path %></li>
<% end %>
</div>
