<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div class="full_bg">
    <div class="content" id="occasion">
      <%= form_tag '/gift/occasions' do |f| %>
        <%= hidden_field :recipient, :facebook_uid, :value => @facebook_uid %>
        <div>
          Você esta criando um presente de <p><%= collection_select :occasion, :gift_occasion_type_id, @occasion_types, :id, :name, {:prompt => 'Escolha', :selected => @occasion_type_id}, {:class => "custom_select type", :title => "escolha"} %></p>, para <%= text_field :recipient, :name, :value => @name %>, que é minha <p><%= collection_select :recipient, :gift_recipient_relation_id, @recipient_relations, :id, :name, {:prompt => 'Escolha', :selected => @recipient_relation_id}, { :class => "custom_select relation", :title => "escolha" } %></p>, e é comemorado no dia <p><%= select_day @day, {:field_name => 'day', :prefix => 'occasion', :prompt => 'Dia'}, { :class => "custom_select day", :title => "dia" } %></p> de <p><%= select_month @month, {:field_name => 'month', :prefix => 'occasion', :prompt => 'Mês'}, { :class => "custom_select month", :title => "mês" } %></p>
        </div>
        <%= submit_tag "Continuar" %>
      <% end %>
    </div>
  </div>
<% end %>

<div id="occasion_new" class="content">
  <%= render "gift/shared/calendar", :friends => @friends %>
</div>
