<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div class="content" id="occasion">
    <%= form_tag '/gift/occasions/create' do |f| %>
      <%= hidden_field :recipient, :facebook_uid, :value => @facebook_uid %>
      <p>Você esta criando um presente de <%= collection_select :occasion, :gift_occasion_type, @occasion_types, :id, :name, {:prompt => 'Escolha', :selected => @occasion_type_id}, {:style => 'border: 3px solid black'} %>, para <%= text_field :recipient, :name, :value => @name %>, que é minha <%= collection_select :recipient, :gift_recipient_relation, @recipient_relations, :id, :name, {:prompt => 'Escolha', :selected => @recipient_relation_id}, {:style => 'border: 3px solid black'} %>, e é comemorado no dia <%= select_day @day, {:field_name => 'day', :prefix => 'occasion', :prompt => 'Dia'}, {:style => 'border: 3px solid black'} %> de <%= select_month @month, {:field_name => 'month', :prefix => 'occasion', :prompt => 'Mês'}, {:style => 'border: 3px solid black'} %>.</p>
      <%= submit_tag "Continuar" %>
    <% end %>
  </div>
<% end %>

<div id="occasion_new" class="content">
  <%= render "gift/shared/calendar", :friends => @friends %>
</div>
