<h1>Criar um presente</h1>


<%= form_tag '/gift/occasions', :method => :post do |f| %>
	<%= hidden_field :recipient, :facebook_uid %>
	
	<p>
		Você esta criando um presente de 
		<%= collection_select :occasion, :gift_occasion_type_id, @occasion_types, :id, :name, :prompt => 'Escolha', :selected => params[:type] %> para 
		<%= text_field :recipient, :name, :value => params[:name] %>, que é minha 
		<%= collection_select :recipient, :gift_recipient_relation_id, @recipient_relations, :id, :name, :prompt => 'Escolha', :selected => params[:relation] %>, para o dia 
		<%= select_day @day, :field_name => 'day', :prefix => 'occasion', :prompt => 'Dia' %>/<%= select_month @month, :field_name => 'month', :prefix => 'occasion', :prompt => 'Mês' %>
		<%= button_tag 'Continuar' %>
	</p>
<% end %>