<table cellpadding="0" cellspacing="0">
  <tbody>
    <tr>
      <td>
        <h1>Para:</h1>
        <p><%= @gift_recipient.name %></p>
      </td>
      <td>
        <h1>Presente de:</h1>
        <p class="occasion"><%= @occasion.type_name %></p>
      </td>
      <td>
        <h1>Data:</h1>
        <p><%= l(Date.new(Date.today.year, @occasion.month, @occasion.day), :format => :short) %></p>
      </td>
    </tr>
    <tr>
      <td>
        <h1>Tamanho do sapato:</h1>
        <p><%= @gift_recipient.shoe_size %> <%= link_to "Alterar", edit_gift_recipient_path(@gift_recipient) %></p>
      </td>
      <td>
        <h1>Que é sua:</h1>
        <p class="relation"><%= @gift_recipient.relation_name %></p>
      </td>
    </tr>
  </tbody>
</table>
