- content_for :head do
  = stylesheet_link_tag "beta"

- finished("checkout_test")
.confirmation
  
  =render partial: @payment_method, locals: {order: @order}

  .addressDelivery
    .cart_products{class: ("long_cart" if @has_long_cart) }
      %span
        Seus produtos
      %ul.products
        - @order.line_items.each do |item|
          %li.product
            = image_tag(item.variant.product.showroom_picture, :border => 0)
            %span
              = number_to_currency(item.retail_price)
    %p
      %span
        Endereço para entrega
      - f = @order.freight
      %ul
        %li= [f.street, f.number, f.complement].join(', ')
        %li= [f.neighborhood, f.zip_code].join(', ')
        %li= [f.city, f.state].join(', ')
    %p
      %span
        Frete
      - if @order.try(:freight).try(:price) > 0
        = number_to_currency(@order.freight.price)
      - else
        Grátis
      / Frete a Jato - Entrega em até 3 horas - R$15,00
    %p
      %span
        Forma de Pagamento
      = @payment_description
  %br
  .banner
    .olookGift
      %span
        Presente OLOOK para você
      %p
        Pague seu pedido e ganhe 
        %span
          = number_to_currency(LoyaltyProgramCreditType.amount_for_order(@order)) 
          GRÁTIS 
        em créditos fidelidade para utilizar já em sua próxima compra. Aproveite!
    = link_to image_tag("common/seal-ebit.gif"), "https://www.ebitempresa.com.br/bitrate/pesquisa1.asp?empresa=1193295", :target => :blank

