- content_for :head do
  = stylesheet_link_tag "beta"
- content_for :footer do
  = javascript_include_tag "beta"

.login
  .login_fb
    %p
      FAÇA SEU LOGIN NA OLOOK USANDO SUA CONTA DO FACEBOOK
  .login_user
    %p
      JÁ POSSUI CADASTRO?
      %span
        É SÓ LOGAR!
    = render partial: "shared/errors", locals: { object: @user }
    = render partial: "users/sessions/form_user", locals: { checkout_login: true}

  .register
    %p
      AINDA NÃO TEM CONTA NA OLOOK?
      %span
        CADASTRE-SE AQUI!

    = form_tag("#", class: 'js-registrationForm') do
      %fieldset
        = label_tag 'user[name]', "Nome completo"
        = text_field_tag 'user[name]', "", class: "fields"
      %fieldset
        = label_tag 'user[email]', "E-mail"
        = email_field_tag 'user[email]', "", class: "fields"
      %fieldset
        = label_tag 'user[password]', "Senha"
        = password_field_tag 'user[password]', "", class: "fields"
      = button_tag "Cadastrar", class: 'js-submit'