<h2>Campanha</h2>
<div class="inner">
  <p>
    <b>Id</b>
    <%= @campaign.id %>
  </p>
  <p>
    <b>Título da campanha</b>
    <%= @campaign.title %>
  </p>
  <p>
    <b>Está ativo?</b>
    <%= @campaign.is_active? %>
  </p>
  <p>
    <b>Backgound</b>
    <%= @campaign.background %>
  </p>
  <p>
    <b>Imagem do banner</b>
    <% if @campaign.banner? %>
      <%= image_tag @campaign.banner %>
    <% end %>
  </p>
  <p>
    <b>Imagem do Lightbox</b>
    <% if @campaign.lightbox? %>
      <%= image_tag @campaign.lightbox %>
    <% end %>
  </p>
  <p>
    <b>Inicia em</b>
    <%= @campaign.start_at %>
  </p>
  <p>
    <b>Termina em</b>
    <%= @campaign.end_at %>
  </p>
  <p>
    <b>Descrição</b>
    <%= @campaign.description %>
  </p>
  <p>
    <b>Banner será exibido nas páginas</b>
    <ul>
      <% @campaign.pages.each do |page| %>
        <li><%= page.description %></li>
      <% end %>
    </ul>
  </p>
  <p>
    <b>Criado em</b>
    <%= @campaign.created_at %>
  </p>
  <p>
    <b>Atualizado em</b>
    <%= @campaign.updated_at %>
  </p>

</div>


<% content_for :secondary_navigation do %>
  <li><%= link_to 'Editar', edit_admin_campaign_path(@campaign) %></li>
  <li><%= link_to 'Voltar', admin_campaigns_path %></li>
<% end %>

