%h1 Matéria de imprensa

%div.inner
  %table.table
    %tr
      %th Imagem
      %th Título
      %th Citação
      %th Onde?
      %th Quando?
      %th
      %th

    - @clippings.each do |clipping|
      %tr
        %td= image_tag(clipping.logo)
        %td= clipping.title
        %td= clipping.clipping_text
        %td= clipping.source
        %td= clipping.published_at
        %td= link_to 'Editar', edit_admin_clipping_path(clipping)
        %td= link_to 'Apagar', [:admin, clipping], :method => :delete, :data => { :confirm => 'Tem certeza ?' }

  %br

= link_to 'Adicionar nova matéria', new_admin_clipping_path
