<% address = Address.find(@order.freight.address.id) %>
<script type="text/javascript" charset="utf-8">
  <%= track_event('FreightABTest', 'TestCheckout' + @ab_test_label, address.state)  %>
</script>

<%= link_to "alterar", (checkout_addresses_path unless has_payment), :class => "change" unless @order %>
<div class="box-order">
  <div class="item destinatario">
    <h2>ENTREGA</h2>
    <p>
      <span class="txt-black">Nome do destinatário: </span><%= address.identification %><br/>
      <span class="txt-black">Endereço: </span><%= "#{address.street}, #{address.number}" %><%= address.complement? ? ", #{address.complement}" : "" %><br />
      <%= "#{address.neighborhood} - #{address.city}/#{address.state}" %><br />
      <%= "#{address.zip_code}" %>
    </p>
    
  </div>
  <% 
  gift_wrap = @order.gift_wrap if has_payment
  gift_wrap ||= cart_service.cart.gift_wrap
  if gift_wrap %>
  <div class="gift-box">
    <p>Este pedido será embrulhado para presente</p>
  </div>
  <% end %>
</div>
