<% address = Address.find(cart_service.freight[:address_id]) %>
<%= link_to "alterar", (cart_checkout_addresses_path unless has_payment), :class => "change" %>
<div class="request_info">
  <div class="item">
    <h1>Endereço de entrega</h1>
    <p><%= address.identification %></p>
    <p><%= "#{address.street}, #{address.number}" %><%= address.complement? ? ", #{address.complement}" : "" %></p>
    <p><%= "#{address.neighborhood} - #{address.zip_code}" %></p>
    <p><%= "#{address.city}, #{address.state}" %></p>
    <div class="delivery_time">
      <p>O prazo de entrega para este endereço é de <%= cart_service.freight[:delivery_time] %> dias úteis</p>
    </div>
  </div>
</div>
