<div id="request_info">
  <%= yield :checkout_sidebar %>
  <div class="item">
    <h1>Meu Pedido <%= link_to "alterar", cart_path unless has_payment %></h1>
    <table cellpadding="0" cellspacing="0">
      <tfoot>
        <tr>
          <td>Total:</td>
          <td class="value"><%= number_to_currency(cart_service.total) %></td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>Sub-total:</td>
          <td class="value"><%= number_to_currency(cart_service.subtotal)  %></td>
        </tr>
      <% if cart_service.gift_wrap? %>
        <tr>
          <td>Embalagem de presente</td>
          <td class="value">+ R$ 5,00</td>
        </tr>
      <% end %>
        <% if cart_service.total_credits_discount > 0 %>
        <tr>
          <td>Crédito</td>
          <td class="value credit">- <%= number_to_currency(cart_service.total_credits_discount) %></td>
        </tr
        <% end %>
        <% if cart_service.total_coupon_discount > 0 %>
        <tr>
          <td>Cupom desconto</td>
          <td class="value credit">- <%= number_to_currency(cart_service.total_coupon_discount) %> <%= cart_service.coupon.discount_percent %></td>
        </tr>
        <% end %>
        <% if cart_service.freight_price > 0%>
        <tr>
          <td>Frete</td>
          <td class="value">+ <%= number_to_currency(cart_service.freight_price) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
