<%= yield :checkout_sidebar %>

<%= link_to "alterar", (cart_path unless has_payment), :class => "change" unless @order %>
<div class="request_info">
  <div class="item">
    <h1>Meu Pedido </h1>
    <table cellpadding="0" cellspacing="0">
      <tfoot>
        <tr>
          <td>Total:</td>
          <%
          total_paid = @order.amount_paid if has_payment
          total_paid ||= cart_service.total
          %>
          <td class="value"><%= number_to_currency(total_paid) %></td>
        </tr>
      </tfoot>
      <tbody>
        <tr>
          <td>Sub-total:</td>
          <%
          gross_amount = @order.gross_amount if has_payment
          gross_amount ||=  cart_service.subtotal(:price)
          %>
          <td class="value"><%= number_to_currency(gross_amount)  %></td>
        </tr>
        <%
        gift_wrap = @order.gift_wrap if has_payment
        gift_wrap ||= cart.gift_wrap
        if gift_wrap %>
        <tr>
          <td>Embalagem de presente</td>
          <td class="value">+ R$ 5,00</td>
        </tr>
        <% end
        credits = @order.payments.for_credits.sum(:total_paid) if has_payment
        credits ||= cart_service.total_credits_discount
        if credits > 0 %>
        <tr>
          <td>Crédito</td>
          <td class="value credit">- <%= number_to_currency(credits) %></td>
        </tr>
        <% end %>
        <%
        olooklet = @order.payments.for_olooklet.sum(:total_paid) if has_payment
        olooklet ||= cart_service.total_discount_by_type(:olooklet)
        if olooklet > 0 %>
        <tr>
          <td>Liquidação</td>
          <td class="value credit">- <%= number_to_currency(olooklet) %></td>
        </tr>
        <% end
        promotion = @order.payments.for_promotion.sum(:total_paid) if has_payment
        promotion ||= cart_service.cart.total_promotion_discount
        if promotion > 0 %>
        <tr class="promotion">
          <td>Desconto</td>
          <td class="value credit">- <%= number_to_currency(promotion) %></td>
        </tr>
        <% end
        gift = @order.payments.for_gift.sum(:total_paid) if has_payment
        gift ||= cart_service.total_discount_by_type(:gift)
        if gift > 0 %>
        <tr>
          <td>Presente</td>
          <td class="value credit">- <%= number_to_currency(gift) %></td>
        </tr>
        <% end
        coupon = @order.payments.for_coupon.sum(:total_paid) if has_payment
        coupon ||= cart_service.cart.total_coupon_discount
        if coupon > 0 %>
        <tr>
          <td>Cupom desconto</td>
          <td class="value credit">- <%= number_to_currency(coupon) %> <%= discount_percentage(cart_service.cart.coupon.discount_percent) %></td>
        </tr>
        <% end %>
        <%
        if cart_service.freight_price > 0%>
        <tr>
          <td>Frete</td>
          <td class="value">+ <%= number_to_currency(cart_service.freight_price) %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


