<%= link_to "alterar", (cart_path unless has_payment), :class => "change" unless @order %>
<div class="box-order">
  <h2>Seu Pedido</h2>
  <ul class="produto">
    <% line_items.each do |line_item|%>
      <% unless line_item.is_freebie %>
        <li>
          <p class="img"><%= image_tag (line_item.variant.product.thumb_picture) if line_item.variant.product.thumb_picture %></p>
          <p class="nome"><%= line_item.variant.name %></p>
          <p class="qte">Quantidade: <%= line_item.quantity %></p>
          <p class="tamanho">Tamanho: <%= line_item.variant.description %></p>
          <p class="preco"><%= number_to_currency(line_item.variant.price) %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
  <ul class="sub-total">
    <%
    gift_wrap = @order.gift_wrap if has_payment
    gift_wrap ||= cart_service.cart.gift_wrap
    if gift_wrap %>
    <li>
      <p><span class="txt-black">EMBALAGEM (PRESENTE):</span>
        <span><%= cart_service.cart.free_gift_wrap? ? 'GRÁTIS' : '+ R$5,00' %></span>
      </p>
    </li>
    <% end %>

    <li>
      <%
      gross_amount = @order.gross_amount if has_payment
      gross_amount ||=  cart_service.subtotal(:price)
      %>
      <p><span class="txt-black">SUBTOTAL:</span><span class="txt-pink"><%= number_to_currency(gross_amount)  %></span></p>
    </li>

    <%
    if cart_service.freight_price > 0 %>
    <li>
      <p><span class="txt-black">FRETE:</span><span><%= number_to_currency(@order.freight.price) %></span></p>
    </li>
    <% end
    credits = @order.payments.for_credits.sum(:total_paid) if has_payment
    credits ||= cart_service.total_credits_discount
    if credits > 0 %>
    <li>
      <p><span class="txt-black">CRÉDITOS:</span><span>- <%= number_to_currency(credits) %></span></p>
    </li>
    <% end
    olooklet = @order.payments.for_olooklet.sum(:total_paid) if has_payment
    olooklet ||= cart_service.cart.total_liquidation_discount
    if olooklet > 0 %>
    <li>
      <p><span class="txt-black">LIQUIDAÇÃO:</span><span>- <%= number_to_currency(olooklet) %></span></p>
    </li>
    <% end
    promotion = @order.payments.for_promotion.sum(:total_paid) if has_payment
    promotion ||= cart_service.cart.total_promotion_discount
    if promotion > 0 %>
    <li>
      <p><span class="txt-black">PROMOÇÃO:</span><span>- <%= number_to_currency(promotion) %></span></p>
    </li>
    <% end
    gift = @order.payments.for_gift.sum(:total_paid) if has_payment
    gift ||= cart_service.total_discount_by_type(:gift)
    if gift > 0 %>
    <li>
      <p><span class="txt-black">PRESENTE:</span><span>- <%= number_to_currency(gift) %></span></p>
    </li>
    <% end
    coupon = @order.payments.for_coupon.sum(:total_paid) if has_payment
    coupon ||= cart_service.cart.total_coupon_discount
    if coupon > 0 %>
    <li>
      <p><span class="txt-black">CUPOM DESCONTO:</span><span>- <%= number_to_currency(coupon) %> (<%= number_to_percentage( ((coupon) / gross_amount)*100, precision: 0) %>)</span></p>
    </li>
    <% end
    billet_discount = @order.payments.for_billet_discount.sum(:total_paid) if has_payment
    billet_discount ||= cart_service.billet_discount
    if billet_discount > 0 %>
    <li>
      <p><span class="txt-black">DESCONTO DE BOLETO:</span><span>- <%= number_to_currency(billet_discount) %> </span></p>
    </li>
    <% end
    debit_discount = @order.payments.for_debit_discount.sum(:total_paid) if has_payment
    debit_discount ||= cart_service.debit_discount
    if debit_discount > 0 %>
    <li>
      <p><span class="txt-black">DESCONTO DE DÉBITO:</span><span>- <%= number_to_currency(debit_discount) %> </span></p>
    </li>
    <% end
    facebook_discount = @order.payments.for_facebook_share_discount.sum(:total_paid) if has_payment
    facebook_discount ||= cart_service.facebook_discount
    if facebook_discount > 0 %>
    <li>
      <p><span class="txt-black">FACEBOOK:</span><span>- <%= number_to_currency(facebook_discount) %> </span></p>
    </li>
    <% end %>
  </ul>
  <ul class="total">
    <li class="delivery_time"><p><%= delivery_time_message(@order.freight.delivery_time) if @order.freight %></p></li>
    <%
    total_paid = @order.amount_paid if has_payment
    total_paid ||= cart_service.total
    %>
    <li><span class="txt-black">TOTAL:</span><span class="txt-pink"><%= number_to_currency(total_paid) %></span></li>
  </ul>
</div>

