<% address = Address.find(cart_service.freight[:address_id]) %>
<%= link_to "alterar", (cart_checkout_addresses_path unless has_payment), :class => "change" unless @order %>
<div class="box-order">
  <div class="item">
    <h2>Endereço de entrega</h2>
    <p><%= address.identification %></p>
    <p><%= "#{address.street}, #{address.number}" %><%= address.complement? ? ", #{address.complement}" : "" %></p>
    <p><%= "#{address.neighborhood} - #{address.zip_code}" %></p>
    <p><%= "#{address.city}, #{address.state}" %></p>
    
  </div>
</div>
