<ul>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_exame.jpg" %>
      </div>
    </div>
    <p>Rio de Janeiro - O mercado brasileiro ganhou uma nova marca de moda que investe em uma plataforma de e-commerce diferenciada. A olook foi criada em dezembro e aproveita o crescimento do setor no Brasil. Segundo uma pesquisa da e-bit, a categoria de Moda e Acessórios representa cerca de 6% do total das vendas do comércio eletrônico nacional e mantém a sexta posição no ranking dos produtos mais vendidos online.</p>
    <p>Para se diferenciar, a loja busca a personalização: as clientes que acessam o site realizam um teste de personalidade que desvenda seu estilo e, a partir do resultado, sugere uma vitrine que combine, entre bolsas, roupas, acessórios e sapatos.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "http://exame.abril.com.br/marketing/noticias/novo-e-commerce-de-moda-investe-em-personalizacao", :target => "_blank" %>
  </li>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_estadao.jpg" %>
      </div>
    </div>
      <p>O site olook.com.br pretende inovar o e-commerce ao adaptar produtos ao gosto de cada consumidora. Para comprar, a usuária tem de fazer um cadastro, informando, por exemplo, se prefere o estilo de Deborah Secco ou de Grazi Massafera. Todos os itens à venda terão três preços: R$ 69,90, R$ 99,90 e R$ 129,90, segundo o idealizador do olook.com.br, André Beisert</p>
    <%= link_to "Clique aqui para ler a matéria completa", "", :target => "_blank" %>
  </li>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_ig.jpg" %>
      </div>
    </div>
    <p>Desde o lançamento em 12 de dezembro, 300 mil brasileiras já mapearam seu perfil de consumo de moda com o algoritmo de recomendação da olook e já compraram mais de mil produtos que foram produzidos especialmente para o perfil delas!<br />A partir das informações, a olook desenha coleções mensais de bolsas, sapatos e acessórios, manda fabricar e vende a preços padronizadas especificamente para as consumidoras que estão aguardando ofertas criadas especialmente para elas.</p>
    <p>Conversei com o André Nobre de S. Beisert, co-fundador da olook e compartilho abaixo um pouco do que conheci sobre esta startup que soube encontrar um caminho especial de desenvolvimento.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "http://startups.ig.com.br/2012/olook-plataforma-investida-pela-monashees-reinventa-o-jeito-de-se-fazer-e-consumir-moda/", :target => "_blank" %>
  </li>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_rg.jpg" %>
      </div>
    </div>
    <p>O nome de Helena para o projeto tem razão de ser. Visionária que é, andava de olho na internet há um tempo. Fora a sua ótima bagagem profissional: estudou no FIT (Fashion Institute of Technology) em Nova Iorque e na ESMOD-Paris, tem no currículo passagens pela W Magazine, Iódice, Maison de Cuture Ungaro, em Paris. Isso sem citar a Pelu, marca que manteve por oito anos.</p>
    <p>À frente da plataforma, Helena será responsável por todo o desenvolvimento de produto, conteúdo editorial e encabeçará o time de moda do site. Na lista de afazeres, curadoria dos convidados que assinarão coleções especiais (tudo sob o seu olhar) e colaboradores da parte de conteúdo e imagem. "Trabalhamos com o conceito fast fashion, ...</p>    
    <%= link_to "Clique aqui para ler a matéria completa", "http://siterg.ig.com.br/moda/2012/01/19/a-nova-de-helena-linhares/", :target => "_blank" %>
  </li>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_chic.jpg" %>
      </div>
    </div>
    <p>Segundo estimativas da e-bit (empresa que analisa informações sobre comércio eletrônico), as compras online devem crescer 20% em relação ao ano de 2010, e mais, que o vestuário de uma forma geral saltou de 26º para 6º lugar em quatro anos, no ranking de produtos mais vendidos pela Internet.</p>
    <p>Apesar de alguns consumidores ainda se preocuparem principalmente com medidas e numeração no ato da compra, ainda mais pelo país ainda estar passando pelo processo de normalização das normas de vestibilidade, a classe C têm feito mais compras, e mais de 90% de pessoas que lucram mais de R$ 1 milhão anual compram principalmente pela Internet.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "http://chic.ig.com.br/boa-vida/noticia/shopping-veja-uma-listagem-de-e-commerce-com-multimarcas-grifes-nacionais-lingeries-acessorios-e-outlets", :target => "_blank" %>
  </li>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_a_critica.jpg" %>
      </div>
    </div>
    <p>A 'olook' pretende inovar no mercado on-line com vitrines virtuais personalizadas e recomendações mensais de itens de moda sem necessidade de assinatura ou compra mínima. Outro diferencial é a oferta de uma combinação única entre estilo, qualidade e preço para itens de moda feminina.</p>
    <p>A 'olook', primeira plataforma de moda personalizada do Brasil, chega ao mercado para oferecer uma solução inovadora: uma loja virtual que personaliza as vitrines de cada cliente com recomendações de itens exclusivos de acordo com o estilo de cada compradora. O site apresenta calçados, bolsas e acessórios desenhados pela equipe de estilistas da própria loja, com materiais de alta qualidade e por preços acessíveis: até 30% inferiores se comparados ao padrão do mercado.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "http://acritica.uol.com.br/vida/Manaus-Amazonas-Amazonia-Loja-plataforma-inedita-e-commerce-voltado_0_621538100.html", :target => "_blank" %>
  </li>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_mundo_do_marketing.jpg" %>
      </div>
    </div>
    <p>O mercado brasileiro ganhou uma nova marca de moda que investe em uma plataforma de e-commerce diferenciada. A olook foi criada em dezembro e aproveita o crescimento do setor no Brasil. Segundo uma pesquisa da e-bit, a categoria de Moda e Acessórios representa cerca de 6% do total das vendas do comércio eletrônico nacional e mantém a sexta posição no ranking dos produtos mais vendidos online.</p>
    <p>Para se diferenciar, a loja busca a personalização: as clientes que acessam o site realizam um teste de personalidade que desvenda seu estilo e, a partir do resultado, sugere uma vitrine que combine, entre bolsas, roupas, acessórios e sapatos.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "http://mundodomarketing.com.br/ultimas-noticias/mercado/22517/novo-e-commerce-de-moda-investe-em-personalizacao.html", :target => "_blank" %>
  </li>
  <li>
    <div class="fl">
      <div class="image">
        <%= image_tag "/assets/press/logo_tottal_mulher.jpg" %>
      </div>
    </div>
    <p>Você é única e o Olook é uma plataforma digital que faz você se sentir e ser assim, para interagir com ToTTal Exclusividade porque é feita para você fazer por você o seu melhor estilo, escolher o que mais lhe cai bem para fazer você se sentir o centro da atração ou nem tanto, dependendo unicamente das suas escolhas.</p>
    <p>E tudo isso numa ToTTal Vitrine Virtual que personaliza as vitrines de cada cliente com recomendações de itens exclusivos de acordo com o estilo de cada compradora.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "http://www.tottalmulher.com.br/03/01/2012/olook-e-tottal-fashion-para-voce-encontrar-os-achados-para-voce/", :target => "_blank" %>
  </li>
</ul>
