<ul>
  <li>
    <div class="image">
      <%= image_tag "/assets/press/logo_ig.jpg" %>
    </div>
    <p>Desde o lançamento em 12 de dezembro, 300 mil brasileiras já mapearam seu perfil de consumo de moda com o algoritmo de recomendação da olook e já compraram mais de mil produtos que foram produzidos especialmente para o perfil delas!<br />A partir das informações, a olook desenha coleções mensais de bolsas, sapatos e acessórios, manda fabricar e vende a preços padronizadas especificamente para as consumidoras que estão aguardando ofertas criadas especialmente para elas.</p>
    <p>Conversei com o André Nobre de S. Beisert, co-fundador da olook e compartilho abaixo um pouco do que conheci sobre esta startup que soube encontrar um caminho especial de desenvolvimento.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "#" %>
  </li>
  <li>
    <div class="image">
      <%= image_tag "/assets/press/logo_exame.jpg" %>
    </div>
    <p>Rio de Janeiro - O mercado brasileiro ganhou uma nova marca de moda que investe em uma plataforma de e-commerce diferenciada. A olook foi criada em dezembro e aproveita o crescimento do setor no Brasil. Segundo uma pesquisa da e-bit, a categoria de Moda e Acessórios representa cerca de 6% do total das vendas do comércio eletrônico nacional e mantém a sexta posição no ranking dos produtos mais vendidos online.</p>
    <p>Para se diferenciar, a loja busca a personalização: as clientes que acessam o site realizam um teste de personalidade que desvenda seu estilo e, a partir do resultado, sugere uma vitrine que combine, entre bolsas, roupas, acessórios e sapatos.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "#" %>
  </li>
  <li>
    <div class="image">
      <%= image_tag "/assets/press/logo_chic.jpg" %>
    </div>
    <p>Segundo estimativas da e-bit (empresa que analisa informações sobre comércio eletrônico), as compras online devem crescer 20% em relação ao ano de 2010, e mais, que o vestuário de uma forma geral saltou de 26º para 6º lugar em quatro anos, no ranking de produtos mais vendidos pela Internet.</p>
    <p>Apesar de alguns consumidores ainda se preocuparem principalmente com medidas e numeração no ato da compra, ainda mais pelo país ainda estar passando pelo processo de normalização das normas de vestibilidade, a classe C têm feito mais compras, e mais de 90% de pessoas que lucram mais de R$ 1 milhão anual compram principalmente pela Internet.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "#" %>
  </li>
  <li>
    <div class="image">
      <%= image_tag "/assets/press/logo_mundo_do_marketing.jpg" %>
    </div>
    <p>O mercado brasileiro ganhou uma nova marca de moda que investe em uma plataforma de e-commerce diferenciada. A olook foi criada em dezembro e aproveita o crescimento do setor no Brasil. Segundo uma pesquisa da e-bit, a categoria de Moda e Acessórios representa cerca de 6% do total das vendas do comércio eletrônico nacional e mantém a sexta posição no ranking dos produtos mais vendidos online.</p>
    <p>Para se diferenciar, a loja busca a personalização: as clientes que acessam o site realizam um teste de personalidade que desvenda seu estilo e, a partir do resultado, sugere uma vitrine que combine, entre bolsas, roupas, acessórios e sapatos.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "#" %>
  </li>
  <li>
    <div class="image">
      <%= image_tag "/assets/press/logo_tottal_mulher.jpg" %>
    </div>
    <p>Você é única e o Olook é uma plataforma digital que faz você se sentir e ser assim, para interagir com ToTTal Exclusividade porque é feita para você fazer por você o seu melhor estilo, escolher o que mais lhe cai bem para fazer você se sentir o centro da atração ou nem tanto, dependendo unicamente das suas escolhas.</p>
    <p>E tudo isso numa ToTTal Vitrine Virtual que personaliza as vitrines de cada cliente com recomendações de itens exclusivos de acordo com o estilo de cada compradora.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "#" %>
  </li>
  <li>
    <div class="image">
      <%= image_tag "/assets/press/logo_a_critica.jpg" %>
    </div>
    <p>A 'olook' pretende inovar no mercado on-line com vitrines virtuais personalizadas e recomendações mensais de itens de moda sem necessidade de assinatura ou compra mínima. Outro diferencial é a oferta de uma combinação única entre estilo, qualidade e preço para itens de moda feminina.</p>
    <p>A 'olook', primeira plataforma de moda personalizada do Brasil, chega ao mercado para oferecer uma solução inovadora: uma loja virtual que personaliza as vitrines de cada cliente com recomendações de itens exclusivos de acordo com o estilo de cada compradora. O site apresenta calçados, bolsas e acessórios desenhados pela equipe de estilistas da própria loja, com materiais de alta qualidade e por preços acessíveis: até 30% inferiores se comparados ao padrão do mercado.</p>
    <%= link_to "Clique aqui para ler a matéria completa", "#" %>
  </li>
</ul>
