<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/normalize" %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>
<%= first_level_breadcrumb("Sobre olook") %>
<div id="about">
  <h1>Sobre olook</h1>
  <div id="main_feature">
    <%= image_tag("about/girl.jpg")%>
    <div id="main_describe">
      <h2>A OLOOK identifica o seu estilo pessoal e as peças que te valorizam</h2>
      <p>Com a ajuda de nossos stylists você receberá todos os meses uma seleção de peças desenvolvidas de acordo com as principais tendências de moda. Modelos criados em materiais diferenciados para proporcionar conforto e acima de tudo muito estilo. Afinal, não é todo dia que você pode ter um personal stylist a sua disposição. Aproveite!</p>

      <% unless user_signed_in? %>
        <%= link_to 'Responda nosso quiz e descubra seu estilo', wysquiz_path %>
      <% end %>



    </div><div class="clear"></div>
  </div>
</div>

<div id="function">
  <h1>Como funciona</h1>
  <ul>
    <li class="box" id="left_box"><h3>Responda nosso Style Quiz</h3><p>Desenvolvemos um divertido style quiz para que você entenda melhor suas preferências e receber no final um painel sobre o seu estilo.</p></li>
    <li class="box" id="left_box_mid"><h3>Nossos Stylists montam sua vitrine</h3><p>Nossa equipe de stylists trabalhará para criar todos os meses os modelos exclusivos que mais combinam com você.</p></li>
    <li class="box" id="right_box_mid"><h3>Escolha o seu sapato, bolsa ou acessório</h3><p>Dentro da sua vitrine personalizada você terá as melhores opções para fazer bonito na produção de looks cheios de estilo.</p></li>
    <li class="box" id="right_box"><h3>CONVIDE SUAS AMIGAS E GANHE R$10 CADA UMA</h3><p>Ganhe bônus para trocar pelas peças que você quiser indicando a Olook para suas amigas e aproveite ainda mais sua vitrine.</p></li>
  </ul>
</div>
