<% content_for(:head) do %>
  <%= stylesheet_link_tag  "about/style" %>
<% end %>

<div id="terms" role="main" class="faq">
  <h1>Dúvidas Frequentes</h1>
  <div class="steps">
    <p class="section-title">SITE E FUNCIONAMENTO</p>
    
    <h2>1. COMO FUNCIONA O SITE?</h2>
    <p>Começar é fácil, divertido e totalmente grátis! O primeiro passo é responder o nosso style quiz. São perguntas sobre moda, celebridades e design que você responde com o que melhor reflete seu estilo. Nós entendemos seu perfil de moda e todos os meses você recebe uma nova vitrine criada pelos nossos stylists com produtos incríveis selecionados para você, além de dicas e conteúdo sobre moda. <%= link_to "Responda nosso style quiz", "/quiz/new" %> e faça parte.</p>

    <h2>2. EXISTE TAXA DE ADESÃO?</h2>
    <p>Ter um cadastro na olook é absolutamente grátis!<br />
    Você tem acesso aos conteúdos e a sua vitrine de moda personalizada todos os meses sem nenhum custo. Você só pagará pelos produtos que comprar.</p>

    <h2>3. COMO FAÇO PARA TER ACESSO A MINHA VITRINE?</h2>
    <p>Após responder o style quiz e efetuar o cadastro, você terá acesso a sua vitrine personalizada. E em suas próximas visitas ao site, basta clicar em <%= link_to "entrar", "/entrar" %> (no topo do nosso site), para ter acesso a sua vitrine.</p>
    
    <h2>4. POSSO REFAZER O STYLE QUIZ?</h2>
    <p>Sim. Você pode refazer o style quiz quantas vezes desejar. Acesse sua vitrine e clique na frase em destaque “esta é sua vitrine” e faça novamente o style quiz.</p>

    <h2>5. Como posso ter acesso aos outros produtos que não estão na minha vitrine?</h2>
    <p>Além dos produtos recomendados em sua vitrine, você também pode encontrar produtos navegando pelo menu do site. Se inspire em nossa área de <%= link_to "tendências","/tendencias" %>, veja as recomendações de nossas <%= link_to "stylists","stylists/helena-linhares" %>, conheça nossas <%= link_to "coleções", "/colecoes" %>, compre um <%= link_to "presente", "/presentes" %> para uma amiga ou ainda procure produtos por tipo, através das seções <%= link_to "sapatos","/sapatos" %>, <%= link_to "bolsas","bolsas" %>, <%= link_to "óculos","oculos" %> e <%= link_to "acessórios","acessorios" %>.</p>

    <h2>6. QUAIS OS TIPOS DE PRODUTOS A OLOOK COMERCIALIZA?</h2>
    <p>A olook é especializada em sapatos, bolsas, óculos e acessórios femininos.</p>

    <h2>7. Como funciona a promoção “indique uma amiga”?</h2>
    <p>Você indica quantas amigas quiser para conhecer o site. A cada primeira compra que as suas amigas cadastradas fizerem, você ganhará R$ 20,00 em créditos para usar na olook.
    <br /><b>Importante:</b> o crédito é fornecido apenas para compras em nosso site e não pode ser revertido em dinheiro. <%= link_to "Convide suas amigas e ganhe créditos","/membro/convite" %>!</p>

    <h2>8. Por que devo conectar minha conta olook com o facebook?</h2>
    <p>Não é obrigatório usar o Facebook, criamos essa opção para facilitar o seu acesso, (aproveitando o usuário e senha do Facebook) e também para promover a interação através da rede social.<br /> 
    Com ele conectado, você não precisará lembrar de mais uma senha, basta usar o "Entrar com o Facebook". Além disso, você pode ver a vitrine das suas amigas (e elas podem ver a sua) e conferir a aniversariante de cada mês (através do calendário). <br /><%= link_to "Conecte-se através do facebook","/conta/auth/facebook" %> e veja como é bacana.</p>

    <h2>9. Como funciona o programa de Fidelidade?</h2>
    <p>Toda vez que você compra na olook ganha 20% do valor do seu pedido em créditos e poderá utilizá-los no primeiro dia útil do próximo mês. A validade do crédito é de 2 meses. <%= link_to "Conheça o programa de fidelidade","/fidelidade" %> e fique na moda todos os meses, gastando muito menos.</p>

    <p class="section-title">COMPRAS E PAGAMENTOS</p>

    <h2>10. Como é calculado o valor do frete?</h2>
    <p>O valor do frete é definido a partir do peso e do volume do produto. Também é feito um cálculo de acordo com a região de entrega. Por essa razão, o valor calculado será exibido somente na etapa final da sua compra, quando tivermos todas essas informações.</p>

    <h2>11. Como posso ter frete gratuito?</h2>
    <p>Oferecemos frete gratuito nas condições abaixo:<br/>
        
        - Frete grátis para Sul e Sudeste para compras acima de R$ 60,00;<br />
        - Frete grátis para as demais regiões para compras acima de R$ 200,00;<br />
        - Frete grátis para a pulseira da campanha AVC.<br />
        
      <b>Importante:</b> o frete da pulseira é gratuito apenas quando ela é comprada sozinha, quando ela for comprado com outros itens da olook, vale a regra acima.
    </p>

    <h2>12. Quais são as opções de pagamento?</h2>
    <p>Trabalhamos com boleto, cartão de crédito e débito em conta. Consulte abaixo nossos convênios e condições:<br />

      - Boleto bancário (somente para pagamento à vista);<br />
      - Cartões de crédito: Visa, Mastercard, American Express, Diners Club e Hipercard<br /> 
      – Pagamento à vista ou parcelado (parcela mínima de R$ 30,00);<br />
      - Débito em conta - Itaú (somente para pagamento à vista).
    </p>
    
    <h2>13. Quanto tempo demora para confirmar o pagamento?</h2>
    <p>O prazo varia de acordo com o meio de pagamento escolhido:<br />
      
        - Boleto bancário – Até 48h (dias úteis)<br />
        - Cartão de crédito – Em alguns minutos*<br />
        - Débito em conta – Em alguns minutos*<br />
        
      <b>Importante:</b> o tempo pode variar, entre a comunicação do banco, administradora do cartão de crédito e a plataforma de pagamento.
    </p>
    
    <h2>14. Posso alterar a forma de pagamento?</h2>
    <p>Após o pedido concluído não é possível alterar a forma de pagamento. Recomendamos, em caso de não aprovação, refazer o pedido. Você pode também <%= link_to "entrar em contato com o nosso SAC", "/contato" %> para que nossa equipe lhe oriente da melhor forma possível.
    </p>

    <h2>15. Há alguma restrição quanto ao uso de créditos?</h2>
    <p>O único crédito que poderá ser utilizado em qualquer compra é o crédito de reembolso, concedido por devolução do produto. Já o crédito de fidelidade e o crédito ganho ao indicar amigas (após elas realizarem a primeira compra), não pode ser utilizado na compra de produtos com desconto/promoção.</p>
    
    <p class="section-title">ENTREGAS</p>
    
    <h2>16. Qual é o prazo de entrega para minha região?</h2>
    <p>Como o prazo de entrega varia de acordo com a localidade, você deve consultá-lo informando o CEP do destino. Essa consulta pode ser feita através de uma barra de pesquisa (exibida em todas as páginas do site) ou acessando a página de <%= link_to "prazo de entrega","/prazo-de-entrega" %>.<br />Também informamos o prazo de entrega na sacola de compras, na área <%= link_to "meus pedidos", "/conta/pedidos" %> e também nos e-mails sobre sobre o seu pedido.<br />Também é possível <%= link_to "consultar o prazo médio de entrega","/prazo-de-entrega" %> para a sua cidade ou região, caso você não saiba o CEP.
    </p>
    
    <h2>17. Como faço para rastrear meu pedido?</h2>
    <p>Na etapa final do pagamento, nos lhe informaremos a estimativa de entrega. Assim que o pedido for despachado, você também receberá um e-mail com o link de rastreio. Em <%= link_to "meus pedidos", "/conta/pedidos"%> você poderá acompanhar o status da sua compra.<br/>
    <b>Importante:</b> Para receber nossas comunicações e atualizações sobre a sua entrega é importante confirmar o endereço eletrônico cadastrado na olook e também incluir a extensão <a href="#">@olook.com.br</a> na lista de remetentes confiáveis. Isso evita que nossas mensagens caiam na caixa de spam do seu e-mail. Quando quiser, você pode confirmar o endereço eletrônico cadastrado, em <%= link_to "dados pessoais", "/conta/edit" %>.</p>

    <p class="section-title">TROCAS E DEVOLUÇÕES</p>
    
    <h2>18. Como faço a solicitação de Troca e Devolução?</h2>
    <p>
      A devolução é inteiramente grátis, você não pagará nada a mais para devolver um produto. Você terá até 30 dias corridos para solicitar a troca ou devolução e receber o seu dinheiro de volta (contados a       
      partir da data de recebimento do produto).<br /><br />
      <b>Importante:<br /></b>
      
        - Os prazos acima começam a contar a partir do dia em que você recebeu o produto;<br />
        - O produto devolvido não deve ter sido usado (aceitamos apenas produtos novos);<br />
        - Em caso de defeito, você terá 30 dias após o recebimento para solicitar a devolução.<br />
        
      Para solicitar a devolução você deve entrar em contato com a nossa equipe, através dos canais: <a href="mailto:falecom@olook.com.br">falecom@olook.com.br</a> ou 11 2626-3489.  
    </p>
    
    <h2>19. Como devo devolver o produto?</h2>
    <p>Entre em contato com a nossa equipe, informando o desejo de trocar ou devolver sua compra e siga as orientações para coleta do produto.<br />
    É importante que você coloque o produto e todos os acessórios de volta na caixa original.<br />
    Podemos coletar o produto em um endereço indicado por você ou você pode entregá-lo em uma  agência dos correios, conforme orientação de nossa equipe.
    </p>
    
    <h2>20. Qual é o prazo para solicitar troca e devolução?</h2>
    <p>
      
        - Arrependimento de compra: você terá até 30 dias corridos (após o recebimento do produto).<br />
        - Produto com defeito: os produtos comercializados pela olook possuem 90 dias de garantia.<br />Caso você identifique durante esse período, qualquer sinal de defeito, entre em contato com a nossa   equipe de atendimento que iremos orientá-lo a proceder com a troca ou devolução.<br />
        - Erro na entrega, produto ou embalagem avariada: Caso você tenha recebido seu pedido com alguma alteração, tal como, embalagem aberta ou violada, produto diferente em relação à compra realizada ou falta de algum acessório, comunique imediatamente nossa equipe. Você terá 3 dias corridos (após o recebimento) para notificar o problema.
        
    </p>

    <h2>21. Quais são as opções de troca?</h2>
    <p>É possível realizar a trocar pelo mesmo produto ou por um item de igual valor (sujeito à disponibilidade de estoque). Você pode também receber um cupom em crédito correspondente ao valor pago. Neste caso, o cupom poderá ser utilizado na olook em até 360 dias após a emissão.</p>
    
    <h2>22. Quais são as opções de devolução?</h2>
    <p>Realizamos o reembolso do valor pago de acordo com a forma de pagamento utilizada no fechamento do pedido. Você pode também devolver o produto e receber um cupom em crédito correpondente ao valor pago. Neste caso, o cupom poderá ser utilizado na olook em até 360 dias após a emissão</p>
    
    <h2>23. Condições do produto para troca ou devolução?</h2>
    <p>O produto precisa ser devolvido sem uso, dentro da sua embalagem original, juntamente com a nota fiscal. Os produtos devolvidos passam por uma análise de controle de qualidade da olook no momento em que são recebidos. Esta análise é feita em até 5 dias úteis. Somente será liberado o envio de um novo produto ou será feita a restituição do valor pago após o recebimento e a aprovação da equipe de controle de qualidade. A olook se reserva no direito de não aceitar a devolução do produto caso seja encontrada seja identificada qualquer irregularidade ou violação do produto. Neste caso, o produto será devolvido ao
remetente.</p>
    
    <h2>24. Quais as formas de devolução?</h2>
    <p>A devolução do seu pedido é feita por meio de postagem paga pela olook. Ao solicitar a troca, você receberá um link em seu e-mail com instruções para postagem do seu pedido em qualquer agência credenciada dos Correios, sem custo algum.<br /><%= link_to "Consulte a lista de agências credenciadas", "http://www.correios.com.br/servicos/agencias" %>.</p>
    
    <h2>25. Qual o prazo de reembolso?</h2>
    <p>
      - Pagamento feito via Boleto Bancário: o reembolso será feito na conta corrente em que foi feito o pedido em até 5 dias úteis após a conclusão da devolução.<br/>
      - Pagamento feito via Cartão de Crédito: o estorno no seu cartão de crédito poderá ser visualizado em até duas faturas após a conclusão da devolução.<br/>
      <b>Importante:</b> os prazos dependem da data de vencimento do cartão.
    </p>
    
  </div>
</div>
