<% content_for :head do %>
  <%= stylesheet_link_tag "section/loyalty" %>
<% end %>
<%= first_level_breadcrumb("Fidelidade Olook") %>

<section id="loyalty">
  <h1>Fidelidade Olook</h1>
  <h2>Fique na moda todos os meses gastando muito menos</h2>
  <div id="left">
    <div class="arrow"></div>
    <ul class="steps">
      <li>Toda vez que você<br />comprar na olook</li>
      <li>Você ganhará 15% do<br />valor do seu pedido<br />em créditos</li>
      <li class="last">Para usar em compras<br />acima de R$ 100 (nos<br />próximos 2 meses)</li>
    </ul>
    <h1>Veja como é fácil:</h1>
    <ul class="products">
      <li><%= image_tag "loyalty/product-1.jpg" %></li>
      <li class="last"><%= image_tag "loyalty/product-2.jpg" %></li>
    </ul>
  </div>
  <div id="right">
    <div id="credits">
      <% if @presenter.has_loyalty_credits_for_current_month? %>
          <h1>CRÉDITOS DISPONÍVEIS PARA USO</h1>
          <h2><%= number_to_currency @presenter.loyalty_credits_for_current_month  %></h2>
          
      <% elsif @presenter.has_loyalty_credits_for_next_month? %>

          <h1>CRÉDITOS PARA O PRÓXIMO MÊS</h1>
          <h2><%= number_to_currency @presenter.loyalty_credits_for_next_month  %></h2>
          
      <% else %>
          <p>Você ainda não acumulou créditos em<br />compras para o próximo mês :(</p>
          <h2></h2>
      <% end %>
        
      <p>*Os créditos acima são referentes ao programa de fidelidade.</p>
      <%= link_to "Consulte todos os seus créditos", user_credits_path %>

    </div>
    <div id="showroom">
      <%= image_tag "loyalty/products.jpg", :title => "Produtos" %>
      <% if @user %>
        <%= link_to "Visite sua vitrine e aproveite", member_showroom_path, :class => "link_showroom" %>
      <% else %>
        <%= link_to "Comprar agora", collection_themes_path, :class => "buy_now" %>
      <% end %>
    </div>
  </div>
</section>
