- content_for :head do
  = stylesheet_link_tag "section/loyalty"
= render "shared/mkt_breadcrumb"
= first_level_breadcrumb("Fidelidade Olook")
%section#loyalty
  %h1 Fidelidade Olook
  %h2 Fique na moda todos os meses gastando muito menos!
  %ul.steps
    %li.img
      =image_tag("loyalty/icons.jpg")
    %li.bag
      Toda vez que você
      %br
      comprar na olook
    %li.infos
      Você ganhará 15%
      %br
      do valor do seu pedido 
      %br
      em créditos
    %li.credit
      Para usar em
      %br
      sua próxima compra
  %ul.example
    %li
      %p
        Ao comprar um produto
        %br
        de 
        %span 
          R$ 209,90 
        você ganhará
        %br
        %span
          R$ 31,48 
        em créditos
    %li.sandal
      %p
        E você poderá comprar 
        %br
        um produto similar por
        %br
        %span
          muito menos!
  #credits
    - if @presenter.has_loyalty_credits_for_current_month?
      %p.bonus
        Oba! Você possui
        %span
          = number_to_currency @presenter.loyalty_credits_for_current_month
        de créditos para utilizar em sua próxima compra!
        %span.compras
          Vamos às compras? Clique 
          = link_to "aqui!", "/novidades" 
          para começar!
      %p
        Dúvidas? Saiba mais sobre os créditos clicando
        = link_to "aqui!", "/termos"
    - else
      %p
        Você ainda não acumulou créditos em compras :(
        %br
        Dúvidas? Saiba mais sobre os créditos clicando
        = link_to "aqui!", "/termos"

      = link_to "Comece Agora", "/novidades", :class => "bt_novidades"

