<% content_for :head do %>
  <%= stylesheet_link_tag "section/olookmovel" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "plugins/jquery.instagram" %>
  <%= javascript_include_tag "olookmovel" %>
<% end %>

<%= render "shared/mkt_breadcrumb" %>
<%= first_level_breadcrumb("Olookmóvel") %>

<section id="kombi">
  <div id="description">
    <h1>OLOOK<span>móvel</span></h1>
    <%= Itinerary.olookmovel.description.html_safe %>
  </div>
  <div id="pictures">
    <div id="instagram">
      <h2><a href="http://instagram.com/olook" target="_blank">Acompanhe a <b>OLOOK</b><span>móvel</span></a><span class="test">Siga a <a href="http://instagram.com/olook" target="_blank">@olook</a> para saber onde encontrá-la</span></h2>

      <div class="instagram_pictures"></div>
    </div>
    <p>Publique sua foto da olook<em>móvel</em> no instagram!<br />Use a hashtag <span>#olookmovel</span> e veja ela aparecer aqui :)</p>
  </div>
</section> 





        


