<% content_for :head do %>
  <%= stylesheet_link_tag "section/pages" %>
<% end %>

<%= first_level_breadcrumb("Sobre olook") %>

<% content_for :footer do %>
  <%= javascript_include_tag "press" %>
<% end %>



<div id="socialmedia">
  <li class="like"><fb:like href="http://olook.com.br/imprensa" width="110" layout="button_count" show_faces="false" send="false"></fb:like></li>
  <a href="https://twitter.com/share" class="twitter-share-button" data-text="Tudo o que é publicado sobre a Olook na mídia você confere aqui: www.olook.com.br/imprensa. Acompanhe as novidades! ;)" data-url="www.olook.com.br" data-count="none" data-counturl="www.olook.com.br/imprensa">Tweetar</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
<div id="pages" class="press_release">
  <div id="top_container">
    <h1>Olook na imprensa</h1>
    <ul class="tabs">
      <li><%= link_to "Imprensa", "javascript:void(0);", :rel => "press", :class => "selected" %></li>
      <li><%= link_to "Nossa Essência", "javascript:void(0);", :rel => "press_release" %></li>
    </ul>
  </div>
  <div id="press" class="content_tabs">
    <%= render "press_content" %>
  </div>
  <div id="press_release" class="content_tabs">
    <%= render "press_release_content" %>
  </div>
</div>
