= form_for [:admin, @highlight] do |f|
  - if @highlight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@highlight.errors.count, "error")} prohibited this highlight from being saved:"
      %ul
        - @highlight.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    =f.label :title, "Título"
    =f.text_field :title

  %fieldset
    =f.label :subtitle, "Subtítulo"
    =f.text_field :subtitle

  %fieldset
    =f.label :image, "Imagem"
    =f.file_field :image

  %fieldset
    =f.label :link, "Link (url completa, com 'http://')"
    =f.text_field :link
  
  %fieldset
    =f.label :alt_text, "ALT da imagem"
    =f.text_field :alt_text

  %fieldset
    =f.label :title, "Default"
    =f.check_box :default

  %fieldset
    =f.label :title, "Ativo"
    =f.check_box :active

  %fieldset
    =f.label :title, "Data de Início"
    =f.date_select :start_date     

  %fieldset
    =f.label :title, "Data de Saída"
    =f.date_select :end_date     
  
  %fieldset
    =f.label :title, "Posição"
    =f.select :position, HighlightPosition.to_a 


  .actions
    = f.submit 'Save'

