%h2 Listando Banners
.inner
  %table.table
    %tr
      %th Imagem
      %th Titulo
      %th Link
      %th Ativo
      %th Default
      %th Data de início
      %th Data de Saída
      %th Posição
      %th
      %th
      %th
    - @highlights.each do |hl|
      %tr
        %td= image_tag(hl.image_for_position(:thumb)) unless hl.image_for_position(:thumb).nil?
        %td= hl.title
        %td= hl.link
        %td= hl.active
        %td= hl.default
        %td= hl.start_date
        %td= hl.end_date
        %td= hl.position_humanize  
        %td= link_to 'Mostrar', admin_highlight_path(hl), :class => 'button'
        %td= link_to 'Editar', edit_admin_highlight_path(hl), :class => 'button'
        %td= link_to 'Apagar', admin_highlight_path(hl), confirm: 'Tem certeza?', method: :delete, :class => 'button danger'
  %br/
- content_for :secondary_navigation do
  %li= link_to 'Novo Banner', new_admin_highlight_path