%h1= I18n.t("activerecord.models.highlight.other")
%h3
  Clique na foto que queira modificar

%div.inner
  -if @left_hightlight.blank?
    = link_to "Criar Destaque da home", new_admin_highlight_path(position: HighlightPosition::LEFT)
  -else
    = link_to(image_tag(@left_hightlight.try(:left_image_url,:site)), edit_admin_highlight_path(@left_hightlight))
  -if @center_hightlight.blank?
    = link_to "Criar Destaque da home", new_admin_highlight_path(position: HighlightPosition::CENTER)
  -else
    = link_to(image_tag(@center_hightlight.try(:image_url,:site)), edit_admin_highlight_path(@center_hightlight))
  -if @right_hightlight.blank?
    = link_to "Criar Destaque da home", new_admin_highlight_path(position: HighlightPosition::RIGHT)
  -else
    = link_to(image_tag(@right_hightlight.try(:right_image_url,:site)), edit_admin_highlight_path(@right_hightlight))
