<% content_for :head do %>
  <%= stylesheet_link_tag "section/my_account" %>
<% end %>

<div id="my_account" class="orders">
  <div id="box_menu">
    <%= render "shared/my_account/menu" %>
  </div>
  <div id="data">
    <table cellpadding="0" cellspacing="0">
      <thead>
        <tr>
          <th class="number">Pedido</th>
          <th class="date">Realizado em</th>
          <th class="amount">Qtde.</th>
          <th class="value">Valor</th>
          <th class="freight">Frete</th>
          <th class="payments">Parcelas</th>
          <th class="status">Status do pedido</th>
        </tr>
      </thead>
      <tbody>
        <% @orders.each do |order| %>
          <tr>
            <td class="number"><%= link_to order.number, user_order_path(order[:number]) %></td>
            <td><%= order.created_at.strftime('%d/%m/%y %H:%M') %></td>
            <td><%= order.items_quantity %></td>
            <td><%= number_to_currency(order.amount_paid) %></td>
            <td><%= number_to_currency(order.freight_price) %></td>
            <td><%= order.installments %>x</td>
            <td><%= order.status %>
            <% #TODO please MOVE THIS LOGIC BELOW TO ORDER MODEL %>
              <% if order.has_a_billet_payment? && order.payments.first.state == "waiting_payment" %>
                <br />
                <span>Boleto Bancário </span>(<%= link_to("imprimir", order.payments.first.url) %>)
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= will_paginate @orders %>
  </div>
</div>
