%p
  = @quiz[:name]
%p
  = @quiz[:description]

- @quiz[:questions].each do |question|
  %p
    = question[:text]
    - question[:answers].each do |answer|
      %li
        = answer[:id]
        = image_tag answer[:image]
        = answer[:text]

