= form_for([:admin, @promotion]) do |f|
  - if @promotion.errors.any?
    #error_explanation
      %h2
        = pluralize(@promotion.errors.count, "erro")
        impediram está Promoção de ser salva:
      %ul
        - @promotion.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :active
    %br/
    = f.check_box :active
  .field
    = f.label :starts_at
    %br/
    = f.date_select :starts_at
  .field
    = f.label :ends_at
    %br/
    = f.date_select :ends_at
  .field
    = f.label :description
    %br/
    = f.text_field :description
  .field
    = f.label :checkout_banner, 'Banner da Sacola'
    %br/
    = f.file_field :checkout_banner
    - if @promotion.checkout_banner?
      = image_tag @promotion.checkout_banner_url
    %p
      = f.check_box :remove_checkout_banner
      Remover Banner da Sacola
  #rules
    %h2 Critérios para a promoção
    %h3 Como será a promoção criada?
    = radio_button_tag 'use_rule_parameters', '0', id: 'use_rule_parameters_0'
    = label_tag 'use_rule_parameters_0', 'Simples (possui apenas uma regra/variável)'
    %br/
    = radio_button_tag 'use_rule_parameters', '1', id: 'use_rule_parameters_1'
    = label_tag 'use_rule_parameters_1', 'Combinada (permite a combinação de diferentes regras/variáveis)'
  #actions
    = render 'admin/promotion_actions/select', f: f

    %p Marque para abrir as opções. Se precisar de mais que 3, salve e edite novamente e mais 3 aparecerão.
    = render 'admin/promotion_rules/select', f: f, model_name: 'promoção'
  .actions
    = f.submit
