<h2>Promocoes</h2>


<% content_for :secondary_navigation do %>
  <li><%= link_to 'Nova promocao', new_admin_promotion_path %></li>
<% end %>

<div class="inner">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Active</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @promotions.each do |promotion| %>
    <tr>
      <td><%= promotion.name %></td>
      <td><%= promotion.active %></td>
      <td><%= link_to 'Exibir', admin_promotion_path(promotion), :class => 'button' %></td>
      <td><%= link_to 'Editar', edit_admin_promotion_path(promotion), :class => 'button' %></td>
      <td><%= link_to 'Apagar', admin_promotion_path(promotion), confirm: 'Tem certeza?', method: :delete, :class => 'button danger' %></td>
    </tr>
  <% end %>
  </table>
</div>

