<p id="notice"><%= notice %></p>


<p><%= @promotion.name %> </p>
<p><%= @promotion.discount_percent %> </p>
<p><%= @promotion.active %> </p>


<%= link_to 'Edit', edit_admin_promotion_path(@promotion) %> |
<%= link_to 'Back', admin_promotions_path %>
