<p id="notice"><%= notice %></p>

<p>
  <b>Nome</b>
  <%= @promotion.name %>
</p>

<p>
  <b>Ativa?</b>
  <%= @promotion.active %>
</p>
<p>
  <b>Inicia em</b>
  <%= @promotion.starts_at %>
</p>
<p>
  <b>Termina em</b>
  <%= @promotion.ends_at %>
</p>

<%= link_to 'Editar', edit_admin_promotion_path(@promotion) %> |
<%= link_to 'Voltar', admin_promotions_path %>
