
<html>
<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<title>olook</title>
</head>

<body>


<table cellspacing="0" border="0" align="center" cellpadding="0" width="620">
  <tr>
    <td>
      <table cellspacing="0" border="0" cellpadding="0">

        <tr>
        <td>
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <!-- logo -->
              <td>
                <a href="<%= accept_invitation_url(@invite.member_invite_token, :utm_source => 'olook', :utm_medium => 'email', :utm_campaign => 'invite', :utm_content => 'email_invite_v1') %>">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/logo_barra.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
              </td>

              <!-- instagram -->
              <td>
                <a href="http://statigr.am/olook">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_in.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
              </td>
              <!-- twitter -->
              <td>
                <a href="https://twitter.com/olook">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_tw.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
              </td>
              <!-- facebook -->
              <td>
                <a href="http://www.facebook.com/olook">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_fb.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
              </td>
              <!-- blog -->
              <td>
                <a href="http://blog.olook.com.br">                
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_bg.jpg" alt="Blog" border="0" title="Blog" style="display:block"></a>
              </td>
            </tr>
          
      </table>
    </td>
  </tr>

  <tr>
    <td align="center" height="30">
    </td>
  </tr>

  <tr>
    <td>

      <table cellspacing="0" border="0" cellpadding="0">
        <tr>
          <td valign="top"><a href="<%= accept_invitation_url(@invite.member_invite_token, :utm_source => 'olook', :utm_medium => 'email', :utm_campaign => 'invite', :utm_content => 'email_invite_v1') %>"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/invite/img1.jpg" border="0" height="587" alt="" width="268" style="display:block" /></a>
          </td>
          <td>        
            <table cellspacing="0" border="0" cellpadding="0">
              <tr>
                <td height="118" align="center" bgcolor="#FFFFFF">
                <p style="font-family:Verdana,Arial, Helvetica, sans-serif; font-size:20px; letter-spacing:-1px; width:352px; color:#101010; width:320px">
                Você acaba de receber um convite exclusivo de <span style="color:#d65383"><%= @invite.member_name %></span> para se cadastrar na olook e ganhar R$10!
                </p>
                </td>
              </tr>
              <tr>
                <td><a href="<%= accept_invitation_url(@invite.member_invite_token, :utm_source => 'olook', :utm_medium => 'email', :utm_campaign => 'invite', :utm_content => 'email_invite_v1') %>"><img title="1 - Conte-nos sobre seu gosto e prefer&ecirc;ncias, 2 - Nossos stylists montam sua vitrine, 3 - Escolha o seu sapato, bolsa ou jóia" src="http://cdn.olook.com.br/assets/emailmkt/transacionais/invite/img3.jpg" border="0" height="316" alt="1 - Conte-nos sobre seu gosto e prefer&ecirc;ncias, 2 - Nossos stylists montam sua vitrine, 3 - Escolha o seu sapato, bolsa ou jóia" width="352" style="display:block" /></a></td>
              </tr>
              <tr>
                <td><a href="<%= accept_invitation_url(@invite.member_invite_token, :utm_source => 'olook', :utm_medium => 'email', :utm_campaign => 'invite', :utm_content => 'email_invite_v1') %>"><img src="http://cdn.olook.com.br/assets/emailmkt/transacionais/botoes/btn_ganhe10.jpg" border="0" alt="Cadastre-se e Ganhe R$10" style="display:block" /></a></td>
              </tr>
              <tr>
                <td height="57" bgcolor="#FFFFFF"></td>
              </tr>
            </table>
          </td>        
        </tr>
        </table>
        </td>
        </tr>
        
        <tr>
          <td align="center" height="80">
          <p style="font-family:Arial, Helvetica, sans-serif; font-size:11px; color:#212121">
          A olook respeita a sua privacidade e de todos os nossos clientes.<br />
          Você está recebendo este convite pois algum amigo seu te indicou para ganhar um convite do nosso site.<br />
          Caso queira deixar de receber os nossos convites, por favor, <a href="unsubscribe" style="color:#df5a8b">acesse este link</a>.
          </p>
          </td>
        </tr>
      </table>
</body>
</html>
