<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylist">
  <%= render 'shared/banners/olooklet' %>
  <div class="profile" id="helena">
    <div class="description">
      <h1>Helena <span>Linhares</span></h1>
      <p>Transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto.</p>
      <p>Comunicativa, dita tendência e tem credibilidade, é referência quando o tema é moda. Colabora com veículos importantes como Vogue,RG, Elle e sites de comportamento como Glamurama e RG Site.</p>
      <p>Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque onde trabalhou na W Magazine. No Brasil, teve a marca Pelu por 8 anos, antes trabalhou no Mappin/Mesbla na área de marketing de moda e foi gerente de marketing da Iodice.</p>
      <p>Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris. Figura que transita entre as várias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    </div>
    <div class="products">
      <h1>Amo!</h1>
      <% @products_helena.each do |product| %>
        <%= link_to product_path(product.id), :class => "product", :id => "#{underscore_case(product.name)}" do %>
          <p><%= product.name %><br/><span class="price"><%= number_to_currency product.price %></span></p>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <div class="profile" id="paola_orleans">
    <h1 class="stylist">Stylists Convidadas</h1>
    <div class="description">
      <h1>Paola <br/><span>de Orleans e Bragança</span></h1>
      <p>Paola é prova da pluralidade presente no país, nasceu em Londres, se mudou com a família de volta para o Brasil ainda pequena e carrega no sotaque um ar de quem não tem fronteiras.</p>
      <p>Dona de um olhar curioso e criativa em sua essência, Paola é hoje o mais reconhecido membro da família imperial do Brasil e leva em suas veias a vontade de descobrir os mais simples temperos aos mais sofisticados lugares.</p>
      <p>Além de uma bagagem extensa no mundo da moda como modelo e apresentadora, é designer formada pela FAAP e editora de joias para Revista L'officiel Brasil. Tem no currículo duas coleções de joias que levam o seu nome, uma marca de lenços e ainda este ano irá lançar em São Paulo uma linha de móveis para Espaço 204.</p>
      
      <h3>Como você define seu estilo?</h3>
      <p>Dona de um estilo marcante, clássico e atual, que está combinado com a já conhecida personalidade que mistura tradição e vanguarda, sem exageros.</p>
      <h3>Qual a melhor maneira de transformar um look?</h3>
      <p>Acessórios podem transformar qualquer look, e usados de formas diferentes você tem um leque de possibilidades infinitas. <br /><br />Um lenço amarrado na cabeça, você consegue um ar romântico e super feminino, o mesmo lenço amarrado no pulso vai dar uma leitura "rocker". Mas não tem acessório que mais consiga transformar uma roupa do que o sapato, um salto alto pode transformar um vestido, porque transforma a sua postura.</p>
      <h3>Uma dica de moda?</h3>
      <p>A moda é para ser divertida, mas se sentir confortável é indispensável. O bom senso é a regra básica da elegância!</p>
      <h3>Quem é um ícone de estilo para vc?</h3>
      <p>Diana Vreeland.</h3>
      <h3>O que não pode faltar no seu guarda roupa?</h3>
      <p>Sapatilhas, lenços e rímel.</p>
    </div>
    <div class="products">
      <h1>As escolhas de Paola Orleans...</h1>
      <% @products_paola.each do |product| %>
        <%= link_to product_path(product.id), :class => "product", :id => "#{underscore_case(product.name)}" do %>
          <p><%= product.name %><br/><span class="price"><%= number_to_currency product.price %></span></p>
        <% end %>
      <% end %>
    </div>
  </div>
  
  <!-- <div class="profile" id="didi_wagner">
      <div class="description">
        <h1>Didi <span>Wagner</span></h1>
        <p>Didi Wagner está sempre surpreendendo com sua multifaceta profissional. Sua carreira como apresentadora começou em 2000, como VJ da MTV.</p>
        <p>Em seis anos na emissora foram inúmeros programas que mostravam toda a sua versatilidade.</p>
        <p>Em 2005 Didi assina contrato com o Multishow e logo estreia o programa "Lugar Incomum", que traz toda a personalidade de Didi ao desbravar lugares incríveis pelo mundo, Nova York, Barcelona, Londres e Roma. Ainda podemos incluir no extenso currículo de Didi a publicação do livro "Minha Nova York" (2011) e as apresentações nas transmissões televisivas de importantes festivais de música – como Rock in Rio e SWU.</p>
        <p>Didi é e sempre foi uma referência em moda. Em suas palavras "moda é arte, cultura, música e eu trago um pouco disso tudo para o jeito que eu me visto".</p>
        <h3>Como você define seu estilo?</h3>
        <p>Classy rock n' roll, kkkkk!</p>
        <h3>Qual a melhor maneira de transformar um look?</h3>
        <p>Com acessórios poderosos e muita criatividade.</p>
        <h3>Uma dica de moda?</h3>
        <p>Na dúvida, opte pelos looks mais básicos, mas sempre com itens atuais.</p>
        <h3>Quem é um ícone de estilo para vc?</h3>
        <p>As irmãs Olsen (Ashley e Mary-Kate).</h3>
        <h3>O que não pode faltar no seu guarda roupa?</h3>
        <p>Um espelho e bom senso, hehehe!</p>
      </div>
      <div class="products">
        <h1>As escolhas da Didi...</h1>

        <%# @products_didi.each do |product| %>
          <%#= link_to product_path(product.id), :class => "product", :id => "#{underscore_case(product.name)}" do %>
            <p><%#= product.name %><br/><span class="price"><%#= number_to_currency product.price %></span></p>
          <%# end %>
        <%# end %>
      </div>
    </div> -->
</section>

