<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylist">
  <div class="profile" id="helena">
    <%= image_tag "stylist/helena_linhares/models.jpg", :class => "models" %>
    <div class="description">
      <h1>Helena <span>Linhares</span></h1>
      <p><%= image_tag "stylist/helena_linhares/foto.jpg", :title => "Helena Linhares" %>Transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto.<br /><br />Comunicativa, dita tendência e tem credibilidade, é referência quando o tema é moda. Colabora com veículos importantes como Vogue,RG, Elle e sites de comportamento como Glamurama e RG Site.<br /><br />Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque onde trabalhou na W Magazine. No Brasil, teve a marca Pelu por 8 anos, antes trabalhou no Mappin/Mesbla na área de marketing de moda e foi gerente de marketing da Iodice.<br /><br />Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris.<br /><br />Figura que transita entre as várias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    </div>
    <div class="products">
      <%= link_to product_path(4733), :class => "product", :id => "santa_maria" do %>
        <p>Santa Maria</p>
        <p class="price">R$ 179,90</p>
      <% end %>
      <%= link_to product_path(4458), :class => "product", :id => "cabo_frio" do %>
        <p>Cabo Frio</p>
        <p class="price">R$ 179,90</p>
      <% end %>
      <%= link_to product_path(5125), :class => "product", :id => "atibaia" do %>
        <p>Atibaia</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(4821), :class => "product", :id => "sumidouro" do %>
        <p>Sumidouro</p>
        <p class="price">R$ 129,90</p>
      <% end %>
      <%= link_to product_path(5035), :class => "product", :id => "aparecida" do %>
        <p>Aparecida</p>
        <p class="price">R$ 129,90</p>
      <% end %>
    </div>
  </div>
  <div class="profile" id="helena">
    <%= image_tag "stylist/helena_linhares/models.jpg", :class => "models" %>
    <div class="description">
      <h1>Helena <span>Linhares</span></h1>
      <p><%= image_tag "stylist/helena_linhares/foto.jpg", :title => "Helena Linhares" %>Transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto.<br /><br />Comunicativa, dita tendência e tem credibilidade, é referência quando o tema é moda. Colabora com veículos importantes como Vogue,RG, Elle e sites de comportamento como Glamurama e RG Site.<br /><br />Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque onde trabalhou na W Magazine. No Brasil, teve a marca Pelu por 8 anos, antes trabalhou no Mappin/Mesbla na área de marketing de moda e foi gerente de marketing da Iodice.<br /><br />Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris.<br /><br />Figura que transita entre as várias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    </div>
    <div class="products">
    </div>
  </div>
  <div class="profile" id="helena">
    <%= image_tag "stylist/helena_linhares/models.jpg", :class => "models" %>
    <div class="description">
      <h1>Helena <span>Linhares</span></h1>
      <p><%= image_tag "stylist/helena_linhares/foto.jpg", :title => "Helena Linhares" %>Transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto.<br /><br />Comunicativa, dita tendência e tem credibilidade, é referência quando o tema é moda. Colabora com veículos importantes como Vogue,RG, Elle e sites de comportamento como Glamurama e RG Site.<br /><br />Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque onde trabalhou na W Magazine. No Brasil, teve a marca Pelu por 8 anos, antes trabalhou no Mappin/Mesbla na área de marketing de moda e foi gerente de marketing da Iodice.<br /><br />Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris.<br /><br />Figura que transita entre as várias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    </div>
    <div class="products">
    </div>
  </div>
</section>

