<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylist">
  <div class="profile">
    <%= image_tag "/assets/stylist/helena_linhares/foto.jpg", :title => "Helena Linhares", :class => "picture" %>
    <h1>Helena Linhares ...</h1>
    <p>... transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto. Comunicativa, dita tendência e tem credibilidade.  É  referência quando o tema é moda, colabora com veículos importantes como  Vogue, RG, Elle, e sites de comportamento, Glamurama e RG Site.</p>
    <p>Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque, trabalhou na W Magazine. No Brasil trabalhou no Mappin/ Mesbla na área de marketing de moda e foi gerente de marketing da Iodice. Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris.</p>
    <p>Figura que transita entre as varias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    <%= link_to "Veja minha seleção de produtos desta coleção", "javascript:void(0);", :id => "go_products" %>
  </div>
  <ul class="interview">
    <li>
      <h1>1. Como você define seu estilo?</h1>
      <p><strong>H.L.:</strong> Eu sou uma pessoa livre e meu estilo segue esse mesmo principio. Eu amo misturar os estilos e o mais importante é eu me sentir bem e bonita!</p>
    </li>
    <li>
      <h1>2. Qual a melhor maneira de tranformar um look?</h1>
      <p><strong>H.L.:</strong> Acessórios, muitos acessórios!</p>
    </li>
    <li>
      <h1>3. Uma dica de moda?</h1>
      <p><strong>H.L.:</strong> A cada troca de estação eu revejo meu closet. Separo as peças que não uso e abro espaço para as novas compras. Armário abarrotado é o pior inimigo de quem gosta de se produzir.</p>
    </li>
    <li>
      <h1>4. O que você gosta de fazer no seu free time?</h1>
      <p><strong>H.L.:</strong> Sou uma jardineira de final de semana e também amo cozinhar. tenho uma hortinha de temperos em casa e assim consigo unir essas duas paixões.</p>
    </li>
    <li class="last">
      <h1>5. Qual a viagem dos seus sonhos?</h1>
      <p><strong>H.L.:</strong> Esse ano eu quero voltar à Grécia.</p>
    </li>
  </ul>
  <div id="products">
    <h1 class="title">AMO!</h1>
    <h2 class="title">por Helena Linhares</h2>
    <ul>
      <li id="guaiba_container">
        <%= image_tag "/assets/stylist/helena_linhares/1.jpg", :title => "Colorado" %>
        <h1>Colorado</h1>
        <p>O sliper é a nova sapatilha e essa de pelo estampado de oncinha é um must have da coleção AMO!<br /> Ela é muito versátil, combina com  vestido como na foto ao lado, com uma calça skinny e até com um shorts de alfaiataria. Aproveite!!!</p>
        <%= link_to "Conheça", product_path(3805) %>
      </li>
      <li class="set">
        <%= image_tag "/assets/stylist/helena_linhares/2.jpg", :title => "Ortigueira e Ourizona" %>
        <p>AMO! essa pegada <span>rock&roll</span> das<br /> caveiras. Adoro usar vários anéis ao mesmo tempo e as pulseiras de caveira combinando com calça de couro e uma camiseta básica meio "poderinha", sabe?</p>
        <div class="product1">
          <h1>Vila Alta</h1>
          <%= link_to "Conheça", product_path(4344) %>
        </div>
        <div class="product2">
          <h1>Ourizona</h1>
          <%= link_to "Conheça", product_path(4340) %>
        </div>
      </li>
      <li class="right last">
        <%= image_tag "/assets/stylist/helena_linhares/3.jpg", :title => "Janiópolis" %>
        <h1>Rebouças</h1>
        <p>A bolsa baú é uma tendência que vem com tudo!  Essa colorida fica incrível para dar um toque de modernidade em produções mais tradicionais.<br /><span>#ficaAdica</span><br />=)</p>
        <%= link_to "Conheça", product_path(4233) %>
      </li>
    </ul>
    <div class="products_footer"></div>
  </div>
</section>
