<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylist">
  <%= link_to(image_tag("promotion_banners/banner_site.jpg", :class => "banner_mothers_day"), "http://www.olook.com.br/lookbooks/?utm_source=olook&utm_medium=banner_site&utm_campaign=maes12&utm_content=lookbookmaes" ) %>
  <div class="profile">
    <%= image_tag "/assets/stylist/helena_linhares/foto.jpg", :title => "Helena Linhares", :class => "picture" %>
    <h1>Helena Linhares ...</h1>
    <p>... transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto. Comunicativa, dita tendência e tem credibilidade.  É  referência quando o tema é moda, colabora com veículos importantes como  Vogue, RG, Elle, e sites de comportamento, Glamurama e RG Site.</p>
    <p>Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque, trabalhou na W Magazine. No Brasil trabalhou no Mappin/ Mesbla na área de marketing de moda e foi gerente de marketing da Iodice. Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris.</p>
    <p>Figura que transita entre as varias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    <%= link_to "Veja minha seleção de produtos desta coleção", "javascript:void(0);", :id => "go_products" %>
  </div>
  <ul class="interview">
    <li>
      <h1>1. Como você define seu estilo?</h1>
      <p><strong>H.L.:</strong> Eu sou uma pessoa livre e meu estilo segue esse mesmo principio. Eu amo misturar os estilos e o mais importante é eu me sentir bem e bonita!</p>
    </li>
    <li>
      <h1>2. Qual a melhor maneira de tranformar um look?</h1>
      <p><strong>H.L.:</strong> Acessórios, muitos acessórios!</p>
    </li>
    <li>
      <h1>3. Uma dica de moda?</h1>
      <p><strong>H.L.:</strong> A cada troca de estação eu revejo meu closet. Separo as peças que não uso e abro espaço para as novas compras. Armário abarrotado é o pior inimigo de quem gosta de se produzir.</p>
    </li>
    <li>
      <h1>4. O que você gosta de fazer no seu free time?</h1>
      <p><strong>H.L.:</strong> Sou uma jardineira de final de semana e também amo cozinhar. tenho uma hortinha de temperos em casa e assim consigo unir essas duas paixões.</p>
    </li>
    <li class="last">
      <h1>5. Qual a viagem dos seus sonhos?</h1>
      <p><strong>H.L.:</strong> Esse ano eu quero voltar à Grécia.</p>
    </li>
  </ul>
  <div id="products">
    <h1 class="title">AMO!</h1>
    <h2 class="title">por Helena Linhares</h2>
    <ul>
      <li id="guaiba_container">
        <%= image_tag "/assets/stylist/helena_linhares/1.jpg", :title => "Guaíba" %>
        <h1>Guaíba</h1>
        <p>"Adoro esta estação, pois podemos caprichar mais no look. O friozinho possibilita produções mais elaboradas e neste mês minha inspiração para a coluna AMO! está com uma pegada elegante. Essa shopping bag off white é a minha predileta do mês, ela é perfeita pois transita entre uma produção elegante como a da foto e também vai bem com um look mais rock&roll.<br /> AMO!"</p>
        <%= link_to "Conheça", product_path(3282) %>
      </li>
      <li class="right">
        <%= image_tag "/assets/stylist/helena_linhares/2.jpg", :title => "Maracajá" %>
        <h1>Maracajá</h1>
        <p>"Essa sapatilha é um must have em todos os armários femininos. A combinação de cores é muito chic e a peça um coringa para quem quer estar bem vestida. Versátil, é perfeita para produções casuais como essa ao lado, um look com peças de alfaiataria ou até um vestido de lã. Eu já tenho a minha, e você?"</p>
        <%= link_to "Conheça", product_path(3132) %>
      </li>
      <li class="last">
        <%= image_tag "/assets/stylist/helena_linhares/3.jpg", :title => "Erexim" %>
        <h1>Erexim</h1>
        <p>"Sou louca por estampa de onça e essa pashmina em algodão com os penduricalhos é um verdadeiro charme! AMO!"</p>
        <%= link_to "Conheça", product_path(3450) %>
      </li>
    </ul>
    <div class="products_footer"></div>
  </div>
</section>
