<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylist">
  <div class="profile">
    <%= image_tag "/assets/stylist/helena_linhares/foto.jpg", :title => "Helena Linhares", :class => "picture" %>
    <h1>Helena Linhares ...</h1>
    <p>... transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto. Comunicativa, dita tendência e tem credibilidade.  É  referência quando o tema é moda, colabora com veículos importantes como  Vogue, RG, Elle, e sites de comportamento, Glamurama e RG Site.</p>
    <p>Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque, trabalhou na W Magazine. No Brasil trabalhou no Mappin/ Mesbla na área de marketing de moda e foi gerente de marketing da Iodice. Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris.</p>
    <p>Figura que transita entre as varias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    <%= link_to "Veja minha seleção de produtos desta coleção", "javascript:void(0);", :id => "go_products" %>
  </div>
  <ul class="interview">
    <li>
      <h1>1. Como você define seu estilo?</h1>
      <p><strong>H.L.:</strong> Eu sou uma pessoa livre e meu estilo segue esse mesmo principio. Eu amo misturar os estilos e o mais importante é eu me sentir bem e bonita!</p>
    </li>
    <li>
      <h1>2. Qual a melhor maneira de tranformar um look?</h1>
      <p><strong>H.L.:</strong> Acessórios, muitos acessórios!</p>
    </li>
    <li>
      <h1>3. Uma dica de moda?</h1>
      <p><strong>H.L.:</strong> A cada troca de estação eu revejo meu closet. Separo as peças que não uso e abro espaço para as novas compras. Armário abarrotado é o pior inimigo de quem gosta de se produzir.</p>
    </li>
    <li>
      <h1>4. O que você gosta de fazer no seu free time?</h1>
      <p><strong>H.L.:</strong> Sou uma jardineira de final de semana e também amo cozinhar. tenho uma hortinha de temperos em casa e assim consigo unir essas duas paixões.</p>
    </li>
    <li class="last">
      <h1>5. Qual a viagem dos seus sonhos?</h1>
      <p><strong>H.L.:</strong> Esse ano eu quero voltar à Grécia.</p>
    </li>
  </ul>
  <div id="products">
    <h1 class="title">What's hot por Helena Linhares</h1>
    <ul>
      <li id="venice_container">
        <%= image_tag "/assets/stylist/helena_linhares/venice.jpg", :title => "Venice" %>
        <h1>Venice</h1>
        <h2>R$ 99,90</h2>
        <p>Amo essa sandália por ser feminina e ter tudo a ver com a tendência color blocking. Fica linda com uma única cor, como na foto ao lado ou misturando tons na cor da sandália.</p>
        <%= link_to "Conheça", product_path(1147) %>
      </li>
      <li id="tamarindo_container" class="right">
        <%= image_tag "/assets/stylist/helena_linhares/tamarindo.jpg", :title => "Tamarindo" %>
        <h1>Tamarindo</h1>
        <h2>R$ 129,90</h2>
        <p>Essa bolsa é básica, mas cheia de charme. Muito versátil, pode ser usada em várias produções. Adorei esse look com jeans skinny.</p>
        <%= link_to "Conheça", product_path(1383) %>
      </li>
      <li id="porto-rico_container" class="last">
        <%= image_tag "/assets/stylist/helena_linhares/porto_rico.jpg", :title => "Porto Rico" %>
        <h1>Porto Rico</h1>
        <h2>R$ 129,90</h2>
        <p>Amo correntes e esse colar fica incrível numa produção mais casual ou com um look noite.</p>
        <%= link_to "Conheça", product_path(1545) %>
      </li>
    </ul>
    <div class="products_footer"></div>
  </div>
</section>
