<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylist">
  <%= render 'shared/banners/olooklet' %>
  <div class="profile" id="helena">
    <div class="description">
      <h1>Helena <span>Linhares</span></h1>
      <p>Transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto.</p>
      <p>Comunicativa, dita tendência e tem credibilidade, é referência quando o tema é moda. Colabora com veículos importantes como Vogue,RG, Elle e sites de comportamento como Glamurama e RG Site.</p>
      <p>Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque onde trabalhou na W Magazine. No Brasil, teve a marca Pelu por 8 anos, antes trabalhou no Mappin/Mesbla na área de marketing de moda e foi gerente de marketing da Iodice.</p>
      <p>Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris. Figura que transita entre as várias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    </div>
    <div class="products">
      <h1>Amo!</h1>
      <% @products_helena.each do |product| %>
        <%= link_to product_path(product.id), :class => "product", :id => "#{underscore_case(product.name)}" do %>
          <p><%= product.name %></p>
          <p class="price"><%= number_to_currency product.price %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="profile" id="didi_wagner">
    <h1 class="stylist">Stylist Convidada</h1>
    <div class="description">
      <h1>Didi Wagner</h1>
      <p><%= image_tag "/assets/stylist/didi_wagner/foto.jpg", :title => 'Didi Wagner' %>Didi Wagner está sempre surpreendendo com sua multifaceta profissional. Sua carreira como apresentadora começou em 2000, como VJ da MTV. Em seis anos na emissora foram inúmeros programas que mostravam toda a sua versatilidade. Em 2005 Didi assina contrato com o Multishow e logo estreia o programa "Lugar Incomum", que traz toda a personalidade de Didi ao desbravar lugares incríveis pelo mundo, Nova York, Barcelona, Londres e Roma. Ainda podemos incluir no extenso currículo de Didi a publicação do livro "Minha Nova York" (2011) e as apresentações nas transmissões televisivas de importantes festivais de música – como Rock in Rio e SWU. Didi é e sempre foi uma referência em moda. Em suas palavras "moda é arte, cultura, música e eu trago um pouco disso tudo para o jeito que eu me visto".</p>
      <h3>Como você define seu estilo?</h3>
      <p>Classy rock n' roll, kkkkk!</p>
      <h3>Qual a melhor maneira de transformar um look?</h3>
      <p>Com acessórios poderosos e muita criatividade.</p>
      <h3>Uma dica de moda?</h3>
      <p>Na dúvida, opte pelos looks mais básicos, mas sempre com itens atuais.</p>
      <h3>Quem é um ícone de estilo para vc?</h3>
      <p>As irmãs Olsen (Ashley e Mary-Kate).</h3>
      <h3>O que não pode faltar no seu guarda roupa?</h3>
      <p>Um espelho e bom senso, hehehe!</p>
    </div>
    <div class="products">
      <h1>As escolhas da Didi...</h1>
      <% @products_didi.each do |product| %>
        <%= link_to product_path(product.id), :class => "product", :id => "#{underscore_case(product.name)}" do %>
          <p><%= product.name %></p>
          <p class="price"><%= number_to_currency product.price %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

