<% content_for :head do %>
  <%= stylesheet_link_tag "section/stylists" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "stylists" %>
<% end %>

<section id="stylist">
  <%= render 'shared/banners/olooklet' %>
  <div class="profile" id="helena">
    <div class="description">
      <h1>Helena <span>Linhares</span></h1>
      <p>Transita no universo da moda há mais de 15 anos. Paulistana de família tradicional, é formadora de opinião e sinônimo de bom gosto.</p>
      <p>Comunicativa, dita tendência e tem credibilidade, é referência quando o tema é moda. Colabora com veículos importantes como Vogue,RG, Elle e sites de comportamento como Glamurama e RG Site.</p>
      <p>Morou em Paris onde trabalhou na Maison de Cuture Ungaro e em Nova Iorque onde trabalhou na W Magazine. No Brasil, teve a marca Pelu por 8 anos, antes trabalhou no Mappin/Mesbla na área de marketing de moda e foi gerente de marketing da Iodice.</p>
      <p>Estudou administração de empresas na PUC, fashion marketing e visual merchandising no FIT – NY e estilismo na ESMOD Paris. Figura que transita entre as várias tribos, Helena pode ser vista numa partida de polo ou na noite fervida das maiores metrópoles do mundo.</p>
    </div>
    <div class="products">
      <h1>Amo!</h1>
      <%= link_to product_path(6391), :class => "product", :id => "espora" do %>
        <p>Espora</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(5591), :class => "product", :id => "caribe" do %>
        <p>Caribe</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(6463), :class => "product", :id => "erva_mate" do %>
        <p>Erva-Mate</p>
        <p class="price">R$ 179,90</p>
      <% end %>
      <%= link_to product_path(5894), :class => "product", :id => "anis" do %>
        <p>Anis</p>
        <p class="price">R$ 69,90</p>
      <% end %>
      <%= link_to product_path(5627), :class => "product", :id => "lindoia" do %>
        <p>Lindóia</p>
        <p class="price">R$ 159,90</p>
      <% end %>
      <%= link_to product_path(5777), :class => "product", :id => "rosa_branca" do %>
        <p>Rosa Branca</p>
        <p class="price">R$ 129,90</p>
      <% end %>
      <%= link_to product_path(5777), :class => "product", :id => "iris" do %>
        <p>Iris</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(5777), :class => "product", :id => "gardenia" do %>
        <p>Gardênia</p>
        <p class="price">R$ 129,90</p>
      <% end %>
    </div>
  </div>
  <div class="profile" id="lele_saddi">
    <h1 class="stylist">Stylist Convidada</h1>
    <%= image_tag "stylist/lele_saddi/models.jpg", :class => "models" %>
    <div class="description">
      <h1>Lelê Saddi</h1>
      <h2>Empresária Hi Brand e We Pick</h2>
      <p>Lelê Saddi foi uma das primeiras a apostar no mundo virtual e criou o BLOG da Lelê, que ficou no ar durante cinco anos. Apostou em conteúdo de qualidade com novidades daqui e do mundo afora, onde conquistou seguidores fiéis. Além do blog, abriu uma consultoria de branding, a Hi-Brand, voltada ao mercado de luxo.</p>
      <p>Sempre antenada em novidades, viu que seu blog e o site MICA ROCHA  se completavam em conteúdo, seja escrito ou vídeo, das ideias e conhecimentos de ambas surgiu o portal <%= link_to "We Pick", "http://www.wepick.com.br", :target => "_blank" %>.</p>
      <h3>1. Como você define seu estilo?</h3>
      <p>Sou mais básica e gosto de misturar roupas clássicas com acessórios modernos.</p>
      <h3>2. Qual a melhor maneira de transformar um look?</h3>
      <p>Acessórios mudam tudo! Bolsas, sapatos, bijoux!</p>
      <h3>3. Uma dica de moda?</h3>
      <p>Se vista de acordo com a sua personalidade, e não de acordo com o que todo mundo usa!</p>
      <h3>4. Moda é...</h3>
      <p>Você transparecer sua personalidade!</p>
      <h3>5. Quem é um ícone de estilo para você?</h3>
      <p>Não tenho ícone de estilo...</p>
      <h3>6. O que não pode faltar no seu guarda roupa?</h3>
      <p>Camisas!!</p>
    </div>
    <div class="products">
      <h1>Minhas escolhas do mês</h1>
      <%= link_to product_path(6011), :class => "product", :id => "santana" do %>
        <p>Santana</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(5957), :class => "product", :id => "xique_xique" do %>
        <p>Xique-Xique</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(5969), :class => "product", :id => "valenca" do %>
        <p>Valença</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(5989), :class => "product", :id => "saubara" do %>
        <p>Saubara</p>
        <p class="price">R$ 99,90</p>
      <% end %>
      <%= link_to product_path(5963), :class => "product", :id => "varzedo" do %>
        <p>Varzedo</p>
        <p class="price">R$ 99,90</p>
      <% end %>
    </div>
  </div>
</section>

