<div class="filter main bag_color">
  <p class="filter_type">Cor<%= image_tag 'collections/arrow-black.png', :class => 'model' %></p>
  <button type="button" class="clear_filter bt_clear_bag_color">[ limpar ]</button>
  <ol class="color_filter">
    <!--li>
      <%= check_box_tag "select_all_bag_colors", 1, params[:select_all_bag_colors], :class => "select_all" %>
      <%= label_tag "select_all_colors", "Todas as cores" %>
    </li-->
  <% {'neutras' => 'Neutras', 'metalizadas' => 'Metalizadas', 'estampadas' => 'Estampadas', 'vivas' => 'Vivas', 'animal-print' => 'Animal Print', 'tons-pastel' => 'Tons pastel'}.sort{|a,b| b[0] <=> a[0]}.each do |subcategory, label| %>
    <li class="<%= subcategory %>">
      <%= check_box_tag 'bag_colors[]', subcategory, params[:bag_colors] && params[:bag_colors].include?(subcategory), id: subcategory %>
      <%= label_tag label, nil, for: subcategory %>
    </li>
  <% end %>
  </ol>
  <%= image_tag 'collections/arrow-white.png', :class => 'arrow arrow-bag-color', style:"display:none" %>
</div>