.filter.cloth_main_color
  %p.filter_type.opened
    Cor #{image_tag 'collections/arrow-black.png', :class => 'model'}
  %button.clear_filter.bt_clear_color{:type => "button"} [ limpar ]
  %ol.cloth_color_filter
    = check_box_tag "select_all_colors", 1, params[:select_all_colors], :class => "select_all"
    = label_tag "select_all_colors", "Todas as cores"
    - {'amarelo' => 'Amarelo', 'azul' => 'Azul', 'bege' => 'Bege', 'branco' => 'Branco', 'cinza' => 'Cinza', 'cobra' => 'Cobra',
    - 'cobre' => 'Cobre', 'dourado' => 'Dourado', 'floral' => 'Floral', 'laranja' => 'Laranja', 'listras' => 'Listras', 'marrom' => 'Marrom',
    - 'multicolorido' => 'Multicolorido', 'nude' => 'Nude','off-white' => 'Off White', 'onca' => 'Onça', 'onix' => 'Onix', 'poas' => 'Poás', 'prateado' => 'Prateado',
    - 'preto' => 'Preto', 'rosa' => 'Rosa', 'rose' => 'Rose', 'roxo' => 'Roxo', 'vaca' => 'Vaca', 'verde' => 'Verde', 'vermelho' => 'Vermelho',
    - 'xadrez' => 'Xadrez', 'zebra' => 'Zebra'}.sort{|a,b| a[0] <=> b[0]}.each do |subcategory, label|
      %li{:class => subcategory}
        = check_box_tag('cloth_colors[]', label, params[:cloth_colors] && params[:cloth_colors].include?(label) || params[:select_all_colors], id: subcategory)
        = label_tag(label, nil, for: subcategory)
  = image_tag 'collections/arrow-white.png', :class => 'arrow arrow-cor', style:"display:none"
