<% unless @colors.blank? %>
  <div class="filter main main_color">
    <span class="selected-type filter_type opened">Cor</span>
    <% unless is_moment_page? %>
    <div class="tab_bg tab_color">&nbsp;</div>
    <% end %>
    <ol class="color_filter">
      <!--li>
        <%= check_box_tag "select_all_colors", 1, params[:select_all_colors], :class => "select_all" %>
        <%= label_tag "select_all_colors", "Todas as cores" %>
      </li-->
    <% @colors.sort{|a,b| a[0] <=> b[0]}.each do |label| -%>
      <li class="<%= label %>">
        <%= check_box_tag("#{product_type}_colors[]", label, params["#{product_type}_colors".to_sym] && params["#{product_type}_colors".to_sym].include?(label) || params[:select_all_colors], id: label) %>
        <%= label_tag(label, nil, for: label) %>
      </li>
    <% end -%>
    <% unless is_moment_page? %>
      <li class="clear_choice"><button type="button" class="clear_filter bt_clear_color">[ limpar ]</button>
    <% end%>  
    </ol>
    
  </div>
<% end %>
