<% content_for :head do %>
  <%= stylesheet_link_tag "section/error" %>
<% end %>

<div class="message">
  <p class="opsss">OPsss!</p>
  <p class="subtitle">A página que você tentou acessar não foi encontrada :(</p>
  <p class="mb10">Se você digitou o endereço no navegador, confira se ele está correto.<br>Caso não, tente refazer a pesquisa ou experimente os links sugeridos abaixo:</p>
  <%= link_to "// Voltar ao marco zero. Leve-me para a home, please!", root_path %>
  <%= link_to "// Looks desejo: novidades e últimas tendências", collection_themes_path %>
  <%= link_to "// Sapatos hot: Veja todos na seção sapatos", catalog_path(category: "sapato") %>
  <%= link_to "// Acessórios incríveis: Eles valorizam qualquer look", catalog_path(category: "acessorio") %>
</div>

<div class="other-products">
  <p>Enquanto isso, porque você não dá uma olhada em...</p>
</div>
<div class="chaordic mostpopular" data-skin="MP-top-5"></div>
<%= render "home/stylists" %>
<%= render "home/boxes" %>
<%= render "home/products_categories" %>
