= form_for [:admin, @highlight_campaign] do |f|
  - if @highlight.errors.any?
    #error_explanation
      %h2= "#{pluralize(@highlight.errors.count, "error")} prohibited this highlight from being saved:"
      %ul
        - @highlight_campaign.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    =f.label :label
    =f.text_field :label
  %fieldset
    =f.label :product_ids
    =f.text_field :product_ids
  .actions
    = f.submit 'Save'
