%h1 Destaques

%div.inner
  %table.table
    %tr
      %th label
      %th
      %th
      %th

    - @highlight_campaigns.each do |highlight_campaign|
      %tr
        %td= highlight.label
        %td= highlight.subtitle
        %td= highlight.link
        %td= highlight.position
        %td= link_to 'Exibir', [:admin, highlight]
        %td= link_to 'Editar', edit_admin_highlight_path(highlight)
        %td= link_to 'Apagar', [:admin, highlight], :method => :delete, :data => { :confirm => 'Tem certeza ?' }

  %br

= link_to 'Novo destaque', new_admin_highlight_path
