%h1 Campanhas com produtos

%div.inner
  %table.table
    %tr
      %th label
      %th
      %th
      %th

    - @highlight_campaigns.each do |highlight_campaign|
      %tr
        %td= highlight_campaign.label
        %td= link_to 'Exibir', [:admin, highlight_campaign]
        %td= link_to 'Editar', edit_admin_highlight_campaign_path(highlight_campaign)
        %td= link_to 'Apagar', [:admin, highlight_campaign], :method => :delete, :data => { :confirm => 'Tem certeza ?' }

  %br

= link_to 'Novo destaque', new_admin_highlight_campaign_path
