<%= form_tag(cart_items_path, onsubmit: params[:action] == "product_valentines_day" ? track_add_to_cart_valentines_day_event(product.id) : track_add_to_cart_event(product.id), 
                              id: "product_add_to_cart") do %>
  <%= hidden_field_tag :redirect, @ab_test_parameter %>
  <%= product_presenter.render_form_by_category %>
  <%= product_presenter.render_quantity %>
  <p class="alert_size"></p>
  <% if product_presenter.show_quantity_left? %>
    <p class="remaining">
      <%= product_presenter.quantity_left_text %>
      <strong><span><%= product_presenter.quantity_left %></span> <%= product_presenter.unities_left_text %></strong> para o seu tamanho
    </p>
  <% end %>

  <% if product.sold_out? %>
    <%= submit_tag "", id: "add_product", class: "add_product disabled", disabled: "disabled" %>
  <% else %>
    <%= submit_tag "", id: "add_product", class: "add_product green" %>
  <% end %>
<% end %>
