= form_tag(cart_items_path, onsubmit: params[:action] == "product_valentines_day" ? track_add_to_cart_valentines_day_event(@product.id) : track_add_to_cart_event(@product.id), |
  id: "product_add_to_cart") do                                                                                                                                               |
  = hidden_field_tag :redirect, @ab_test_parameter
  = render :partial => 'product/colors', :locals => {:product => @product, :gift => false, :shoe_size => @shoe_size}
  - case @product.category
    - when Category::SHOE
      = product_presenter.render_multiple_sizes
    - when Category::BAG
      = product_presenter.render_accessory_sizes
    - when Category::ACCESSORY
      = product_presenter.render_accessory_sizes
    - when Category::CLOTH
      = product_presenter.render_cloth_sizes
    - when Category::LINGERIE
      = product_presenter.render_cloth_sizes
    - when Category::BEACHWEAR
      = product_presenter.render_cloth_sizes
    - when Category::CURVES
      = product_presenter.render_cloth_sizes
  = render :partial => 'product/quantity_product', :locals => {:product => @product}
  - if @product.sold_out?
    = submit_tag "PRODUTO ESGOTADO", id: "add_product", class: "add_product disabled", disabled: "disabled"
  - else
    = submit_tag "ADICIONAR À SACOLA", id: "add_product", class: "add_product"

.social-media-box
  = render partial: 'add_to_wishlist'
  %ul.social-list
    %li.twitter
      %a.twitter-share-button{"data-count" => "none","data-size" => "none", "data-hashtags" => "ficaadica", "data-lang" => "pt", :href => "https://twitter.com/share?text= #{share_description(@product)}"} Tweetar
    %li.fb
      .fb-share-button{"data-href" => "http://olook.com.br/produto/#{product_permalink(@product)}", "data-type" => "icon_link"}
    %li.email= link_to "Email", "javascript:void(0);"
      
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
