<%= form_tag(cart_path, :onsubmit => track_event("Shopping", "AddToCart", product.id)) do %>
  <%= product_presenter.render_form_by_category %>
  <% if product_presenter.show_quantity_left? %>
      <p class="remaining"><%= product_presenter.quantity_left_text %><strong><span><%= product_presenter.quantity_left %></span> <%= product_presenter.unities_left_text %></strong> para o seu tamanho</p>
  <% end %>
  <% if product.sold_out? %>
    <%= submit_tag "", :class=>"add_product #{product.sold_out? ? 'disabled' : ''}", :id => "add_product", :disabled => "disabled" %>
  <% else %>
    <%= submit_tag "", :class=>"add_product", :id => "add_product" %>
  <% end %>
<% end %>
