= product_presenter.render_form_by_category
= product_presenter.render_quantity
%p.alert_size
- if product_presenter.show_quantity_left?
  %p.remaining
    = product_presenter.quantity_left_text
    %strong
      %span= product_presenter.quantity_left
      = product_presenter.unities_left_text
    para o seu tamanho
= hidden_field_tag("id",product.id)

- if product.sold_out?
  = submit_tag "PRODUTO ESGOTADO", id: "add_product", class: "add_product disabled", disabled: "disabled"
- else
  = submit_tag "ADICIONAR À SACOLA", id: "add_product", class: "add_product", onclick: track_add_to_cart_event(product.id)

.social-media-box
  = render partial: 'add_to_wishlist'
  %ul.social-list
    %li.twitter
      %a.twitter-share-button{"data-count" => "none","data-size" => "none", "data-hashtags" => "ficaadica", "data-lang" => "pt", :href => "https://twitter.com/share?text= #{share_description(@product)}"} Tweetar
    %li.fb
      .fb-share-button{"data-href" => "http://olook.com.br/produto/#{product_permalink(@product)}", "data-type" => "icon_link"}
    %li.email= link_to "Email", "javascript:void(0);"

:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
