<div id="product-info" class="pl9">
  <h1><%= @product.formatted_name(200) %></h1>
  <h2><%= @product.brand %></h2>
  <%= product_presenter.render_price_for @product_discount_service %>
  <% unless @product.promotion? %>
  <p class="plots">ou em <%= installments(@product.price) %></p>
  <% end %>
  <div class="warn_discount <%= product_presenter.is_promotion? ? 'promotion' : '' %>">
    <p>
      Compre e ganhe <%= number_to_currency LoyaltyProgramCreditType.apply_percentage(@product.retail_price) %> em créditos,
      <%= link_to "saiba mais", "javascript:void(0);", :class => "open_loyalty_lightbox" %>
    </p>
  </div>
</div>  
<% if params[:from] != 'cart' %>
  <div class="social-media-box pl9">
    <div class="has_bt_face">  
    <ul class="social-list">
      <li class="like"><fb:like href="http://olook.com.br/produto/<%= product_permalink(@product) %>" width="110" layout="button_count" show_faces="false" send="false"></fb:like></li>
      <li><%= link_to image_tag("product/ask_gift_button.jpg"), "javascript:void(0)", class: "face-message", onclick:  track_event('AskGiftButton', "ClickAskGiftButton") %></li>
      
      <li class="twitter"><a href="https://twitter.com/share?text= <%= share_description(@product) %>" class="twitter-share-button" data-lang="pt" data-count="none" data-hashtags="ficaadica">Tweetar</a></li>  
      
      <li class="pinterest"><a href="//pinterest.com/pin/create/button/?url=http://olook.com.br/produto/<%= product_permalink(@product) %>&media=<%= product_presenter.display_main_picture %>&description=Next%20stop%3A%20Pinterest" data-pin-do="buttonPin" data-pin-config="none"><img src="//assets.pinterest.com/images/pidgets/pin_it_button.png" /></a></li>
      
      <li class="email"><%= link_to "Email", "javascript:void(0);" %></li>
    </ul>
    </div>
  </div>
<% else %>
  <div class="division"></div>
<% end %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>


