#product-info.pl9
  %h1= @product.formatted_name(200)
  %h2= @product.brand
  = product_presenter.render_price_for @product_discount_service
  - unless @product.promotion?
    %p.plots
      ou em #{installments(@product.price)}
  - if current_user && !current_user.reseller && params[:action] != "spy"
    %div{:class => "warn_discount #{product_presenter.is_promotion? ? 'promotion' : ''}"}
      %p
        Compre e ganhe #{number_to_currency LoyaltyProgramCreditType.apply_percentage(@product.retail_price)} em créditos,
        \#{link_to "saiba mais", "javascript:void(0);", :class => "open_loyalty_lightbox"}
  
