#product-info.pl9
  %h1= @product.formatted_name(200)
  %h2= @product.brand
  = product_presenter.render_price_for @product_discount_service
  - unless @product.promotion?
    %p.plots
      ou em #{installments(@product.price)}
  - if current_user && !current_user.reseller && params[:action] != "spy"
    %div{:class => "warn_discount #{product_presenter.is_promotion? ? 'promotion' : ''}"}
      %p
        Compre e ganhe #{number_to_currency LoyaltyProgramCreditType.apply_percentage(@product.retail_price)} em créditos,
        \#{link_to "saiba mais", "javascript:void(0);", :class => "open_loyalty_lightbox"}
- if params[:from] != 'cart'
  .social-media-box.pl9
    .has_bt_face
      %ul.social-list
        %li.like
          %like{:href => "http://olook.com.br/produto/#{product_permalink(@product)}", :layout => "button_count", :send => "false", :show_faces => "false", :width => "110"}
        - unless params[:action] == "spy" 
          %li.fb_bt= link_to image_tag("product/ask_gift_button.jpg"), "javascript:void(0)", class: "face-message", onclick:  track_event('AskGiftButton', "ClickAskGiftButton")
        %li.twitter
          %a.twitter-share-button{"data-count" => "none", "data-hashtags" => "ficaadica", "data-lang" => "pt", :href => "https://twitter.com/share?text= #{share_description(@product)}"} Tweetar
        %li.pinterest
          %a{"data-pin-config" => "none", "data-pin-do" => "buttonPin", :href => "//pinterest.com/pin/create/button/?url=http://olook.com.br/produto/#{product_permalink(@product)}&media=#{product_presenter.display_main_picture}&description=Next%20stop%3A%20Pinterest"}
            %img{:src => "//assets.pinterest.com/images/pidgets/pin_it_button.png"}/
        - unless params[:action] == "spy" 
          %li.email= link_to "Email", "javascript:void(0);"
- else
  .division
:javascript
  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
