        <div id="box_tabs">
          <ul class="tabs">
            <li class="first"><%= link_to "Como vestir", "javascript:void(0);", :rel => "tab_1", :class => "selected" %></li>
            <li><%= link_to "Informações", "javascript:void(0);", :rel => "tab_2" %></li>
            <li class="last"><%= link_to "Entrega e Devolução", "javascript:void(0);", :rel => "tab_3" %></li>
          </ul>
          <ul class="tabs_content">
            <li class="tab_1 selected">
              <div class="picture">
                <% if [12311,12302,12972,12963,12981,13295,13304,11776,11767,11758,13257,11979,13322,13331,13215,13213,13502,13504,13516,13704,13706,13708,13710,13712,13714,13716,13718,13720,13205,13203,13201,13193,13191,13195,11993,13253,13255,11983,14231,12801,12783,12792,13062,13053,10316,10325,11597,11606,11615,11067,11069,11071,11073,11075,11077,11079,11081,11083,13738,13740,13742,13744,13746,13748,13750,13752,13824,13826,13828,13830,13832,13834,13836,13820,13822,13838,13840,13842,13844,13846,13848,13850,13852,13904,13906,13908,13910,13912,13914,13916,14321,14323,12003,12005,12043,12137,12109,12111].include? @product.id %>
                  <%= image_tag "/assets/stylist/didi_wagner.jpg", :title => "Didi Wagner" %>
                  <% elsif [11981,11997,11995,11991,11989,14086,14084,13171,13169,13175,13177,13207,13211,13209,13239,13243,13245,13229,13231,13237,13181,13183,13620,13622,13624,13626,13628,13630,13632,13634,13636,13638,8563,8554,8572,10244,10253,10226,10235,12266,12275,12284,10143,10134,12353,12362,12371,12990,12999,13008,9462,9466,9460,12009,11977,11975,13930,13928,13924,13918,13860,13858,13856,13854,13818,13816,13814,13812,13810,13808,13806,13804,13588,13586,13584,13582,13580,13578,13576,13574,13572,13534,13532,13530,13526,11749,13080,13071,9124,9117,14276,14267,14358,14349,14340].include? @product.id %>
                    <%= image_tag "/assets/stylist/paola_orleans/small_foto.jpg", :title => "Paola de Orleans e Bragança" %>
                <% elsif [8312, 8303, 7803, 6592, 6610].include? @product.id %>
                  <%= image_tag "/assets/stylist/andre_lima.jpg", :title => "André Lima" %>
                <% else %>
                  <%= image_tag "/assets/stylist/helena_linhares/foto.jpg", :title => "Helena Linhares" %>
                <% end %>
              </div>
              <p><%= raw @product.details.only_how_to.first.try(:description) %></p>
            </li>
            <li class="tab_2">
              <table cellpadding="0" cellspacing="0">
                <tbody>
                  <% @product.details.only_specification.each do |detail| %>
                    <tr>
                      <% if detail.translation_token == "Salto/Tamanho" %>
                        <td><%= @product.category == 2 ? 'Tamanho' : 'Salto' %></td>
                      <% else %>
                        <td><%= detail.translation_token %></td>
                      <% end %>
                      <td><%= detail.description %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </li>
            <li class="tab_3">
              <p>- A devolução é inteiramente grátis, você não paga nada a mais para devolver sua compra</p>
              <p>- Você terá até 30 dias corridos para solicitar a TROCA ou DEVOLUÇÃO do seu dinheiro (contados a partir da data de recebimento do produto)</p>
              <p>- O produto devolvido não deve ter sido usado, aceitamos apenas produtos novos</p>
              <p>- Os prazos acima contam a partir do dia em que você recebeu o produto</p>
              <p>- Em caso de defeito, você também tem 30 dias após o recebimento para solicitar a devolução.</p>
            </li>
          </ul>
        </div>
