        <div id="box_tabs">
          <ul class="tabs">
            <li class="first"><%= link_to "Como vestir", "javascript:void(0);", :rel => "tab_1", :class => "selected" %></li>
            <li><%= link_to "Informações", "javascript:void(0);", :rel => "tab_2", %></li>
            <li class="last"><%= link_to "Entrega e Devolução", "javascript:void(0);", :rel => "tab_3" %></li>
          </ul>
          <ul class="tabs_content">
            <li class="tab_1 selected">
              <div class="picture">
                <%= image_tag "/assets/stylist/helena_linhares/foto.jpg", :title => "Helena Linhares" %>
              </div>
              <p><%= raw @product.details.only_how_to.first.try(:description) %></p>
            </li>
            <li class="tab_2">
              <table cellpadding="0" cellspacing="0">
                <tbody>
                  <% @product.details.only_specification.each do |detail| %>
                    <tr>
                      <% if detail.translation_token == "Salto/Tamanho" %>
                        <td><%= @product.category == 2 ? 'Tamanho' : 'Salto' %></td>
                      <% else %>
                        <td><%= detail.translation_token %></td>
                      <% end %>
                      <td><%= detail.description %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </li>
            <li class="tab_3">
              <p>- A devolução é inteiramente grátis, você não paga nada a mais para devolver sua compra</p>
              <p>- Você tem até 7 dias para solicitar uma DEVOLUÇÃO e receber seu dinheiro de volta</p>
              <p>- Você tem até 30 dias para solicitar uma TROCA por qualquer outro item do site de valor igual ou maior</p>
              <p>- O produto devolvido não deve ter sido usado, aceitamos apenas produtos novos</p>
              <p>- Os prazos acima contam a partir do dia em que você recebeu o produto</p>
              <p>- Em caso de defeito, você também tem 30 dias após o recebimento para solicitar a devolução.</p>
            </li>
          </ul>
        </div>
