<div id="box_tabs">

  <p class="description"><%= @product.description %></p>
  
  <ul class="tabs">
    <li><%= link_to "Informações", "javascript:void(0);", :rel => "tab_2", :class => "selected" %></li>
    <li class="last"><%= link_to "Entrega e Devolução", "javascript:void(0);", :rel => "tab_3", :class => "border_last" %></li>
  </ul>
  <ul class="tabs_content">
    <li class="tab_2 selected">
      <table cellpadding="0" cellspacing="0">
        <tbody>
          <% details = @product.details.only_specification.with_valid_values -%>
          <% @product.sort_details_by_relevance(details).each do |detail| -%>
            <tr>
              <% unless @product.is_a_shoe_accessory? && detail.translation_token == "Salto" %>
                <td><%= print_detail_name_for @product, detail %></td>
                <td><%= print_detail_value detail %></td>
              <% end %>
            </tr>
          <% end -%>
        </tbody>
      </table>
    </li>
    <li class="tab_3">
      <p>- A devolução é inteiramente grátis, você não paga nada a mais para devolver sua compra</p>
      <p>- Você terá até 30 dias corridos para solicitar a TROCA ou DEVOLUÇÃO do seu dinheiro (contados a partir da data de recebimento do produto)</p>
      <p>- O produto devolvido não deve ter sido usado, aceitamos apenas produtos novos</p>
      <p>- Os prazos acima contam a partir do dia em que você recebeu o produto</p>
      <p>- Em caso de defeito, você também tem 30 dias após o recebimento para solicitar a devolução.</p>
    </li>
  </ul>
</div>
