        <div id="box_tabs">
          <ul class="tabs">
            <li class="first"><%= link_to "Como vestir", "javascript:void(0);", :rel => "tab_1", :class => "selected" %></li>
            <li><%= link_to "Informações", "javascript:void(0);", :rel => "tab_2" %></li>
            <li class="last"><%= link_to "Entrega e Devolução", "javascript:void(0);", :rel => "tab_3" %></li>
          </ul>
          <ul class="tabs_content">
            <li class="tab_1 selected">
              <div class="picture">
                <% if [12311,12302,12972,12963,12981,13295,13304,11776,11767,11758,13257,11979,13322,13331,13215,13213,13502,13504,13516,13704,13706,13708,13710,13712,13714,13716,13718,13720,13205,13203,13201,13193,13191,13195,11993,13253,13255,11983].include? @product.id %>
                  <%= image_tag "/assets/stylist/didi_wagner.jpg", :title => "Didi Wagner" %>
                  <% elsif [11981,11997,11995,11991,11989,14086,14084,13171,13169,13175,13177,13207,13211,13209,13239,13243,13245,13229,13231,13237,13181,13183,13620,13622,13624,13626,13628,13630,13632,13634,13636,13638,8563,8554,8572,10244,10253,10226,10235,12266,12275,12284,10143,10134,12353,12362,12371,12990,12999,13008].include? @product.id %>
                    <%= image_tag "/assets/stylist/paola_orleans/small_foto.jpg", :title => "Paola de Orleans e Bragança" %>
                <% elsif [8312, 8303, 7803, 6592, 6610].include? @product.id %>
                  <%= image_tag "/assets/stylist/andre_lima.jpg", :title => "André Lima" %>
                <% else %>
                  <%= image_tag "/assets/stylist/helena_linhares/foto.jpg", :title => "Helena Linhares" %>
                <% end %>
              </div>
              <p><%= raw @product.details.only_how_to.first.try(:description) %></p>
            </li>
            <li class="tab_2">
              <table cellpadding="0" cellspacing="0">
                <tbody>
                  <% @product.details.only_specification.each do |detail| %>
                    <tr>
                      <% if detail.translation_token == "Salto/Tamanho" %>
                        <td><%= @product.category == 2 ? 'Tamanho' : 'Salto' %></td>
                      <% else %>
                        <td><%= detail.translation_token %></td>
                      <% end %>
                      <td><%= detail.description %></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </li>
            <li class="tab_3">
              <p>- A devolução é inteiramente grátis, você não paga nada a mais para devolver sua compra</p>
              <p>- Nas compras realizadas em dezembro voce terá até o dia 01/02/13 para solicitar a TROCA ou DEVOLUÇÃO e receber o seu dinheiro de volta</p>
              <p>- O produto devolvido não deve ter sido usado, aceitamos apenas produtos novos</p>
              <p>- Os prazos acima contam a partir do dia em que você recebeu o produto</p>
              <p>- Em caso de defeito, você também tem 30 dias após o recebimento para solicitar a devolução.</p>
            </li>
          </ul>
        </div>
