<% if look_products.any? %>

  <div id="related">
    <h3 class="title">COMPRE O LOOK COMPLETO</h3>
    <div class="cart_related">
      <p class="empty_minicart"><%= installments_number(look_products.sum{|p| p.promotion? ? p.retail_price : p.price}) %>x de <%=  number_to_currency(installments_value(look_products.sum{|p| p.promotion? ? p.retail_price : p.price}, separator: ",")) %></p>
      <h3>Você está levando...</h3>
      <ul></ul>
      <p class="minicart_price"></p>
      <input type="hidden" id="total_price" />
    </div>
    <ul class="carousel <%= look_products.count > 3 ? 'arrows' : '' %>">
      <%
          look_products.each do |product|
        if product.liquidation?
      %>
    <%# fazer um partial de product_item especifico para a feature do look %>
    <%= render 'look_product_item', product: LiquidationProductService.liquidation_product(product).product, product_presenter: product_presenter %>
  <% else %>
    <%= render 'look_product_item', product: product, product_presenter: product_presenter %>
  <% end
      end
    %>
</ul>
<% if look_products.count > 3 %>
  <%= link_to "Anterior", "javascript:void(0);", :class => "carousel-prev" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "carousel-next" %>
<% end %>
<div id="related_footer"></div>
</div>
<% end %>

<%= form_tag add_variants_path(current_cart), method: :put, id: "minicart", name: "minicart" do %>
  <%= submit_tag 'Comprar o look Completo', disabled: "disabled" %>
<% end %>


<% content_for :footer do %>
  <%= javascript_include_tag "formatter" %>
  <%= javascript_include_tag "credit_card" %>
<% end %>