<% if look_products.any? %>

  <div id="related">
    <h3 class="title">COMPRE O LOOK COMPLETO</h3>
    <div class="cart_related">
      <p class="empty_minicart">...</p>
      <h3>Você está levando...</h3>
      <ul></ul>
    </div>
    <ul class="carousel <%= look_products.count > 3 ? 'arrows' : '' %>">
      <%
          look_products.each do |product|
        if product.liquidation?
      %>
    <%# fazer um partial de product_item especifico para a feature do look %>
    <%= render 'look_product_item', product: LiquidationProductService.liquidation_product(product).product, product_presenter: product_presenter %>
  <% else %>
    <%= render 'look_product_item', product: product, product_presenter: product_presenter %>
  <% end
      end
    %>
</ul>
<% if look_products.count > 3 %>
  <%= link_to "Anterior", "javascript:void(0);", :class => "carousel-prev" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "carousel-next" %>
<% end %>
<div id="related_footer"></div>
</div>
<% end %>

<%= form_tag add_variants_path(current_cart), method: :put, id: "minicart", name: "minicart" do %>
  <%= submit_tag 'teste' %>
<% end %>


