%section#product{itemscope: true, itemtype: "http://schema.org/Product" }
  - if @product.has_look_products?(current_admin)
    = link_to "Comprar o look completo", "#related", :id => 'goRelatedProduct', :class => 'bt_domit'
  .pics_social
    %ul.thumbs
      - pictures_for(@product).each do |picture|
        %li= image_tag("#{picture.image_url(:thumb).to_s}", data: {full: picture.image_url(:main).to_s, zoom: picture.image_url(:zoom_out).to_s })
      - unless @product.youtube_token.blank?
        %li= image_tag("product/bt-modal-video.jpg", class: "js-video-modal", onclick: "#{track_event("Product", "ClickVideo", @product.id.to_s)};javascript:olook.videoModalBuild(olook.youtubePlayer(olook.youtubeParser('#{@product.youtube_token}')));", data: {videoId: @product.youtube_token})
    .big_pic.js-image-zoom= @product.pictures.any? ? image_tag(@product.pictures.order(:display_on).first.try(:image_url, :main), data: {zoom: @product.pictures.order(:display_on).first.try(:image_url, :zoom_out)}, :class => "full", itemprop: "image") : ""
    .social-media
      %ul.social-list
        - if !@product.sold_out?
          %li.icon-nofav.wishlist{id: 'js-removeFromWishlistButton', data: {product_id: @product.id}, style: "display:#{has_wished?(@product.id) ? 'block' : 'none'}"}
            %p
              Remover
          %li.icon-fav.wishlist{id: 'js-addToWishlistButton', data: {product_id: @product.id}, style: "display:#{has_wished?(@product.id) ? 'none' : 'block'}"}
            %p
              Favoritar
        %li.icon-twitter.js-twitter_share{'data-text' => share_description(@product,false), 'data-product-url' => ERB::Util.url_encode(product_seo_url(@product.seo_path)) }
        %li.icon-facebook.js-facebook_share{'data-product-url' => product_seo_url(@product.seo_path)}
        %li.icon-instagram
        %li.icon-pin
        %li.icon-mail.js-email_share
      /   %li.fb
      /     .fb-share-button{data: {href: product_seo_url(@product.seo_path), type: "icon_link"} }
      /   %li.email= link_to "Email", "javascript:void(0);"
      / :javascript
      /   !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
    %p.wishlist_alert.js-wishlist_alert
  .product-info
    %h1{itemprop: 'name'}= @product.formatted_name(200)
    %h2{itemprop: 'brand', itemscope: true, itemtype: "http://schema.org/Brand"}
      %span{itemprop: 'name'}
        = link_to @product.brand, brand_path(@product.brand.downcase)
    - if @product.sold_out?
      %p.out PRODUTO ESGOTADO
      %p.notice_success_message.js-product_available_notice_success 
        E-mail cadastrado com sucesso! 
        %br A gente te avisa qualquer novidade ;)
      %form#sold_out{:action => "", :method => "post", :class => "js-product_available_notice_form"}
        %input{:name => "ship-field", :type => "text", :value => current_user.try(:email), :placeholder => "Digite aqui seu e-mail", :class => "js-product_available_notice_email"}
        %button{:type => "button", :class => "js-product_available_notice_submit", data: {product_id: @product.id, product_color: @product.product_color, product_subcategory: @product.subcategory}} Avise-me quando disponível
      %p.notice_error_message.js-product_available_notice_error e-mail inválido
      = render 'colors'
    - else
      .cost{itemprop: 'offers', itemscope: true, itemtype: 'http://schema.org/Offer'}
        - if @product_discount_service.discount > 0
          %p.price-retail.price 
            de: 
            %span
              #{number_to_currency(@product_discount_service.base_price)}
          %p.plots
            por:
            %span{itemprop: 'price'} #{number_to_currency(@product_discount_service.final_price)}
        - else
          %p.price{:class => ('plots' if low_installments?(@product.price))}
            Preço 
            %span{itemprop: 'price'} #{number_to_currency(@product_discount_service.base_price)}
          - if !low_installments?(@product.price)
            %p.plots 
              Ou em 
              %span
                #{installments(@product.price)}
      #add-to-cart
        = hidden_field_tag("id",@product.id)
        - if [Category::CLOTH, Category::LINGERIE, Category::BEACHWEAR, Category::CURVES].include?(@product.category)
          %a.size-guide{:href => "javascript:void(0);"} Guia de medidas
        .size
          %p Selecione o tamanho:
          %ol
            - order_variants_by_size(@product.variants).each do |variant|
              %li{:class => "size_#{variant.description} #{variant_classes(variant, @shoe_size)}"}
                %label{:for => "variant_id_#{variant.id}"}= variant.description
                = hidden_field_tag("inventory_#{variant.id}", variant.inventory)
                = radio_button_tag('variant[id]', variant.id, variant_classes(variant, @shoe_size).include?('selected'), :disabled => variant.sold_out?, class:"js-variant_id" )
        = render 'colors'
        .quantity
          %p Quantidade:
          = text_field_tag('variant[quantity]', "1", class: "quantity-product js-quantity")
          %button.plus{:type => "button"} +
          %button.minus{:type => "button"} -
        %p.alert.js-alert
        = submit_tag "ADICIONAR À SACOLA", id: "add_product", class: "js-add-product add_product", onclick: track_add_to_cart_event(@product.id)
      - if !current_user.try(:reseller) #XXX Se possível tirar daqui pois impede um cache por página de produto
        %p.bonus
          Compre e ganhe 
          %span #{number_to_currency LoyaltyProgramCreditType.apply_percentage(@product.retail_price)} 
          em créditos.
          = link_to "Saiba mais", "javascript:void(0);", :class => "open_loyalty_lightbox"
    .details
      %ul.tabs
        %li
          = radio_button_tag("tabs", "about", "checked")
          %label{:for => "tabs_about"}Sobre o Produto
          #tab-content1.tab-content
            %p.description{itemprop: 'description'}= @product.description_html.html_safe
            - @details.each do |detail|
              %p.category
                = print_detail_name_for @product, detail
                %span
                  = print_detail_value detail
        - if @product_detail_info
          %li
            = radio_button_tag("tabs", "medidas")
            %label{:for => "tabs_medidas"}Medidas
            #tab-content2.tab-content
              -if @new_detail
                %table
                  %tr.titulo
                    %td
                    -@size_detail.fetch(:header).each do |header|
                      %td= header.capitalize
                  -@size_detail.fetch(:content).each do |size,line|
                    %tr{class: cycle("corsim", "")}
                      %td=size
                      -line.each do |value|
                        %td= "#{value}cm"
                %p.model_size
                  Modelo Veste:
                  %span
                    = @size_detail.fetch(:model_size)
                %p.alert_guide
                  *Medidas aproximadas em cm
              -else
                %b= print_detail_name_for @product, @product_detail_info
                %p= print_detail_value @product_detail_info
