<ul id="thumbs">
  <% @product.pictures.order(:position).each do |picture| %>
    <%- @first_pic_id ||= picture.id -%>
    <li><%= link_to image_tag(picture.image_url(:thumb).to_s), "javascript:void(0);", :rel => "product_#{picture.id}", :class=>"load-async-#{picture.id}" %></li>
  <% end %>
    <% unless @product.youtube_token.blank? %>
      <li class="vwo_1378925044720">
        <a href="javascript:void(0);" onclick="<%= track_event("Product", "ClickVideo", @product.id.to_s) %>;javascript:olook.videoModalBuild(olook.youtubePlayer(olook.youtubeParser('<%= @product.youtube_token %>')));" rel= "product_<%= @first_pic_id %>" class="load-async-<%= @first_pic_id %>" >
          <%= image_tag("product/bt-modal-video.jpg", class: "vwo_1378925047103") %>
        </a>
      </li>
    <% end %>
</ul>
<div id="full_pic">
  <p class="warn <%= (@product.sold_out? && user_signed_in?) ? 'sold_out' : '' %>"></p>
  <% if @product.liquidation? && !@product.sold_out? %>
    <p class="warn percentage"><span><%= @product.discount_percent.to_i %>%</span><br />off</p>
  <% end %>
  <% if product_presenter.show_quantity_left? %>
    <p class="warn quantity">Só mais<br /><span>-<%= "#{(current_user.shoes_size.nil?) ? '' : @product.quantity( current_user.shoes_size )}" %>-</span></p>
  <% end %>
  <ul>
    <% @product.pictures.order(:position).each do |picture| %>
      <li class=<%= "product_#{picture.id}" %>><%= link_to(image_tag("#{picture.image_url(:main).to_s}", :class => "full"), picture.image_url(:zoom_out).to_s, :rel => "product_#{picture.id}", :class => "image_zoom") %></li>
    <% end %>
  </ul>
</div>
