<div id="close_quick_view">x</div>
<% present('Product', :product => product, :member => @user, :facebook_app_id => @facebook_app_id, :logged? => user_signed_in?, :gift? => @gift, :shoe_size => @shoe_size, :only_view? => @only_view)  do |product_presenter| %>
  <div id="product" class="product_<%= product.id %>">
    <div class="content">
      <div id="pics_suggestions">
        <%= product_presenter.render_pics %>
      </div>
      <div id="infos">
        <%= product_presenter.render_description %>
        <%= product_presenter.render_add_to_cart %>
        <%= product_presenter.render_details %>
      </div>
    </div>
  </div>
<% end %>
<%= render "shared/facebook_js", :member => current_user, :facebook_app_id => @facebook_app_id, :product => product%>