<div id="close_quick_view">x</div>
<% present('Product', :product => product, :member => @user, :facebook_app_id => @facebook_app_id, :logged? => user_signed_in?, :gift? => @gift, :shoe_size => @shoe_size, :only_view? => @only_view)  do |product_presenter| %>
  <section id="product">
    <div class="box-left">
      <div id="gallery">
        <%= product_presenter.render_pics %>
        <%=image_tag("product/vantagens-spy.png", class:"vantagens") %>
      </div>
    </div>
    <div class="box-right">  
      <div id="product-details">
        <%= product_presenter.render_description %>
        <%= product_presenter.render_add_to_cart %>
        <%= render :partial => 'product/details', :locals => {:product_presenter => self, :hide_shipping => !! @hide_shipping} %>
        <%=link_to '>> Ver página completa', product_seo_path(product.seo_path), :class => 'ver_produto' if @hide_shipping %>
      </div>

      <div id="modal_guide">
        <h1>GUIA DE MEDIDAS</h1>
        <%= image_tag 'common/body.jpg', :class => '' %>
        <p>Na página do produto, você poderá </br>consultar as medidas da peça em "Tamanhos & Medidas".<br /> Aqui indicamos como fazemos a medição, <br />para que você faça o mesmo ai, ok? ;)</p>
        <ul>
          <li>
            <span>BUSTO</span> <br />Contorne o busto na altura do seio
          </li>
          <li>
            <span>CINTURA</span> <br />Contorne a parte mais fina da cintura
          </li>
          <li>
            <span>OMBRO</span> <br />Meça o ombro de ponto a ponta
          </li>
          <li>
            <span>QUADRIL</span> <br />Contorne a área de maior circunferência do seu quadril
          </li>
          <li>
            <span>COMPRIMENTO</span> <br />Meça na vertical, de ponta a ponta <br />A altura da medição varia de acordo <br />com o modelo da peça. <br />No caso de um vestido, comece pelo ombro, <br />no caso de uma calça, pela cintura
          </li>
        </ul>
      </div>
    </div>
  </section>
  
<% end %>
<%= render "shared/facebook_js", :member => current_user, :facebook_app_id => @facebook_app_id, :product => product%>

