<div class="line size">
  <p>Tamanho:</p>
  <ol>
    <% variants.each do |variant| %>
      <% classes = variant_classes(variant, shoe_size) %>
      <li class="size_<%= variant.description %> <%= classes %>">
        <label for="variant_id_<%= variant.id %>">
          <% if variant.description == "Único" %>
            <span><%= variant.description %></span>
          <% else %>
            <%= variant.description %>
          <% end %>
        </label>  
        <%= hidden_field_tag("inventory_#{variant.id}",variant.inventory) %>
        <%= radio_button_tag('variant[id]', variant.id, ( classes.include? 'selected' ) ? true : false, :disabled => variant.inventory < 1, class:"js-variant_id" ) %>
      
    </li>
  <% end %>
  <% if show_cloth_size_table %>
    <li class="size_guide">
      <a href="javascript:void(0);">Guia de medidas</a>
    </li>
  <% end %>
  </ol>
</div>
