<% content_for(:head) do %>
  <%= stylesheet_link_tag "section/product" %>
<% end %>

<div id="product">
  <div class="box_carrousel">
    <h1>Sua vitrine de novembro</h1>
    <div id="carrousel">
      <%= image_tag "fake/fake-products-carrousel.png" %>
    </div>
  </div>
  <div class="content">
    <div id="pics_suggestions">
      <ul id="thumbs">
        <% @product.pictures.each do |picture| %>
          <li><%= link_to image_tag(picture.image_url(:thumb).to_s), "javascript:void(0);" %></li>
        <% end %>
      </ul>
      <div id="full_pic">
        <%= link_to((image_tag(@product.pictures.first.image_url.to_s) unless @product.pictures.empty?), "javascript:void(0);") %>
      </div>

      <div id="related">
        <h1>Seus stylists também sugerem</h1>
        <ul>
          <% @product.related_products.each do |related_product| %>
            <%= render :partial => "shared/showroom_product_item" %>
          <% end %>
        </ul>

        <h3>Variants</h3>
        <ul>
          <% @product.variants.each do |variant| %>
            <li><%= variant.display_reference %></li>
          <% end %>
        </ul>
      </div>
    </div>

    <div id="infos">
      <div class="description">
        <h1><%= @product.name %></h1>
        <p><%= @product.description %></p>
        <p class="price">R$ 123,45</p>
      </div>
      <h3>Details</h3>
      <table>
        <tr>
          <th>Translation token</th>
          <th>Description</th>
        </tr>
        <% @product.details.visible.each do |detail| %>
          <tr>
            <td><%= detail.translation_token %></td>
            <td><%= detail.description %></td>
          </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
