<% present 'Product',
           product: @product,
           member: @user,
           facebook_app_id: @facebook_app_id,
           shoe_size: @shoe_size,
           :logged? => user_signed_in?,
           :gift? => false,
           :only_view? => @only_view do |product_presenter|
%>
  <% content_for(:head) do %>
    <%- @hide_fb_page_id = true -%>
    <meta property="fb:app_id" content="<%= @facebook_app_id %>" />
    <meta property="og:title" content="Olook – <%= @product.name %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <meta property="og:image" content="<%= @product.suggestion_picture.to_s %>" />
    <meta property="og:url" content="<%= "#{@url}/produto/#{@product.id}" %>" />
    <meta property="og:site_name" content="Olook" />
    <meta property="og:type" content="website" />
    <meta name="chaordic:source" content="product">
    <meta name="chaordic:user" content="<%= @chaordic_user %>">
    <meta name="chaordic:product" content="<%= @chaordic_product %>" data-pid="<%= @product.id %>" >
    <meta name="chaordic:category" content="<%= @chaordic_category %>">
    <meta name="chaordic:cart_id" content="<%= current_cart.try(:id) %>">
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <%= stylesheet_link_tag "section/product" %>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "product" %>
  <% end %>

  <div id="product">
    <div class="content">

      <!-- <div id="user_data"> -->
        <%#= image_tag "https://graph.facebook.com/#{@uid}/picture?width=65&height=60" %>
        <!-- <p><span></span><%= ", sua namorada," unless params["single"] == "1" %> amou este produto e adoraria ganhá-lo no dias namorados.</p> -->
      <!-- </div> -->

      <div id="pics_suggestions">
        <%= product_presenter.render_pics %>
        <%#= product_presenter.render_facebook_comments %>
      </div>
      <div id="infos">
        <%= product_presenter.render_description(false) %>
        <%= product_presenter.render_add_to_cart %>
        <%= product_presenter.render_details %>
      </div>

      <div id="benefits">
        <div class="fl">
          <p>Vantagens Olook</p>
          <ul class="vantagens">
            <li class="embalagem"><b>EMBALAGEM DE PRESENTE DE GRAÇA</b><br/>Para a campanha do dia dos namorados</li>
            <li class="frete"><b>FRETE GRÁTIS para o SUL E SUDESTE</b><br/>Em compras acima DE R$ 60,00</li>
            <li class="desconto"><b>10% DE DESCONTO</b><br/>Para presentear sua namorada</li>
            <li class="cartao"><b>EM ATÉ 6 VEZES NO CARTÃO</b><br/>Parcela mínima de R$ 30,00</li>
            <li class="devolucao"><b>DEVOLUÇÃO E TROCA GRÁTIS</b><br/>Em até 30 DIAS</li>
            <li class="credito"><b>15% DE VOLTA EM CRÉDITOS</b><br/>Para usar nos próximos 2 meses</li>
          </ul>
        </div>
        <div class="fl">
          <p class="txt-center">Formas de pagamento</p>
          <%= image_tag("valentine/cartoes.jpg", class: "cartoes") %>
        </div>
        <div class="fl">
          <p class="txt-center">Segurança</p>
          <%= link_to image_tag("common/ico_security.png", width: "90", height: "40"), "http://www.trustlogo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=SC4&v_search=http://www.olook.com.br/&x=6&y=5", target: '_blank', class:"mt" %>

         <%= link_to image_tag("https://a248.e.akamai.net/f/248/52872/0s/img.ebit.com.br/ebitBR/selo/img_19329.png"), "http://www.ebit.com.br/#/selo", target: '_blank', class: "mt" %>
        </div>
      </div>

      <p class="gift-title">QUE TAL SURPREENDÊ-LA COM MAIS UM PRESENTINHO?</p>
      <!-- local onde o frequentlyboughttogether será exibido -->
      <div class="chaordic frequentlyboughttogether"></div>
      <!-- local onde o similaritems será exibido -->
      <div class="chaordic similaritems"></div>
      <!-- local onde o ultimatebuy será exibido -->
      <div class="chaordic ultimatebuy"></div>
      <div class="chaordic mostpopular" data-skin="MP-product-detail"></div>

      <div id="modal_guide">
        <h1>GUIA DE MEDIDAS</h1>
        <%= image_tag 'common/body.jpg', :class => '', style:"" %>
        <p>Na página do produto, você poderá </br>consultar as medidas da peça em "Tamanhos & Medidas".</br> Aqui indicamos como fazemos a medição, </br>para que você faça o mesmo ai, ok? ;)</p>
        <ul>
          <li>
            <span>BUSTO</span> </br>Contorne o busto na altura do seio
          </li>
          <li>
            <span>CINTURA</span> </br>Contorne a parte mais fina da cintura
          </li>
          <li>
            <span>OMBRO</span> </br>Meça o ombro de ponto a ponta
          </li>
          <li>
            <span>QUADRIL</span> </br>Contorne a área de maior circunferência do seu quadril
          </li>
          <li>
            <span>COMPRIMENTO</span> </br>Meça na vertical, de ponta a ponta </br>A altura da medição varia de acordo </br>com o modelo da peça. </br>No caso de um vestido, comece pelo ombro, </br>no caso de uma calça, pela cintura
          </li>
        </ul>
      </div>

      <%# Banner placeholder %>
    </div>
  </div>
<% end %>
<% content_for :footer do %>

   <div id="compartilhar_email">
      <p>COMPARTILHAR POR E-MAIL</p>
      <div class="msg"><p>&nbsp;</p></div>
      <p class="forgot-msg">Lembrou de mais alguém? Compartilhe</p>
      <%= form_tag product_share_by_email_path, remote: true do %>
         <%= field_set_tag do %>
            <%= label_tag :nome, "Seu nome" %>
            <%= text_field_tag :name_from, current_user.try(:first_name), class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= label_tag :email_from, "Seu e-mail" %>
            <%= text_field_tag :email_from, current_user.try(:email), class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= label_tag :emails_to_deliver, "Para <span>(use vírgula para enviar para vários contatos)</span>".html_safe %>
            <%= text_field_tag :emails_to_deliver, "", class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= submit_tag 'Enviar', id: :send %>
         <% end %>
     <% end %>
   </div>

  <script type="text/javascript">
    $(function(){
      $.ajax({
          url      : 'https://graph.facebook.com/<%= @uid %>',
          dataType : 'jsonp',
          success  : function (response) {
            $('#user_data p span').html(response.name);
            $('#user_data').slideDown(600);
          }
      });
    });
  </script>

  <%= render "facebook_js", :facebook_app_id => @facebook_app_id, :product => @product %>
  <%= render "shared/lightbox_credits" %>
<% end %>
