<% present 'Product',
           product: @product,
           member: @user,
           facebook_app_id: @facebook_app_id,
           shoe_size: @shoe_size,
           :logged? => user_signed_in?,
           :gift? => false,
           :only_view? => @only_view do |product_presenter|
%>
  <% content_for(:head) do %>
    <%- @hide_fb_page_id = true -%>
    <meta property="fb:app_id" content="<%= @facebook_app_id %>" />
    <meta property="og:title" content="Olook – <%= @product.name %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <meta property="og:image" content="<%= @product.catalog_picture.to_s %>" />
    <meta property="og:url" content="<%= "#{@url}/produto/#{@product.id}" %>" />
    <meta property="og:site_name" content="Olook" />
    <meta property="og:type" content="website" />
    <meta name="chaordic:source" content="product">
    <meta name="chaordic:user" content="<%= @chaordic_user %>">
    <meta name="chaordic:product" content="<%= @chaordic_product %>" data-pid="<%= @product.id %>" >
    <meta name="chaordic:category" content="<%= @chaordic_category %>">
    <meta name="chaordic:cart_id" content="<%= current_cart.try(:id) %>">
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <%= stylesheet_link_tag "section/product" %>
  <% end %>

  <section id="product">
    <div class="box-left">
      <div id="gallery">

        <%= product_presenter.render_pics %>
        <%= product_presenter.render_facebook_comments %>
      </div>
    </div>
    <div class="box-right">
      <div id="product-details">
        <%= product_presenter.render_description %>
        <%= product_presenter.render_add_to_cart %>
        <%= product_presenter.render_details %>
      </div>

      <div id="modal_guide">
        <h1>GUIA DE MEDIDAS</h1>
        <%= image_tag 'common/body.jpg', :class => '' %>
        <p>Na página do produto, você poderá </br>consultar as medidas da peça em "Tamanhos & Medidas".<br /> Aqui indicamos como fazemos a medição, <br />para que você faça o mesmo ai, ok? ;)</p>
        <ul>
          <li>
            <span>BUSTO</span> <br />Contorne o busto na altura do seio
          </li>
          <li>
            <span>CINTURA</span> <br />Contorne a parte mais fina da cintura
          </li>
          <li>
            <span>OMBRO</span> <br />Meça o ombro de ponto a ponta
          </li>
          <li>
            <span>QUADRIL</span> <br />Contorne a área de maior circunferência do seu quadril
          </li>
          <li>
            <span>COMPRIMENTO</span> <br />Meça na vertical, de ponta a ponta <br />A altura da medição varia de acordo <br />com o modelo da peça. <br />No caso de um vestido, comece pelo ombro, <br />no caso de uma calça, pela cintura
          </li>
        </ul>
      </div>
    </div>
    <%=image_tag("product/vantagens.jpg", class:"vantagens") %>
  </section>

  <%= product_presenter.render_look_products if params[:srl] || Setting.disable_ab_test_for_look_products %>


  <!-- local onde o frequentlyboughttogether será exibido -->
  <!--div class="chaordic frequentlyboughttogether"></div-->
  <!-- local onde o similaritems será exibido -->
  <div class="chaordic similaritems"></div>
  <!-- local onde o ultimatebuy será exibido -->
  <div class="chaordic ultimatebuy"></div>
  <div class="chaordic mostpopular" data-skin="MP-product-detail"></div>

<% end %>
<% content_for :data_layer do %>
  <%= render partial: "shared/metrics/all_in/product", :locals => { product: @product } %>
  <%= render partial: "shared/data_layer/product" %>
<% end %>

<% content_for :footer do %>
   <%= javascript_include_tag "product" %>

   <div id="compartilhar_email">
      <p>COMPARTILHAR POR E-MAIL</p>
      <div class="msg"><p>&nbsp;</p></div>
      <p class="forgot-msg">Lembrou de mais alguém? Compartilhe</p>
      <%= form_tag product_share_by_email_path, remote: true do %>
         <%= field_set_tag do %>
            <%= label_tag :nome, "Seu nome" %>
            <%= text_field_tag :name_from, current_user.try(:first_name), class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= label_tag :email_from, "Seu e-mail" %>
            <%= text_field_tag :email_from, current_user.try(:email), class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= label_tag :emails_to_deliver, "Para <span>(use vírgula para enviar para vários contatos)</span>".html_safe %>
            <%= text_field_tag :emails_to_deliver, "", class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= submit_tag 'Enviar', id: :send %>
         <% end %>
     <% end %>
   </div>

  <% if Setting.show_product_partner_tags %>

  <% end %>

  <%= render "facebook_js", :facebook_app_id => @facebook_app_id, :product => @product %>
  <%= render "shared/lightbox_credits" %>
<% end %>
