<% present 'Product',
           product: @product,
           member: @user,
           facebook_app_id: @facebook_app_id,
           shoe_size: @shoe_size,
           :logged? => user_signed_in?,
           :gift? => false,
           :only_view? => @only_view do |product_presenter|
%>
  <% content_for(:head) do %>
    <meta property="fb:app_id" content="<%= @facebook_app_id %>" />
    <meta property="og:title" content="Olook – <%= @product.name %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <meta property="og:image" content="<%= @product.suggestion_picture.to_s %>" />
    <meta property="og:url" content="<%= "#{@url}/produto/#{@product.id}" %>" />
    <meta property="og:site_name" content="Olook" />
    <meta property="og:type" content="website" />
    <meta name="chaordic:source" content="product">
    <meta name="chaordic:user" content="<%= @chaordic_user %>">
    <meta name="chaordic:product" content="<%= @chaordic_product %>" data-pid="<%= @product.id %>" >
    <meta name="chaordic:category" content="<%= @chaordic_category %>">
    <script type="text/javascript" src="//assets.pinterest.com/js/pinit.js"></script>
    <%= stylesheet_link_tag "section/product" %>
  <% end %>

  <% content_for :footer do %>
    <%#= javascript_include_tag "api_fb" %>
    <%= javascript_include_tag "product" %>
  <% end %>


  <div id="product">
    <div class="content">
      <div id="pics_suggestions">
        <%= product_presenter.render_pics %>
        <%= product_presenter.render_facebook_comments %>
      </div>
      <div id="infos">
        <%= product_presenter.render_description %>
        <%= product_presenter.render_add_to_cart %>
        <%= product_presenter.render_details %>
      </div>

      <%= product_presenter.render_related_products %>
      <%# Banner placeholder %>
    </div>
  </div>
<% end %>
<% content_for :footer do %>

   <div id="compartilhar_email">
      <p>COMPARTILHAR POR E-MAIL</p>
      <div class="msg"><p>&nbsp;</p></div>
      <p class="forgot-msg">Lembrou de mais alguém? Compartilhe</p>
      <%= form_tag product_share_by_email_path, remote: true do %>
         <%= field_set_tag do %>
            <%= label_tag :nome, "Seu nome" %>
            <%= text_field_tag :name_from, current_user.try(:first_name), class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= label_tag :email_from, "Seu e-mail" %>
            <%= text_field_tag :email_from, current_user.try(:email), class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= label_tag :emails_to_deliver, "Para <span>(use vírgula para enviar para vários contatos)</span>".html_safe %>
            <%= text_field_tag :emails_to_deliver, "", class: 'fields', size: '30' %>
         <% end %>
         <%= field_set_tag do %>
            <%= hidden_field_tag :product_id, @product.id %>
            <%= submit_tag 'Enviar', id: :send %>
         <% end %>
     <% end %>
   </div>

  <%= render partial: "shared/metrics/sociomantic/product", :locals => { product_id: @product.id } %>
  <%= render partial: "shared/metrics/criteo/product_page_tracker", :locals => { product_id: @product.id } %>
  <%= render partial: "shared/metrics/triggit/product", :locals => { product_id: @product.id } %>
  <%= render "facebook_js", :facebook_app_id => @facebook_app_id, :product => @product %>
<% end %>
