:javascript
  SOASTA = {};
  SOASTA.pg = "product";
  if(typeof BOOMR !== "undefined") {
    BOOMR.addVar("h.pg", SOASTA.pg);
  }
- content_for(:head) do
  - @hide_fb_page_id = true
  %meta{content: @facebook_app_id, property: "fb:app_id"}/
  %meta{content: "#{@product.name} | Olook", property: "og:title"}/
  %meta{content: @product.description, property: "og:description"}/
  %meta{content: @product.catalog_picture.to_s, property: "og:image"}/
  %meta{content: "#{@url}/produto/#{@product.id}", property: "og:url"}/
  %meta{content: "Olook", property: "og:site_name"}/
  %meta{content: "product.item", property: "og:type"}/
  %meta{content: "product", name: "chaordic:source"}/
  %meta{content: @chaordic_user, name: "chaordic:user"}/
  %meta{content: @chaordic_product, "data-pid" => @product.id, name: "chaordic:product"}/
  %meta{content: @chaordic_category, name: "chaordic:category"}/
  %meta{content: current_cart.try(:id), name: "chaordic:cart_id"}/
  = stylesheet_link_tag "new_structure/section/lite_product"

- content_for :data_layer do
  = render partial: "shared/data_layer/product"

- content_for :footer do
  = javascript_include_tag "product"
  #compartilhar_email
    %p COMPARTILHAR POR E-MAIL
    .msg
      %p  
    %p.forgot-msg Lembrou de mais alguém? Compartilhe
    = form_tag product_share_by_email_path, remote: true do
      = field_set_tag do
        = label_tag :nome, "Seu nome"
        = text_field_tag :name_from, current_user.try(:first_name), class: 'fields', size: '30'
      = field_set_tag do
        = label_tag :email_from, "Seu e-mail"
        = text_field_tag :email_from, current_user.try(:email), class: 'fields', size: '30'
      = field_set_tag do
        = label_tag :emails_to_deliver, "Para <span>(use vírgula para enviar para vários contatos)</span>".html_safe
        = text_field_tag :emails_to_deliver, "", class: 'fields', size: '30'
      = field_set_tag do
        = hidden_field_tag :product_id, @product.id
        = submit_tag 'Enviar', id: :send
  = render "shared/lightbox_credits"

= render "shared/mkt_breadcrumb"
%section#product
  = product_breadcrumbs_for(@product)
  - if (@product.look_products(current_admin).size > 1 && @product.inventory > 0) || current_admin
    = link_to "Comprar o look completo", "#", :id => "goRelatedProduct", class: 'bt_domit'
  .box-left
    #gallery
      %ul#thumbs
        - @product.pictures.order(:position).each do |picture|
          - @first_pic_id ||= picture.id
          %li= link_to image_tag("#{picture.image_url(:thumb).to_s}"), "javascript:void(0);", :rel => "product_#{picture.id}", :class=>"load-async-#{picture.id}"
        - unless @product.youtube_token.blank?
          %li.vwo_1378925044720
            %a{:class => "load-async-#{@first_pic_id}", :href => "javascript:void(0);", :onclick => "#{track_event("Product", "ClickVideo", @product.id.to_s)};javascript:olook.videoModalBuild(olook.youtubePlayer(olook.youtubeParser('#{@product.youtube_token}')));", :rel => "product_#{@first_pic_id}"}
              = image_tag("product/bt-modal-video.jpg", class: "vwo_1378925047103")
      #full_pic
        %p{:class => "warn #{(@product.sold_out? && user_signed_in?) ? 'sold_out' : ''}"}
        %ul
          - @product.pictures.order(:position).each_with_index do |picture, index|
            - class_name = index == 0 ? 'thumb-first' : 'thumb'
            = content_tag :li, class: "product_#{picture.id}" do
              = link_to(image_tag("common/ajax-loader.gif", alt: "#{@product.name}", :class => "#{class_name} full", 'data-product' => "#{picture.image_url(:main).to_s}"), picture.image_url(:zoom_out).to_s, :rel => "product_#{picture.id}", :class => "image_zoom")
  .box-right
    #product-details
      #product-info.pl9
        %h1= @product.formatted_name(200)
        %h2= @product.brand
        - if @product.sold_out?
          %p PRODUTO ESGOTADO
          .line.color
            %p Cor:
            %ol.colors
              - @product.all_colors(@shoe_size, current_admin).each do |related_product|
                %li
                  - if related_product.id == @product.id
                    = image_tag(related_product.color_sample.url, title: related_product.product_color)
                  - else
                    = link_to image_tag(related_product.color_sample.url, title: related_product.product_color), product_seo_path(related_product.seo_path)
        - else
          - @product_discount_service.calculate_without_promotion_or_coupon
          - if @product_discount_service.discount > 0
            %p.price_retail.left2
              de:
              = number_to_currency(@product_discount_service.base_price)
            %p.price.left2
              por:
              = number_to_currency(@product_discount_service.final_price)
          - else
            %p.price= number_to_currency(@product_discount_service.base_price)
            %p.plots ou em #{installments(@product.price)}
          = form_tag(cart_items_path, onsubmit: track_add_to_cart_event(@product.id), id: "product_add_to_cart") do                                                                                                                                               |
            - if [Category::CLOTH, Category::LINGERIE, Category::BEACHWEAR, Category::CURVES].include?(@product.category)
              %li.size_guide
                %a{:href => "javascript:void(0);"} Guia de medidas
            .line.color
              %p Cor:
              %ol.colors
                - @product.all_colors(@shoe_size, current_admin).each do |related_product|
                  %li
                    - if related_product.id == @product.id
                      = image_tag(related_product.color_sample.url, title: related_product.product_color)
                    - else
                      = link_to image_tag(related_product.color_sample.url, title: related_product.product_color), product_seo_path(related_product.seo_path)
            .line.size
              %p Tamanho:
              %ol
                - order_variants_by_size(@product.variants).each do |variant|
                  - classes = variant_classes(variant, @shoe_size)
                  %li{:class => "size_#{variant.description} #{classes}"}
                    %label{:for => "variant_id_#{variant.id}"}= variant.description
                    = hidden_field_tag("inventory_#{variant.id}", variant.inventory)
                    = radio_button_tag('variant[id]', variant.id, classes.include?('selected'), :disabled => variant.sold_out? )
            .line.quantity
              %p Quantidade:
              = text_field_tag('variant[quantity]', "1", class: "quantity-product")
              %button.plus{:type => "button"} +
              %button.minus{:type => "button"} -
              = submit_tag "ADICIONAR À SACOLA", id: "add_product", class: "add_product"
          - if !current_user.try(:reseller)
            %p
              Compre e ganhe #{number_to_currency LoyaltyProgramCreditType.apply_percentage(@product.retail_price)} em créditos,
              \#{link_to "saiba mais", "javascript:void(0);", :class => "open_loyalty_lightbox"}

      .social-media-box
        = render partial: 'add_to_wishlist'
        %ul.social-list
          %li.twitter
            %a.twitter-share-button{"data-count" => "none","data-size" => "none", "data-hashtags" => "ficaadica", "data-lang" => "pt", :href => "https://twitter.com/share?text= #{share_description(@product)}"} Tweetar
          %li.fb
            .fb-share-button{"data-href" => "http://olook.com.br/produto/#{product_permalink(@product)}", "data-type" => "icon_link"}
          %li.email= link_to "Email", "javascript:void(0);"

      :javascript
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
      #product-particulars
        %h3.about-title.open SOBRE O PRODUTO
        .about.open
          %p.description= @product.description_html.html_safe
          %dl
            - details = @product.details.only_specification.with_valid_values
            - @product.sort_details_by_relevance(details).each do |detail|
              - unless @product.is_a_shoe_accessory? && detail.translation_token == "Salto"
                %dt
                  = print_detail_name_for @product, detail
                  \:
                %dd= print_detail_value detail
        %h3.shipping-title PRAZO DE ENTREGA
        .shipping
          %p Informe o CEP e consulte o prazo para destino
          %form#shipping{:action => "", :method => "post"}
            %input#ship-field.ship-field{:name => "ship-field", :type => "text", :value => ""}/
            %button#search.search{:type => "button"} Pesquisar
          %p.shipping-msg  
        %h3.exchange-title TROCA E DEVOLUÇÃO
        .exchange
          %p
            %b A devolução é inteiramente grátis:
            você não paga nada a mais para devolver sua compra!
          %p
            %b Você terá até 30 dias corridos para solicitar
            a TROCA ou DEVOLUÇÃO do seu dinheiro
            %br>/
            (contados a partir da data de recebimento do produto)
          %p
            %b Em caso de defeito, você também tem 30 dias
            após o recebimento para solicitar a devolução.
    #modal_guide
%br{style: "clear:both"}
- if (@product.look_products(current_admin).size > 1 && @product.inventory > 0) || current_admin
  = render :partial => 'product/look_products', :locals => {:look_products => @product.look_products(current_admin), :complete_look_discount => Promotion.find(Setting.complete_look_promotion_id).discount_hash }
= image_tag("product/vantagens.jpg", class:"vantagens")
.chaordic.similaritems
.chaordic.ultimatebuy
.chaordic.mostpopular{"data-skin" => "MP-product-detail"}

