<% present 'Product', :product => @product, :member => @user do |product_presenter| %>
  <% content_for(:head) do %>
    <%= stylesheet_link_tag "section/product", "plugins/jquery.jqzoom" %>
  <% end %>

  <div id="product">
    <%= product_presenter.render_member_showroom %>
    <div class="content">
      <%= product_presenter.render_related_products %>

      <div id="infos">
        <%= product_presenter.render_description %>

        <%= product_presenter.render_add_to_cart %>

        <%= product_presenter.render_details %>
      </div>
    </div>
  </div>
<% end %>
