:javascript
  SOASTA = {};
  SOASTA.pg = "product";
  if(typeof BOOMR !== "undefined") {
    BOOMR.addVar("h.pg", SOASTA.pg);
  }
- content_for(:head) do
  - @hide_fb_page_id = true
  %meta{content: @facebook_app_id, property: "fb:app_id"}/
  %meta{content: "#{@product.name} | Olook", property: "og:title"}/
  %meta{content: @product.description, property: "og:description"}/
  %meta{content: @product.catalog_picture.to_s, property: "og:image"}/
  %meta{content: "#{@url}/produto/#{@product.id}", property: "og:url"}/
  %meta{content: "Olook", property: "og:site_name"}/
  %meta{content: "product.item", property: "og:type"}/
  %meta{content: "product", name: "chaordic:source"}/
  %meta{content: @chaordic_user, name: "chaordic:user"}/
  %meta{content: @chaordic_product, "data-pid" => @product.id, name: "chaordic:product"}/
  %meta{content: @chaordic_category, name: "chaordic:category"}/
  %meta{content: current_cart.try(:id), name: "chaordic:cart_id"}/
  = stylesheet_link_tag "new_structure/section/lite_product"

- content_for :data_layer do
  = render partial: "shared/data_layer/product"

- content_for :footer do
  = javascript_include_tag "product"
  #compartilhar_email
    %p COMPARTILHAR POR E-MAIL
    .msg
      %p  
    %p.forgot-msg Lembrou de mais alguém? Compartilhe
    = form_tag product_share_by_email_path, remote: true do
      = field_set_tag do
        = label_tag :nome, "Seu nome"
        = text_field_tag :name_from, current_user.try(:first_name), class: 'fields', size: '30'
      = field_set_tag do
        = label_tag :email_from, "Seu e-mail"
        = text_field_tag :email_from, current_user.try(:email), class: 'fields', size: '30'
      = field_set_tag do
        = label_tag :emails_to_deliver, "Para <span>(use vírgula para enviar para vários contatos)</span>".html_safe
        = text_field_tag :emails_to_deliver, "", class: 'fields', size: '30'
      = field_set_tag do
        = hidden_field_tag :product_id, @product.id
        = submit_tag 'Enviar', id: :send
  = render "shared/lightbox_credits"


= render "shared/mkt_breadcrumb"
%section#product
  = product_breadcrumbs_for(@product)
  - if (@product.look_products(current_admin).size > 1 && @product.inventory > 0) || current_admin
    = link_to "Comprar o look completo", "#", :id => "goRelatedProduct", class: 'bt_domit'
  .box-left
    #gallery
      = render :partial => "product_pics"
      = render :partial => 'product/facebook_comments', :locals => {:product => @product, :facebook_app_id => @facebook_app_id}
  .box-right
    #product-details
      = render :partial => 'product/description', :locals => {:show_facebook_button => true}
      = render :partial => 'product/add_to_cart', :locals => {:product => @product}
      = render :partial => 'product/details'
    #modal_guide
%br{style: "clear:both"}
- if (@product.look_products(current_admin).size > 1 && @product.inventory > 0) || current_admin
  = render :partial => 'product/look_products', :locals => {:look_products => @products.look_products(current_admin), :product_presenter => self, :complete_look_discount => complete_look_discount}
= image_tag("product/vantagens.jpg", class:"vantagens")
.chaordic.similaritems
.chaordic.ultimatebuy
.chaordic.mostpopular{"data-skin" => "MP-product-detail"}

