<% present 'Product', :product => @product, :member => @user, :facebook_app_id => @facebook_app_id do |product_presenter| %>
  <% content_for(:head) do %>
    <meta property="fb:app_id" content="<%= @facebook_app_id %>" />
    <meta property="og:title" content="Olook – <%= @product.name %>" />
    <meta property="og:description" content="<%= @product.description %>" />
    <meta property="og:image" content="<%= @product.pictures.first.image_url(:suggestion).to_s %>" />
    <meta property="og:url" content="<%= "#{@url}/produto/#{@product.id}" %>" />
    <meta property="og:site_name" content="Olook" />
    <meta property="og:type" content="website" />

    <%= stylesheet_link_tag "section/product", "plugins/jquery.jqzoom" %>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "product" %>
    <%= javascript_include_tag "product_view" %>
  <% end %>

  <% unless user_signed_in? %>
    <%= render "shared/modal_login" %>  
  <% end %>

  <div id="product">
    <%= product_presenter.render_member_showroom if user_signed_in? %>
    <div class="content">
      <div id="pics_suggestions">
        <%= product_presenter.render_pics %>
        <%= product_presenter.render_facebook_comments %>
      </div>
      <div id="infos">
        <%= product_presenter.render_description %>
        <% if user_signed_in? %>
          <%= product_presenter.render_add_to_cart %>
        <% else %>
          <%= product_presenter.render_offline_add_to_cart %>
        <% end %>
        <%= product_presenter.render_details %>
      </div>

      <%= product_presenter.render_related_products %>
    </div>
    <%# TODO Remove banner mothers day %>
    <br />
    <br />
    <%= link_to(image_tag("promotion_banners/banner_maes.jpg", :class => "banner_mothers_day"), "/maes") %>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render :partial => "shared/metrics/criteo/product_page_tracker", :locals => { :product_id => @product.id } %>
  <%= render "shared/metrics/google/product" %>
<% end %>
