:javascript
  SOASTA = {};
  SOASTA.pg = "product";
  if(typeof BOOMR !== "undefined") {
    BOOMR.addVar("h.pg", SOASTA.pg);
  }
- content_for(:head) do
  - @hide_fb_page_id = true
  %meta{content: @facebook_app_id, property: "fb:app_id"}/
  %meta{content: "#{@product.name} | Olook", property: "og:title"}/
  %meta{content: @product.description, property: "og:description"}/
  %meta{content: "http:#{@product.catalog_picture.to_s}", property: "og:image"}/
  %meta{content: product_seo_url(@product.seo_path), property: "og:url"}/
  %meta{content: "Olook", property: "og:site_name"}/
  %meta{content: "product.item", property: "og:type"}/
  = stylesheet_link_tag "new_structure/section/lite_product"

- content_for :data_layer do
  = render partial: "shared/data_layer/product"

- content_for :footer do
  = javascript_include_tag "product"
  #compartilhar_email
    %p COMPARTILHAR POR E-MAIL
    .msg
      %p
    %p.forgot-msg Lembrou de mais alguém? Compartilhe
    = form_tag product_share_by_email_path, remote: true do
      = field_set_tag do
        = label_tag :nome, "Seu nome"
        = text_field_tag :name_from, current_user.try(:first_name), class: 'fields', size: '30'
      = field_set_tag do
        = label_tag :email_from, "Seu e-mail"
        = text_field_tag :email_from, current_user.try(:email), class: 'fields', size: '30'
      = field_set_tag do
        = label_tag :email_body, "Digite sua mensagem"
        = text_area_tag :email_body, nil, rows: 3, cols: 30, class: 'fields'
      = field_set_tag do
        = label_tag :emails_to_deliver, "Para <span>(use vírgula para enviar para vários contatos)</span>".html_safe
        = text_field_tag :emails_to_deliver, "", class: 'fields', size: '30'
      = hidden_field_tag :product_id, @product.id
      = submit_tag 'Enviar', id: :send
  = render "shared/lightbox_credits"

= render "shared/mkt_breadcrumb"
= product_breadcrumbs_for(@product)
= render 'product'

%br{style: "clear:both"}
%ul.vantagens
  %li.title
    %p
      OLOOK VANTAGENS
  %li.mini_infos
    %h3
      TROCA E DEVOLUÇÃO 
      %span.trade
        GRÁTIS
    %span.icon
    %p.details_card
      Não ficou como você queria? Troque ou devolva em até 30 dias!
  %li.mini_infos
    %h3
      PARCELAMOS EM ATÉ 
      %br
      %span
        6 VEZES 
    %span.icon.card
    %p.details_card
      Parcela mínima de R$30
      %br
      no cartão de crédito
  %li.mini_infos
    %h3
      GRÁTIS! 15% EM 
      %br
      %span
        CRÉDITOS
    %span.icon.money
    %p.details
      Ganhe 15% do valor do pedido em crédito para sua próxima compra acima de R$100
  %li.mini_infos.last
    %h3
      ENTREGA SEGURA E 
      %span.trade
        RÁPIDA
    %span.icon.shipping
    %form#shipping{:action => "", :method => "post"}
      %input#ship-field.ship-field{:name => "ship-field", :type => "text", :value => "", :placeholder => "Digite seu cep"}
      %button#search.search{:type => "button"} OK
    %p.details
      Verifique o prazo 
      %br
      de entrega para o seu cep
    %p.shipping-msg 

%br{style: "clear:both"}
- if @product.has_look_products?(current_admin)
  = render :partial => 'product/look_products', :locals => {:look_products => @product.look_products(current_admin), :complete_look_discount => Promotion.find_by_id(Setting.complete_look_promotion_id).try(:discount_hash) }

.chaordic.similaritems
.chaordic.ultimatebuy
.chaordic.mostpopular{"data-skin" => "MP-product-detail"}

