<% present 'Product', :product => @product, :member => @user do |product_presenter| %>
  <% content_for(:head) do %>
  <meta property="og:title" content="Olook – <%= @product.name %>">
  <meta property="og:url" content="<%= "#{@url}/produto/#{@product.id}" %>">
  <meta property="og:description" content="<%= @product.description %>">
  <meta property="og:image" content="<%= @product.pictures.first.image_url(:bag).to_s %>">
  <meta property="og:site_name" content="Olook">
  <meta property="og:type" content="website">
    <%= stylesheet_link_tag "section/product", "plugins/jquery.jqzoom" %>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "product" %>
  <% end %>

  <% unless user_signed_in? %>
    <%= render "shared/modal_login" %>
  <% end %>

  <div id="product">
    <%= product_presenter.render_member_showroom if user_signed_in? %>
    <div class="content">
      <%= render "product_pics" %>

      <div id="infos">
        <%= product_presenter.render_description %>
        <% if user_signed_in? %>
          <%= product_presenter.render_add_to_cart %>
        <% else %>
          <%= product_presenter.render_offline_add_to_cart %>
        <% end %>
        <%= product_presenter.render_details %>
      </div>

      <%= product_presenter.render_related_products %>
    </div>
  </div>
<% end %>
<% content_for :footer do %>
  <%= render :partial => "shared/metrics/criteo/product_page_tracker", :locals => { :product_id => @product.id } %>
<% end %>
