<%= stylesheet_link_tag "admin/roles" %>
<%= form_for([:admin, @role], :html => { :multipart => true }) do |f| %>
  <% if @role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>
      <ul>
      <% @role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>

<h1>Permissions</h1>

<% @permissions.group_by(&:model_name).each do |model, permissions| %>
  <table id='roles'>
    <th>Model</th>
  <% permissions.each do |permission| %>
          <%= f.fields_for :permissions, permission do |permission_builder| %>
            <th><%= permission_builder.label :action_name, permission.action_name %></th>
          <% end %>
  <% end %>
    <tr>
      <td><b><%= model %></b></td>
      <% permissions.each do |permission| %>
        <%= f.fields_for :permissions, permission do |permission_builder| %>
          <td><%= permission_builder.check_box "enabled?", checked: @role.has_permission?(permission.id) %></td>
        <% end %>
      <% end %>
  </table>
<% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
