<h2>Listando Permissões</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @roles.each do |role| %>
    <tr>
      <td><%= role.name %></td>
      <td><%= role.description %></td>
      <td><%= link_to 'Copiar', copy_admin_role_path(role), :class => 'button', method: 'post' %></td>
      <td><%= link_to 'Mostrar', admin_role_path(role), :class => 'button' %></td>
      <td><%= link_to 'Editar', edit_admin_role_path(role), :class => 'button' %></td>
      <td><%= link_to 'Apagar', admin_role_path(role), confirm: 'Tem certeza?', method: :delete, :class => 'button danger' %></td>
    </tr>
  <% end %>
  </table>

  <br />
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'New Role', new_admin_role_path %></li>
<% end %>
