- content_for :footer do
  = javascript_include_tag "wishlist"
#wishlist
  %h1 
    Eu Quero!
    %span
      Angela, seus produtos favoritos estão aqui!

  - @wishlist.wished_products.each do |wp|
    %div.product
      %div.img
        - product = wp.variant.product
        .async{data: {product: product.catalog_picture, backside_picture: product.backside_picture, product: product.catalog_picture}}
      %h2
        = product.name
      %h3
        = product.brand
      %div.value
        R$ 
        = product.retail_price
      %ul.size
        - product.variants.each do |variant|
          // %li.selected
          %li
            = variant.description