- content_for :head do
  = stylesheet_link_tag "section/checkout"
  %meta{:content => "cart", :name => "chaordic:source"}/
  %meta{:content => @chaordic_cart, :name => "chaordic:cart"}/
  %meta{:content => current_cart.id, :name => "chaordic:cart_id"}/
- content_for :ecommerce_tracking do
  :javascript
    _gaq.push(['_addTrans',
       '#{@cart.id}',
       'olook',
       '#{@cart_service.total}',
       '',
       '#{@cart_service.freight_price.to_s}',
       '#{@cart_service.freight_city}',
       '#{@cart_service.freight_state}',
       'Brasil'
     ]);
  = render :partial => "shared/metrics/google/ecommerce_add_item", :locals => { :cart => @cart, :cart_service => @cart_service}
- content_for :data_layer do
  = render "shared/lightbox_credits"
  = render partial: "shared/data_layer/cart"
- content_for :footer do
  = javascript_include_tag "carts"
%section#cart
  .msg
    %p Obrigada por compartilhar a olook. Você acaba de ganhar 2% de desconto! :)
  %h1 Minha sacola
  - unless @cart.facebook_share_discount? || @cart.items.size == 0
    #facebook-share
      %p
        Que tal ganhar
        %span 2%
        de desconto nesta compra?
      = link_to 'Compartilhar', '/facebook_share', data: {cart_id:  @cart.id }, id: "facebook_share", remote: true , :class => "share", :"data-width" => 128, :"data-height" => 24
      %p.share-text Compartilhe e veja o desconto na sua sacola. :)
  = content_tag :div, class: 'warning-msg', style: "display:#{@promo_over_coupon ? 'block' : 'none'};" do
    = image_tag 'cart/warning_coupon.png', :class => ''
    %p
      %span Os descontos não são acumulativos
      = succeed "Voc\u{ea}" do
        %br/
      não pode usar um cupom em uma promoção do site, por exemplo
  - if @cart.items.count > 0
    %ul#titles.border
      %li.item Item
      %li.amount Quantidade
      %li.value Subtotal
    %table#items.items_list{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        - @cart.items.each do |item|
          = render partial: 'cart/items/row', locals: { cart_service: @cart_service, item: item } if item && !Freebie.product_is_freebie?(item.product.id)
    = render 'freebie/item', freebie: @freebie if @freebie
    = render "checkout_banner"
    .chaordic.shoppingcart
    - if !@cart.items.map{|item| item.variant.product}.include?(@suggested_product) && @suggested_product
      %table#products.items_list.avc-pulseira{:cellpadding => "0", :cellspacing => "0"}
        %tbody
          %tr
            %td.avc-foto
              %p.txt-recomenda OLOOK RECOMENDA
              - unless @suggested_product.master_variant.bag_picture.nil?
                = link_to spy_product_path(@suggested_product), :class => 'cart_item', data: { url: spy_product_path(@suggested_product, from: 'cart') } do
                  .spy_cart_icon
                    %span.spy-icon
                    %span.spy-txt ESPIAR
                  = image_tag @suggested_product.master_variant.bag_picture
            %td.avc-desc
              %p
                %span
                  %b= @suggested_product.name
              %p= @suggested_product.description
            %td.avc-button
              %p= number_to_currency(@suggested_product.retail_price)
              = form_tag(cart_items_path, onsubmit: track_event("Shopping", "AddToCartFromRecommended", @suggested_product.id),id: "product_add_to_cart") do
                <input name="from_sacola" type="hidden" value="true" %>
                %input#variant_id{:name => "variant[id]", :type => "hidden", :value => @suggested_product.variants.first.id.to_s}/
                = submit_tag "ADICIONAR À SACOLA", id: "add_product", class: "add_product"
    %section#facebook_share_discount
      - if @cart_service.cart.facebook_share_discount?
        = render 'facebook_share_discount'
    %table.check.gift{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr
          %td.check_column
            = form_for(@cart, :remote => true, :method => :put, html: { :id => "gift_wrap" }) do |f|
              = f.check_box('gift_wrap', :checked => @cart.gift_wrap)
              %h1
                Embrulhar pedido para presente.
                %a.txt-conheca{:href => "#", :target => "_blank"} Conheça nossa embalagem de presente
            .modal_gift
              %h1 CONHEÇA NOSSA EMBALAGEM DE PRESENTE!
              .img_modal
              %h2 Um saquinho de tecido protege o produto e por fora embalamos com um lindo saquinho adicional em tule e fita de cetim. Uma graça!
          %td.value
            = gift_wrap_price(@cart)
    %table#total{:cellpadding => "0", :cellspacing => "0"}
      %tbody
        %tr#coupon_info
          %td
            Cupom Promocional
          %td
            %p#coupon_discount
              = @cart.coupon.try(:code)
          %td.value.discount
            = form_for(@cart, :remote => true, html: { :id => "remove_coupon" }) do |f|
              %fieldset.inputs
                %ol
                  %li
                    = f.hidden_field('coupon_code', :value => nil)
                    = f.submit "Excluir"
            %span#coupon_discount_value
              - present 'Coupon', coupon: @cart.coupon do |coupon_presenter|
                = coupon_presenter.show_total_discount
          %tr.total
            %td
              %table#coupon{:cellpadding => "0", :cellspacing => "0", :style => @cart.coupon ? 'display:none;' : 'display:block;'}
                %tbody
                  %tr.discount
                    %td
                      = form_for(@cart, remote: true,html: {onsubmit: track_event("Checkout", "ClickCupom", ''),:id => "coupon"}) do |f|
                        %fieldset.inputs
                          %ol
                            %li
                              = f.text_field('coupon_code', :value => @cart.coupon.try(:code))
                            %li.cupom
                              = f.submit 'APLICAR CUPOM'
            %td &nbsp;
            %td.value
              %p
                Total:
                %span#total_value= number_to_currency(@cart_service.total)
              %p{:class => "limit #{@cart_service.is_minimum_payment? ? 'show' : ''}"} R$5,00 é o valor mínimo para processamento da compra
          %table#coupon.items_list{:cellpadding => "0", :cellspacing => "0"}
            %tbody
              %tr
                %td.buy-link
                  %p.buying-continue= link_to "Continuar comprando","/colecoes"
                %td.buttons
                  - if current_user && !current_user.reseller
                    %p.credits
                      Você ganhará
                      %span#amount_for_loyalty_program= number_to_currency @cart_service.amount_for_loyalty_program
                      de desconto em sua próxima compra. #{link_to "Saiba mais", "#", :class => "open_loyalty_lightbox"}
                  - if current_user
                    = link_to "FECHAR MEU PEDIDO", new_checkout_path, :class => "continue"
                  - else
                    = link_to "FECHAR MEU PEDIDO", checkout_login_index_path, :class => "continue"
  - else
    = render 'empty_cart'
  = render "shared/modal_login"
#quick_view.cart_quick_view
