<% if @freebie %>
  $('.freebie').replaceWith('<%= j render('freebie/item', freebie: @freebie) %>');
  if(olook.checkFreebie) olook.checkFreebie();
<% end %>
cartUpdateData = {};
cartUpdateData.total = "<%= number_to_currency(@cart_calculator.items_total) %>";

cartUpdateData.subtotal = "<%= number_to_currency(@cart_calculator.items_subtotal) %>";

if ($('#cart_gift_wrap').is(':checked')){
  if($('#embrulho_presente').length == 0) $('#subtotal_parcial').after("<div id='embrulho_presente'></div>");
  var span_gift_target = $('#embrulho_presente');
  span_gift_target.html("<%= gift_wrap_price(@cart) %>");
}else{
  $('#embrulho_presente').remove();
}
if ($('#cart_use_credits').is(':checked') && "<%= total_user_credits %>" != "0.0"){
  if($('#credito_fidelidade').length == 0) $('#subtotal_parcial').after("<div id='credito_fidelidade'></div>");
  var span_target = $('#credito_fidelidade');
  span_target.html("-<%= number_to_currency(total_user_credits) %>");
}else{
  $('#credito_fidelidade').remove();
}

<% style = @cart_service.allow_credit_payment? ? 'normal' : 'prohibited' %>

$("li#loyalty_credit div.value").removeClass("normal prohibited").addClass("<%= style %>");
$("li#mgm_credit div.value").removeClass("normal prohibited").addClass("<%= style %>");

$("#total_user_credits").html("<%= number_to_currency(total_user_credits) %>");

<% if @cart.coupon %>
  cartUpdateData.couponCode = "<%= @cart.coupon.code %>";
  cartUpdateData.usingCoupon = true;

  $("#coupon_discount").html();
  $("#coupon_info").show();
  $("#coupon").hide();

  $("li#loyalty_credit div.message").html("<%= print_credit_message %>");
  $("li#mgm_credit div.message").html("<%= print_credit_message %>");
<% else %>
  cartUpdateData.usingCoupon = false;
  $("#coupon_discount").html("");
  $("#coupon_info").hide();
  $("#coupon").show();

  $("li#loyalty_credit div.message").html("");
  $("li#mgm_credit div.message").html("");
<% end %>

$("#coupon a#show_coupon_field").show();
$("#coupon a#show_coupon_field").siblings("form").hide();

// update overall total
$('table#total tr.total span').text('<%= number_to_currency(@cart_calculator.items_total) %>');

// update item rows discounts and subtotals
// usually when using coupons on cart show
<% @cart.items.each do |item| %>
  $("table#items tbody tr#item_<%= item.id %> td.discount").empty();

  $("table#items tbody tr#item_<%= item.id %> td.discount").first().append("<%= escape_javascript( render partial: 'cart/items/discount',
    locals: {
    cart_service: @cart_service,
    item: item
  } ) %>");

$("table#items tbody tr#item_<%= item.id %> td.value").empty();

$("table#items tbody tr#item_<%= item.id %> td.value").first().append("<%= escape_javascript( render partial: 'cart/items/subtotal',
  locals: {
  cart_service: @cart_service,
  item: item
} ) %>");

//$('section#cart table.check.gift').css('border', '0');
<% end %>

if($("#cart-box").length > 0){
  <% freight_value = params[:freight_price] ? BigDecimal.new(params[:freight_price].gsub('R$ ', '').gsub('.', '').gsub(',', '.')) : 0 %>
  $("#cart-box #credits_used").text('-<%= number_to_currency(@cart_service.total_credits_discount) %>');
  $("#cart-box #total").text('<%= number_to_currency(total_with_freight(freight_value)) %>');
  $("#cart-box #total_billet").text('<%= number_to_currency(total_with_freight(freight_value, Billet.new)) %>');
  $("#cart-box #total_debit").text('<%= number_to_currency(total_with_freight(freight_value, Debit.new)) %>');
  $("#cart-box #credits_used").delay(200).fadeIn();

  $("#cart-box #billet_discount_value").text("-<%= number_to_currency(@cart_service.billet_discount) %>");
  $("#cart-box #debit_discount_value").text("-<%= number_to_currency(@cart_service.debit_discount) %>");
}

$("#payment #billet_discount").text('<%= number_to_currency(@cart_service.billet_discount) %>');
$("#payment #debit_discount").text('<%= number_to_currency(@cart_service.debit_discount) %>');

var select_options = $("#checkout_payment_payments");
select_options.empty();
<% build_installment_options(@cart_service.total, CreditCard.installments_number_for(@cart_service.total)).each do |o| %>
  select_options.append($("<option />").val(<%= "#{o[1]}" %>).text('<%= "#{o[0]}" %>'));
<% end %>

<% if @cart.facebook_share_discount? %>
  $("section#facebook_share_discount").html(
    "<%= escape_javascript(render(:partial => 'facebook_share_discount')) %>"
  );
<% end %>

<% if @coupon_value %>
  cartUpdateData.couponDiscountValue = '<%= number_to_currency(@coupon_value) %>';
<% end %>

olookApp.mediator.publish('cart.update', cartUpdateData);
showTotal();

