%html
  %head
    %meta{"http-equiv" => "Content-Type", "content" => "text/html; charset=UTF-8"}
    %title olook
  %body
    %h1 Boletos conciliados com sucesso
    %table
      %tr
        %th id do pagamento
        %th mensagem
        %th número do pagamento
      - @billet_hash[:successful].each_with_index do |billet, i|
        %tr.success{"style" => "background:#{ i.even? ? '#BFB' : '#DFD'};text-align: center;"}
          %td= billet[:id]
          %td= billet[:message]
          %td= billet[:order_number]
    %br
    %h1 Falhas
    %table
      %tr
        %th id do pagamento
        %th mensagem
        %th número do pagamento
      - @billet_hash[:unsuccessful].each_with_index do |billet, i|
        %tr.fail{"style" => "background:#{ i.even? ? '#FBB' : '#FDD'};text-align: center;"}
          %td= billet[:id]
          %td= billet[:message]
          %td= billet[:order_number]
    - unless @billet_hash[:successful_value]
      %h1 Algum pagamento não foi processado, favor checar
