#mm_acessorios.submenu
	%span.column
		%ul
			%li
				= link_to 'Bracelete', catalog_path(category:'acessorio', parameters: 'bracelete'), :class => 'sub_menu'
			%li
				= link_to 'Brinco', catalog_path(category:'acessorio', parameters: 'brinco'), :class => 'sub_menu'
			%li
				= link_to 'Carteira', catalog_path(category:'acessorio', parameters: 'carteira'), :class => 'sub_menu'
			%li
				= link_to 'Colar', catalog_path(category:'acessorio', parameters: 'colar'), :class => 'sub_menu'
			%li
				= link_to 'Maxi Colar', catalog_path(category:'acessorio', parameters: 'maxi-colar'), :class => 'sub_menu'
			%li
				= link_to 'Pulseira', catalog_path(category:'acessorio', parameters: 'pulseira'), :class => 'sub_menu'
			%li
				= link_to 'Tiara', catalog_path(category:'acessorio', parameters: 'tiara'), :class => 'sub_menu'
			%li
				= link_to 'Óculos de Sol', catalog_path(category:'acessorio', parameters: 'oculos-de-sol'), :class => 'sub_menu' 
	%span.column.second
		%h5 Bolsas
		%ul
			%li
				= link_to 'Bolsa Grande', catalog_path(category:'bolsa', parameters: 'bolsa-grande'), :class => 'sub_menu'
			%li
				= link_to 'Bolsa Média', catalog_path(category:'bolsa', parameters: 'bolsa-media'), :class => 'sub_menu'
			%li
				= link_to 'Bolsa Pequena', catalog_path(category:'bolsa', parameters: 'bolsa-pequena'), :class => 'sub_menu'
			%li
				= link_to 'Clutch', catalog_path(category:'bolsa', parameters: 'clutch'), :class => 'sub_menu'