#mm_acessorios.submenu
	%span.column.first
		%ul
			%li
				= link_to 'Anel', catalog_path(category:'acessorio', parameters: 'anel'), :class => 'sub_menu'
			%li
				= link_to 'Bracelete', catalog_path(category:'acessorio', parameters: 'bracelete'), :class => 'sub_menu'
			%li
				= link_to 'Brinco', catalog_path(category:'acessorio', parameters: 'brinco'), :class => 'sub_menu'
			%li
				= link_to 'Cinto', catalog_path(category:'acessorio', parameters: 'cinto'), :class => 'sub_menu'
			%li
				= link_to 'Colar', catalog_path(category:'acessorio', parameters: 'colar'), :class => 'sub_menu'
			%li
				= link_to 'Gargantilha', catalog_path(category:'acessorio', parameters: 'gargantilha'), :class => 'sub_menu'
			%li
				= link_to 'Jóia', catalog_path(category:'acessorio', parameters: 'joia'), :class => 'sub_menu'
			%li
				= link_to 'Maxi Brinco', catalog_path(category:'acessorio', parameters: 'maxi%20brinco'), :class => 'sub_menu'
			%li
				= link_to 'Maxi Colar', catalog_path(category:'acessorio', parameters: 'maxi%20colar'), :class => 'sub_menu'
			%li
				= link_to 'Pulseira', catalog_path(category:'acessorio', parameters: 'pulseira'), :class => 'sub_menu'
			%li
				= link_to 'Tiara', catalog_path(category:'acessorio', parameters: 'tiara'), :class => 'sub_menu'
			%li
				= link_to 'Óculos de Sol', catalog_path(category:'acessorio', parameters: 'oculos%20de%20sol'), :class => 'sub_menu' 
