#mm_acessorios.submenu
	%span.column.first
		%ul
			%li
				= link_to 'Anel', 'http://www.olook.com.br/acessorio/anel', :class => 'sub_menu'
			%li
				= link_to 'Bracelete', 'http://www.olook.com.br/acessorio/bracelete', :class => 'sub_menu'
			%li
				= link_to 'Brinco', 'http://www.olook.com.br/acessorio/brinco', :class => 'sub_menu'
			%li
				= link_to 'Cinto', 'http://www.olook.com.br/acessorio/cinto', :class => 'sub_menu'
			%li
				= link_to 'Colar', 'http://www.olook.com.br/acessorio/colar', :class => 'sub_menu'
			%li
				= link_to 'Echarpe', 'http://www.olook.com.br/acessorio/echarpe', :class => 'sub_menu'
			%li
				= link_to 'Gargantilha', 'http://www.olook.com.br/acessorio/gargantilha', :class => 'sub_menu'
			%li
				= link_to 'Jóia', 'http://www.olook.com.br/acessorio/joia', :class => 'sub_menu'
			%li
				= link_to 'Maxi Brinco', 'http://www.olook.com.br/acessorio/maxi%20brinco', :class => 'sub_menu'
			%li
				= link_to 'Maxi Colar', 'http://www.olook.com.br/acessorio/maxi%20colar', :class => 'sub_menu'
			%li
				= link_to 'Pulseira', 'http://www.olook.com.br/acessorio/pulseira', :class => 'sub_menu'
			%li
				= link_to 'Tiara', 'http://www.olook.com.br/acessorio/tiara', :class => 'sub_menu'
			%li
				= link_to 'Óculos de Sol', 'http://www.olook.com.br/acessorio/oculos%20de%20sol', :class => 'sub_menu'