#mm_blog.submenu
	%span.column
		%h5 OLOOK TIPS
		%ul
			%li
				= link_to 'Como usar', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Beleza', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Decoração', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Entretenimento', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Novidades', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
	%span.column
		%h5 MODA
		%ul
			%li
				= link_to 'Tendências', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Estilo das celebridades', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Radar fashion', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Defiles', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
	%span.column.last
		%h5 OLOOK
		%ul
			%li 
				= link_to 'Editoriais', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Looks', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Entrevistas', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Amamos', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li 
				= link_to 'Olook TV', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'