#mm_bolsas.submenu
	%span.column.first
		%ul
			%li
				= link_to 'Bolsa', catalog_path(category:'bolsa', parameters: 'bolsa'), :class => 'sub_menu'
			%li
				= link_to 'Bolsa Grande', catalog_path(category:'bolsa', parameters: 'bolsa%20grande'), :class => 'sub_menu'
			%li
				= link_to 'Bolsa Média', catalog_path(category:'bolsa', parameters: 'bolsa%20media'), :class => 'sub_menu'
			%li
				= link_to 'Bolsa Pequena', catalog_path(category:'bolsa', parameters: 'bolsa%20pequena'), :class => 'sub_menu'
			%li
				= link_to 'Carteira', catalog_path(category:'bolsa', parameters: 'carteira'), :class => 'sub_menu'
			%li
				= link_to 'Clutch', catalog_path(category:'bolsa', parameters: 'clutch'), :class => 'sub_menu'
			%li
				= link_to 'Mochila', catalog_path(category:'bolsa', parameters: 'mochila'), :class => 'sub_menu'
