#mm_bolsas.submenu
	%span.column.first
		%ul
			%li
				= link_to 'Bolsa', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Bolsa Grande', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Bolsa Média', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Bolsa Pequena', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Carteira', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Clutch', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Mochila', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'