#mm_marcas.submenu
	%span.column.first
		%ul
			%li
				= link_to 'Olook', brand_path(brand: 'Olook'), :class => 'sub_menu'
			%li
				= link_to 'Olook Concept', brand_path(brand: 'Olook%20Concept'), :class => 'sub_menu'
			%li
				= link_to 'Olook Essential ', brand_path(brand: 'Olook%20Essential'), :class => 'sub_menu'
			%li
				= link_to '284', brand_path(brand: '284'), :class => 'sub_menu'
			%li
				= link_to 'Afghan', brand_path(brand: 'Afghan'), :class => 'sub_menu'
			%li
				= link_to 'Agua Doce', brand_path(brand: 'Agua%20Doce'), :class => 'sub_menu'
			%li
				= link_to 'Basico.com', brand_path(brand: 'basico com'), :class => 'sub_menu'
			%li
				= link_to 'Blue Man', brand_path(brand: 'Blue%20Man'), :class => 'sub_menu'
			%li
				= link_to 'Botswana', brand_path(brand: 'Botswana'), :class => 'sub_menu'
			%li
				= link_to 'Canal', brand_path(brand: 'Canal'), :class => 'sub_menu'
			%li
				= link_to 'Cantao', brand_path(brand: 'Cantao'), :class => 'sub_menu'
			%li
				= link_to 'Carina Duek', brand_path(brand: 'Carina%20Duek'), :class => 'sub_menu'
			%li
				= link_to 'Colcci', brand_path(brand: 'Colcci'), :class => 'sub_menu'
			%li
				= link_to 'Collins', brand_path(brand: 'Collins'), :class => 'sub_menu'
			%li
				= link_to 'Ellus', brand_path(brand: 'Ellus'), :class => 'sub_menu'
	
			
	%span.column.second
		%ul
			
			%li
				= link_to 'Ellus 2nd Floor', brand_path(brand: 'Ellus%202%20Nd%20Floor'), :class => 'sub_menu'
			%li
				= link_to 'Espaco Fashion', brand_path(brand: 'Espaco%20Fashion'), :class => 'sub_menu'
			%li
				= link_to 'Fellipe Krein', brand_path(brand: 'Fellipe%20Krein'), :class => 'sub_menu'
			%li
				= link_to 'Folic', brand_path(brand: 'Folic'), :class => 'sub_menu'

			%li
				= link_to 'Forum', brand_path(brand: 'Forum'), :class => 'sub_menu'
			%li
				= link_to 'GArnús', brand_path(brand: 'Garnus'), :class => 'sub_menu'
			%li
				= link_to 'Iodice Denim', brand_path(brand: 'Iodice%20Denim'), :class => 'sub_menu'
			%li
				= link_to 'Isabella Piu', brand_path(brand: 'isabella%20piu'), :class => 'sub_menu'
			%li
				= link_to 'Juliana Manzini', brand_path(brand: 'Juliana%20Manzini'), :class => 'sub_menu'
			%li
				= link_to 'Lanca Perfume', brand_path(brand: 'Lanca%20Perfume'), :class => 'sub_menu'
			%li
				= link_to 'Leeloo', brand_path(brand: 'Leeloo'), :class => 'sub_menu'
			%li
				= link_to 'Lez a Lez', brand_path(brand: 'Lez%20A%20Lez'), :class => 'sub_menu'
			%li
				= link_to 'M Officer', brand_path(brand: 'M%20Officer'), :class => 'sub_menu'
			%li
				= link_to 'Mandi', brand_path(brand: 'Mandi'), :class => 'sub_menu'
			%li
				= link_to 'Mercatto', brand_path(brand: 'Mercatto'), :class => 'sub_menu'
	

	%span.column.last
		%ul
			%li
				= link_to 'Olli', brand_path(brand: 'Olli'), :class => 'sub_menu'
			%li
				= link_to 'Redley', brand_path(brand: 'Redley'), :class => 'sub_menu'
			%li
				= link_to 'Salinas', brand_path(brand: 'salinas'), :class => 'sub_menu'	
			%li
				= link_to 'Shoulder', brand_path(brand: 'Shoulder'), :class => 'sub_menu'
			%li
				= link_to 'Sommer', brand_path(brand: 'Sommer'), :class => 'sub_menu'
			%li
				= link_to 'Tan Tan', brand_path(brand: 'Tan%20Tan'), :class => 'sub_menu'
			%li
				= link_to 'Totem', brand_path(brand: 'Totem'), :class => 'sub_menu'
			%li
				= link_to 'Triton', brand_path(brand: 'Triton'), :class => 'sub_menu'
			%li
				= link_to 'Triya', brand_path(brand: 'triya'), :class => 'sub_menu'
			%li
				= link_to 'Tvz', brand_path(brand: 'Tvz'), :class => 'sub_menu'
			%li
				= link_to 'Wollner', brand_path(brand: 'Wollner'), :class => 'sub_menu'

			

				
