#mm_colecoes.submenu
  %span.column.first
    %h5 TENDÊNCIAS
    %ul
      %li= link_to 'Animal print', collection_theme_path(collection_theme: 'animal-print'), :class => 'sub_menu'
      %li= link_to 'Couro', collection_theme_path(collection_theme: 'total-couro'), :class => 'sub_menu'
      %li= link_to 'Sweet Pastel', collection_theme_path(collection_theme: 'candy-color'), :class => 'sub_menu'
      %li= link_to 'Pink Lovers', collection_theme_path(collection_theme: 'pink-lovers'), :class => 'sub_menu'
      %li= link_to 'Blond Power', collection_theme_path(collection_theme: 'blond-power'), :class => 'sub_menu'
      %li= link_to 'Whites', collection_theme_path(collection_theme: 'whites'), :class => 'sub_menu'
      %li= link_to 'P&B', collection_theme_path(collection_theme: 'preto-e-branco'), :class => 'sub_menu'
    %br{style:'clear:both;'}
    %h5 ESPECIAIS
    %ul
      %li
        = link_to 'Peça da Novela', collection_theme_path(collection_theme: 'roupa-da-novela'), :class => 'sub_menu'
      %li
        = link_to 'Novidades', collection_theme_path(collection_theme: 'novidades'), :class => 'sub_menu'
  %span.column.second
    %h5 OCASIÕES
    %ul
      %li
        = link_to 'Casual', collection_theme_path(collection_theme: 'casual'), :class => 'sub_menu'
      %li
        = link_to 'Roupas para Trabalhar', collection_theme_path(collection_theme: 'executivo'), :class => 'sub_menu'
      %li
        = link_to 'Roupas para a Noite', collection_theme_path(collection_theme: 'festa'), :class => 'sub_menu'
  %span.column.second
    %h5 PARCERIAS
    %ul
      %li
        = link_to 'Isabella Fiorentino', collection_theme_path(collection_theme: 'isabella-fiorentino'), :class => 'sub_menu'