#mm_colecoes.submenu
	%span.column.first
		%h5 ESPECIAIS
		%ul
			%li
				= link_to 'Achados de inverno', 'http://www.olook.com.br/colecoes/achados_inverno', :class => 'sub_menu'
			%li
				= link_to 'Peças-chave', 'http://www.olook.com.br/colecoes/pecas_chave', :class => 'sub_menu'
			%li
				= link_to 'Primavera/Verão 2013', 'http://www.olook.com.br/colecoes/preview_primavera', :class => 'sub_menu'
			%li
				= link_to 'Olooklet', 'http://www.olook.com.br/colecoes/sale', :class => 'sub_menu'
		%br
		%h5 TENDÊNCIAS
		%ul
			%li
				= link_to 'Animal print', 'http://www.olook.com.br/colecoes/animal-print', :class => 'sub_menu'
			%li
				= link_to 'Azulejo Português ', 'http://www.olook.com.br/colecoes/azulejo_portugues', :class => 'sub_menu'
			%li
				= link_to 'Branco Total ', 'http://www.olook.com.br/colecoes/branco_total', :class => 'sub_menu'
			%li
				= link_to 'Floral', 'http://www.olook.com.br/colecoes/floral', :class => 'sub_menu'
			%li
				= link_to 'Navajo', 'http://www.olook.com.br/colecoes/navajo', :class => 'sub_menu'
			%li
				= link_to 'Neon Pastel', 'http://www.olook.com.br/colecoes/neon_pastel', :class => 'sub_menu'
			%li
				= link_to 'Preto & Branco', 'http://www.olook.com.br/colecoes/p&b', :class => 'sub_menu'
	%span.column.second
		%h5 PARCERIAS
		%ul
			%li
				= link_to 'Juliana Jabour', 'http://www.olook.com.br/colecoes/estilista-juliana-jabour', :class => 'sub_menu'
			%li
				= link_to 'Carol Ribeiro', 'http://www.olook.com.br/colecoes/carol-ribeiro', :class => 'sub_menu'
			%li
				= link_to 'Mariana Weickert', 'http://www.olook.com.br/colecoes/mariana_weickert', :class => 'sub_menu'
		%br
		%h5 OCASIÕES
		%ul
			%li
				= link_to 'Casual', 'http://www.olook.com.br/colecoes/casual', :class => 'sub_menu'
			%li
				= link_to 'Trabalho', 'http://www.olook.com.br/colecoes/executivo', :class => 'sub_menu'
			%li
				= link_to 'Festa', 'http://www.olook.com.br/colecoes/festa', :class => 'sub_menu'
			
	%span.column.image
		= link_to '', 'http://www.olook.com.br/colecoes/animal-print', :class => 'img'
