#mm_colecoes.submenu
	%span.column.first
		%h5 ESPECIAIS
		%ul
			%li
				= link_to 'Achados de inverno', collection_theme_path(collection_theme: 'achados_inverno'), :class => 'sub_menu'
			%li
				= link_to 'Peças-chave', collection_theme_path(collection_theme: 'pecas_chave'), :class => 'sub_menu'
			%li
				= link_to 'Primavera/Verão 2013', collection_theme_path(collection_theme: 'preview_primavera'), :class => 'sub_menu'
			%li
				= link_to 'Olooklet', olooklet_path, :class => 'sub_menu'
		%br
		%h5 TENDÊNCIAS
		%ul
			%li
				= link_to 'Animal print', collection_theme_path(collection_theme: 'animal-print'), :class => 'sub_menu'
			%li
				= link_to 'Azulejo Português ', collection_theme_path(collection_theme: 'azulejo_portugues'), :class => 'sub_menu'
			%li
				= link_to 'Branco Total ', collection_theme_path(collection_theme: 'branco_total'), :class => 'sub_menu'
			%li
				= link_to 'Floral', collection_theme_path(collection_theme: 'floral'), :class => 'sub_menu'
			%li
				= link_to 'Navajo', collection_theme_path(collection_theme: 'navajo'), :class => 'sub_menu'
			%li
				= link_to 'Neon Pastel', collection_theme_path(collection_theme: 'neon_pastel'), :class => 'sub_menu'
			%li
				= link_to 'Preto & Branco', collection_theme_path(collection_theme: 'p&b'), :class => 'sub_menu'
	%span.column.second
		%h5 PARCERIAS
		%ul
			%li
				= link_to 'Juliana Jabour', collection_theme_path(collection_theme: 'estilista-juliana-jabour'), :class => 'sub_menu'
			%li
				= link_to 'Carol Ribeiro', collection_theme_path(collection_theme: 'carol-ribeiro'), :class => 'sub_menu'
			%li
				= link_to 'Mariana Weickert', collection_theme_path(collection_theme: 'mariana_weickert'), :class => 'sub_menu'
		%br
		%h5 OCASIÕES
		%ul
			%li
				= link_to 'Casual', collection_theme_path(collection_theme: 'casual'), :class => 'sub_menu'
			%li
				= link_to 'Trabalho', collection_theme_path(collection_theme: 'executivo'), :class => 'sub_menu'
			%li
				= link_to 'Festa', collection_theme_path(collection_theme: 'festa'), :class => 'sub_menu'
			
	%span.column.image
		= link_to '', collection_theme_path(collection_theme: 'animal-print'), :class => 'img'
