#mm_roupas.submenu
	%span.column.first
		%h5 ROUPAS
		%ul
			%li
				= link_to 'Blazer', 'http://www.olook.com.br/roupa/blazer', :class => 'sub_menu'
			%li
				= link_to 'Blusa', 'http://www.olook.com.br/roupa/blusa', :class => 'sub_menu'
			%li
				= link_to 'Calça', 'http://www.olook.com.br/roupa/calca', :class => 'sub_menu'
			%li
				= link_to 'Camisa', 'http://www.olook.com.br/roupa/camisa', :class => 'sub_menu'
			%li
				= link_to 'Camiseta', 'http://www.olook.com.br/roupa/camiseta', :class => 'sub_menu'

			%li
				= link_to 'Casaco e Jaqueta', 'http://www.olook.com.br/roupa/casaco%20e%20jaqueta', :class => 'sub_menu'
			%li
				= link_to 'Colete', 'http://www.olook.com.br/roupa/colete', :class => 'sub_menu'
			%li
				= link_to 'Echarpe', 'http://www.olook.com.br/roupa/echarpe', :class => 'sub_menu'
			%li
				= link_to 'Macacão', 'http://www.olook.com.br/roupa/macacao', :class => 'sub_menu'
			%li
				= link_to 'Regata', 'http://www.olook.com.br/roupa/regata', :class => 'sub_menu'

			%li
				= link_to 'Saia', 'http://www.olook.com.br/roupa/saia', :class => 'sub_menu'
			%li
				= link_to 'Shorts', 'http://www.olook.com.br/roupa/shorts', :class => 'sub_menu'
			%li
				= link_to 'Top Cropped', 'http://www.olook.com.br/roupa/top%20cropped', :class => 'sub_menu'
			%li
				= link_to 'Tricot', 'http://www.olook.com.br/roupa/tricot', :class => 'sub_menu'
			%li
				= link_to 'Vestido', 'http://www.olook.com.br/roupa/vestido', :class => 'sub_menu'

	%span.column.second
		%h5 LINGERIE
		%ul
			%li
				= link_to 'Sutiã', 'http://www.olook.com.br/roupa/sutia', :class => 'sub_menu'
		%br
		%h5{style:'margin-top:-14px'} MODA PRAIA
		%ul
			%li
				= link_to 'Biquíni', 'http://www.olook.com.br/roupa/biquini%20moda%20praia', :class => 'sub_menu'
			%li
				= link_to 'Blusa', 'http://www.olook.com.br/roupa/blusa%20moda%20praia', :class => 'sub_menu'
			%li
				= link_to 'Calça', 'http://www.olook.com.br/roupa/calca%20moda%20praia', :class => 'sub_menu'
			%li
				= link_to 'Maiô', 'http://www.olook.com.br/roupa/maio%20moda%20praia', :class => 'sub_menu'
			%li
				= link_to 'Saia', 'http://www.olook.com.br/roupa/saia%20moda%20praia', :class => 'sub_menu'
			%li
				= link_to 'Vestido', 'http://www.olook.com.br/roupa/vestido%20moda%20praia', :class => 'sub_menu'
	
	%span.column.image
		= link_to '', 'http://www.olook.com.br/roupa?cmp=email_1310_tie_dye', :class => 'img'
