#mm_roupas.submenu
	%span.column.first
		%h5 ROUPAS
		%ul
			%li
				= link_to 'Blazer', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Blusa', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Calça', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Camisa', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Camiseta', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'

			%li
				= link_to 'Casaco e Jaqueta', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Colete', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Echarpe', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Macacão', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Regata', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'

			%li
				= link_to 'Saia', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Shorts', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Top Cropped', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Tricot', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Vestido', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'

	%span.column.second
		%h5 LINGERIE
		%ul
			%li
				= link_to 'Sutiã', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
		%br
		%h5 MODA PRAIA
		%ul
			%li
				= link_to 'Biquíni', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Blusa', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Calça', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Maiô', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Saia', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
			%li
				= link_to 'Vestido', 'http://www.olook.com.br/criar/vitrine', :class => 'sub_menu'
	
	%span.column.image
		= link_to '', 'http://www.olook.com.br/criar/vitrine', :class => 'img'
