#mm_roupas.submenu
  %span.column.first
    %h5 
      = link_to 'ROUPAS', catalog_path(category:'roupa')
    %ul
      %li
        = link_to 'Body', catalog_path(category:'roupa', parameters: 'body'), :class => 'sub_menu'    
      %li
        = link_to 'Blazer', catalog_path(category:'roupa', parameters: 'blazer'), :class => 'sub_menu'
      %li
        = link_to 'Blusa', catalog_path(category:'roupa', parameters: 'blusa'), :class => 'sub_menu'
      %li
        = link_to 'Calça', catalog_path(category:'roupa', parameters: 'calca'), :class => 'sub_menu'
      %li
        = link_to 'Camisa', catalog_path(category:'roupa', parameters: 'camisa'), :class => 'sub_menu'
      %li
        = link_to 'Camiseta', catalog_path(category:'roupa', parameters: 'camiseta'), :class => 'sub_menu'

      %li
        = link_to 'Casaco e Jaqueta', catalog_path(category:'roupa', parameters: 'casaco-e-jaqueta'), :class => 'sub_menu'
      %li
        = link_to 'Colete', catalog_path(category:'roupa', parameters: 'colete'), :class => 'sub_menu'
      %li
        = link_to 'Lingerie', catalog_path(category:'roupa', parameters: 'calcinha-sutia-conjunto'), :class => 'sub_menu'
      %li
        = link_to 'Macacão', catalog_path(category:'roupa', parameters: 'macacao'), :class => 'sub_menu'
      %li
        = link_to 'Regata', catalog_path(category:'roupa', parameters: 'regata'), :class => 'sub_menu'

      %li
        = link_to 'Saia', catalog_path(category:'roupa', parameters: 'saia'), :class => 'sub_menu'
      %li
        = link_to 'Shorts', catalog_path(category:'roupa', parameters: 'shorts'), :class => 'sub_menu'
      %li
        = link_to 'Top Cropped', catalog_path(category:'roupa', parameters: 'top-cropped'), :class => 'sub_menu'
      %li
        = link_to 'Tricot', catalog_path(category:'roupa', parameters: 'tricot'), :class => 'sub_menu'
      %li
        = link_to 'Vestido', catalog_path(category:'roupa', parameters: 'vestido'), :class => 'sub_menu'

  %span.column.second
    %h5  
      = link_to 'MODA PRAIA', catalog_path(category:'roupa', parameters: 'agua-doce-blue-man-triya-salinas')
    %ul
      %li
        = link_to 'Biquíni', catalog_path(category:'roupa', parameters: 'biquini-moda-praia'), :class => 'sub_menu'
      %li
        = link_to 'Blusa', catalog_path(category:'roupa', parameters: 'blusa-moda-praia'), :class => 'sub_menu'
      %li
        = link_to 'Calça', catalog_path(category:'roupa', parameters: 'calca-moda-praia'), :class => 'sub_menu'
      %li
        = link_to 'Maiô', catalog_path(category:'roupa', parameters: 'maio-moda-praia'), :class => 'sub_menu'
      %li
        = link_to 'Saia', catalog_path(category:'roupa', parameters: 'saia-moda-praia'), :class => 'sub_menu'
      %li
        = link_to 'Vestido', catalog_path(category:'roupa', parameters: 'vestido-moda-praia'), :class => 'sub_menu'

    %br

    %h5 
      = link_to 'PLUS SIZE', catalog_path(category:'curves')
    %ul
      %li
        = link_to 'Blazer', catalog_path(category:'curves', parameters: 'blazer'), :class => 'sub_menu'
      %li
        = link_to 'Blusa', catalog_path(category:'curves', parameters: 'blusa'), :class => 'sub_menu'
      %li
        = link_to 'Calça', catalog_path(category:'curves', parameters: 'calca'), :class => 'sub_menu'
      %li
        = link_to 'Camisa', catalog_path(category:'curves', parameters: 'camisa'), :class => 'sub_menu'
      %li
        = link_to 'Macacão', catalog_path(category:'curves', parameters: 'macacao'), :class => 'sub_menu'
      %li
        = link_to 'Saia', catalog_path(category:'curves', parameters: 'saia'), :class => 'sub_menu'
      %li
        = link_to 'Shorts', catalog_path(category:'curves', parameters: 'shorts'), :class => 'sub_menu'
      %li
        = link_to 'Vestido', catalog_path(category:'curves', parameters: 'vestido'), :class => 'sub_menu'


  %span.column.third
    %h5 
      = link_to 'MAIS BUSCADOS', "#"
    %ul
      %li
        = link_to 'Calça Jeans', '/calca/calca-jeans', :class => 'sub_menu'
      %li
        = link_to 'Calça Flare', '/calca/calca-flare', :class => 'sub_menu'
      %li
        = link_to 'Camisa Xadrez', '/camisa/camisa-xadrez', :class => 'sub_menu'
      %li
        = link_to 'Minissaia', '/saia/minissaia', :class => 'sub_menu'
      %li
        = link_to 'Vestido longo', '/vestido/vestido-longo', :class => 'sub_menu'
