#mm_sapatos.submenu
  %span.column.first
    %h5 
      = link_to 'FLATS', catalog_path(category:'sapato', parameters: 'salto-0-4')
    %ul
      %li
        = link_to 'Alpargata', catalog_path(category:'sapato', parameters: 'alpargata'), :class => 'sub_menu'
      %li
        = link_to 'Mocassim', catalog_path(category:'sapato', parameters: 'mocassim'), :class => 'sub_menu'
      %li
        = link_to 'Oxford', catalog_path(category:'sapato', parameters: 'oxford'), :class => 'sub_menu'
      %li
        = link_to 'Rasteira', catalog_path(category:'sapato', parameters: 'rasteira'), :class => 'sub_menu'
      %li
        = link_to 'Sapatilha', catalog_path(category:'sapato', parameters: 'sapatilha'), :class => 'sub_menu'
      %li
        = link_to 'Slipper', catalog_path(category:'sapato', parameters: 'slipper'), :class => 'sub_menu'
      %li
        = link_to 'Sneaker', catalog_path(category:'sapato', parameters: 'sneaker'), :class => 'sub_menu'
      %li
        = link_to 'Tênis', catalog_path(category:'sapato', parameters: 'tenis'), :class => 'sub_menu'

  %span.column.second
    %h5 
      = link_to 'SALTINHOS', catalog_path(category:'sapato', parameters: 'salto-5-9')
    %ul
      %li
        = link_to 'Anabela', catalog_path(category:'sapato', parameters: 'anabela'), :class => 'sub_menu'
      %li
        = link_to 'Ankle Boot', catalog_path(category:'sapato', parameters: 'ankle%20boot'), :class => 'sub_menu'
      %li
        = link_to 'Boneca', catalog_path(category:'sapato', parameters: 'boneca'), :class => 'sub_menu'
      %li
        = link_to 'Bota', catalog_path(category:'sapato', parameters: 'bota'), :class => 'sub_menu'
      %li
        = link_to 'Peep Toe', catalog_path(category:'sapato', parameters: 'peep%20toe'), :class => 'sub_menu'
      %li
        = link_to 'Sandália', catalog_path(category:'sapato', parameters: 'sandalia'), :class => 'sub_menu'
      %li
        = link_to 'Scarpin', catalog_path(category:'sapato', parameters: 'scarpin'), :class => 'sub_menu'
      %li
        = link_to 'Sneaker', catalog_path(category:'sapato', parameters: 'sneaker'), :class => 'sub_menu'
  
  %span.column.image
    = link_to '', catalog_path(category:'sapato', parameters: 'alpargata'), :class => 'img'
