#mm_sapatos.submenu
	%span.column.first
		%h5 FLATS
		%ul
			%li
				= link_to 'Alpargata', 'http://www.olook.com.br/sapato/alpargata', :class => 'sub_menu'
			%li
				= link_to 'Creeper', 'http://www.olook.com.br/sapato/creeper', :class => 'sub_menu'
			%li
				= link_to 'Mocassim', 'http://www.olook.com.br/sapato/mocassim', :class => 'sub_menu'
			%li
				= link_to 'Oxford', 'http://www.olook.com.br/sapato/oxford', :class => 'sub_menu'
			%li
				= link_to 'Rasteira', 'http://www.olook.com.br/sapato/rasteira', :class => 'sub_menu'
			%li
				= link_to 'Sapatilha', 'http://www.olook.com.br/sapato/sapatilha', :class => 'sub_menu'
			%li
				= link_to 'Slipper', 'http://www.olook.com.br/sapato/slipper', :class => 'sub_menu'
			%li
				= link_to 'Sneaker', 'http://www.olook.com.br/sapato/sneaker', :class => 'sub_menu'
			%li
				= link_to 'Tênis', 'http://www.olook.com.br/sapato/tenis', :class => 'sub_menu'

	%span.column.second
		%h5 SALTINHOS
		%ul
			%li
				= link_to 'Anabela', 'http://www.olook.com.br/sapato/anabela', :class => 'sub_menu'
			%li
				= link_to 'Ankle Boot', 'http://www.olook.com.br/sapato/ankle%20boot', :class => 'sub_menu'
			%li
				= link_to 'Boneca', 'http://www.olook.com.br/sapato/boneca', :class => 'sub_menu'
			%li
				= link_to 'Bota', 'http://www.olook.com.br/sapato/bota', :class => 'sub_menu'
			%li
				= link_to 'Peep Toe', 'http://www.olook.com.br/sapato/peep%20toe', :class => 'sub_menu'
			%li
				= link_to 'Sandália', 'http://www.olook.com.br/sapato/sandalia', :class => 'sub_menu'
			%li
				= link_to 'Scarpin', 'http://www.olook.com.br/sapato/scarpin', :class => 'sub_menu'
			%li
				= link_to 'Sneaker', 'http://www.olook.com.br/sapato/sneaker', :class => 'sub_menu'
	
	%span.column.image
		= link_to '', 'http://www.olook.com.br/sapato/alpargata', :class => 'img'
