<h4>Atualização recebida as <%= format_time(event.created_at) %></h4>
<img src='/assets/order_timeline/moip.png' width='75px' />
<ul style='font-size:14px'>
 <li>
  Envio da transação: <%= event.payment_response_status %>
 </li>
 <li>
  Situação: <%= event.payment_response %>
 </li>
 <li>
  Código Moip:
  <b>
  </b>
 </li>
 <li>
  Gateway Fee:
  <b>
  </b>
 </li>
 <li>
  Código de identificação:
  <b>
   <%= order.identification_code %>
  </b>
 </li>
 <li>
  Final do cartão:
  <b>
   <%= order.payment.credit_card_number if order.payment.type == 'CreditCard' %>
  </b>
 </li>
 <li>
  Telefone do cliente: <%= order.payment.telephone %>
 </li>
 <li>
  CPF:
  <b>
   <%= order.user.cpf %>
  </b>
 </li>
</ul>
<br />
<img src='/assets/order_timeline/<%= shipping_service_art(order) %>' width='75px'>
<ul style='font-size:14px'>
 <li>
  Custo do frete:
  <b>
   R$ <%= order.freight.cost.to_s %>
  </b>
 </li>
 <li>
  Receita de frete:
  <b>
   R$ <%= order.freight.price.to_s %>
  </b>
 </li>
</ul>