<div id='timeline_content_column1'>
  <img src='/assets/purchase_timeline/moip.png' width='75px' />
  <ul>
    <li>
      Envio da transação: <b><%=  event.payment_response if order.erp_payment.payment_response %></b>
    </li>
    <li>
      Situação: <b><%= event.payment_transaction_status %></b>
    </li>
    <li>
    Código Moip: <b><%= order.erp_payment.payment_response.gateway_code if order.erp_payment.payment_response %></b>
   </li>
   <li>
    Gateway Fee: <b><%= number_to_currency(order.erp_payment.payment_response.gateway_fee) if order.erp_payment.payment_response %></b>
   </li>
   <li>
    Código de identificação: <b><%= order.erp_payment.identification_code %></b>
   </li>
   <li>
    Final do cartão: <b><%= order.erp_payment.credit_card_number if order.erp_payment.type == 'CreditCard' %></b>
   </li>
   <li>
    Telefone do cliente: <b><%= order.erp_payment.telephone %></b>
   </li>
   <li>
    CPF: <b><%= order.user.cpf %></b>
   </li>
  </ul>
</div>
<div id="timeline_content_column2">
  <%= shipping_service_art(order) %>
  <ul style='font-size:14px'>
   <li>
    Custo do frete: <b><%= number_to_currency(order.freight.cost) %></b>
   </li>
   <li>
    Receita de frete: <b><%= number_to_currency(order.freight.price) %></b>
   </li>
  </ul>
</div>