<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
    <h3>Produtos alterados por: <%= @admin.email %></h3>
    <table style="font-family:'Lucida Sans Unicode','Lucida Grande',Sans-Serif;font-size: 12px;background: #fff;margin: 45px;width: 480px;border-collapse: collapse;text-align: center;border: 1px solid;">
        <tr style="font-size: 14px;font-weight: normal;padding: 10px 8px;border-bottom: 2px solid #6678b1;">
          <th>ID do produto:</th>
          <th>Nome do produto</th>
          <th>Visivel?</th>
        </tr>
        <% @products.each_with_index do |product, index| %>
          <tr style="padding: 9px 8px 0px 8px;background:<%= index.even? ? "#CCC" : "#FFF" %>;">
            <td style="vertical-align:middle;height: 30px;"><%= link_to product.id, admin_product_url(product) %></td>
            <td style="vertical-align:middle;height: 30px;"><%= product.name %></td>
            <td style="vertical-align:middle;height: 30px;"><%= product.is_visible? ? 'Sim' : 'Não' %></td>
          </tr>
        <% end %>
    </table>
  </body>
</html>


