<h2>Produtos</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th style="width:100px">Imagem</th>
      <th>Perfil</th>
      <th>Preço</th>
      <th>Está visível?</th>
      <th>Categoria</th>
      <th>Estoque Inicial</th>
      <th>Estoque Atual</th>
      <th>Cor do fornecedor</th>
      <th>Cor do produto</th>
      <th>Cor do filtro</th>
      <th></th>
    </tr>

    <%= form_tag(mark_specific_products_as_visible_admin_products_path) do %>
      <% products.each do |product| %>
        <tr>
          <td><%= product.id %></td>
          <td><%= product.name %></td>
          <td><%= image_tag(product.showroom_picture, size: '100x100') if product.showroom_picture %></td>
          <td><%= product.profiles.collect{ |p| p.name}.join(", ") %></td>
          <td><%= number_to_currency product.price %></td>
          <%= hidden_field_tag :collection_id, @collection.id %>
          <td><%= check_box_tag 'visible_products[]', product.id, product.is_visible %></td>
          <td><%= product.category_humanize %></td>
          <td><%= product.initial_inventory %></td>
          <td><%= product.inventory %></td>
          <td><%= product.supplier_color %></td>
          <td><%= product.product_color %></td>
          <td><%= product.filter_color %></td>
          <td class=manage_products_links>
            <%= link_to "Preview", product_path(product), class: 'button info', target: "_blank" %>
            <%= link_to 'Exibir', admin_product_path(product), class: 'button' %>
            <%= link_to 'Editar', edit_admin_product_path(product), class: 'button' %>
          </td>
        </tr>
      <% end %>
      <%= submit_tag "Alterar a visibilidade dos produtos" %>
    <% end %>
  </table>
</div>
