<h2>Listando coleções mensais</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Nome</th>
      <th>Data inicial</th>
      <th>Data final</th>
      <th>Ativo</th>
      <th>Contagem de Produtos</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @collections.each do |collection| %>
    <tr>
      <td><%= collection.name %></td>
      <td><%= l collection.start_date %></td>
      <td><%= l collection.end_date %></td>
      <td><%= collection.is_active %></td>
      <td><%= collection.products.count %></td>
      <td>
        <%= link_to 'Marcar todos produtos visíveis', admin_collection_display_products_path(collection),
          confirm: 'Tem certeza que quer marcar todos produtos como visíveis?',
          :class => 'button warn'
        %>
      </td>
      <td>
        <%= link_to 'Marcar todos produtos invisíveis', admin_collection_hide_products_path(collection),
          confirm: 'Tem certeza que quer marcar todos produtos como invisíveis?',
          :class => 'button warn'
        %>
      </td>
      <td><%= link_to 'Mostrar', admin_collection_path(collection), :class => 'button' %></td>
      <td> <%= link_to 'Editar', edit_admin_collection_path(collection), :class => 'button' %> </td>
      <td> <%= link_to 'Apagar', admin_collection_path(collection), confirm: 'Tem certeza?', method: :delete, :class => 'button danger' %> </td>
    </tr>
  <% end %>
  </table>

  <br />
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Nova Coleção', new_admin_collection_path %></li>
<% end %>
