<h2>Collection</h2>
<div class="inner">
  <p>
    <b>Name:</b>
    <%= @collection.name %>
  </p>

  <p>
    <b>Start date:</b>
    <%= l @collection.start_date %>
  </p>
  <p>
    <b>End date:</b>
    <%= l @collection.end_date %>
  </p>

  <p>
    <%= link_to 'Make all products visible', admin_collection_display_products_path(@collection), confirm: 'Are you sure you want to make all products visible?' %> | 
    <%= link_to 'Make all products invisible', admin_collection_hide_products_path(@collection), confirm: 'Are you sure you want to make all products invisible?' %>
  </p>

  <%= render :partial => 'products', :locals => {:products => @collection.products.order(:category, :name)} %>
  
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_collection_path(@collection) %></li>
  <li><%= link_to 'Back', admin_collections_path %></li>
<% end %>
