<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="address_new" class="checkout">
  <%= form_for(@address, :html => { :class => 'address_new_edit' }) do |f| %>
    <section class="main">
      <h1>Editar endereço</h1>
      <%= render :partial => "shared/errors", :locals => { :object => @address } %>
      <%= render "shared/address/form", :address => @address, :f => f %>
    </section>
    <section class="sidebar">
      <%= render "shared/payments/info_sidebar", :cart => @cart %>
      <%= f.submit '', :class => "save" %>
    </section>
  <% end %>
</section>
