<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="address" class="checkout">
  <%= form_tag(assign_address_path) do %>
    <section class="main">
      <h1>Endereços cadastrados</h1>
      <ol class="addresses">
        <% if @addresses.any? %>
          <% @addresses.each do |address| %>
            <li class="address_item">
              <p><strong><%= current_user.name %></strong></p>
              <p><%= "#{address.street}, #{address.number} - #{address.neighborhood}" %></p>
              <p><%= "#{address.zip_code}" %></p>
              <p><%= "#{address.city}, #{address.state}" %></p>
              <ul class="links">
                <li><%= link_to "Editar endereço", edit_address_path(address) %></li>
                <li><%= link_to "Apagar endereço", address_path(address), :method => :delete, :confirm => "Tem certeza?" %></li>
              </ul>
              <%= radio_button_tag(:delivery_address_id, address.id) %>
            </li>
          <% end %>
        <% end %>
        <li class="address_item add">
          <%= link_to "Adicionar Novo Endereço", new_address_path %>
        </li>
      </ol>
    </section>
    <section class="sidebar">
      <%= render :partial => "info_sidebar" %>
      <%= submit_tag "", :class => "continue" %>
    </section>
  <% end %>
</section>
