<%= link_to "Adicionar Novo Endereço", new_address_path %>
<% if @addresses.any? %>
  <%= form_tag(assign_address_path) do %>
    <ul>
      <% @addresses.each do |address| %>
      <li>
       <%= radio_button_tag(:delivery_address_id, address.id) %> <%= address.street %>
      </li>
    </ul>
   <% end %>
   <%= submit_tag('Enviar')  %>
  <% end %>
<% end %>
