<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="address_new" class="checkout">
  <%= form_for(@address) do |f| %>
    <section class="main">
      <h1>Adicione um endereço</h1>
      <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address.errors.count, "error") %> prohibited this payment from being saved:</h2>

          <ul>
          <% @address.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= f.label "Rua" %><br />
        <%= f.text_field :street %>
      </div>

      <div class="field">
        <%= f.label "Número" %><br />
        <%= f.text_field :number %>
      </div>

      <div class="field">
        <%= f.label "Bairro" %><br />
        <%= f.text_field :neighborhood %>
      </div>

      <div class="field">
        <%= f.label "CEP" %><br />
        <%= f.text_field :zip_code %>
      </div>

      <div class="field">
        <%= f.label "Telefone" %><br />
        <%= f.text_field :telephone %>
      </div>

      <div class="field">
        <%= f.label "Cidade" %><br />
        <%= f.text_field :city %>
      </div>

      <div class="field">
        <%= f.label "Estado" %><br />
        <%= f.text_field :state %>
      </div>

      <div class="field">
        <%= f.label "País" %><br />
        <%= f.text_field :country %>
      </div>
    </section>
    <section class="sidebar">
      <%= render :partial => "info_sidebar" %>
      <%= f.submit '', :class => "continue" %>
    </section>
  <% end %>
</section>
