<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="address_new" class="checkout">
  <%= form_for(@address) do |f| %>
    <section class="main">
      <h1>Adicione um endereço</h1>
      <% if @address.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@address.errors.count, "error") %> prohibited this payment from being saved:</h2>

          <ul>
          <% @address.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

      <div class="zip_code">
          <fieldset class="inputs">
            <ol>
              <li>
                <%= f.label :zip_code %>
                <%= f.text_field :zip_code %>
              </li>
            </ol>
          </fieldset>
          <fieldset class="buttons">
            <ol>
              <li>
                <%= link_to "Buscar CEP", "#", :class => "search" %>
                <p>Não sabe seu cep? <%= link_to "Clique aqui", "#" %></p>
              </li>
            </ol>
          </fieldset>
      </div>

      <div class="address_fields">
        <fieldset class="inputs desc">
          <ol>
            <li>
              <%= f.label :first_name %>
              <%= f.text_field :first_name %>
            </li>
            <li>
              <%= f.label :last_name %>
              <%= f.text_field :last_name %>
            </li>
          </ol>
        </fieldset>
        <fieldset class="inputs">
          <ol>
            <li class="street">
              <%= f.label :street %>
              <%= f.text_field :street %>
            </li>
            <li class="number">
              <%= f.label :number %>
              <%= f.text_field :number %>
            </li>
            <li class="complement">
              <%= f.label :complement %>
              <%= f.text_field :complement %>
            </li>
            <li class="neighborhood">
              <%= f.label :neighborhood %>
              <%= f.text_field :neighborhood %>
            </li>
            <li class="city">
              <%= f.label :city %>
              <%= f.text_field :city %>
            </li>
            <li class="state">
              <%= f.label :state %>
              <%= f.text_field :state %>
            </li>
            <li class="phone">
              <%= f.label :telephone %>
              <%= f.text_field :telephone %>
            </li>
          </ol>
        </fieldset>
      </div>
    </section>
    <section class="sidebar">
      <%= render "shared/payments/info_sidebar", :cart => @cart %>
      <%= f.submit '', :disabled => "disabled", :class => "disabled save" %>
    </section>
  <% end %>
</section>
