<h2>Novo Relatório</h2>

<div class="inner">
  <%= form_tag admin_reports_path, method: "post" do %>
    <div class="field">
      <%= label_tag :start_date, "Data de inicio" %><br />
      <%= date_select :start_date, "", end_date: Date.today %>
    </div>

    <div class="field">
      <%= label_tag :end_date, "Data do fim" %><br />
      <%= date_select :end_date, "" %>
    </div>
    <div class="actions">
      <%= submit_tag %>
    </div>
  <% end %>
</div>
