<h2><%= link_to "#{@liquidation.name} products", admin_liquidation_path(@liquidation.id) %></h2>

<div class="inner">
  <p class="update_liquidation_data"><%# link_to "Fetch and update product data (subcategory, heel, shoe size, etc)", admin_liquidation_fetch_path(@liquidation.id) %></p>
  
  <%= form_for :liquidation_products do |f| %>
    <div class="field">
      <%= f.label :product_ids %>:
      <%= f.text_field :products_ids, :size => 100 %>
    </div>
    <div class="field">
      <%= f.label :discount_percent %>:
      <%= f.text_field :discount_percent, :size => 3 %>%
    </div>
    <div class="actions">
      <%= f.submit "Add/update products" %>
    </div>
  <% end %>
  <br/>
  <table class="table">
    <tr>
      <th>Product ID</th>
      <th>Name</th>
      <th>Subcategory</th>
      <th>Original Price</th>
      <th>Retail Price</th>
      <th>Discount Percent</th>
      <th>Heel</th>
      <th>Inventory</th>
      <th>Color</th>
      <th>Picture</th>
      <th></th>
      <th></th>
    </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.product_id %></td>
      <td><%= product.name %></td>
      <td><%= product.subcategory_name%></td>
      <td><%= number_to_currency product.original_price %></td>
      <td><%= number_to_currency product.retail_price %></td>
      <td><%= product.discount_percent %>%</td>
      <td><%= product.heel %></td>
      <td><%= product.total_of_all_variants_inventory %></td>
      <td><%= product.color_name %></td>
      <td><%= image_tag(product.thumb_picture) if product.thumb_picture %></td>
      <td><%= link_to "Edit", edit_admin_liquidation_product_path(@liquidation.id, product.id) %></td>
      <td>
        <%= link_to "Remove",
         admin_liquidation_product_path(@liquidation.id, product.id),
         :method => :delete, :confirm => "Are you sure you want to remove this product from this liquidation?"
        %>
      </td>
    </tr>
  <% end %>
  </table>

  <br />
</div>


