<h2>Liquidação <%= @liquidation.name %></h2>

<%= form_for :liquidation_products, :remote => true do |f| %>

  <div class="field">
    <%= f.label :product_ids %>
    <%= f.text_field :product_ids %>
    <%= f.label :discount_percent %>
    <%= f.text_field :discount_percent %>%
    <%= f.submit "Add" %>
  </div>

  <h3>Products</h3>

  <% @products.each do |product| %>
    <%= product.original_price %>
  <% end %>

<% end %>
