<h2>Details</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>Translation token</th>
      <th>Description</th>
      <th>Display On</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% product.details.each do |detail| %>
    <tr>
      <td><%= detail.translation_token %></td>
      <td><%= detail.description %></td>
      <td><%= detail.display_on_humanize %></td>
      <td><%= link_to 'Show', admin_product_detail_path(detail.product, detail) %></td>
      <td><%= link_to 'Edit', edit_admin_product_detail_path(detail.product, detail) %></td>
      <td><%= link_to 'Destroy', admin_product_detail_path(detail.product, detail), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>
  <div class="action-bar wat-cf">
    <div class="actions">
      <%= link_to 'Add a new detail', new_admin_product_detail_path(product) %>
    </div>
  </div>
</div>
