<%= form_for([:admin, @product]) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name, "Name" %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :model_number, "Número de modelo" %><br />
    <%= f.text_field :model_number %>
  </div>
  <div class="field">
    <%= f.label :is_visible, "Visível?" %><br />
    <%= f.check_box :is_visible %>
  </div>
  <div class="field">
    <%= f.label :visibility, "Onde?" %><br />
    <%= f.select :visibility, options_for_select([["Site (exceto olooklet)", 1],["Olooklet",2],["Todo o site",3]],selected_key = @product.visibility) %>
  </div>  
  <div class="field">
    <%= f.label :category, "Categoria" %><br />
    <%= f.select :category, Category.to_a %>
  </div>
  <div class="field">
    <%= f.label :color_name %><br />
    <%= f.text_field :color_name %>
  </div>
  <div class="field">
    <%= f.label :color_sample %><br />
    <%= f.file_field :color_sample %>
  </div>

  <div class="field">
    <%= f.label :picture_for_xml %><br />
    <%= f.file_field :picture_for_xml %>
  </div>

  <div class="field">
    <%= f.label :description, "Descrição" %><br />
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
