<h2>Imagens</h2>

<div class="inner">
  <h3>Imagem para parceiro</h3>
  <% if @product.picture_for_xml.present? %>
    <%= image_tag @product.picture_for_xml.thumb %>
  <% end %>
  <%= form_for([:admin, @product]) do |f| %>
    <div class="field">
      <%= f.label :picture_for_xml %><br />
      <%= f.file_field :picture_for_xml %>
    </div>

    <div class="actions">
      <%= f.submit 'Atualizar Foto' %>
    </div>
  <% end %>
</div>


<div class="inner">
  <table class="table" id="sortable_images" data-product-id="<%= product.id %>">
    <tr>
      <th>Mudar posição?</th>
      <th>Display On</th>
      <th>Imagem</th>
      <th></th>
    </tr>

  <% product.pictures.order(:position).each do |picture| %>
    <tr id="picture_<%= picture.id %>">
      <td class="handle">[Click to drag]</td>
      <td><%= picture.display_on_humanize %></td>
      <td><%= image_tag picture.image_url(:showroom).to_s, :size => '100x100' %></td>
      <td>
        <%= link_to 'Mostrar', admin_product_picture_path(picture.product, picture), class: 'button' %>
        <%= link_to 'Editar', edit_admin_product_picture_path(picture.product, picture), class: 'button' %>
        <%= link_to 'Apagar', admin_product_picture_path(picture.product, picture), confirm: 'Are you sure?', method: :delete, class: 'button danger' %>
      </td>
    </tr>
  <% end %>
  </table>
  <div class="action-bar wat-cf">
    <div class="actions">
      <%= link_to 'Adicionar nova imagem', new_admin_product_picture_path(product) %>
      <%= link_to 'Adicionar multiplas imagens', new_multiple_pictures_admin_product_pictures_path(product) if product.pictures.empty? %>
    </div>
  </div>
</div>
