<h2 class="title">Produtos do Look Completo</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>Modelo #</th>
      <th>Nome</th>
      <th>Imagem</th>
      <th>Cor</th>
      <th>Categoria</th>
      <th>Estoque</th>
      <th></th>
    </tr>

  <% product.related_products.each do |related_product| %>
    <tr>
      <td><%= related_product.model_number %></td>
      <td><%= related_product.name %></td>
      <td><%= image_tag(related_product.showroom_picture, :size => '100x100') if related_product.showroom_picture %></td>
      <td><%= related_product.color_name %></td>
      <td><%= related_product.category_humanize %></td>
      <td><%= related_product.inventory %></td>
      <td><%= link_to 'Apagar', remove_related_admin_product_path(product, related_product), confirm: 'Tem certeza?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <%= form_for product, :url => add_related_admin_product_path, :method => :post, :as => :related_product, :html => {:class => 'form'} do |f| %>
    <div class="group">
      <%= f.label :related_product, "Id do produto do Look" %><br />
      <%= f.text_field :id , value: '' %>
    </div>
    <div class="group navform wat-cf">
      <%= f.submit 'Adicionar novo produto do Look' %>
    </div>
  <% end %>
</div>
