<h2>Variantes</h2>
<div class="inner">
  <table class="table">
    <tr>
      <th>SKU</th>
      <th>Número</th>
      <th>Descrição</th>
      <th>Referencia Display</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Dimensões</th>
      <th>Peso</th>
      <th></th>
      <th></th>
    </tr>

  <% product.variants.order(:description).each do |variant| %>
    <tr>
      <td><%= variant.sku %></td>
      <td><%= variant.number %></td>
      <td><%= variant.description %></td>
      <td><%= variant.display_reference %></td>
      <td><%= variant.price %></td>
      <td><%= variant.inventory %></td>
      <td><%= variant.dimensions %></td>
      <td><%= variant.weight %></td>
      <td><%= link_to 'Mostrar', admin_product_variant_path(variant.product, variant) %></td>
      <td><%= link_to 'Editar', edit_admin_product_variant_path(variant.product, variant) %></td>
    </tr>
  <% end %>
  </table>
  <div class="action-bar wat-cf">
    <div class="actions">
      <%= link_to 'Adicionar nova variante', new_admin_product_variant_path(product) %>
    </div>
  </div>
</div>
