<h2>Listing products</h2>
<%= form_tag(sync_products_admin_products_path, :id => 'sync_products') do %> 
  <% if @sync_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sync_event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @sync_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= submit_tag('Sync products') %>
<% end %>

<div class="inner">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Model number</th>
      <th>Liquidation</th>
      <th>Category</th>
      <th>Visible?</th>
      <th>Price</th>
      <th>Inventory</th>
      <th>Color</th>
      <th>Picture</th>
      <th>Sample</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= product.model_number %></td>
      <td><%= LiquidationProductService.new(@liquidation, product).liquidation_name %></td>
      <td><%= product.category_humanize %></td>
      <td><%= product.is_visible? ? 'Yes' : 'No' %></td>
      <td><%= number_to_currency product.price %></td>
      <td><%= product.inventory %></td>
      <td><%= product.color_name %></td>
      <td><%= image_tag(product.thumb_picture) if product.thumb_picture %></td>
      <td><%= image_tag(product.color_sample_url) unless product.color_sample.blank? %></td>
      <td><%= link_to 'Show', admin_product_path(product) %></td>
      <td><%= link_to 'Edit', edit_admin_product_path(product) %></td>
    </tr>
  <% end %>
  </table>

  <br />
</div>
