<h2>Listando produtos</h2>
<%= form_tag(sync_products_admin_products_path, :id => 'sync_products') do %>
  <% if @sync_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sync_event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
      <% @sync_event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= submit_tag('Sincronizar produtos', class: 'button info') %>
<% end %>

<div class="search">
  <h3>Opções de procura:</h3>
<%= form_tag(admin_products_path, method: :get) do %>
  <%= hidden_field_tag :s, params[:s] %>
  <%= hidden_field_tag :d, params[:d] %>
  <%= search_field_tag :q, params[:q], {placeholder: 'Nome ou número'} %>
  <%= search_field_tag :subcat, params[:subcat], {placeholder: 'Subcategoria'} %>
  <%= select_tag :col, grouped_options_for_select(@collections, params[:col]), {prompt: 'Coleção'} %>
  <%= select_tag :cat, options_for_select(@categories, params[:cat]), {prompt: 'Categoria'} %>
  <%= select_tag :brand, options_for_select(@brands, params[:brand]), {prompt: 'Marca'} %>
  <%= select_tag :p, options_from_collection_for_select(@profiles, "id", "name", params[:p]), {prompt: 'Perfil'} %>
  <%= button_tag 'Procurar', name: nil, type: 'submit', :class => 'button' %>
<% end %>
</div>

<div class="inner">
  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @products %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th><%= sortable('name') %></th>
      <th>Modelo #</th>
      <th>Liquidação</th>
      <th><%= sortable('category') %></th>
      <th>Visível?</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Inicial</th>
      <th>Cor do fornecedor</th>
      <th>Cor do produto</th>
      <th>Cor do filtro</th>
      <th>Perfil</th>
      <th><%= sortable('collection_id', 'Collection') %></th>
      <th style="width:100px">Imagem</th>
      <th>Amostra</th>
      <th></th>
    </tr>
  <% @products.each do |product| %>
    <tr class="<%= 'not-visible' if !product.is_visible %>">
      <td><%= product.name %></td>
      <td><%= product.model_number %></td>
      <td><%= LiquidationProductService.new(@liquidation, product).liquidation_name %></td>
      <td><%= product.category_humanize %></td>
      <td><%= product.is_visible? ? 'Yes' : 'No' %></td>
      <td><%= number_to_currency product.price %></td>
      <td><%= product.inventory %></td>
      <td><%= product.initial_inventory %></td>
      <td><%= product.supplier_color %></td>
      <td><%= product.product_color %></td>
      <td><%= product.filter_color %></td>
      <td><%= product.profiles.map(&:name).join(", ") %></td>
      <td><%= "#{product.collection.try(:name)} #{product.collection.try(:start_date).try(:year)}" %></td>
      <td><%= image_tag(product.showroom_picture, size: '100x100') if product.showroom_picture %></td>
      <td><%= image_tag(product.color_sample_url, size: '50x50') unless product.color_sample.blank? %></td>
      <td class=manage_products_links>
        <%= link_to "Preview", product_path(product), class: 'button info', target: "_blank" %>
        <%= link_to 'Show', admin_product_path(product), class: 'button' %>
        <%= link_to 'Edit', edit_admin_product_path(product), class: 'button' %>
      </td>
    </tr>
  <% end %>
  </table>
  <br />
  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @products %>
    </div>
  </div>
  <br class="clear" />
</div>
