<h2>Listando produtos</h2>
<%= form_tag(sync_products_admin_products_path, :id => 'sync_products') do %>
  <% if @sync_event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@sync_event.errors.count, "error") %> prohibited this event from being saved:</h2>
      <ul>
        <% @sync_event.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= submit_tag('Sincronizar produtos', class: 'button info') %>
<% end %>

<% content_for :sidebar do %>
  <div class="block">
      <h3>Opções de procura:</h3>
    <div class="content">

      <%= form_tag(admin_products_path, :class => "form", method: :get) do %>
        <%= hidden_field_tag :s, params[:s] %>
        <%= hidden_field_tag :d, params[:d] %>

        <div class"group">
          <%= label_tag :q, "Nome ou número", class: 'label' %>
          <%= search_field_tag :q, params[:q], class: 'text_field' %>
        </div>

        <div class"group">
          <%= label_tag :q, "Subcategoria", class: 'label' %>
          <%= search_field_tag :subcat, params[:subcat],  class: 'text_field' %>
        </div>

        <div class"group">
          <%= label_tag :col, "Coleção", class: 'label' %>
          <%= select_tag :col, grouped_options_for_select(@collections, params[:col]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :cat, "Categoria", class: 'label' %>
          <%= select_tag :cat, options_for_select(@categories, params[:cat]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :brand, "Marca", class: 'label' %>
          <%= select_tag :brand, options_for_select(@brands, params[:brand]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :p, "Perfil", class: 'label' %>
          <%= select_tag :p, options_from_collection_for_select(@profiles, "id", "name", params[:p]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :is_visible, "Visibilidade", class: 'label' %>
          <%= select_tag :is_visible, options_for_select([["Visível", 1],["Invisível",0]], params[:is_visible]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :inventory_ordenation, "Ordenação por inventário", class: 'label' %>
          <%= select_tag :inventory_ordenation, options_for_select([["Menor Inventário", "asc"],["Maior Inventário","desc"]], params[:inventory_ordenation]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :sale_ordenation, "Ordenação por Vendas", class: 'label' %>
          <%= select_tag :sale_ordenation, options_for_select([["Mais Vendidos", "desc"],["Menos Vendidos ","asc"]], params[:sale_ordenation]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :has_pictures, "Ordenação por imagens", class: 'label' %>
          <%= select_tag :has_pictures, options_for_select([["Com fotos", "not null"],["Sem fotos","null"]], params[:has_pictures]), {include_blank: true} %>
        </div>

        <div class"group">
          <%= label_tag :launch_date, "Data de lançamento", class: 'label' %>
          <%= date_select :start_launch_date, "", include_blank: true %>
          <%= label_tag :launch_date, "até", class: 'label' %>
          <%= date_select :end_launch_date, "", include_blank: true %>
        </div>

        <div class"group">
          <%= submit_tag 'Procurar', name: nil, type: 'submit', :class => 'button' %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="inner">
  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @products %>
    </div>
  </div>
  <table class="table">
    <tr>
      <th><%= sortable('name') %></th>
      <th>Modelo #</th>
      <th>Liquidação</th>
      <th><%= sortable('category', "Categoria") %></th>
      <th>Visível?</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Inicial</th>
      <th>Quantidade Já Vendida</th>
      <th>Cor do produto</th>
      <th>Cor do filtro</th>
      <th>Perfil</th>
      <th><%= sortable('collection_id', 'Collection') %></th>
      <th style="width:100px">Imagem</th>
      <th>Amostra</th>
      <th></th>
    </tr>
  <% @products.each do |product| %>
    <tr class="<%= 'not-visible' if !product.is_visible %>">
      <td><%= product.name %></td>
      <td><%= product.model_number %></td>
      <td><%= LiquidationProductService.new(@liquidation, product).liquidation_name %></td>
      <td><%= product.category_humanize %></td>
      <td><%= product.is_visible? ? 'Yes' : 'No' %></td>
      <td><%= number_to_currency product.price %></td>
      <td><%= product.inventory %></td>
      <td><%= product.initial_inventory %></td>
      <td><%= product.quantity_alredy_sold %></td>
      <td><%= product.product_color %></td>
      <td><%= product.filter_color %></td>
      <td><%= product.profiles.map(&:name).join(", ") %></td>
      <td><%= "#{product.collection.try(:name)} #{product.collection.try(:start_date).try(:year)}" %></td>
      <td><%= image_tag(product.bag_picture) if product.bag_picture %></td>
      <td><%= image_tag(product.color_sample_url, size: '50x50') unless product.color_sample.blank? %></td>
      <td class="manage_products_links">
        <%= link_to "Preview", product_seo_path(product.seo_path), class: 'button info', target: "_blank" %>
        <%= link_to 'Show', admin_product_path(product), class: 'button' %>
        <%= link_to 'Edit', edit_admin_product_path(product), class: 'button' %>
      </td>
    </tr>
  <% end %>
  </table>
  <br />
  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @products %>
    </div>
  </div>
  <br class="clear" />
</div>
