<h2>Product</h2>
<div class="inner">
  <p>
    <b>Name:</b>
    <%= @product.name %>
  </p>

  <p>
    <b>Model number:</b>
    <%= @product.model_number %>
  </p>

  <p>
    <b>Visible?:</b>
    <%= @product.is_visible? ? 'Yes' : 'No' %>
  </p>

  <p>
    <b>Inventory:</b>
    <%= @product.inventory %>
  </p>

  <p>
    <b>Category:</b>
    <%= @product.category_humanize %>
  </p>
  <p>
    <b>Color:</b>
    <%= @product.color_name %> <%= image_tag(@product.color_sample_url) unless @product.color_sample.blank? %>
  </p>
  <p>
    <b>Category:</b>
    <%= @product.category_humanize %>
  </p>
  <p>
    <b>Color:</b>
    <%= @product.color_name %> <%= image_tag(@product.color_sample_url) unless @product.color_sample.blank? %>
  </p>
  <p>
    <b>Category:</b>
    <%= @product.category_humanize %>
  </p>

  <p>
    <b>Description:</b>
    <%= @product.description %>
  </p>
</div>

<%= render :partial => 'profiles', :locals => {:product => @product} %>
<%= render :partial => 'images', :locals => {:product => @product} %>
<%= render :partial => 'details', :locals => {:product => @product} %>
<%= render :partial => 'variants', :locals => {:product => @product} %>
<%= render :partial => 'related_products', :locals => {:product => @product} %>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_product_path(@product) %></li>
  <li><%= link_to 'Back', admin_products_path %></li>
<% end %>
