<h2>Produto</h2>
<div class="inner">
  <p>
    <b>Nome:</b>
    <%= @product.name %>
  </p>

  <p>
    <b>Modelo #:</b>
    <%= @product.model_number %>
  </p>

  <p>
    <b>Marca:</b>
    <%= @product.brand %>
  </p>

  <p>
    <b>Data de lançamento:</b>
    <%= @product.launch_date %>
  </p>

  <p>
    <b>Visível?:</b>
    <%= @product.is_visible? ? 'Yes' : 'No' %>
  </p>

  <p>
    <b>Onde?:</b>
    <%= formatted_visibility(@product.visibility) %>
  </p>

  <p>
    <b>Estoque:</b>
    <%= @product.inventory %>
  </p>

  <p>
    <b>Estoque inicial:</b>
    <%= @product.initial_inventory %>
  </p>

  <p>
    <b>Categoria:</b>
    <%= @product.category_humanize %>
  </p>
  <p>
    <b>Cor do fornecedor:</b>
    <%= @product.supplier_color %>
  </p>
  <p>
    <b>Cor do produto:</b>
    <%= @product.product_color %>
  </p>
  <p>
    <b>Cor do filtro:</b>
    <%= @product.filter_color %>
  </p>
  <p>
    <b>Amostra</b>
    <%= image_tag(@product.color_sample_url) unless @product.color_sample.blank? %>
  </p>
  <p>
    <b>Category:</b>
    <%= @product.category_humanize %>
  </p>

  <p>
    <b>Descrição:</b>
    <%= @product.description %>
  </p>
</div>

<%= render :partial => 'profiles', :locals => {:product => @product} %>
<%= render :partial => 'images', :locals => {:product => @product} %>
<%= render :partial => 'details', :locals => {:product => @product} %>
<%= render :partial => 'variants', :locals => {:product => @product} %>
<%= render :partial => 'freebie_products', :locals => {:product => @product} %>
<%= render :partial => 'related_products', :locals => {:product => @product} %>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Editar', edit_admin_product_path(@product) %></li>
  <li><%= link_to 'Voltar', admin_products_path %></li>
<% end %>
