<div id="profile_quiz" class="box-profile">
  <div class="share">
    <p>Compartilhe seu estilo com suas amigas:</p>
    <iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%= request.host %>/membro/share/<%= @user.id %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=<%= @facebook_app_id %>" scrolling="no" frameborder="0" id="fb_iframe" allowTransparency="true"></iframe>
  
  </div>
    <!-- <= hidden_field_tag "profile_big_image_path", "profiles/big_#{user.profile_name.to_s}.jpg" %> -->
    <!--  image_tag "profile_big_image_path", "profiles/big_#{user.profile_name.to_s}.jpg" unless user.profile_name.nil? -->
    <% unless user.profile_name.nil? %>
      <%= image_tag "spacer.png", {:class => "#{user.profile_name.to_s}"} %>
    <% end %>
    
    <ul>
      <li><%= link_to "Quero tentar de novo", wysquiz_path, :class => "new_survey" %></li>
      <li><%= link_to "Essa sou eu", link, :class => "me" %></li>
    </ul>

</div>
