<html style="font-family:'Lucida Sans Unicode','Lucida Grande',Sans-Serif;font-size: 12px;background: #fff;margin: 45px;width: 480px;border-collapse: collapse;text-align: left;">
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</html>
<h2>Novo Atacadista</h2>
<h3>CSV:</h3>
<p>
  <%= "CNPJ;Razão Social;Nome Fantasia;Nome;Sobrenome;Email;Telefone;Celular;Operadora;Endereço;CEP;Bairro;Cidade;Estado;" %>
</p>
<p>
  <%= "#{@wholesale.cnpj};#{@wholesale.corporate_name};#{@wholesale.first_name};#{@wholesale.last_name};#{@wholesale.email};#{@wholesale.telephone};#{@wholesale.cellphone};#{@wholesale.cellphone_company};#{@wholesale.address};#{@wholesale.zip_code};#{@wholesale.neighborhood};#{@wholesale.city};#{@wholesale.state};" %>
</p>
<div class="inner">
  <p>
    <b>CNPJ:</b>
    <%= @wholesale.cnpj %>
  </p>
  <p>
    <b>Razão Social:</b>
    <%= @wholesale.corporate_name %>
  </p>
  <p>
    <b>Nome Fantasia:</b>
    <%= @wholesale.fantasy_name %>
  </p>
  <p>
    <b>Nome:</b>
    <%= @wholesale.first_name %>
  </p>
  <p>
    <b>Sobrenome:</b>
    <%= @wholesale.last_name %>
  </p>
  <p>
    <b>Email:</b>
    <%= @wholesale.email %>
  </p>
  <p>
    <b>Telefone:</b>
    <%= @wholesale.telephone %>
  </p>
  <p>
    <b>Celular:</b>
    <%= @wholesale.cellphone %>
  </p>
  <p>
    <b>Operadora:</b>
    <%= @wholesale.cellphone_company %>
  </p>
  <p>
    <b>Endereço:</b>
    <%= @wholesale.address %>
  </p>
  <p>
    <b>CEP:</b>
    <%= @wholesale.zip_code %>
  </p>
  <p>
    <b>Bairro:</b>
    <%= @wholesale.neighborhood %>
  </p>
  <p>
    <b>Cidade:</b>
    <%= @wholesale.city %>
  </p>
  <p>
    <b>Estado:</b>
    <%= @wholesale.state %>
  </p>
</div>
