<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout">
  <section class="main">
    <h1>Escolha uma forma de pagamento</h1>
    <%= render :partial => "shared/payments/payment_methods" %>
    <%= render 'form' %>
  </section>
  <section class="sidebar">
    <% content_for :checkout_sidebar do %>
      <%= render "shared/payments/info_address", :order => @order %>
    <% end %>
    <%= render "shared/payments/info_sidebar", :cart => @cart %>
    <%= link_to "Finalizar", "javascript:void(0);", :class => "finish disabled" %>
  </section>
</section>
