= javascript_include_tag "jquery.bxslider.min.js"
= stylesheet_link_tag  "jquery.bxslider"
= stylesheet_link_tag "new_structure/section/custom_url"

%section.edit_filter
  %h2.htrendy
    basico.com
  %p
    O que é ser básico para você? Fizemos um editorial em parceria com o basico.com para mostrar como uma peça simples e confortável é essencial no guarda-roupa. 
  .carousel
    %ul.bxslider
      %li.big
        = image_tag("editoriais/basico/editorial_basico_capa.jpg")
      %li.big
        = image_tag("editoriais/basico/editorial_basico_pag_1.jpg")
      %libig
        = image_tag("editoriais/basico/editorial_basico_pag_2.jpg")
      %libig
        = image_tag("editoriais/basico/editorial_basico_pag_3.jpg")
      %libig
        = image_tag("editoriais/basico/editorial_basico_pag_4.jpg")
      %libig
        = image_tag("editoriais/basico/editorial_basico_pag_5.jpg")
    #bx-pager.basico
      %a{"data-slide-index" => "0", href: ""}
        = image_tag("editoriais/basico/editorial_basico_capa.jpg")
      %a{"data-slide-index" => "1", href: ""}
        = image_tag("editoriais/basico/editorial_basico_pag_1.jpg")
      %a{"data-slide-index" => "2", href: ""}
        = image_tag("editoriais/basico/editorial_basico_pag_2.jpg")
      %a{"data-slide-index" => "3", href: ""}
        = image_tag("editoriais/basico/editorial_basico_pag_3.jpg")
      %a{"data-slide-index" => "4", href: ""}
        = image_tag("editoriais/basico/editorial_basico_pag_4.jpg")
      %a{"data-slide-index" => "5", href: ""}
        = image_tag("editoriais/basico/editorial_basico_pag_5.jpg", :class => "last")
  %br{style:'clear:both;'}
  %p.basic
    VEJA NOSSA COLEÇÃO

:javascript
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      pagerCustom: '#bx-pager'
    });
  });

  