= javascript_include_tag "jquery.bxslider.min.js"
= stylesheet_link_tag  "jquery.bxslider"
= stylesheet_link_tag "new_structure/section/custom_url"

%section
  %h2
    Total Couro
  %p
    Material oficial do Inverno, o couro ganhou um editorial de moda com looks que vão do rocker ao sexy. Escolha o seu preferido e garanta seu must-have da temporada!
  .carousel
    %ul.bxslider
      %li.big
        = image_tag("editoriais/editorial_total_couro_capa1.jpg")
      %li.big
        = image_tag("editoriais/editorial_total_couro_pag1.jpg")
      %libig
        = image_tag("editoriais/editorial_total_couro_pag2.jpg")
      %libig
        = image_tag("editoriais/editorial_total_couro_pag3.jpg")
      %libig
        = image_tag("editoriais/editorial_total_couro_pag4.jpg")
    #bx-pager
      %a{"data-slide-index" => "0", href: ""}
        = image_tag("editoriais/editorial_total_couro_capa1.jpg")
      %a{"data-slide-index" => "1", href: ""}
        = image_tag("editoriais/editorial_total_couro_pag1.jpg")
      %a{"data-slide-index" => "2", href: ""}
        = image_tag("editoriais/editorial_total_couro_pag2.jpg")
      %a{"data-slide-index" => "3", href: ""}
        = image_tag("editoriais/editorial_total_couro_pag3.jpg")
      %a{"data-slide-index" => "4", href: ""}
        = image_tag("editoriais/editorial_total_couro_pag4.jpg", :class => "last")
  %p.box
    VEJA NOSSA COLEÇÃO

:javascript
  $(document).ready(function(){
    $('.bxslider').bxSlider({
      pagerCustom: '#bx-pager'
    });
  });

  