= stylesheet_link_tag "new_structure/section/custom_url"

%section.editorial
  %h2
    Animal Fever
  %p
    A estampa classica de animal print est´de volta! Agora repaginado com todos os bichos da selva! Escolha a sua e solte as feras que moram em você.
  .carousel
    %ul
      %li.big
        = image_tag("editoriais/big_img.jpg")
      %li.thumb
        = image_tag("editoriais/thumb_1.jpg")
      %li.thumb
        = image_tag("editoriais/thumb_2.jpg")
      %li.thumb
        = image_tag("editoriais/thumb_3.jpg")
      %li.thumb.last
        = image_tag("editoriais/thumb_4.jpg")


