<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
    <META http-equiv="Content-Type" content="text/html; charset=utf-8">
  </head>
  <body>
    <div>
      <div>
        <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
          <tr>
            <td align="center" height="30">
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0" width="100%">
                <tr>
                  <td>
                    <a href="http://www.olook.com.br/colecoes/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=transacional_fidelidade&amp;utm_content=f_creditos_disponiveis" target="_blank">
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/logo_barra.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
                  </td>
                  <td>
                    <a href="http://statigr.am/olook" target="_blank">
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_in.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
                  </td>
                  <td>
                    <a href="https://twitter.com/olook" target="_blank">
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_tw.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
                  </td>
                  <td>
                    <a href="http://www.facebook.com/olook" target="_blank">
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_fb.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
                  </td>
                  <td>
                    <a href="http://blog.olook.com.br" target="_blank">
                    <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_bg.jpg" alt="Blog" border="0" title="Blog" style="display:block"></a>
                  </td>
                </tr>
              </table>
            </td>
          </tr>
          <tr>
            <td>
              <table cellpadding="0" cellspacing="0">
              </table>
            </td>
          </tr>
          <tr>
            <td align="center">
              <br>
              <div style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:14px;width:540px;text-align:left">
                <p style="font-size:16px">
                  Oi, <span style="color:#ef3742"><%= @user.first_name %></span>!
                </p>
                <p>
                  Temos uma boa notícia pra alegrar seu dia!
                </p>
                <p>
                  A Olook agora tem novidades toda semana, e você tem <b><%= number_to_currency(@available_credits) %></b> em créditos disponíveis para comprar seus produtos favoritos!
                </p>
                <br>
                <table width="220" align="center">
                  <tr>
                    <td height="30" bgcolor="ef3742" align="center">
                      <center>
                        <a href="http://www.olook.com.br/roupa?utm_source=olook&utm_medium=email&utm_campaign=transacional_fidelidade&utm_content=f_creditos_disponiveis" style="color:#ffffff;font-size:14px;text-decoration:none" target="_blank">
                          UTILIZAR MEUS CRÉDITOS
                        </a>
                      </center>
                    </td>
                  </tr>
                </table>
                <br>
                <hr size="1px" color="#cccccc">
                <div style="float:left;width:320px;margin:0 0 0 80px">
                  <p align="left" style="color:#888888!important">SOBRE O SEUS CRÉDITOS
                    <br>
                    Créditos por compras realizadas:
                    <br>
                    Créditos por indicação:
                    <br>
                    Reembolso via central de atendimento:
                  </p>
                  <p align="left" style="color:#888888!important;font-size:13pt">
                    Créditos diponíveis para uso agora:</p>
                </div>
                <div style="float:left;width:140px">
                  <p align="left" style="color:#888888!important">
                    <br>
                    <%= number_to_currency(@loyalty_credits) %>
                    <br>
                      <%= number_to_currency(@invite_credits) %>
                    <br>
                      <%= number_to_currency(@redeem_credits) %>
                  </p>
                  <p align="left" style="color:#ef3742!important;font-size:13pt">
                    <%= number_to_currency(@available_credits) %>
                  </p>
                </div>
                <p align="right">
                    <a href="http://www.olook.com.br/conta/creditos/?utm_source=olook&utm_medium=email&utm_campaign=transacional_fidelidade&utm_content=f_creditos_disponiveis" style="color:#ef3742!important;font-size:9pt" target="_blank">Confira seu saldo de créditos</a>
                </p>
        <div style="float:left;width:620px">
                  <p>Abraços,
                    <br>
                    Equipe olook
                    <a href="http://www.olook.com.br/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=transacional_fidelidade&amp;utm_content=f_creditos_disponiveis" style="color:#ef3742;font-size:14px" target="_blank">
                      www.olook.com.br
                    </a>
          </p>
                </div>
        </div>
        <br>
              <br>
            </td>
          </tr>
        </table>
    </div>

    </div>
  </body>
</html>
