<table width="620" align="center" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_02.jpg", border: 0, alt: 'camisa', :title => 'camisa', style: 'display:block'), catalog_url('roupa', parameters: 'camisa', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_camisa', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_03.jpg", border: 0, alt: 'cal&ccedil;a', :title => 'cal&ccedil;a', style: 'display:block'), catalog_url('roupa', parameters: 'calca', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_calca', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_04.jpg", border: 0, alt: 'blusa', :title => 'blusa', style: 'display:block'), catalog_url('roupa', parameters: 'blusa-camisa', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_blusacamisa', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_05.jpg", border: 0, alt: 'vestido', :title => 'vestido', style: 'display:block'), catalog_url('roupa', parameters: 'vestido', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_vestido', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_06.jpg", border: 0, alt: 'anabela', :title => 'anabela', style: 'display:block'), catalog_url('sapato', parameters: 'anabela', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_anabela', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_07.jpg", border: 0, alt: 'bota', :title => 'bota', style: 'display:block'), catalog_url('sapato', parameters: 'bota', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_bota', auth_token: @member ? @member.authentication_token : "")) %>
    </td>   
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_08.jpg", border: 0, alt: 'sapatilha', :title => 'sapatilha', style: 'display:block'), catalog_url('sapato', parameters: 'sapatilha', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_sapatilha', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_09.jpg", border: 0, alt: 'scarpin', :title => 'scarpins', style: 'display:block'), catalog_url('sapato', parameters: 'scarpin', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_scarpin', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_10.jpg", border: 0, alt: 'sneaker', :title => 'sneakers', style: 'display:block'), catalog_url('sapato', parameters: 'sneaker', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_sneaker', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_11.jpg", border: 0, alt: 'acessório', :title => 'acessórios', style: 'display:block'), catalog_url('acessorio', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_acessorio', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
    <td>
      <%= link_to(image_tag("http://cdn.olook.com.br/assets/emailmkt/base/footer2013/footerimgmail_12.jpg", border: 0, alt: 'bolsa', :title => 'bolsa', style: 'display:block'), catalog_url('bolsa', utm_source: 'email', utm_medium: 'email_regua', utm_campaign: 'welcome_program', utm_content: 'welcome1_lightbox_bannerfooter_bolsa', auth_token: @member ? @member.authentication_token : "")) %>
    </td>
  </tr>
</table>
