<ul>
  <li><%= link_to "Dados Pessoais", "#" %></li>
  <li><%= link_to "Endereços", "#" %></li>
  <li><%= link_to "Meus Pedidos", "#" %></li>
  <li><%= link_to "Meus Créditos", "#" %></li>
  <li><%= link_to "Minha Vitrine", "#" %></li>
</ul>
