<ul>
  <li><%= link_to "Dados Pessoais", "#", :class => is_current?("registrations", "edit") %></li>
  <li><%= link_to "Endereços", "#" %></li>
  <li><%= link_to "Meus Pedidos", "#" %></li>
  <li><%= link_to "Meus Créditos", "#" %></li>
  <li><%= link_to "Minha Vitrine", "#" %></li>
</ul>
