<h2>Braspag Capture Response</h2>
<div class="inner">
   <p>
    <b>ID:</b>
    <%= @response.id %>
  </p>

  <p>
    <b>Transaction:</b>
    <%= link_to @response.identification_code, admin_payment_path(@payment) if @payment %>
    <%= @response.identification_code unless @payment %>
  </p>

  <p>
    <b>Order:</b>
    <%= link_to @payment.order.try(:number), admin_order_path(@payment.order) if @payment.order %>
  </p>

  <p>
    <b>Amount:</b>
    <%= @response.amount %>
  </p>

  <p>
    <b>Authorization Code:</b>
    <%= @response.authorization_code %>
  </p>

  <p>
    <b>Braspag code:</b>
    <%= @response.braspag_transaction_id %>
  </p>

  <p>
    <b>Processed:</b>
    <%= @response.processed %>
  </p>

  <p>
    <b>Correlation id:</b>
    <%= @response.correlation_id%>
  </p>

  <p>
  	<b>Acquirer Transaction id:</b>
  	<%= @response.acquirer_transaction_id %>
  </p>

  <p>
  	<b>Status:</b>
  	<%= braspag_capture_status(@response.status) %>
  </p>

  <p>
  	<b>Success:</b>
  	<%= @response.success %>
  </p>

  <p>
  	<b>Return Message:</b>
  	<%= @response.return_message %>
  </p>

  <p>
  	<b>Returne Code:</b>
  	<%= @response.return_code %>
  </p>

  <p>
  	<b>Returne Message:</b>
  	<%= @response.return_message %>
  </p>

  <p>
    <b>Created at:</b>
    <%= l @response.created_at %>
  </p>

  <p>
    <b>Updated at:</b>
    <%= l @response.updated_at %>
  </p>

  <p>
  	<b>Error:</b>
  	<%= @response.error_message %>
  </p>

  <p>
    <% if @response.processed? %>
      <%= form_tag(change_to_not_processed_admin_braspag_capture_response_path(@response)) do -%>
        <%= submit_tag 'Reprocess' -%>
      <% end %>
    <% else %>
      <%= form_tag(change_to_processed_admin_braspag_capture_response_path(@response)) do -%>
        <%= submit_tag 'Mark as processed' -%>
      <% end %>
    <% end %>
  </p>

</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Back', admin_braspag_capture_responses_path %></li>
<% end %>
