<h2>Braspag Capture Response</h2>
<div class="inner">
   <p>
    <b>ID:</b>
    <%= @response.id %>
  </p>

  <p>
    <b>Transaction:</b>
    <%= link_to @response.order_id, admin_payment_path(@payment) if @payment %>
    <%= @response.order_id unless @payment %>
  </p>

  <p>
    <b>Order:</b>
    <%= link_to @payment.order.number, admin_order_path(@payment.order) if @payment && @payment.order %>
  </p>

  <p>
    <b>Amount:</b>
    <%= @response.amount %>
  </p>

  <p>
    <b>Authorization Code:</b>
    <%= @response.authorization_code %>
  </p>

  <p>
    <b>Braspag code:</b>
    <%= @response.braspag_transaction_id %>
  </p>

  <p>
    <b>Processed:</b>
    <%= @response.processed %>
  </p>

  <p>
    <b>Correlation id:</b>
    <%= @response.correlation_id%>
  </p>

  <p>
  	<b>Acquirer Transaction id:</b>
  	<%= @response.acquirer_transaction_id %>
  </p>

  <p>
  	<b>State:</b>
  	<%= @response.status %>
  </p>

  <p>
  	<b>Success:</b>
  	<%= @response.success %>
  </p>

  <p>
  	<b>Return Message:</b>
  	<%= @response.return_message %>
  </p>

  <p>
  	<b>Returne Code:</b>
  	<%= @response.return_code %>
  </p>

  <p>
  	<b>Returne Message:</b>
  	<%= @response.return_message %>
  </p>

  <p>
    <b>Created at:</b>
    <%= l @response.created_at %>
  </p>

  <p>
    <b>Updated at:</b>
    <%= l @response.updated_at %>
  </p>

  <p>
  	<b>Error:</b>
  	<%= @response.error_message %>
  </p>

</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Back', admin_braspag_authorize_responses_path %></li>
<% end %>
