<%= form_for([:admin, @image.lookbook, @image]) do |f| %>
  <% if @image.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
      <% @image.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
<% if @image.lookbook_image_maps.size > 0 %>
<style>
.product-map {z-index:1; position:relative; background-repeat:no-repeat; width:auto; display:inline-block; padding:5px 0px 5px 30px; height:auto; min-height:20px;}
.product-map {background-image:url(<%= @image.lookbook.icon_url %>);}
.product-map:hover {background-image:url(<%= @image.lookbook.icon_over.url %>);}
.product-map span {visibility:hidden; padding:5px; background-color:<%= @image.lookbook.bg_color %>;}
.product-map a {color:<%= @image.lookbook.fg_color %>;}
.product-map:hover span {visibility:visible;}

<% @image.lookbook_image_maps.each do |lim| %>
  #pm<%= lim.id %> {top:<%= lim.coord_y %>px; left:<%= lim.coord_x %>px;}
<% end %>
</style>
  <% @image.lookbook_image_maps.each do |lim| %>
    <div class="product-map" id="pm<%= lim.id %>"><span><%= link_to lim.product.name, product_path(lim.product.id) %></span></div>
  <% end %>
<% end %>
    <b>Current image:</b><br />
    <%= image_tag @image.image.to_s %>
  </p>

  <div class="field">
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </div>

<table class="table">
  <tr>
    <th>Product</th>
    <th>Coordinates</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
<% @image.lookbook_image_maps.each do |lim| %>
  <tr>
    <td><%= lim.product.name %></td>
    <td><%= lim.coord_x %>x<%= lim.coord_y %></td>
    <td></td>
    <td></td>
    <td></td>
  <tr>
<% end %>
</table>
  
<%= fields_for :lookbook_image_map do |lim| %>
  <%= lim.hidden_field :lookbook_id, value: @image.lookbook.id %>
  <%= lim.hidden_field :product_id %>
  <%= lim.hidden_field :image_id, value: @image.id %>
  <ul class="inline">
    <li>
      <%= lim.autocomplete_field :product_name, autocomplete_product_name_admin_lookbook_images_path, update_elements: {id: '#lookbook_image_map_product_id'}, extra_data: [:thumb_picture, :model_number] %>
    </li>
    <li>
      <%= lim.label :coord_x %>
      <%= lim.text_field :coord_x %>
    </li>
    <li>
      <%= lim.label :coord_y %>
      <%= lim.text_field :coord_y %>
    </li>
  </ul>
<% end %>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
