<% content_for :head do %>
  <%= javascript_include_tag "admin/lookbook_autocomplete" %>
  <style type="text/css">
    .product-map { background: url(<%= @image.lookbook.icon_url || "/assets/lookbooks/icon_map_default.png" %>) no-repeat; }
    .product-map:hover { background: url(<%= @image.lookbook.icon_over.url || "/assets/lookbooks/icon_map_default_hover.png" %>) no-repeat; }
    .product-map p a { background: <%= @image.lookbook.bg_color || "#000" %>; color: <%= @image.lookbook.fg_color || "#FFF" %>; }
  </style>
<% end %>

<h2>Picture</h2>
<div class="inner">
  <p><strong>Thumb:</strong></p>
  <div id="container_picture">
    <%= image_tag @image.image_url(:thumb).to_s, :class => "full_pic" %>
    <div class="product-map">
      <p><%= link_to "Esperança", "#" %></p>
    </div>
    <% @image.lookbook_image_maps.each do |lim| %>
      <div class="product-map" id="pm<%= lim.id %>" style="top:<%= lim.coord_y %>px; left:<%= lim.coord_x %>px;">
        <p><%= link_to lim.product.name, product_path(lim.product.id) %></p>
      </div>
    <% end %>
  </div>

  <%= form_for :lookbook_image_map, remote: true, html: {class: 'form'} do |lim| %>
    <%= lim.hidden_field :lookbook_id, value: @image.lookbook.id %>
    <%= lim.hidden_field :image_id, value: @image.id %>
    <%= lim.hidden_field :product_id %>
    <%= lim.hidden_field :coord_x, value: 0 %>
    <%= lim.hidden_field :coord_y, value: 0 %>
    <div class="ui-widget">
      <%= text_field_tag :q, '', id: 'product_name', class: 'ui-autocomplete-input', autocomplete: 'off', 'aria-autocomplete' => 'list', 'aria-haspopup' => true, role: 'textbox' %>
    </div>
    <div id="product_result"><img src="" width="50" height="50" /><span></span><%= lim.submit %></div>
  <% end %>

  <div class="ui-widget" style="margin-top:2em;">
    Result:
    <div id="log" style="height:200px; width:300px; overflow:auto;" class="ui-widget-content"></div>
  </div>

  <table class="table">
    <tr>
      <th>Product</th>
      <th>Left</th>
      <th>Top</th>
      <th></th>
      <th></th>
    </tr>
  <% @image.lookbook_image_maps.each do |lim| %>
    <tr>
      <td><%= lim.product.name %></td>
      <td>X:<%= lim.coord_x %></td>
      <td>Y:<%= lim.coord_y %></td>
      <td><a href="#">Edit</a></td>
      <td><a href="#">Delete</a></td>
    <tr>
  <% end %>
  </table>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_lookbook_image_path(@image.lookbook, @image) %></li>
  <li><%= link_to 'Back', admin_lookbook_path(@image.lookbook) %></li>
<% end %>
