<% content_for :head do %>
  <%= javascript_include_tag "admin/lookbook_autocomplete" %>
  <style type="text/css">
    .product-map { background: url(<%= @image.lookbook.icon_url || "/assets/lookbooks/icon_map_default.png" %>) no-repeat; }
    .product-map:hover { background: url(<%= @image.lookbook.icon_over.url || "/assets/lookbooks/icon_map_default_hover.png" %>) no-repeat; }
    .product-map p a { background: <%= @image.lookbook.bg_color || "#000" %>; color: <%= @image.lookbook.fg_color || "#FFF" %>; }
  </style>
<% end %>

<h2>Picture</h2>
<div class="inner">
  <p><strong>Thumb:</strong></p>
  <div id="container_picture">
    <%= image_tag @image.image_url(:thumb).to_s, :class => "full_pic" %>
    <%= render partial: @image.lookbook_image_maps %>
  </div>

  <%= form_for [:admin, @image.lookbook, @image, @lookbook_image_map], remote: true, html: {class: 'form'} do |f| %>
    <%= f.hidden_field :lookbook_id, value: @image.lookbook.id %>
    <%= f.hidden_field :image_id, value: @image.id %>
    <%= f.hidden_field :product_id %>
    <%= f.hidden_field :coord_x, value: 0 %>
    <%= f.hidden_field :coord_y, value: 0 %>
    <div class="ui-widget">
      <%= text_field_tag :q, '', id: 'product_name', class: 'ui-autocomplete-input', placeholder: 'Product name or model number', autocomplete: 'off', 'aria-autocomplete' => 'list', 'aria-haspopup' => true, role: 'textbox' %>
    </div>
    <div id="product_result"><img src="" width="50" height="50" />
      <span></span>
      <%= f.submit %>
    </div>
  <% end %>

  <div class="ui-widget" style="margin-top:2em;">
    Result:
    <div id="log" style="height:200px; width:300px; overflow:auto;" class="ui-widget-content"></div>
  </div>

  <table class="table">
    <tr>
      <th>ID</th>
      <th>Product</th>
      <th>Left</th>
      <th>Top</th>
      <th></th>
      <th></th>
    </tr>
  <% @image.lookbook_image_maps.each do |lim| %>
    <tr>
      <td><%= lim.id %></td>
      <td><%= lim.product.name %></td>
      <td>X:<%= lim.coord_x %></td>
      <td>Y:<%= lim.coord_y %></td>
      <td><%= link_to 'Destroy', admin_lookbook_image_lookbook_image_map_path(@image.lookbook, @image, lim.id), confirm: 'Are you sure?', method: :delete, remote: true, :class => 'button danger', class: 'delete-map' %></td>
    <tr>
  <% end %>
  </table>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_lookbook_image_path(@image.lookbook, @image) %></li>
  <li><%= link_to 'Back', admin_lookbook_path(@image.lookbook) %></li>
<% end %>
