- if search.has_any_filter_selected?
  %section.filters
    %p
      Você está em
      %span //
    %ul
      - search.selected_filters_for("subcategory").each do |sub|
        %li= %( #{ sub } #{ current_section_link_to(brand_path(params[:brand], SeoUrl.build_for('brand',search.filters_applied(:subcategory, sub))))}).html_safe

      - search.selected_filters_for("color").each do |col|
        %li= %( #{ col } #{ current_section_link_to(brand_path(params[:brand], SeoUrl.build_for('brand',search.filters_applied(:color, col))))}).html_safe

      - search.selected_filters_for("heel").each do |_hee|
        - hee = _hee.gsub('heeluint:', '')
        %li= %( #{ hee } cm #{ current_section_link_to(brand_path(params[:brand], SeoUrl.build_for('brand',search.filters_applied(:heel, hee.gsub('..', '-')))))}).html_safe

      - search.selected_filters_for("care").each do |car|
        %li= %( #{ car } #{ current_section_link_to(brand_path(params[:brand], SeoUrl.build_for('brand',search.filters_applied(:care, car))))}).html_safe

      - search.selected_filters_for("size").each do |size|
        %li= %( #{ format_size(size.chomp) } #{ current_section_link_to(brand_path(params[:brand], SeoUrl.build_for('brand',search.filters_applied(:size, size))))}).html_safe

      - search.selected_filters_for("brand").each do |brand|
        %li= %( #{ brand } #{ current_section_link_to(brand_path(params[:brand], SeoUrl.build_for('brand',search.filters_applied(:brand, brand))))}).html_safe

      %li.clean= link_to "Limpar tudo", brand_path(params[:brand])

