%section#side_bar_menu
  %dl
    %dt Marcas
    - filters_by('brand_facet', search, use_fields: []).each do |text, amount|
      %dd= link_to(text.chomp.gsub('Ç', 'ç').downcase.titleize, brand_path(text.parameterize), class: search.filter_selected?(:brand, text.chomp) ? "selected" : "")
  .show_more
    %p.title
      OUTRAS CATEGORIAS
    %li
    = link_to "Roupas femininas", catalog_path(category: "roupa"), class: "categories"
    %li
    = link_to "Sapatos femininos", catalog_path(category: "sapato"), class: "categories"
    %li
    = link_to "Acessórios femininos", catalog_path(category: "acessorio"), class: "categories"
    %li
    = link_to "Bolsas femininas", catalog_path(category: "bolsa"), class: "categories"
