- content_for :head do
  = stylesheet_link_tag "new_structure/section/brands"


- content_for :footer do
  = javascript_include_tag 'section/brands'
= render "shared/mkt_breadcrumb"
= first_level_breadcrumb("Marcas")

%section.brands
  -@brands.each_with_index do |brands,index|
    .box
      - brands.each do |b|
        %p.letter
          =b[0]
        %ul.brands-list
          -b[1].each do |brand_name|
            %li= filter_link_to(@url_builder.add_filter(:brand, brand_name.capitalize), brand_name.capitalize)
