- content_for :head do
  = stylesheet_link_tag "new_structure/section/brands"


- content_for :footer do
  = javascript_include_tag 'section/brands'
  
%section.banner-brands
  %button.anterior{type: "button"} Imagem Anterior
  
  .container-imgs
    %ul
      %li
        =image_tag "brands/marca1.jpg"
      %li
        =image_tag "brands/marca2.jpg"  
  
  %button.proximo{type: "button"} Próxima Imagem 

%section.brands
  .box
    %p.letter B
    %ul.brands-list
      %li= link_to("Botswana", brand_path("Botswana"))

    %p.letter C
    %ul.brands-list
      %li= link_to("Coca Cola", brand_path("Coca Cola"))
      %li= link_to("Colcci", brand_path("Colcci"))
      
    %p.letter D
    %ul.brands-list
      %li= link_to("Douglas Harris", brand_path("Douglas Harris"))

  .box
    %p.letter E
    %ul.brands-list
      %li= link_to("Eclectic", brand_path("Eclectic"))
      %li= link_to("Espaço Fashion", brand_path("Espaço Fashion"))

    %p.letter F
    %ul.brands-list
      %li= link_to("Forum", brand_path("Forum"))
      
    %p.letter I
    %ul.brands-list
      %li= link_to("Iódice", brand_path("Iodice"))

  .box
    %p.letter J
    %ul.brands-list
      %li= link_to("Juliana Jabour", brand_path("Juliana Jabour"))
      %li= link_to("Juliana Manzini", brand_path("Juliana Manzini"))

    %p.letter M
    %ul.brands-list
      %li= link_to("M. Officer", brand_path("M Officer"))
      %li= link_to("Mandi", brand_path("Mandi"))
      %li= link_to("Mercatto", brand_path("Mercatto"))
      
    %p.letter O
    %ul.brands-list
      %li= link_to("Olli", brand_path("Olli"))
      %li= link_to("Olook", brand_path("Olook"))
      %li= link_to("Olook Concept", brand_path("Olook Concept"))
      %li= link_to("Olook Essentials", brand_path("Olook Essentials"))
      
  .box
    %p.letter S
    %ul.brands-list
      %li= link_to("Shop 126", brand_path("Shop 126"))

    %p.letter T
    %ul.brands-list
      %li= link_to("Thelure", brand_path("Thelure"))
      %li= link_to("Triton", brand_path("Triton"))
      