- content_for :head do
  = stylesheet_link_tag "new_structure/section/brands"


- content_for :footer do
  = javascript_include_tag 'section/brands'

%section.banner-brands
  %button.anterior{type: "button"} Imagem Anterior

  .container-imgs
    %ul
      %li
        =link_to image_tag("brands/cantao.jpg"), brand_path("cantao")
      %li
        =link_to image_tag("brands/lezalez.jpg"), brand_path("lez a lez")
      %li
        =link_to image_tag("brands/forum.jpg"), brand_path("forum")


  %button.proximo{type: "button"} Próxima Imagem

%section.brands
  .box
    %p.letter 0-9
    %ul.brands-list
      %li= link_to("284", brand_path("284"))

    %p.letter A
    %ul.brands-list
      %li= link_to("Afghan", brand_path("Afghan"))
      %li= link_to("Água Doce", brand_path("agua doce"))

    %p.letter B
    %ul.brands-list
      %li= link_to("Blue Man", brand_path("Blue%20Man"))
      %li= link_to("Botswana", brand_path("botswana"))

    %p.letter C
    %ul.brands-list
      %li= link_to("Carina Duek", brand_path("carina duek"))
      %li= link_to("Canal", brand_path("Canal"))
      %li= link_to("Cantão", brand_path("cantao"))
      %li= link_to("Coca Cola", brand_path("coca cola clothing"))
      %li= link_to("Colcci", brand_path("colcci"))

  .box
    %p.letter D
    %ul.brands-list
      %li= link_to("Douglas Harris", brand_path("douglas harris"))

    %p.letter E
    %ul.brands-list
      %li= link_to("Eclectic", brand_path("eclectic"))
      %li= link_to("Ellus 2 Nd Floor", brand_path("Ellus 2 Nd Floor"))
      %li= link_to("Espaço Fashion", brand_path("espaco fashion"))

    %p.letter F
    %ul.brands-list
      %li= link_to("Folic", brand_path("Folic"))
      %li= link_to("Forum", brand_path("forum"))

    %p.letter I
    %ul.brands-list
      %li= link_to("Iódice Denim", brand_path("Iodice%20Denim"))
    
  .box
    %p.letter J
    %ul.brands-list
      %li= link_to("Juliana Jabour", brand_path("juliana jabour"))
      %li= link_to("Juliana Manzini", brand_path("juliana manzini/acessório"))

    %p.letter L
    %ul.brands-list
      %li= link_to("Lança Perfume", brand_path("lanca perfume"))
      %li= link_to("Leeloo", brand_path("leeloo"))
      %li= link_to("Lez a Lez", brand_path("lez a lez"))
    
    %p.letter M
    %ul.brands-list
      %li= link_to("M. Officer", brand_path("m officer"))
      %li= link_to("Mandi", brand_path("mandi"))
      %li= link_to("Mercatto", brand_path("mercatto"))

    %p.letter O
    %ul.brands-list
      %li= link_to("Olli", brand_path("olli"))
      %li= link_to("Olook", brand_path("olook"))
      %li= link_to("Olook Concept", brand_path("olook concept/sapato"))
      %li= link_to("Olook Essential", brand_path("olook essential/sapato"))

  .box
    %p.letter R
    %ul.brands-list
      %li= link_to("Redley", brand_path("redley"))
    
    %p.letter S
    %ul.brands-list
      %li= link_to("Shop 126", brand_path("shop 126"))
      %li= link_to("Shoulder", brand_path("shoulder"))
      %li= link_to("Sommer", brand_path("sommer"))
      

    %p.letter T
    %ul.brands-list
      %li= link_to("Tan Tan", brand_path("tan tan"))
      %li= link_to("Thelure", brand_path("thelure"))
      %li= link_to("Totem", brand_path("totem"))
      %li= link_to("Triton", brand_path("triton"))
      %li= link_to("Tvz", brand_path("Tvz"))
