- content_for :head do
  = stylesheet_link_tag "new_structure/section/lite_catalog"
  = stylesheet_link_tag "new_structure/section/brands"

  %meta{:content => @glasses ? "#{@glasses}" : "home/#{@search.filter_value("category").first}", :name => "chaordic:source"}/
  %meta{:content => @chaordic_user, :name => "chaordic:user"}/
  %meta{:content => @glasses ? "#{@glasses}" : @search.filter_value("category").first, :name => "chaordic:category"}/

- content_for :data_layer do
  =# render "shared/metrics/sociomantic/category"

- content_for :footer do
  :javascript
    start_position = #{@search.range_values_for(:price)[:min] rescue 0};
    final_position = #{@search.range_values_for(:price)[:max] rescue 600};
  = javascript_include_tag 'section/lite_catalog'
  = javascript_include_tag 'section/brands'


#catalog
  %aside
    = render "filters", search: @search, filters: @side_filters

  #result
    - unless @search.has_any_filter_selected?
      / local onde o viewpersonalized será exibido
      .chaordic.viewpersonalized
      / local onde o purchasepersonalized será exibido
      .chaordic.purchasepersonalized
      / local onde o mostpopular será exibido
      .chaordic.mostpopular
    
    - if @brand.present? && @brand.header_image.present?
      %div.collections_header
        = image_tag(@brand.header_image, alt: @brand.header_image_alt, title: @brand.header_image_alt) if @brand

    = render "ordenation_filters", search: @search

    %section.container_product
      %ul#products
        = render "searched_products", :products => @catalog_products
      .loading

    .pagination
      = render partial: "/shared/nav_bar_pagination", locals: { search: @search, link: brand_path, other_parameters: "por=#{ params[:por]}" }

