<ul>
  <% @profiles.each do |profile| %>
    <li class="<%= profile %>">
      <%= link_to "#" do %>
        <h1 class="<%= profile %>"><%= profile == "chic" ? "elegante" : profile  %></h1>
        <%= image_tag "gift/profile-#{profile}.png", :id => profile %>
      <% end %>
    </li>
  <% end %>
</ul>
