<div class="social">
  <ul>
    <li class="facebook"><%= link_to "#", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","#{params[:controller].split("/").join("_").camelize}ShareFacebook") do %>Postar no meu mural<% end %></li>
    <li class="twitter"><%= link_to "Tweetar", "https://twitter.com/intent/tweet?text=Cadastre-se na olook pelo meu convite, descubra o seu estilo e ainda ganhe R$10! #{accept_invitation_url(:invite_token => user.invite_token)}&hashtags=ficaadica", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","#{params[:controller].split("/").join("_").camelize}ShareTwitter") %></li>
    <li class="email"><%= link_to "#" do %>Enviar por email<% end %></li>
  </ul>
  <%= form_tag member_invite_by_email_path do %>
    <p>Digite o email de suas amigas separados por vírgula no campo abaixo:</p>
    <%= text_area_tag :invite_mail_list %>
    <%= submit_tag "", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","#{params[:controller].split("/").join("_").camelize}ShareEmail") %>
  <% end %>
</div>
<div class="link_mail">
  <p class="txt-copie">Copie o link abaixo e envie por email, MSN ou GTalk:</p>
  <div class="box_copy">
    <p><strong>Link copiado</strong></p>
    <p>Aperte CTRL + V para colar.</p>
  </div>
  <ul>
    <li>
      <%= text_field_tag "link", accept_invitation_url(:invite_token => user.invite_token), :readonly => "readonly", class: 'js-invitationLink' %>
      <%= link_to "Copiar link", "javascript:void(0);", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","#{params[:controller].split("/").join("_").camelize}ShareLink"), class: 'js-copyButton' %>
    </li>
  </ul>
</div>

<%= javascript_include_tag "jquery" %>
<script type="text/javascript">
$(function() {
    $(".js-copyButton").zclip({
    path: "/assets/ZeroClipboard.swf",
    copy: function() { return $(".js-invitationLink").val(); },
    afterCopy: function(){
      $(".box_copy").fadeIn().delay(2000).fadeOut();
    }
  });
})
</script>