<br />

<h3><%= credit_type %></h3>

<table class="table">
  <tr>
    <th>Order</th>
    <th>Reason</th>
    <th>Value</th>
    <th>Admin</th>
    <th>Activates at</th>
    <th>Expires at</th>
    <th>Created at</th>
  </tr>
<% credits.each do |credit| %>
  <tr>
    <td><%= link_to credit.order.number, admin_order_path(credit.order) if credit.order %></td>
    <td><%= credit.reason %></td>
    <%= credit.is_debit ? "<td style='color:red'>-#{number_to_currency(credit.value)}</td>".html_safe : 
    "<td style='color:green'>#{number_to_currency(credit.value)}</td>".html_safe %>
    <td><%= Admin.find_by_id(credit.admin_id).try(:name) %></td>
    <td><%= credit.activates_at.try{|date| date.to_s(:short)} %></td>
    <td><%= credit.expires_at.try{|date| date.to_s(:short) } %></td>
    <td><%= credit.created_at.to_s(:short) %></td>
  </tr>
<% end %>
<tr>
  <td>Total</td>
  <td></td>
  <td><%= number_to_currency(credits.empty? ? 0 : credits.first.user_credit.try(:total)) %></td>
</tr>
</table>