<h2>Orders</h2>
<table class="table">
  <tr>
    <th>Number</th>
    <th>Date</th>
    <th>Status</th>
    <th>Payment Method</th>
    <th>Item count</th>
    <th>Products Total</th>
    <th>Freight Price</th>
    <th>Total</th>
    <th>Installments</th>
  </tr>

<% user.orders.order('created_at DESC').each do |order| %>
  <tr>
    <td><%= link_to order.number, admin_order_path(order) %></td>
    <td><%= l order.created_at, :format => :short %></td>
    <td><%= order.status  %></td>
    <td><%= order.payment ? order.payment.human_to_s : "Pagamento nao encontrado" %></td>
    <td><%= order.line_items.count %></td>
    <td><%= number_to_currency(order.subtotal) %></td>
    <td><%= number_to_currency(order.freight_price) %></td>
    <td><%= number_to_currency(order.amount_paid) %></td>
    <td><%= order.installments %>x</td>
  </tr>
<% end %>
</table>
