<h2>Ordens</h2>
<table class="table">
  <tr>
    <th>Número</th>
    <th>Data</th>
    <th>Status</th>
    <th>Método de pagamento</th>
    <th>Quantidade de itens</th>
    <th>Total de produtos</th>
    <th>Preço de frete</th>
    <th>Total</th>
    <th>Parcelas</th>
  </tr>

<% user.orders.order('created_at DESC').each do |order| %>
  <tr>
    <td><%= link_to order.number, admin_order_path(order) %></td>
    <td><%= l order.created_at, :format => :short %></td>
    <td><%= order.status  %></td>
    <td><%= order.erp_payment ? order.erp_payment.human_to_s : "Pagamento nao encontrado" %></td>
    <td><%= order.items_quantity %></td>
    <td><%= number_to_currency(order.subtotal) %></td>
    <td><%= number_to_currency(order.freight_price) %></td>
    <td><%= number_to_currency(order.amount_paid) %></td>
    <td><%= order.installments %>x</td>
  </tr>
<% end %>
</table>
