<h2>Listing users</h2>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Statistics', statistics_admin_users_path %></li>
  <li><%= link_to 'Export', export_admin_users_path %></li>
<% end %>

<% content_for :sidebar do %>
  <div class="block">
    <h3>Filters</h3>

    <div class="content">
      <%= form_for([:admin, @search], :html => {:class => "form"}) do |f| %>
        <div class="group">
          <%= f.label :first_name_contains, :class => "label" %>
          <%= f.text_field :first_name_contains, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :last_name_contains, :class => "label" %>
          <%= f.text_field :last_name_contains, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :email_contains, :class => "label" %>
          <%= f.text_field :email_contains, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :created_at_gte, "Created at from", :class => "label"  %>
          <%= f.date_select :created_at_gte, :include_blank => true %>
          <%= f.label :created_at_lte, "to", :class => "label" %>
          <%= f.date_select :created_at_lte, :include_blank => true %>
        </div>

        <div class="group">
          <%= f.submit 'Search', :class => "button" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="inner">
  <table class="table">
    <tr>
      <th><%= sort_link @search, :first_name %></th>
      <th><%= sort_link @search, :last_name %></th>
      <th><%= sort_link @search, :email %></th>
      <th>CPF</th>
      <th>Invited ?</th>
      <th><%= sort_link @search, :created_at %></th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.cpf %></td>
      <td><%= user.is_invited? ? 'Yes' : 'No' %></td>
      <td><%= user.created_at.to_s(:short) %></td>
      <td><%= link_to 'Show', admin_user_path(user) %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    </tr>
  <% end %>
  </table>

  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @users %>
    </div>
  </div>
</div>
