<h2>Listing users</h2>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Statistics', statistics_admin_users_path %></li>
<% end %>

<div class="inner">
  <%= form_tag '', :method => 'get', :class => 'form' do  %>
    <div class="group">
      <%= label_tag 'Pesquisa' %>
      <%= text_field_tag 'search', params[:search] %>
      <%= submit_tag 'Pesquisar' %>
    </div>
  <% end %>

  <table class="table">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>E-mail</th>
      <th>CPF</th>
      <th>Invited ?</th>
      <th>Created At</th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.cpf %></td>
      <td><%= user.is_invited? ? 'Yes' : 'No' %></td>
      <td><%= user.created_at.to_s(:short) %></td>
      <td><%= link_to 'Show', admin_user_path(user) %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
    </tr>
  <% end %>
  </table>

  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @users %>
    </div>
  </div>
</div>
