<h2>Listando Usuários</h2>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Statistics', statistics_admin_users_path %></li>
  <li><%= link_to 'Export', export_admin_users_path %></li>
<% end %>

<% content_for :sidebar do %>
  <div class="block">
    <h3>Filtros</h3>

    <div class="content">
      <%= form_for([:admin, @search], :html => {:class => "form"}) do |f| %>
        <div class="group">
          <%= f.label :first_name_contains, "Primeiro nome", :class => "label" %>
          <%= f.text_field :first_name_contains, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :last_name_contains, "Sobrenome", :class => "label" %>
          <%= f.text_field :last_name_contains, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :email_contains, "Emails", :class => "label" %>
          <%= f.text_field :email_contains, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :custom_cpf_finder, "Cpf", :class => "label" %>
          <%= f.text_field :custom_cpf_finder, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :reseller_equals, "Perfil", :class => "label" %>
          <%= f.select :reseller_equals, [["Todos", ""],['Cliente', false], ['Revendedor', true]]%>
        </div>
        <div class="group">
          <%= f.label :created_at_gte, "Criado em", :class => "label"  %>
          <%= f.date_select :created_at_gte, :include_blank => true %>
          <%= f.label :created_at_lte, "até", :class => "label" %>
          <%= f.date_select :created_at_lte, :include_blank => true %>
        </div>

        <div class="group">
          <%= f.submit 'Procurar', :class => "button" %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<div class="inner">
  <table class="table">
    <tr>
      <th>id</th>
      <th><%= sort_link @search, :first_name %></th>
      <th><%= sort_link @search, :last_name %></th>
      <th><%= sort_link @search, :email %></th>
      <th>CPF</th>
      <th>Convidado ?</th>
      <th>Créditos</th>
      <th><%= sort_link @search, :created_at %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.id, admin_user_path(user) %></td>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= user.cpf %></td>
      <td><%= user.is_invited? ? 'Yes' : 'No' %></td>
      <td><%= user.current_credit %>
      <td><%= user.created_at.to_s(:short) %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user), :class => 'button' %></td>
      <td><%= link_to 'Login', "/admin/users/login/#{user.id}", :class => 'button warn' %></td>
    </tr>
  <% end %>
  </table>

  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @users %>
    </div>
  </div>
</div>
