<h2>User</h2>
<div class="inner">
  <p>
    <b>First Name:</b>
    <%= @user.first_name %>
  </p>
  <p>
    <b>Last Name:</b>
    <%= @user.last_name %>
  </p>
  <p>
    <b>E-mail:</b>
    <%= @user.email %>
  </p>
  <p>
    <b>CPF:</b>
    <%= @user.cpf %>
  </p>
  <p>
    <b>Invite?</b>
    <%= @user.is_invited? ? 'Yes' : 'No' %>
  </p>
  <p>
    <b>Created At:</b>
    <%= @user.created_at %>
  </p>
  <% if @survey_answers.any? %>
    <h2>Answers</h2>
    <table class="table">
      <tr>
        <th>Question</th>
        <th>Answer</th>
      </tr>

    <% @survey_answers.each do |survey_answer| %>
      <tr>
        <td><%= survey_answer[:question].title %></td>
        <td><%= survey_answer[:answer].title %></td>
      </tr>
    <% end %>
    </table>

    <h2>Profiles</h2>
    <table class="table">
      <tr>
        <th>Profile</th>
        <th>Points</th>
      </tr>

    <% @user.profile_scores.each do |profile_score| %>
      <tr>
        <td><%= profile_score.profile_name %></td>
        <td><%= profile_score.value %></td>
      </tr>
    <% end %>
    </table>
  <% end %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_user_path(@user) %></li>
  <li><%= link_to 'Back', admin_users_path %></li>
<% end %>
