<h2>User</h2>
<div class="inner">
  <p>
    <button style="padding:5px">
      <b><%= link_to 'Login', "/admin/users/login/#{@user.id}" %><b>
    </button>
  </p>
  <p>
    <b>First Name:</b>
    <%= @user.first_name %>
  </p>
  <p>
    <b>Last Name:</b>
    <%= @user.last_name %>
  </p>
  <p>
    <b>E-mail:</b>
    <%= @user.email %>
  </p>
  <p>
    <b>CPF:</b>
    <%= @user.cpf %>
  </p>
  <p>
    <b>Invite?</b>
    <%= @user.is_invited? ? 'Yes' : 'No' %>
  </p>
  <p>
    <b>Created At:</b>
    <%= @user.created_at %>
  </p>
  <p>
    <b>Current credits:</b>
    <%= number_to_currency @user.current_credit %>
  </p>
  <p>
    <b>Locked At</b>
    <%=@user.locked_at %>
    <% if @user.access_locked? %>
      <%= link_to 'Unlock Access', "/admin/users/unlock_access/#{@user.id}" %>
      <%  else  %>
      <%= link_to 'Lock Access', "/admin/users/lock_access/#{@user.id}" %>
    <% end %>
  </p>
  <p>
    <button style="padding:5px">
      <%= link_to 'Destroy', admin_user_path(@user), confirm: 'Are you sure?', method: :delete %>
    </button>
  </p>
  <%= render partial: 'show_orders', locals: { user: @user }  %>
  <%= render partial: 'show_invites', locals: { user: @user }  %>
  <%= render partial: 'show_survey', locals: { survey_answers: @survey_answers, user: @user }  %>
  <%= render partial: 'show_events', locals: { user: @user }  %>

</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Edit', edit_admin_user_path(@user) %></li>
  <li><%= link_to 'Back', admin_users_path %></li>
<% end %>
