<h2>User</h2>
<div class="inner">

  <p><%= link_to 'Logar', "/admin/users/login/#{@user.id}" %></p>
  <p><%= link_to 'Apagar', admin_user_path(@user), confirm: 'Tem certeza?', method: :delete %></p>

  <p>
    <b>Primeiro Nome:</b>
    <%= @user.first_name %>
  </p>
  <p>
    <b>Último Nome:</b>
    <%= @user.last_name %>
  </p>
  <p>
    <b>E-mail:</b>
    <%= @user.email %>
  </p>
  <p>
    <b>CPF:</b>
    <%= @user.cpf %>
  </p>
  <p>
    <b>Perfil:</b>
    <%= @user.reseller? ? "Revendedor" : 'Não revendedor' %>
  </p>
  <p>
    <b>Convidado?</b>
    <%= @user.is_invited? ? 'Sim' : 'Não' %>
  </p>
  <p>
    <b>Criado em:</b>
      <%= @user.created_at %>
  </p>
  <p>
    <b>Créditos atuais:</b>
    <%= number_to_currency @user.current_credit %>
  </p>
  <p>
    <b>Bloqueado?</b>
    <%= @user.has_fraud ? 'Sim' : 'Não' %>
    <% if @user.has_fraud? %>
      <%= link_to 'Desbloquear Acesso', "/admin/users/unlock_access/#{@user.id}" %>
    <%  else  %>
      <%= link_to 'Bloquear Acesso', "/admin/users/lock_access/#{@user.id}" %>
    <% end %>
  </p>

  <p>
    <p><b>Endereços:</b></p>
    <% @user.addresses.each do |address| %>
      <p><%= address.street %> <%= address.number %> <%= address.complement if address.complement %><br/>
      <%= address.neighborhood %> <%= address.zip_code %> <br/>
      <%= address.city %> <%= address.state %><br/>
      <%= address.country %></p>
    <% end %>
  </p>

  <p><b>Telefones:</b></p>
  <% @user.addresses.each do |address| %>
    <p><%= address.telephone if address.telephone %><br>
      <%= address.mobile if address.mobile %></p>
  <% end %>

  <%= render partial: 'show_orders', locals: { user: @user }  %>
  <%= render partial: 'show_credits', locals: { user: @user,
                                                redeem_credits: @redeem_credits,
                                                loyalty_program_credits: @loyalty_program_credits,
                                                invite_credits: @invite_credits
                                              }
  %>
  <%= render partial: 'show_invites', locals: { user: @user }  %>
  <%= render partial: 'show_survey', locals: { survey_answers: @survey_answers, user: @user } if @survey_answers  %>
  <%= render partial: 'show_payments', locals: { user: @user }  %>
  <%= render partial: 'show_events', locals: { user: @user }  %>
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Editar', edit_admin_user_path(@user) %></li>
  <li><%= link_to 'Voltar', admin_users_path %></li>
<% end %>
