<h2>Carosel</h2>
<div class="inner">
  <p id="notice"><%= notice %></p>

  <%= render 'form' %>

  <p>
    <b>Images:</b><br /><br />
    <% @liquidation_carousels.each do |carousel| %>
      <div class="admin_carousel_image" >
        <div class="destroy_carousel_image" >
          <%= link_to "x",
         admin_liquidation_carousel_path(@liquidation.id, carousel.id),
         :method => :delete, :confirm => "Are you sure you want to remove this image from this liquidation?"
          %>
          <%= link_to "edit",
         edit_admin_liquidation_carousel_path(@liquidation.id, carousel.id) %>
        </div>
        <%= image_tag carousel.image_url(:thumb).to_s %>
      </div>
    <% end %>
  </p>
  <%= link_to 'Back', admin_liquidations_path %>
</div>
