#error_anchor
#register_content
  .register_form
    %h2
      cadastre-se e seja uma revendedora olook
    = form_for(@wholesale, url: wholesale_create_path(anchor: 'register_content') ) do |f|
      %ul.formulario
        %fieldset
          %fieldset
          %li.first_name.field.left_boxes.small_box
            = f.label :first_name
            = f.text_field :first_name
          %li.last_name.field.small_box
            = f.label :last_name
            = f.text_field :last_name
        %fieldset
          %li.email.field
            = f.label :email
            = f.text_field :email
        %fieldset
          %li.password.field.left_boxes.small_box
            = f.label :password, "Senha #{content_tag("span", '(min. 6 caracteres)', class: 'hint')}".html_safe
            = f.password_field :password
          %li.password_confirmation.field.small_box
            = f.label :password_confirmation, "Confirmar senha"
            = f.password_field :password_confirmation
        %fieldset
          %li.gender.field.small_box.left_boxes
            = f.label :gender, "Você é:", style: ''
            %span{ class: "custom_select"}
              = f.select :gender, options_for_select({'Selecione' => "", 'Mulher' => 0, 'Homem' => 1 },selected_key = 0)
          %li.date.field.small_box
            = f.label :birthday, "Data de Nascimento"
            = f.text_field :birthday
      = f.fields_for :addresses_attributes do |address|
        %fieldset
          %li.zip_code.field.small_box.left_boxes
            = address.label :zip_code, "CEP"
            = address.text_field :zip_code
          %li.date.field.phone
            = address.label :telephone, "Telefone"
            = address.text_field :telephone
        %fieldset
          %li.street.field.left_boxes.small_box
            = address.label :street, "Rua, Avenia, Praça etc"
            = address.text_field :street
          %li.number.field
            = address.label :number, "Número"
            = address.text_field :number
        %fieldset
          %li.complement.field.left_boxes
            = address.label :complement, "Complemento"
            = address.text_field :complement
          %li.neighborhood.field
            = address.label :neighborhood, "Bairro"
            = address.text_field :neighborhood
        %fieldset.addresses
          %li.state.field.small_box.left_boxes
            = address.label :state, "UF"
            = address.select :state, []
          %li.city.field.small_box
            = address.label :city, "Cidade"
            = address.select :city, []
          %li.terms
            %p
              Ao concluir o cadastro você aceita os #{link_to 'termos de uso', terms_path, :target => "_blank"}
              %br
                e a nossa #{link_to "política de privacidade", privacy_path}
          %li.buttons
            = f.submit "Cadastrar", :id => "register"