<% content_for :head do %>
  <%= stylesheet_link_tag "section/survey" %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift/survey" %>
<% end %>

<% content_for :full do %>
  <div class="full_bg">
    <div class="content" id="quiz">
      <span id="next_link"></span>
      <div id="asynch-load"></div>
      <div id="survey">
        <%= form_tag({:controller => "gift/survey", :action => "create"}) do %>
          <input type="hidden" id="id_first_question" value="<%= @presenter.id_first_question %>" />

          <ul class="questions">
            <% @presenter.common_questions.each_with_index do |question,question_number| %>
              <li id="question_<%= question.id %>" class="images">
                <div class="jcarousel-prev jcarousel-prev-horizontal"></div>
                <h2><%= question_title_for_recipient(question.title, @gift_recipient.relation_name) %></h2>
                <ol class="options">
                  <%= render "answers_radio_button", :question => question, :question_number => (question_number+1) %>
                </ol>
              </li>
            <% end %>
            <li class="button">
              <%= submit_tag("", :id => "finish")   %>
            </li>
          </ul>

        <% end %>
      </div>
    </div>
  </div>
<% end %>
