<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
  <div bgcolor="#ffffff" style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:14px">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
  <tr>
    <td align="center" height="5"></td>
  </tr>
  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <a href="http://www.olook.com.br/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=lookbook_navy_fevereiro&amp;utm_content=compradoras_topo_logo&amp;auth_token=<%= @order.user.authentication_token %>" target="_blank">
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_01.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
          </td>
          <td>
            <a href="http://statigr.am/olook" target="_blank">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_02.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
          </td>
          <td>
            <a href="https://twitter.com/olook" target="_blank">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_03.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
          </td>
          <td>
            <a href="http://www.facebook.com/olook" target="_blank">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_04.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
          </td>
          <td>
            <a href="http://www.olook.com.br/stylist-news" target="_blank">             
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/revista1.png" alt="Stylist News" border="0" title="Blog" style="display:block"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
<tr>
  <td>
    <table>
      <tr>
        <td style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:14px;width:620px;text-align:left">


            <p style="font-size:16px"><br>Olá <%= @order.user.first_name %>,</p>

            <p>Seu pedido nº <b><span style="color:#e82e3a"><%= @order.number %></span></b> foi entregue!<br><br>

Esperamos que você tenha gostado :) <br><br>

Agora é aproveitar e arrasar no look! Tire uma foto usando a sua comprinha, poste nas redes sociais e marque a Olook ;) Vamos adorar!<br><br>

Não serviu ou não gostou? Pode solicitar a troca ou devolução do seu dinheiro em até 30 dias, sem custo. Fale com a gente: <a href="mailto:falecom@olook.com.br" style="color:#e82e3a" target="_blank">falecom@olook.com.br</a>.<br>

<p style="text-align:center">Que tal compartilhar a Olook com as amigas?<p style="text-align:center">Convide suas amigas e <b>ganhe R$ 20</b> em cada primeira compra delas!</p><br>

<center><a href="http://www.olook.com.br/membro/convite?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t_pedidoentregue_botaoconvidaramigas&auth_token=<%= @order.user.authentication_token %>" style="text-decoration:none"><input name="botao" type="button" value="CONVIDAR AGORA" style="color:white;font-size:17px;background:#e82e3a;width:220px;height:50px;border:none"></a></center>
<br><br>      

Até mais ;)<br>
Equipe Olook<br>

<a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t_pedidoentregue_urlassinatura" style="color:#e82e3a">www.olook.com.br</a>
      

      <tr><td><hr color="#eeeeee" border="0"></td></tr>





    </p></p></td></tr></table>
  </td>
</tr>

  <tr>
    <td><br>
      <center><a href="http://www.olook.com.br/catalogo/sapato?cmp=liquida_sapato&utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_contentbanner_liquida_sapato&auth_token=<%= @order.user.authentication_token %>" style="text-decoration:none"><img src="https://s3.amazonaws.com/cdn.olook.com.br/assets/emailmkt/order_emails/banner_emailtransacional_sapatos.jpg" alt="Liquida de inverno Olook. Até 70% off. Aproveite!" border="0" style="display:block"></a></center>        
  </td></tr>

  <tr>
    <td><br>
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block"></center>        
  </td></tr>
       


  </table>
  </div>
</body></html>