<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"><html><head><META http-equiv="Content-Type" content="text/html; charset=utf-8"></head><body>
  
  
  
      
  <div bgcolor="#ffffff" style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:14px">
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">

  






    




  <tr>
    <td align="center" height="5"></td>
  </tr>


  <tr>
    <td>
      <table cellpadding="0" cellspacing="0" width="100%">
        <tr>
          <td>
            <a href="http://www.olook.com.br/?utm_source=olook&amp;utm_medium=email&amp;utm_campaign=transacional&amp;utm_content=new_t1_pedido_recebido_topo_logo&amp;auth_token=<%= @order.user.authentication_token %>" target="_blank">
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_01.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block"></a>
          </td>
          <td>
            <a href="http://statigr.am/olook" target="_blank">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_02.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
          </td>
          <td>
            <a href="https://twitter.com/olook" target="_blank">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_03.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
          </td>
          <td>
            <a href="http://www.facebook.com/olook" target="_blank">                
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/menu_04.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
          </td>
          <td>
            <a href="http://www.olook.com.br/stylist-news" target="_blank">             
            <img src="http://cdn.olook.com.br/assets/emailmkt/topo/topo2013/revista1.png" alt="Stylist News" border="0" title="Blog" style="display:block"></a>
          </td>
        </tr>
      </table>
    </td>
  </tr>





    

<tr>
  <td>
    <table>
      <tr>
        <td style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:14px;width:620px;text-align:left">


            <p style="font-size:16px"><br>Olá <%= @order.user.first_name %>,</p>

            <p>Obrigada por comprar na olook!<br>
            Recebemos seu pedido de compra nº <span style="color:#e82e3a"><%= @order.number %></span>. Confira abaixo:</p>


          <p style="font-size:13px;text-transform:uppercase;font-weight:bold"><br>Detalhes do pedido:

              <hr color="#eeeeee" border="0"></p>

          <% @order.line_items.each do |item| %>
            <% unless item.is_freebie %>

      <tr>
        <td>
          <table style="font-family:Verdana,Helvetica,Arial,sans-serif">
            <tr>
                  <td width="500" style="font-size:13px"><%= item.variant.product.formatted_name %></td>
                  <td width="100" align="right"><%= number_to_currency item.retail_price %></td>  
            </tr>
          </table>
        </td>
      </tr>

            <% end %>
          <% end %>

      <tr>
        <td>
          <table style="font-family:Verdana,Helvetica,Arial,sans-serif">

             <td><hr color="#eeeeee" border="0">


            <tr>
                  <td align="right" width="450" style="font-size:13px">
                    Desconto cupom<br>
                    Frete<br>
                    Embalagem presente<br>
                    <span style="color:#e82e3a;font-size:14px;font-weight:bold;text-transform:uppercase">total</span>
                  </td>
                  <td width="150" align="right" style="font-size:13px">
                    <%= "-" if @order.amount_discount > 0 %> <%= number_to_currency @order.amount_discount %><br>
                    <%= number_to_currency @order.freight_price %><br>
                    <%= number_to_currency @order.gift_wrap? ? CartService.gift_wrap_price : 0 %><br>
                    <span style="color:#e82e3a;font-size:14px;font-weight:bold;text-transform:uppercase"><%= number_to_currency @order.amount_paid %></span>
                  </td>
            </tr>   



          </td></table>
      </td>
      </tr>

     <tr><td><hr color="#eeeeee" border="0"></td></tr>

     <tr style="font-family:Verdana,Helvetica,Arial,sans-serif;font-size:14px">
        <td>
    
					<%= render :partial => 'order_status_mailer/requested_credit_card' if @order.erp_payment.is_a? CreditCard %>
					<%= render :partial => 'order_status_mailer/requested_billet', :locals => {:payment => @order.erp_payment} if @order.erp_payment.is_a? Billet %>
					<%= render :partial => 'order_status_mailer/requested_debit' if @order.erp_payment.is_a? Debit %>
          <%= render :partial => 'order_status_mailer/requested_mercado_pago_payment', :locals => {:payment => @order.erp_payment} if @order.erp_payment.is_a? MercadoPagoPayment %>          

  <tr>
    <td align="center">       
       <br><br><img src="http://cdn.olook.com.br/assets/emailmkt/lookbooks/fevereiro2013/20130206_cordas/div.jpg" border="0" alt="divisória" style="display:block">
      </td>
    </tr>


  <tr>
    <td><br>
      <center><img src="http://cdn.olook.com.br/assets/base/bandeiras.jpg" alt="bandeiras" border="0" style="display:block"></center>        
  </td></tr>
       


  </table>
  </div>
</body></html>