<html>
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>olook</title>
  </head>

  <body>
  <table border="0" align="center" cellpadding="0" cellspacing="0" width="620">
    <tr>
    <td align="center" height="30">
    </td>
    </tr>

    <tr>
        <td>
          <table cellpadding="0" cellspacing="0" width="100%">
            <tr>
              <!-- logo -->
              <td>
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/logo_barra.jpg" alt="Todos os meses uma nova coleção para você." border="0" title="Todos os meses uma nova coleção para você." style="display:block">
              </td>

              <!-- instagram -->
              <td>
                <a href="http://statigr.am/olook">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_in.jpg" alt="Instagram" border="0" title="Instagram" style="display:block"></a>
              </td>
              <!-- twitter -->
              <td>
                <a href="https://twitter.com/olook">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_tw.jpg" alt="twitter" border="0" title="twitter" style="display:block"></a>
              </td>
              <!-- facebook -->
              <td>
                <a href="http://www.facebook.com/olook">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_fb.jpg" alt="Facebook" border="0" title="Facebook" style="display:block"></a>
              </td>
              <!-- blog -->
              <td>
                <a href="http://blog.olook.com.br">
                <img src="http://cdn.olook.com.br/assets/emailmkt/topo/ico_bg.jpg" alt="Blog" border="0" title="Blog" style="display:block"></a>
              </td>
            </tr>
          </table>
        </td>
        </tr>

    <tr>
    <td align="center"><br>
    <div style="font-family:Verdana,Helvetica,Arial, sans-serif; width:540px; font-size:14px; text-align:left">

    <p style="font-size:14px;">Olá <%= @order.user.first_name %>,</p>

    <p>Muito obrigada por comprar na olook. Seu pagamento já foi aprovado e a partir de agora daremos andamento ao processo de envio do seu pedido.</p>

    <p>A previsão de entrega é de <%= @order.freight.delivery_time %> dias úteis.</p>

    <p>Por favor, confira o pedido e endereço de entrega abaixo:</p>

    <% @order.line_items.each do |item| %>
    <p>
      - <span style="color:#ef3742"><%= item.variant.product.name %></span>;<br>
    </p>
    <% end %>

    <% @address = @order.freight.address %>
    <p>Endereço de Entrega:<br>
      <span style="color:#ef3742">
        <p><strong><%= @address.identification %></strong></p>
        <p><%= "#{@address.street}, #{@address.number}" %><%= @address.complement? ? ", #{@address.complement}" : '' %></p>
        <p><%= "#{@address.neighborhood} - #{@address.zip_code}" %></p>
        <p><%= "#{@address.city}, #{@address.state}" %></p>
      </span>
    </p>

    <p>Prazo de entrega: <%= @order.freight.delivery_time %> dias úteis</p>
    <% loyalty_credits = LoyaltyProgramCreditType.amount_for_order(@order) %>
    <% if loyalty_credits > 0 %>
<p>Por esta compra, você ganhou <b><%= number_to_currency loyalty_credits %></b> em créditos de Fidelidade que estarão disponíveis para serem utilizados a partir do próximo mês!
  <% end %>

<center>Enquanto espera seu pedido chegar, <br>que tal convidar suas amigas para ganhar créditos?</center><p>
        <!-- botao PRINCIPAL -->
                  <table width="220" align="center">
            <tr>
              <td height="30" bgcolor="ef3742" align="center">
              <center>
                   <a href="http://www.olook.com.br/membro/convite/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t6_pagamento_confirmado" style="color:#ffffff; font-size:14px;text-decoration:none;">CONVIDAR MINHAS AMIGAS</a>
              </center>
              </td>
            </tr>
          </table>
                    <!-- fim botao PRINCIPAL -->

    <p>Abraços,<br>
    Equipe olook<br>
    <a href="http://www.olook.com.br/?utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_content=t6_pagamento_confirmado" style="color:#ef3742; font-size:14px">www.olook.com.br</a>
    </p>


    </div>
    <br><br></td>

    </table>
    </td>
    </tr>
  <tr>
    <td><br>
      <center><a href="http://www.olook.com.br/catalogo/roupa?cmp=liquida_roupa&utm_source=olook&utm_medium=email&utm_campaign=transacional&utm_contentbanner_liquida_roupas&auth_token=<%= @order.user.authentication_token %>" style="text-decoration:none"><img src="https://s3.amazonaws.com/cdn.olook.com.br/assets/emailmkt/order_emails/banner_emailtransacional_roupas.jpg" alt="Liquida de inverno Olook. Até 70% off. Aproveite!" border="0" style="display:block"></a></center>        
  </td></tr>    
  </table>

  </body>
</html>

