<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description %>
</p>

<p>
  <b>Category:</b>
  <%= @product.category_humanize %>
</p>

<table>
  <tr>
    <th>Display On</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @product.pictures.each do |picture| %>
  <tr>
    <td><%= picture.display_on_humanize %></td>
    <td><%= image_tag picture.image_url(:thumb).to_s %></td>
    <td><%= link_to 'Show', product_picture_path(picture.product, picture) %></td>
    <td><%= link_to 'Edit', edit_product_picture_path(picture.product, picture) %></td>
    <td><%= link_to 'Destroy', product_picture_path(picture.product, picture), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>


<%= link_to 'Add a new picture', new_product_picture_path(@product) %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
