<%= javascript_include_tag "admin/coupons" %>
<%= form_for([:admin, @coupon]) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code, "Código" %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :brand, "Marca" %><br />
    <%= f.text_field :brand %>
  </div>
  <p>* Marque este campo apenas se desejar que o cupom seja aplicado apenas para items de determinada marca.</p>
  <div class="field">
    <%= f.label :percentage, "Porcentagem" %>: <%= f.check_box :is_percentage %><br />
    <strong class="info" >Marque esse campo se o cupom for de porcentagem</strong>
  </div>
  <div class="field">
    <%= f.label :value, "Valor" %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :start_date, "Data de início" %><br />
    <%= f.datetime_select :start_date, :default => Time.now %>
  </div>
  <div class="field">
    <%= f.label :end_date, "Data de término" %><br />
    <%= f.datetime_select :end_date, :default => Time.now %>
  </div>
  <div class="field">
    <%= f.label :remaining_of_coupons, "Cupons remanecentes" %><br />
    <strong class="info" >*If you leave this field empty the coupon will be automatically set as unlimited.</strong><br />
    <%= f.text_field :remaining_amount %>
  </div>
  <div class="field">
    <%= f.label :unlimited?, "Ilimitado?"%><br />
    <%= f.check_box :unlimited %>
  </div>
  <div class="field">
    <%= f.label :active?, "Ativo?" %><br />
    <%= f.check_box :active %>
  </div>
  <div class="field">
    <%= f.label :campaign, "Campanha" %><br />
    <%= f.select :campaign, Coupon::COUPON_CONFIG['campaigns'], :prompt => "Selecione a campanha" %>
  </div>
  <div class="field">
    <%= f.label :campaign_description, "Descrição da campanha" %><br />
    <%= f.text_field :campaign_description %>
  </div>

  <div class="field">
    <%= f.label :modal %><br />
    <%= f.select :modal, Coupon::MODAL_POSSIBLE_VALUES, prompt: "Selecione o modal" %>
  </div>

    <% if @coupon.new_record? %>
      <%= f.hidden_field :created_by, :value => current_admin.name %>
    <% else %>
      <%= f.hidden_field :updated_by, :value => current_admin.name %>
    <% end %>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
