= javascript_include_tag "admin/coupons"
= form_for([:admin, @coupon]) do |f|
  - if @coupon.errors.any?
    #error_explanation
      %h2
        = pluralize(@coupon.errors.count, "error")
        prohibited this coupon from being saved:
      %ul
        - @coupon.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :code, "Código"
    %br/
    = f.text_field :code
  .field
    = f.label :start_date, "Data de início"
    %br/
    = f.datetime_select :start_date, :default => Time.now
  .field
    = f.label :end_date, "Data de término"
    %br/
    = f.datetime_select :end_date, :default => Time.now
  .field
    = f.label :remaining_of_coupons, "Cupons remanecentes"
    %br/
    %strong.info *Se deixar este campo vazio o cupom será configurado automaticamente para ilimitado.
    %br/
    = f.text_field :remaining_amount
  .field
    = f.label :unlimited?, "Ilimitado?"
    %br/
    = f.check_box :unlimited
  .field
    = f.label :active?, "Ativo?"
    %br/
    = f.check_box :active
  .field
    = f.label :campaign, "Campanha"
    %br/
    = f.select :campaign, Coupon::COUPON_CONFIG['campaigns'], :prompt => "Selecione a campanha"
  .field
    = f.label :campaign_description, "Descrição da campanha"
    %br/
    = f.text_field :campaign_description
  .field
    = f.label :modal
    %br/
    = f.select :modal, Coupon::MODAL_POSSIBLE_VALUES, prompt: "Selecione o modal"
  - if @coupon.new_record?
    = f.hidden_field :created_by, :value => current_admin.name
  - else
    = f.hidden_field :updated_by, :value => current_admin.name
  #rules
    %h2 Critérios extras para o Cupom

    %p
      Para o cupom valer o cliente deve executar os passos abaixo
      %br/
      (Deixe vazio para só precisar adicionar o cupom na sacola)
    %hr

    = f.fields_for :rule_parameters do |builder|
      .field
        = builder.label 'Regra aplicada'
        = builder.collection_select(:promotion_rule_id, @promotion_rules, :id, :name, { include_blank: true })
      .field
        = builder.label 'Parâmetro de regra'
        = builder.text_field :rules_params
      .field
        = builder.check_box :_destroy
        = builder.label :_destroy, 'Remover'
      %hr
  #actions
    %h2 Ação do Cupom
    = render 'admin/promotion_actions/select', f: f
  %br/
  .actions
    = f.submit
