<%= javascript_include_tag "admin/coupons" %>
<%= form_for([:admin, @coupon]) do |f| %>
  <% if @coupon.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coupon.errors.count, "error") %> prohibited this coupon from being saved:</h2>

      <ul>
      <% @coupon.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :percentage %>: <%= f.check_box :is_percentage %><br />
    <strong class="info" >Mark this field if the coupon is percentage</strong>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date, :default => Time.now %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date, :default => Time.now %>
  </div>
  <div class="field">
    <%= f.label :remaining_of_coupons %><br />
    <strong class="info" >*If you leave this field empty the coupon will be automatically set as unlimited.</strong><br />
    <%= f.text_field :remaining_amount %> 
  </div>
  <div class="field">
    <%= f.label :unlimited? %><br />
    <%= f.check_box :unlimited %>
  </div>
  <div class="field">
    <%= f.label :active? %><br />
    <%= f.check_box :active %>
  </div>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
