<h2>Listing products</h2>
<p><%= link_to 'New coupon', new_admin_coupon_path %></p>

<div class="inner">
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Value</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Active</th>
      <th>Unlimited</th>
      <th>Expired</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @coupons.each do |coupon| %>
    <tr>
      <td><%= coupon.code %></td>
      <td><%= coupon.value %></td>
      <td><%= coupon.start_date %></td>
      <td><%= coupon.end_date %></td>
      <td><%= coupon.active ? 'Yes' : 'No' %></td>
      <td><%= coupon.unlimited ? 'Yes' : 'No' %></td>
      <td><%= coupon.expired? ? 'Yes' : 'No' %></td>
      <td><%= link_to 'Delete', admin_coupon_path(coupon), :method => :delete %></td>
      <td><%= link_to 'Edit', edit_admin_coupon_path(coupon) %></td>
    </tr>
  <% end %>
  </table>

  <br />
</div>
