<h1>Listing coupons</h1>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'New coupon', new_admin_coupon_path %></li>
<% end %>

<% content_for :sidebar do %>
  <div class="block">
    <h3>Filters</h3>

    <div class="content">
      <%= form_for([:admin, @search], :html => {:class => "form"}) do |f| %>
        <div class="group">
          <%= f.label :code, :class => "label" %>
          <%= f.text_field :code_contains, :class => "text_field" %>
        </div>
        <div class="group">
          <%= f.label :start_date_gte, "Start date", :class => "label"  %>
          <%= f.date_select :start_date_gte, :include_blank => true %>
          <%= f.label :end_date_gte, "to", :class => "label" %>
          <%= f.date_select :end_date_gte, :include_blank => true %>
        </div>

        <div class="group">
          <%= f.submit 'Search', :class => "button" %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>

<div class="inner">
  <table class="table">
    <tr>
      <th>Title</th>
      <th>Value</th>
      <th>Start date</th>
      <th>End date</th>
      <th>Remaining coupons</th>
      <th>Used coupons</th>
      <th>Active</th>
      <th>Unlimited</th>
      <th>Expired</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @coupons.each do |coupon| %>
    <tr>
      <td><%= coupon.code %></td>
      <td><%= coupon.value %></td>
      <td><%= l(coupon.start_date, :format => :short) %></td>
      <td><%= l(coupon.end_date, :format => :short) %></td>
      <td><%= coupon.remaining_amount %></td>
      <td><%= coupon.used_amount %></td>
      <td><%= coupon.active ? 'Yes' : 'No' %></td>
      <td><%= coupon.unlimited ? 'Yes' : 'No' %></td>
      <td><%= coupon.expired? ? 'Yes' : 'No' %></td>
      <td><%= link_to 'Show', admin_coupon_path(coupon) %></td>
      <td><%= link_to 'Edit', edit_admin_coupon_path(coupon) %></td>
    </tr>
  <% end %>
  </table>

  <div class="actions-bar wat-cf">
    <div class="pagination">
      <%= will_paginate @coupons %>
    </div>
  </div>
</div>
