<h2>Cupom
  <span class="hidden_destroy">
    <%= link_to 'del', admin_coupon_path(@coupon), confirm: 'Tem certeza que quer deletar esse cupom?', method: :delete %>
  </span>
</h2>
<div class="inner">
  <p id="notice"><%= notice %></p>
  <p>
    <b>Código:</b>
    <%= @coupon.code %>
  </p>
  <p>
    <b>Ilimitado:</b>
    <%= @coupon.unlimited  ? 'Sim' : 'Não' %>
  </p>
  <p>
    <b>Ativo:</b>
    <%= @coupon.active  ? 'Sim' : 'Não' %>
  </p>
  <p>
    <b>Data de início:</b>
    <%= @coupon.start_date %>
  </p>
  <p>
    <b>Data de término:</b>
    <%= @coupon.end_date %>
  </p>
  <p>
    <b>Número de cupons:</b>
    <%= @coupon.remaining_amount %>
  </p>
  <p>
    <b>Cupons Usados:</b>
    <%= @coupon.used_amount %>
  </p>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'Editar', edit_admin_coupon_path(@coupon) %></li>
  <li><%= link_to 'Voltar', admin_coupons_path %></li>
<% end %>
