%h2
  Cupom
  %span.hidden_destroy
    = link_to 'del', admin_coupon_path(@coupon), confirm: 'Tem certeza que quer deletar esse cupom?', method: :delete
.inner
  %p#notice= notice
  %p
    %b Código:
    = @coupon.code
  %p
    %b Ilimitado:
    = @coupon.unlimited  ? 'Sim' : 'Não'
  %p
    %b Ativo:
    = @coupon.active  ? 'Sim' : 'Não'
  %p
    %b Data de início:
    = @coupon.start_date
  %p
    %b Data de término:
    = @coupon.end_date
  %p
    %b Número de cupons:
    = @coupon.remaining_amount
  %p
    %b Cupons Usados:
    = @coupon.used_amount
  %fieldset
    %h2 Criterios do Cupom:
    - @coupon.rule_parameters.each do |rule_params|
      %p
        %b Regra:
        = rule_params.promotion_rule.name
      %p
        %b Valor:
        = rule_params.rules_params
  %fieldset
    %h2 Ação do Cupom:
    %p
      %b Ação:
      = @coupon.promotion_action.name
    %p
      %b Parâmetro:
      = @coupon.action_parameter.action_params
  - content_for :secondary_navigation do
    %li= link_to 'Editar', edit_admin_coupon_path(@coupon)
    %li= link_to 'Voltar', admin_coupons_path
