<h2>Listing Occasion Types</h2>

<div class="inner">
  <table class="table">
    <tr>
      <th>Name</th>
      <th>Date</th>      
      <th>Recipient Relation</th>      
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @gift_occasion_types.each do |type| %>
    <tr>
      <td><%= type.name %></td>
      <td><%= type.date %></td>      
      <td><%= type.gift_recipient_relation_name %></td>            
      <td><%= link_to 'Show', admin_gift_occasion_type_path(type) %></td>
      <td><%= link_to 'Edit', edit_admin_gift_occasion_type_path(type) %></td>
      <td><%= link_to 'Destroy', admin_gift_occasion_type_path(type), confirm: 'Are you sure?', method: :delete %></td>
    </tr>
  <% end %>
  </table>

  <br />
</div>

<% content_for :secondary_navigation do %>
  <li><%= link_to 'New Occasion Type', new_admin_gift_occasion_type_path %></li>
<% end %>
