<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
  <script type="text/javascript" src="https://www.mercadopago.com/org-img/jsapi/mptools/buttons/render.js"></script>
  <meta name="chaordic:source" content="buy-order">
  <meta name="chaordic:buy-order" content="<%= @chaordic_confirmation %>">
<% end %>

<section id="payment" class="checkout confirmation">
  <section class="main">
    <% # Extrair essa logica para um helper %>
    <%= if @payment.is_a? Billet
      render :partial => "billet", :locals => { :payment => @payment }
    elsif @payment.is_a? CreditCard
      render :partial => "credit", :locals => { :payment => @payment }
    elsif @payment.is_a? MercadoPagoPayment
      render :partial => "mercadopago", :locals => { :payment => @payment }
    else
      render :partial => "debit", :locals => { :payment => @payment }
    end %>
    <section class="order-details">
     <%= render "shared/payments/info_order", :cart => @order.cart, :cart_service => @cart_service_for_order, :has_payment => true, line_items: @order.line_items %>

     <%= render "shared/payments/info_payment", :cart => @order.cart, :cart_service => @cart_service_for_order, :has_payment => true, line_items: @order.line_items, :payment => @payment %>

     <%= render :partial => "shared/payments/info_address", :locals => { :cart => @order.cart, :cart_service => @cart_service_for_order, :has_payment => true } %>
    </section>

    <section class="invite">
      <div class="invite-box">
        <h2>CONVIDE SUAS AMIGAS</h2>
        <p class="txt-black">E ganhe <span class="txt-pink">R$20,00</span> na primeira compra de cada uma delas.</p>
        <%= render "shared/social/share", :user => current_user %>
      </div>

      <%= render "shared/ebit/seal_order" %>
    </section>
  </section>
</section>

<% content_for :ecommerce_tracking do %>
<script type="text/javascript">
_gaq.push(['_addTrans',
   '<%= @order.cart.id %>',
   'olook',
   '<%= @order.amount_paid %>',
   '',
   '<%= @order.freight_price.to_s %>',
   '<%= @order.freight_city %>',
   '<%= @order.freight_state %>',
   'Brasil'
 ]);
</script>
  <%= render :partial => "shared/metrics/google/ecommerce_add_item", :locals => { :cart => @order.cart, :cart_service => @cart_service_for_order } %>
  <%= render :partial => "shared/metrics/google/ecommerce_track_trans" %>
<% end %>

<% content_for :data_layer do %>
  <%= render :partial => "shared/tag/gtm_data_layer" %>
  <%= render "shared/data_layer/order" %>
<% end %>

<% content_for :footer do %>
  <%= render :partial => "shared/metrics/all_in/order", :locals => {:order => @order } %>
  <%= render "shared/metrics/google/buy_done" %>
  <%= render "shared/metrics/dbm/transaction", order: @order %>
  <script type="text/javascript">
      (function(){function $MPBR_load(){window.$MPBR_loaded !== true && (function(){var s = document.createElement("script");s.type = "text/javascript";s.async = true;
      s.src = ("https:"==document.location.protocol?"https://www.mercadopago.com/org-img/jsapi/mptools/buttons/":"http://mp-tools.mlstatic.com/buttons/")+"render.js";
      var x = document.getElementsByTagName('script')[0];x.parentNode.insertBefore(s, x);window.$MPBR_loaded = true;})();}
      window.$MPBR_loaded !== true ? (window.attachEvent ? window.attachEvent('onload', $MPBR_load) : window.addEventListener('load', $MPBR_load, false)) : null;})();
  </script>  
<% end %>
