<% content_for :head do %>
  <%= stylesheet_link_tag "section/checkout" %>
<% end %>

<section id="payment" class="checkout confirmation">
  <section class="main">

    <%= if @payment.is_a? Billet
      render :partial => "billet", :locals => { :payment => @payment }
    elsif @payment.is_a? CreditCard
      render :partial => "credit", :locals => { :payment => @payment }
    else
      render :partial => "debit", :locals => { :payment => @payment }
    end %>
    <%= render "shared/ebit/seal_order" %>
    <%= render "shared/metrics/yahoo/buy" %>
    <section class="order-details">
     <%= render "shared/payments/info_order", :cart => @order.cart, :cart_service => @cart_service_for_order, :has_payment => true, line_items: @order.line_items %>
      
     <div class="payment-type box-order">
        <h2>Pagamento</h2>
        <div class="no-border">
          <p class="debit"><span class="txt-black">Forma de pagamento: </span><span>Boleto Bancário</span></p>
        </div>
        <div>
          <p><span class="txt-black">Status: </span>Aguardando a confirmação do seu pagamento.<br />Seu pedido ficará reservado por 48h.</p>
        </div>  
     </div>
      <%= render :partial => "shared/payments/info_address", :locals => { :cart => @order.cart, :cart_service => @cart_service_for_order, :has_payment => true } %>
 
    </section>
  </section>
</section>

<% content_for :ecommerce_tracking do %>
<script type="text/javascript">
_gaq.push(['_addTrans',
   '<%= @order.cart.id %>',
   'olook',
   '<%= @order.amount_paid %>',
   '',
   '<%= @order.freight_price.to_s %>',
   '<%= @order.freight_city %>',
   '<%= @order.freight_state %>',
   'Brasil'
 ]);
</script>
  <%= render :partial => "shared/metrics/google/ecommerce_add_item", :locals => { :cart => @order.cart, :cart_service => @cart_service_for_order } %>
  <%= render :partial => "shared/metrics/google/ecommerce_track_trans" %>
  <%= render :partial => "shared/metrics/adtz/adtz_pixel" %>
  <%= render :partial => "shared/metrics/sociomantic/confirmation", :locals => {:order => @order, :cart => @order.cart} %>
  <%= render :partial => "shared/metrics/triggit/confirmation", :locals => {:order => @order, :cart => @order.cart } %>
<% end %>

<% content_for :footer do %>
  <%= render :partial => "shared/metrics/ve_interactive/get_user" %>
  <%= render :partial => "shared/metrics/criteo/conversion_tracker", :locals => {:order => @order, :cart => @order.cart } %>
  <%= render :partial => "shared/metrics/metaffiliation/order", :locals => {:order => @order } %>
  <%= render "shared/metrics/zanox/order", :user_id => @user.id, :order => @order, :zanpid => @zanpid %>
  <%= render "shared/metrics/google/buy_done" %>
<% end %>
