<div class="filter main">
  <h1 class="acessories"><%= link_to "Acessórios", "#" %></h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_accessories", "", false, :class => "select_all" %>
      <%= label_tag "select_all_accessories", "Todos os acessórios" %>
    </li>
<% moment_presenter.moment.catalog.subcategories(Category::ACCESSORY).each do |subcategory| %>
    <li>
      <%= check_box_tag('bag_accessory_subcategories[]', subcategory, false, :id => subcategory) %>
      <%= label_tag(subcategory, nil, :for => subcategory) %>
    </li>
<% end %>
  </ol>
</div>


