<nav>
  <ul>
    <% collection_themes.each do |collection_theme| %>
      <li class="<%= collection_theme.id == @collection_theme.id ? 'selected' : nil %> <%= collection_theme.position == 5 ? 'last' : nil %>">
        <div class="box_text">
          <%= link_to moment_path(collection_theme, params: params.except(:action, :controller, :id)) do %>
            <p><%= collection_theme.article %></p>
            <h1><%= collection_theme.name %></h1>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
</nav>
