<div id="filters_container">
  <%= form_for(update_moment_path, :url => update_moment_path, :method => :get, :remote => true, :html => {:id => "moment_filter"}) do %>
      <%= hidden_field_tag('id', @moment ? @moment.id : nil) %>

      <%= hidden_field_tag('sort_filter') %>

      <%= moment_presenter.display_shoe_filters %>

      <%= moment_presenter.display_shoe_size_filters %>

      <%= moment_presenter.display_heel_filters %>

      <%= moment_presenter.display_bag_filters %>

      <%= moment_presenter.display_accessory_filters %>

    <% end %>
</div>
