<div class="filter main">
  <h1 class="shoes"><%= link_to "Sapatos", "#" %></h1>
  <ol>
    <li>
      <%= check_box_tag "select_all_shoes", "", false, :class => "select_all" %>
      <%= label_tag "select_all_shoes", "Todos os sapatos" %>
    </li>
  <% moment_presenter.moment.catalog.subcategories(Category::SHOE).each do |subcategory| %>
    <li>
      <%= check_box_tag('shoe_subcategories[]', subcategory, false, :id => subcategory) %>
      <%= label_tag(subcategory, nil, :for => subcategory) %>
    </li>
  <% end %>
  </ol>
</div>




