<% present 'CollectionTheme', {:collection_theme => @collection_theme, :collection_themes => @collection_themes, :category_id => @category_id} do |collection_theme_presenter| %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "section/moments" %>
    <meta name="chaordic:source" content="<%= @glasses ? "home/#{@glasses}": "home/#{section_name @pixel_information}"%>">
    <meta name="chaordic:user" content="<%= @chaordic_user %>">
    <meta name="chaordic:category" content="<%= @glasses ? "#{@glasses}" : "#{section_name @pixel_information}"%>">
  <% end %>
  <% content_for :data_layer do %>
    <%= render "shared/metrics/sociomantic/category", pixel_information: @pixel_information, catalog_products: @catalog_products %>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "moments" %>
    <%#= render "shared/metrics/struq/product_list", :products => @catalog_products %>
    <%= render :partial => "shared/metrics/criteo/listing_tracker", :locals => { :products => @products_id } %>
  <% end %>
  <div id="moments" class="content">
    <%#= collection_theme_presenter.display_nav_bar %>
    <%= collection_theme_presenter.render_search_form %>
    <div id="products_container">
      <!-- local onde o viewpersonalized será exibido -->
      <div class="chaordic viewpersonalized"></div>

      <!-- local onde o purchasepersonalized será exibido -->
      <div class="chaordic purchasepersonalized"></div>

      <!-- local onde o mostpopular será exibido -->
      <div class="chaordic mostpopular"></div>

      <%= render "new_header_moments" %>

      <ul id="products">
        <%= render "shared/products", :products => @catalog_products %>
      </ul>

      <div class="loading"></div>
      <%= will_paginate @catalog_products %>
    </div>
  </div>
<% end %>
