- present 'CollectionTheme', {:collection_theme => @collection_theme, :collection_themes => @collection_themes, :category_id => @category_id} do |collection_theme_presenter|
  - content_for :head do
    = stylesheet_link_tag "section/moments"
    %meta{:content => @glasses ? "home/#{@glasses}": "home/#{section_name @pixel_information}", :name => "chaordic:source"}/
    %meta{:content => @chaordic_user, :name => "chaordic:user"}/
    %meta{:content => @glasses ? "#{@glasses}" : "#{section_name @pixel_information}", :name => "chaordic:category"}/
  - content_for :data_layer do
    = render "shared/data_layer/category", pixel_information: @pixel_information, catalog_products: @catalog_products
  - content_for :footer do
    = javascript_include_tag "moments"
    = render :partial => "shared/metrics/criteo/listing_tracker", :locals => { :products => @products_id }
  #moments.content
    = collection_theme_presenter.render_search_form
    #products_container
      / local onde o viewpersonalized será exibido
      .chaordic.viewpersonalized
      / local onde o purchasepersonalized será exibido
      .chaordic.purchasepersonalized
      / local onde o mostpopular será exibido
      .chaordic.mostpopular
      = render "new_header_moments"
      %ul#products
        = render "shared/products", :products => @catalog_products
      .loading
      = will_paginate @catalog_products
