<section id="quiz">
  <div class="content">
    <h1>Consultoria de Estilo</h1>
    <p>Responda a um rápido QUIZ. <br />Nossas stylists entenderão o perfil dela e<br/> você receberá recomendações.</p>
    <%= form_tag "/presentes/occasions", :method => :post do %>
      <%= hidden_field_tag "occasion[day]", Date.current.day %>
      <%= hidden_field_tag "occasion[month]", Date.current.month %>
      <div class="box">
        <%= label_tag "recipient[name]", "Qual o nome dela? <em>*</em>".html_safe %>
        <%= text_field_tag "recipient[name]", nil, :placeholder => "digite aqui" %>
      </div>
      <div class="box">
        <%= label_tag "recipient[gift_recipient_relation_id]", "Ela é sua? <em>*</em>".html_safe %>
        <div class="styled_select">



          <%= select_tag "recipient[gift_recipient_relation_id]", options_from_collection_for_select(@recipient_relations, :id, :name) %>
        </div>
      </div>
      <div class="box shoes">
        <p>Que número ela calça?</p>
        <ul>
          <% (33..40).to_a.each do |size| %>
            <li>
              <%= label_tag "recipient[shoe_size]", size %>
              <%= radio_button_tag "recipient[shoe_size]", size %>
            </li>
          <% end %>
        </ul>
      </div>
      <em>* preenchimento obrigatório</em>
      <%= submit_tag "" %>
    <% end %>
  </div>
</section>
