<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
    <meta name="chaordic:source" content="home/presentes">
    <meta name="chaordic:user" content= <%= @chaordic_user %>>
    <meta name="chaordic:category" content="Presentes" >


    <meta property="fb:app_id" content="<%= FACEBOOK_CONFIG["app_id"] %>" />
    <meta property="og:title" content="ACERTE EM CHEIO NO PRESENTE" />
    <meta property="og:caption" content="Encontre o presente ideal para as mulheres da sua vida através da nossa ferramenta de presentes." />
    <meta property="og:description" content="#ficaadica" />
    <meta property="og:image" content="http:<%= image_path('gift/imagem_presentes_facebook.jpg') %>" />

<% end %>
<% content_for :data_layer do %>
  <script type="text/javascript">
    dataLayer.push({'Category': '<%= section_name @google_path_pixel_information %>'});
  </script>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>

  <div id="fb-root"></div>

<!--   <div id="banner">
    <%#= link_to image_tag("gift/full_banner_presente_2.jpg"), "#" %>
  </div> -->


  <%= render "profiles" %>

  <% @profiles.each do |profile| %>
    <section id="profile_products" class="sub <%= profile %>">
      <%= render "profile_products", products: @profiles_products	[profile.to_sym], profile: profile %>
    </section>
  <% end %>

  <%= render "suggestions" %>
  <%= render "suggestion_products" %>
  <%= render "quiz" %>
  <%= render "calendar" %>
<% end %>
