<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
    <meta name="chaordic:source" content="home/presentes">
    <meta name="chaordic:user" content= <%= @chaordic_user %>>
    <meta name="chaordic:category" content="Presentes" >
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div id="fb-root"></div>
  <%= render "profiles" %>

  <% @profiles.each do |profile| %>
    <section id="profile_products" class="sub <%= profile %>">
      <%= render "profile_products", products: @profiles_products	[profile.to_sym], profile: profile %>
    </section>
  <% end %>

  <%= render "suggestions" %>
  <%= render "suggestion_products" %>
  <%= render "quiz" %>
  <%= render "calendar" %>
<% end %>
