<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
  <%= stylesheet_link_tag "section/gift_home" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <% if !user_signed_in? %>
    <div class="shadow"></div>
  <% end %>
  <div id="banner" class="content">
    <h1>Acerte em cheio no presente</h1>
    <p>A OLOOK te ajuda a encontrar o presente ideal para as mulheres da sua vida: mãe, amigas, namoradas, filhas, irmãs, sogras. É fácil e rápido.</p>
    <%= image_tag "/assets/gift/rules.jpg" %>
    <%= link_to "Crie seu presente. Comece aqui!", new_gift_occasion_path, :id => "new_occasion_link" %>
    
  <% if current_user && !current_user.has_facebook_friends_birthday? %>
    <%= link_to "Importar meus contatos do Facebook", "/users/auth/facebook", :class => "facebook" %>
  <% elsif !current_user %>
    <%= link_to "Importar meus contatos do Facebook", "javascript:void(0);", :class => "facebook disabled", :alt => "Para importar seus contatos do facebook faça seu login", :title => "Para importar seus contatos do facebook faça seu login" %>
  <% end %>
  </div>
<% end %>

<div id="gift_home" class="content">
  <%= render "gift/shared/calendar" %>
</div>
