<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div id="fb-root"></div>
  <%= render "profiles" %>
  <%= render "profile_products", products: @profile_products %>
  <%= render "suggestions" %>
  <%= render "suggestion_products", products: @suggestion_products %>
  <%= render "quiz" %>
  <%= render "calendar" %>
<% end %>
