<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <section id="profiles">
    <div class="content">
      <h1>Acerte em cheio no presente</h1>
      <p>A OLOOK te ajuda a encontrar o presente ideal para as mulheres da sua vida. É fácil e rápido.</p>
      <h2>Comece escolhendo <strong>como ela é:</strong></h2>
      <ul>
        <% %w[moderna casual chic sexy].each do |profile| %>
          <li>
            <%= link_to "#" do %>
              <h1><%= profile %></h1>
              <%= image_tag "gift/profile-#{profile}.png" %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
  <section id="profile_products" class="sub">
  </section>
  <section id="suggestions">
  </section>
  <section id="suggestions_products" class="sub">
  </section>
  <section id="quiz">
  </section>
  <section id="calendar">
    <div class="content">
      <% if current_user && !current_user.has_facebook_friends_birthday? %>
        <%= link_to "Importar meus contatos do Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook" %>
      <% elsif !current_user %>
        <%= link_to "Importar meus contatos do Facebook", "javascript:void(0);", :class => "facebook disabled", :alt => "Para importar seus contatos do facebook faça seu login", :title => "Para importar seus contatos do facebook faça seu login" %>
      <% end %>
      <%= render "gift/shared/calendar" %>
    </div>
  </section>
<% end %>
