<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
    <meta name="chaordic:source" content="home/presentes">
    <meta name="chaordic:user" content= <%= @chaordic_user %>>
    <meta name="chaordic:category" content="Presentes" >
<% end %>

<script>

  share = function() {
    // var landing_page = "http://www.olook.com.br/colecoes/diadosnamorados";
    var landing_page = "http://homolog.olook.com.br/colecoes/diadosnamorados";
    var sharer = "https://www.facebook.com/sharer/sharer.php?u=" + landing_page;
    window.open(sharer, 'sharer', 'width=626,height=436');
  }

</script>



<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  
  <div id="fb-root"></div>

  <div id="banner">
      <%= link_to image_tag("gift/presentes_full_banner__indecisos_dia_dos_namos.jpg"), "#", {onclick: "share();"}%>
  </div>


  <%= render "profiles" %>

  <% @profiles.each do |profile| %>
    <section id="profile_products" class="sub <%= profile %>">
      <%= render "profile_products", products: @profiles_products	[profile.to_sym], profile: profile %>
    </section>
  <% end %>

  <%= render "suggestions" %>
  <%= render "suggestion_products" %>
  <%= render "quiz" %>
  <%= render "calendar" %>
<% end %>
