<% content_for :head do %>
  <%= stylesheet_link_tag "section/gift" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "gift" %>
<% end %>

<% content_for :full do %>
  <div id="fb-root"></div>
  <%= render "profiles" %>
  <%= render "profile_products", products: @profile_products %>
  <%= render "suggestions" %>
  <%= render "suggestion_products", products: @suggestion_products %>
  <section id="quiz">
  </section>
  <section id="calendar">
    <div class="content">
      <% if current_user && !current_user.has_facebook_friends_birthday? %>
        <%= link_to "Importar meus contatos do Facebook", user_omniauth_authorize_path(:facebook), :class => "facebook" %>
      <% elsif !current_user %>
        <%= link_to "Importar meus contatos do Facebook", "javascript:void(0);", :class => "facebook disabled", :alt => "Para importar seus contatos do facebook faça seu login", :title => "Para importar seus contatos do facebook faça seu login" %>
      <% end %>
      <%= render "gift/shared/calendar" %>
    </div>
  </section>
<% end %>
