<div id="carousel_container">
  <ul>
    <li><%= image_tag "fake/showroom-product.png" %></li>
    <li><%= image_tag "fake/showroom-product.png" %></li>
    <li><%= image_tag "fake/showroom-product.png" %></li>
    <li><%= image_tag "fake/showroom-product.png" %></li>
  </ul>
  <%= link_to "Anterior", "javascript:void(0);", :class => "arrow prev" %>
  <%= link_to "Próximo", "javascript:void(0);", :class => "arrow next" %>
</div>
