<div class="filter main">
  <h1>Cores</h1>
  <ol class="color_filter">
    <li>
      <%= check_box_tag "select_all_colors", 1, params[:select_all_colors], :class => "select_all" %>
      <%= label_tag "select_all_colors", "Todos as cores" %>
    </li>
  <% {'neutras' => 'Neutras', 'metalizadas' => 'Metalizadas', 'estampadas' => 'Estampadas', 'vivas' => 'Vivas', 'animal-print' => 'Animal Print', 'tons-pastel' => 'Tons pastel'}.sort{|a,b| a[0] <=> b[0]}.each do |subcategory, label| %>
    <li class="<%= subcategory %>">
      <%= check_box_tag 'colors[]', label, params[:colors] && params[:colors].include?(subcategory), id: subcategory %>
      <%= label_tag label, nil, for: subcategory %>
    </li>
  <% end %>
  </ol>
</div>




