<div id="filters_container">
  <%= form_for(update_liquidation_path, :url => update_liquidation_path, :method => :get, :remote => true, :html => {:id => "liquidation_filter"}) do %>
      <%= hidden_field_tag('liquidation_id', liquidation_presenter.liquidation.id) %>
      <div class="filter">
        <h1 class="shoes">Sapatos</h1>
        <ol>
        <% liquidation_presenter.liquidation.resume[:categories][Category::SHOE].each do |key, value| %>
          <li>
            <%= check_box_tag('subcategories[]', key) %>
            <label><%= value %></label>
          </li>
        <% end %>
        </ol>
      </div>

      <div class="filter">
        <h1 class="subtitle">Numeração</h1>
        <ol class="column">
          <li>
            <%= check_box_tag('show_sizes[]', 33) %>
            <label>33</label>
          </li>
          <li>
            <%= check_box_tag('show_sizes[]', 34) %>
            <label>34</label>
          </li>
        </ol>
      </div>

      <div class="filter">
        <h1 class="subtitle">Salto</h1>
        <ol class="column">
          <li>
            <%= check_box_tag('heels[]', 0) %>
            <label>0</label>
          </li>
            <%= check_box_tag('heels[]', "6.5") %>
            <label>6.5</label>
          </li>
        </ol>
      </div>

      <div class="filter">
        <h1 class="subtitle">Bolsas</h1>
        <ol class="column">
          <li>
            <%= check_box_tag('subcategories[]', "tote") %>
            <label>Tote</label>
          </li>
            <%= check_box_tag('subcategories[]', "bau") %>
            <label>Bau</label>
          </li>
        </ol>
      </div>

      <%= submit_tag "Buscar" %>
    <% end %>
</div>
