<div id="filters_container">
  <%= form_for(update_liquidation_path, :url => update_liquidation_path, :method => :get, :remote => true, :html => {:id => "liquidation_filter"}) do %>
      <%= hidden_field_tag('id', liquidation_presenter.liquidation.id) %>

      <%= liquidation_presenter.display_shoe_filters %>

      <%= liquidation_presenter.display_shoe_size_filters %>

      <%= liquidation_presenter.display_heel_filters %>

      <%= liquidation_presenter.display_bag_filters %>

      <%= liquidation_presenter.display_accessory_filters %>

    <% end %>
</div>
