<% present 'Liquidation', :liquidation => @liquidation do |liquidation_presenter| %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "section/liquidations" %>
  <% end %>

  <% content_for :data_layer do %>
    <script type="text/javascript">
      dataLayer.push({'Category': '<%= current_liquidation.name %>'});
    </script>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "liquidations" %>
    <%= javascript_include_tag "endless_scroll" %>
  <% end %>

  <% content_for :full do %>
    <div class="content">
      <%= liquidation_presenter.render_top %>
    </div>
  <% end %>

  <div id="liquidation" class="content">

    <%= liquidation_presenter.render_search_form %>

    <div id="products_container">

      <%= render "shared/filters/order" %>
      <ul id="products">
        <% @liquidation_products.each do |liquidation_product| %>
          <%= render "shared/product_item", :product => liquidation_product.product %>
        <% end %>
      </ul>
      <div class="loading"></div>
      <%= will_paginate @liquidation_products %>
    </div>
  </div>
  <% end %>
