<% present 'Liquidation', :liquidation => @liquidation do |liquidation_presenter| %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "section/liquidations" %>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "liquidations" %>
  <% end %>

  <% content_for :full do %>
    <div class="content">
      <h1>Olooket</h1>
      <h2>Até 70% de desconto</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis leo metus, quis feugiat odio. Quisque adipiscing faucibus ligula, nec fringilla ligula ultricies ut.</p>
      <%= render "carousel" %>
    </div>
  <% end %>

  <div id="liquidation" class="content">

    <%= liquidation_presenter.render_search_form %>

    <div id="products_container">
      <div id="order_filter">
        <%= form_for("", :html => {:id => "liquidation_order_filter"}) do %>
          <%= label_tag "Ordenar por:" %>
          <%= select_tag('order_filter', options_for_select({"Menor preço" => 1, "Maior preço" => 2})) %>
        <% end %>
      </div>
      <ul id="products">
        <%= render "products", :products => @liquidation_products %>
      </ul>
      <%= will_paginate @liquidation_products %>
    </div>
  </div>
  <% end %>
