<% present 'Liquidation', :liquidation => @liquidation do |liquidation_presenter| %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "section/liquidations" %>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "liquidations" %>
  <% end %>

  <% content_for :full do %>
    <div class="content">
      <div class="description">
        <% if @teaser_banner %>
          <%= image_tag @teaser_banner, :alt => @liquidation.name %>
        <% end %>
        <p><%= @liquidation.description %></p>
      </div>
      <%= render "carousel",  :params => { :carousels => @liquidation.liquidation_carousels } %>
    </div>
  <% end %>

  <div id="liquidation" class="content">

    <%= liquidation_presenter.render_search_form %>

    <div id="products_container">
      <div id="shoe_size_filter">
        <%= label_tag "Mostrar números:" %>
        <span><%= current_user.user_info.shoes_size %></span>
        <div class="sizes">
          <ul>
            <% liquidation_presenter.liquidation.resume[:shoe_sizes].each do |key, value| %>
              <li>
                <%= check_box_tag('shoe_sizes_filter[]', key, (key == current_user.user_info.shoes_size.to_s ? true : false), :id => "size_#{key}") %>
                <%= label_tag(value, nil, :for => "size_#{key}") %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
      <div id="order_filter">
        <%= form_for("", :html => {:id => "liquidation_order_filter"}) do %>
          <ol>
            <li class="select">
              <%= label_tag "Ordenar por:" %>
              <%= select_tag('order_filter', options_for_select({"Categoria" => 0, "Menor preço" => 1, "Maior preço" => 2}), :class => "custom_select") %>
            </li>
          </ol>
        <% end %>
      </div>
      <ul id="products">
        <%= render "products", :products => @liquidation_products %>
      </ul>
      <div class="loading"></div>
      <%= will_paginate @liquidation_products %>
    </div>
  </div>
  <% end %>
