<% content_for :head do %>
  <%= stylesheet_link_tag "section/liquidations" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "liquidations" %>
<% end %>

<% content_for :full do %>
  <div class="content">
    <h1>Olooket</h1>
    <h2>Até 70% de desconto</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam quis leo metus, quis feugiat odio. Quisque adipiscing faucibus ligula, nec fringilla ligula ultricies ut.</p>
    <%= render "carousel" %>
  </div>
<% end %>

<div id="liquidation" class="content">
  <div id="filters">
    <p>Filtros</p>
  </div>
  <div id="products_container">
    <ul id="products">
      <%= render "products", :products => @products %>
    </ul>
    <%= will_paginate @products %>
  </div>
</div>
