<section id="collections_menu">
   <dl>
      <dt>Tendências</dt>
         <dd><%= link_to "Animal Print", "#" %></dd>
         <dd><%= link_to "Neon", "#" %></dd>
         <dd class="selected"><%= link_to "Tropicaliente", "#" %></dd>
      <dt>Estilistas</dt>
         <dd><%= link_to "André Lima", "#" %></dd>
      <dt>Marcas</dt>
         <dd><%= link_to "Olook", "#" %></dd>
      <dt>Ocasiões</dt>
         <dd><%= link_to "Casual", "#" %></dd>
         <dd><%= link_to "Trabalho", "#" %></dd>
   </dl>
</section>