<% present 'CollectionTheme', {:collection_theme => @collection_theme, :collection_themes => @collection_themes, :category_id => @category_id} do |collection_theme_presenter| %>
<div id="filters_container">
  <%= form_tag(collection_theme_filter_path(@collection_theme.slug), :method => :get, :remote => true, :id => "filter", :name => "filter") do %>
    <%= hidden_field_tag('slug', @collection_theme ? @collection_theme.slug : nil) %>
    <div class="select category_type">
      <%= select_tag('category_id', options_for_select(@catalog_search_service.categories_available_for_options(ignore_category: true), params[:category_id]), class: 'custom_select') %>
    </div>
    <div class="select sort_filter">
      <%= select_tag('sort_filter', options_for_select({"Nossa Seleção" => 0, "Menor preço" => 1, "Maior preço" => 2}), class: 'custom_select') %>
    </div>
    <div id="category_filters">
      <%- if params[:category_id].present? && !Category.key_for(params[:category_id].to_i).blank? -%>
        <%= render partial: "#{Category.key_for(params[:category_id].to_i).to_s}_filters" %>
      <%- end -%>

    </div>
    <%= render "/shared/filters/price_range", category: params[:category_id].to_i %>
  <% end %>

</div>

<% end %>
