<% content_for :head do %>
  <%= stylesheet_link_tag "section/collections" %>
<% end %>

<%= render "menu", collection_theme_groups: @collection_theme_groups %>

<section id="collections_content">
  <div id="home_collections">
    <div class="banner_principal">
      <%= link_to image_tag("collections/destaque_colecoes_preview_liquida_inverno_ok.jpg", alt: "Must Have: Inverno", title: "Must Have: Inverno"), collection_theme_path('musthave_inverno'), onclick: track_event("Colecoes", "TopBigBanner") %>
    </div>
    <div class="tropicaliente">
      <%= link_to image_tag("collections/destaque_estilist_Jujabour.jpg", alt: "Juliana Jabour", title: "Juliana Jabour"), collection_theme_path('estilista-juliana-jabour'), onclick: track_event("Colecoes", "MiddleLeftBanner") %>
      <p class="collection">JULIANA JABOUR PARA OLOOK</p>
      <p class="resume">Conheça a coleção de sapatos exclusiva</p>
      <p class="looks"><%= link_to "veja a coleção", collection_theme_path('estilista-juliana-jabour'), target: "_blank" %></p>
    </div>
    <div class="andre_lima">
      <%= link_to image_tag("collections/destaque_colcci.jpg", alt: "COLCCI", title: "COLCCI"), collection_theme_path('colcci'), onclick: track_event("Colecoes", "MiddleRightBanner") %>
      <p class="collection">TEMOS COLCCI</p>
      <P class="resume">Agora você encontrará produtos da marca aqui na Olook</P>
      <p class="looks"><%= link_to 'veja a coleção', collection_theme_path('colcci'), target: "_blank" %></p>
    </div>
  </div>
  <button type="button" class="nav bt_left prev_collection">Anterior</button>
  <div id="amamos">
    <h1>NÓS AMAMOS</h1>
    <div id="products_amamos">
      <%= render "featured_products", featured_products: @featured_products %>
    </div>
    <div class="pagination"></div>
  </div>
  <button type="button" class="nav bt_right next_collection">Próximo</button>
</section>
<% content_for :footer do %>
  <%= javascript_include_tag "collection_themes" %>
<% end %>
