- content_for :head do
  = stylesheet_link_tag "new_structure/section/collection_themes"
  :javascript
    start_position = #{@search.range_values_for(:price)[:min] rescue 0};
    final_position = #{@search.range_values_for(:price)[:max] rescue 600};

#catalog
  = render "menu", collection_theme_groups: @collection_theme_groups
  #collection_theme_content
    #home_collections
      .banner_principal
        = link_to image_tag("collections/destaque_capinha_preview_primavera.jpg", alt: "Coleção Preview Primavera", title: "Coleção Preview Primavera"), '/colecoes/preview_primavera', onclick: track_event("Colecoes", "TopBigBanner")
      .left_banner
        = link_to image_tag("collections/menina_bolinhas.jpg", alt: "p&b", title: "p&b"), collection_theme_path('p&b'), onclick: track_event("Colecoes", "MiddleLeftBanner")
        %p.collection PRETO & BRANCO
        %p.resume Uma das tendências mais fortes da estação
        %p.looks= link_to "veja a coleção", collection_theme_path('p&b'), target: "_blank"
      .right_banner
        = link_to image_tag("collections/achados_inverno.jpg", alt: "Achados de inverno", title: "Achados de inverno"), collection_theme_path('liquida_final'), onclick: track_event("Colecoes", "MiddleRightBanner")
        %p.collection ACHADOS DE INVERNO
        %p.resume Confira nossa  seleção hot aproveite
        %p.looks= link_to 'veja a coleção', collection_theme_path('achados_inverno'), target: "_blank"
    %button.nav.bt_left.prev_collection{:type => "button"} Anterior
    #amamos
      %h1 NÓS AMAMOS
      #products_amamos
        = render "featured_products", featured_products: @featured_products
      .pagination
    %button.nav.bt_right.next_collection{:type => "button"} Próximo
- content_for :footer do
  = javascript_include_tag "collection_themes"
