- content_for :head do
  = stylesheet_link_tag "new_structure/section/collection_themes"
  :javascript
    start_position = #{@search.range_values_for(:price)[:min] rescue 0};
    final_position = #{@search.range_values_for(:price)[:max] rescue 600};
= render "shared/mkt_breadcrumb"
= first_level_breadcrumb "Coleções"
#catalog
  = render "menu", collection_theme_groups: @collection_theme_groups
  #collection_theme_content
    #home_collections
      %ul
        %li.big
          = link_to image_tag("collections/fever.jpg", alt: "Animal Fever", title: "Animal Fever"), collection_theme_path('animal-print'), onclick: track_event("Colecoes", "fever_banner")
        %li.small
          = link_to image_tag("collections/casual.jpg", alt: "Look Casual", title: "Look Casual"), collection_theme_path('casual'), onclick: track_event("Colecoes", "casual_banner")
        %li.small
          = link_to image_tag("collections/lfesta.jpg", alt: "Look Festa", title: "Look Festa"), collection_theme_path('festa'), onclick: track_event("Colecoes", "festa_banner")
        %li.small.last
          = link_to image_tag("collections/ltrabalho.jpg", alt: "Trabalho", title: "Trabalho"), collection_theme_path('executivo'), onclick: track_event("Colecoes", "executivo_banner")
        %li.medium
          = link_to image_tag("collections/floral.jpg", alt: "Floral", title: "Floral"), "/busca?utf8=✓&q=floral", onclick: track_event("Colecoes", "floral_banner")
        %li.medium.last
          = link_to image_tag("collections/transparente.jpg", alt: "Transparente", title: "Transparente"), "/busca?utf8=✓&q=transparente", onclick: track_event("Colecoes", "transparente_banner")
        %li.small
          = link_to image_tag("collections/realeza.jpg", alt: "Bizantino", title: "Bizantino"), collection_theme_path('bizantino'), onclick: track_event("Colecoes", "bizantino_banner")
        %li.small
          = link_to image_tag("collections/matelasse.jpg", alt: "Matelasse", title: "Matelasse"), "/busca?utf8=✓&q=matelasse", onclick: track_event("Colecoes", "matelasse_banner")
        %li.small.last
          = link_to image_tag("collections/couro.jpg", alt: "Total Couro", title: "Total Couro"), collection_theme_path('total-couro'), onclick: track_event("Colecoes", "couro_banner")

- content_for :footer do
  = javascript_include_tag "collection_themes"
