- content_for :head do
  = stylesheet_link_tag "new_structure/section/collection_themes"
  :javascript
    start_position = #{@search.range_values_for(:price)[:min] rescue 0};
    final_position = #{@search.range_values_for(:price)[:max] rescue 600};

= first_level_breadcrumb "Coleções"
#catalog
  = render "menu", collection_theme_groups: @collection_theme_groups
  #collection_theme_content
    #home_collections
      .banner_principal
        = link_to image_tag("collections/destaque landing_tendencia_floral_800X341.jpg", alt: "Tendência Floral", title: "Tendência Floral"), '/colecoes/floral', onclick: track_event("Colecoes", "TopBigBanner")
      .left_banner
        = link_to image_tag("collections/crop_colecoes_380x214_neon.jpg", alt: "NEON", title: "NEON"), collection_theme_path('neon_pastel'), onclick: track_event("Colecoes", "MiddleLeftBanner")
        %p.collection NEON PASTEL
        %p.resume O neon pastel protagoniza a tendência do momento
        %p.looks= link_to "veja a coleção", collection_theme_path('neon_pastel'), target: "_blank"
      .right_banner
        = link_to image_tag("collections/crop_colecoes_animal_380x214.jpg", alt: "Animal Print", title: "Animal Print"), collection_theme_path('animal-print'), onclick: track_event("Colecoes", "MiddleRightBanner")
        %p.collection ANIMAL PRINT
        %p.resume A estampa chega colorida e num mix de bichos
        %p.looks= link_to 'veja a coleção', collection_theme_path('animal-print'), target: "_blank"
- content_for :footer do
  = javascript_include_tag "collection_themes"
