- content_for :head do
  = stylesheet_link_tag "new_structure/section/collection_themes"
  :javascript
    start_position = #{@search.range_values_for(:price)[:min] rescue 0};
    final_position = #{@search.range_values_for(:price)[:max] rescue 600};

#catalog
  = render "menu", collection_theme_groups: @collection_theme_groups
  #collection_theme_content
    #home_collections
      .banner_principal
        = link_to image_tag("collections/preview_primavera_landing.jpg", alt: "Coleção Preview Primavera", title: "Coleção Preview Primavera"), '/colecoes/preview_primavera', onclick: track_event("Colecoes", "TopBigBanner")
      .left_banner
        = link_to image_tag("collections/crop_carol_ribeiro_ok.jpg", alt: "Carol Ribeiro", title: "Carol Ribeiro"), collection_theme_path('carol-ribeiro'), onclick: track_event("Colecoes", "MiddleLeftBanner")
        %p.collection CAROL RIBEIRO PARA OLOOK
        %p.resume Confira a coleção de sapatos exclusiva desenhada pela Top
        %p.looks= link_to "veja a coleção", collection_theme_path('carol-ribeiro'), target: "_blank"
      .right_banner
        = link_to image_tag("collections/crop_triton.jpg", alt: "TRITON", title: "TRITON"), collection_theme_path('triton'), onclick: track_event("Colecoes", "MiddleRightBanner")
        %p.collection TRITON
        %p.resume As peças mais desejadas da marca aqui
        %p.looks= link_to 'veja a coleção', collection_theme_path('triton'), target: "_blank"
    %button.nav.bt_left.prev_collection{:type => "button"} Anterior
    #amamos
      %h1 NÓS AMAMOS
      #products_amamos
        = render "featured_products", featured_products: @featured_products
      .pagination
    %button.nav.bt_right.next_collection{:type => "button"} Próximo
- content_for :footer do
  = javascript_include_tag "collection_themes"
