<%= render "shared/liquida_banner" %>
<% content_for :head do %>
  <%= stylesheet_link_tag "section/collections" %>
  <script type="text/javascript">
    var start_position = 0, final_position = 600;
  </script>
<% end %>

<%= render "menu", collection_theme_groups: @collection_theme_groups %>
<section id="collections_content">
  <div id="home_collections">
    <div class="banner_principal">
      <%= link_to image_tag("collections/destaque_colecoes_preview_liquida_inverno_ok.jpg", alt: "Irresistíveis de Inverno", title: "Irresistíveis de Inverno"), collection_theme_path('irresistiveis_inverno'), onclick: track_event("Colecoes", "TopBigBanner") %>
    </div>
    <div class="tropicaliente">
      <%= link_to image_tag("collections/crop_carol_ribeiro_ok.jpg", alt: "Carol Ribeiro", title: "Carol Ribeiro"), collection_theme_path('carol-ribeiro'), onclick: track_event("Colecoes", "MiddleLeftBanner") %>
      <p class="collection">CAROL RIBEIRO PARA OLOOK</p>
      <p class="resume">Confira a coleção de sapatos exclusiva desenhada pela Top</p>
      <p class="looks"><%= link_to "veja a coleção", collection_theme_path('carol-ribeiro'), target: "_blank" %></p>
    </div>
    <div class="andre_lima">
      <%= link_to image_tag("collections/crop_triton.jpg", alt: "TRITON", title: "TRITON"), collection_theme_path('triton'), onclick: track_event("Colecoes", "MiddleRightBanner") %>
      <p class="collection">TRITON</p>
      <P class="resume">As peças mais desejadas da marca aqui</P>
      <p class="looks"><%= link_to 'veja a coleção', collection_theme_path('triton'), target: "_blank" %></p>
    </div>
  </div>
  <button type="button" class="nav bt_left prev_collection">Anterior</button>
  <div id="amamos">
    <h1>NÓS AMAMOS</h1>
    <div id="products_amamos">
      <%= render "featured_products", featured_products: @featured_products %>
    </div>
    <div class="pagination"></div>
  </div>
  <button type="button" class="nav bt_right next_collection">Próximo</button>
</section>
<% content_for :footer do %>
  <%= javascript_include_tag "collection_themes" %>
<% end %>
