- content_for :head do
  = stylesheet_link_tag "new_structure/section/collection_themes"
- content_for :footer do
  = javascript_include_tag 'section/lite_collection_theme'
  = javascript_include_tag "section/load_thumbnail_images"
= render "shared/mkt_breadcrumb"
= cache @cache_key, expire_in: 30.minutes do
  = collection_theme_breadcrumbs_for(@collection_theme.first) if @collection_theme.any?
  #catalog
    = render "menu", collection_theme_groups: @collection_theme_groups
    #result
      %section.container_product
        %ul#products
          = raw(I18n.t("product_not_found"))
