<% content_for :head do %>
  <%= stylesheet_link_tag "section/collections" %>
  <script type="text/javascript">
  var start_position = 0, final_position = 600;
  </script>
<% end %>
<%= render "menu", collection_theme_groups: @collection_theme_groups %>

<section id="collections_content">
  <div class="collections_header">
    <%= image_tag @collection_theme.header_image, alt: @collection_theme.header_image_alt, title: @collection_theme.header_image_alt %>
    <%= link_to("Assista ao vídeo >", "#",
                { :class => "video_link", :rel => "#{@collection_theme.video_link}" }.
                merge(@collection_theme.text_color ? { style: "color: #{@collection_theme.text_color}" } : {})) unless @collection_theme.video_link.blank? %>
    <div class="video_description"></div>
  </div>

  <div class="collections_filters">
    <div class="exhibition-mode">
      <%= render "filters" %>

    </div>
  </div>

  <div class="collections_products">
    <div id="products_container">
      <ul id="products">
        <%= render "catalogs/searched_products", :products => @search.products %>
      </ul>

      <div class="loading"></div>
    </div>
  </div>
</section>
<% content_for :footer do %>
  <%= javascript_include_tag "collection_themes" %>
  <%= render :partial => "shared/metrics/criteo/listing_tracker", :locals => { :products => @search.products.map{|product| product.id} } %>
<% end %>
