<% content_for :head do %>
  <%= stylesheet_link_tag "section/collections" %>
  <script type="text/javascript">
  var start_position = 0, final_position = 600;
  </script>
<% end %>
<%= binding.pry %>
<%= render "menu", collection_theme_groups: @collection_theme_groups %>

<section id="collections_content">
  <div class="collections_header">
    <%= image_tag @collection_theme.header_image, alt: @collection_theme.header_image_alt, title: @collection_theme.header_image_alt %>
    <%= link_to("Assista ao vídeo >", "#",
                { :class => "video_link", :rel => "#{@collection_theme.video_link}" }.
                merge(@collection_theme.text_color ? { style: "color: #{@collection_theme.text_color}" } : {})) unless @collection_theme.video_link.blank? %>
    <div class="video_description"></div>
  </div>

  <div class="collections_filters">
    <!--section class="filters">
       <h1><b>Você está em <%= @collection_theme.name %> <span>//</span></b></h1>
       <div id="tags">
          <ul>
            <li class="btn-clean"><button type="button" class="cleanFilter">( limpar filtros )</button></li>
          </ul>
       </div>
    </section-->
    <div class="exhibition-mode">
      <!--p>EXIBIÇÃO: <span class="selected product">Produto</span><b>/</b><span class="model">Produto com modelo</span></p-->

      <%= render "filters" %>

    </div>
  </div>

  <div class="collections_products">
    <div id="products_container">
      <ul id="products">
        <%= render "shared/products", :products => @catalog_products %>
      </ul>

      <div class="loading"></div>
      <%= will_paginate @catalog_products %>
    </div>
  </div>
</section>
<% content_for :footer do %>
  <%= javascript_include_tag "collection_themes" %>
  <%= render :partial => "shared/metrics/criteo/listing_tracker", :locals => { :products => @products_id } %>
<% end %>
