<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>olook</title>
    <meta name="Description" content="A olook descobre o seu estilo. Todos os meses o nossos stylists montam uma vitrine personalizada com produtos fabulosos para você. A devolução é grátis.">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  "application" %>
    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->

    <%= render "shared/metrics/kiss_metrics/kiss_metrics" %>
    <%= render "shared/metrics/google/google_analytics" %>
    <%= favicon_link_tag %>

  </head>
  <body>
    <div id="error-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield :errors %>
    </div>

    <% if ["addresses", "billets", "cart", "credit_cards", "debits", "payments"].include? params[:controller] %>
      <%= render :partial => "shared/header_checkout" %>
    <% else %>
      <%= render :partial => "shared/header_default" %>
    <% end %>

    <div id="content" class="content">
      <%= yield %>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>

  <%= javascript_include_tag "application" %>
  <%= render_google_remessaging_scripts %>
</body>
</html>
