<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" dir="ltr" lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>olook</title>
    <%= favicon_link_tag 'olook_favicon.ico' %>
    <% error = nil unless error %>
    <% if params[:share] %>
      <%= render 'shared/meta_tags' %>
    <% else %>
      <meta name="Description" content="A olook descobre o seu estilo. Todos os meses o nossos stylists montam uma vitrine personalizada com produtos fabulosos para você. A devolução é grátis.">
    <% end %>

    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700|Pontano+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  "application" %>
    <meta property="fb:page_id" content="157293541026960" />
    <meta property="fb:admins" content="100002490760020" />
    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>


    <% unless ["development", "test"].include? Rails.env %>
      <%= render "shared/metrics/vwo/tracking_code" %>
    <% end %>

    <script>
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=<%= @facebook_app_id %>";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>

  </head>

  <body class="<%= user_signed_in? ? 'logged' : '' %> <%= Campaign.activated_campaign.background if Campaign.activated_campaign %>">
    <%= render 'shared/admin_label' if current_admin %>

    <div id="modal"></div>
    <div id="error-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield :errors %>
    </div>
    <%= link_to "Ir para o topo", "#", :id => "go_top" %>

    <%= yield :top_my_account %>
    <div id="content" class="<%= error.nil? ? 'content': 'error_content'%>">

    <%# Banner from campaigns %>
    <%= render_promotion_banner unless error %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    <% if ["product"].include?(params[:controller]) %>
      <%= render :partial => "shippings/shipping" %>
      <%= javascript_include_tag "shipping" %>
    <% end %>
    </div>

    <% if user_signed_in? %>
      <%= render "shared/facebook_js", :member => current_user, :facebook_app_id => @facebook_app_id  %>
    <% else %>
      <%= javascript_include_tag "campaign_emails_modal" if Setting.show_campaign_email_modal %>
    <% end %>


  <%= yield :site_footer %>
  <%= render "shared/lightbox_credits" %>
  <%= javascript_include_tag "application" %>
  <% if content_for? :footer %>
    <%= yield :footer %>
  <% end %>

  <%= render :partial => "shared/metrics/master_tags" %>
</body>
</html>
