<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>olook</title>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  "application" %>

    <%= airbrake_javascript_notifier %>

    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->

    <%= javascript_include_tag "application" %>
    <%= render "shared/kiss_metrics" %>
    <%= render "shared/google_analytics" %>
    <%= favicon_link_tag %>

  </head>
  <body>
    <header>
      <div class="content">
        <%= link_to content_tag(:h1, 'Olook'), root_path %>
        <div class="info">
          <%= image_tag("common/animacao_topo_site.gif", :alt => "Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolução fácil e gratuita. O cadastro é gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para você.") %>
        </div>

        <div id="session">
          <% if user_signed_in? %>
            <span><%= link_to "Logout", destroy_user_session_path, :method => :delete %></span>

          <% else %>
            <span>
              <p>Já faz parte?</p>
              <%= link_to "Faça seu login", "sign-in-dropdown", :class => "trigger" %>
            </span>
          <% end %>

          <div class="sign-in-dropdown close">
            <%= render "sessions/form" %>
          </div>
        </div>
      </div>
    </header>

    <% if user_signed_in? %>
      <nav>
        <ul class="content">
          <li><%= link_to 'Convidar amigas', member_invite_path, :class => is_current?('members', 'invite') %></li>
          <li><%= link_to 'Minhas amigas convidadas', member_invite_list_path, :class => is_current?('members', 'invite_list') %></li>
        </ul>
      </nav>
    <% end %>

    <div class="content">
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>
       <%= yield %>
    </div>
  </div>

  <footer>
    <section>
      <ul>
        <li><%= link_to "Sobre o olook", about_path %></li>
      </ul>

      <ul>
        <li><%= link_to "Termos de Uso", terms_path %></li>
        <li><%= link_to "Política de Privacidade", privacy_path %></li>
        <li><%= link_to "Dúvidas Frequentes", faq_path %></li>
      </ul>

      <ul class="footer-social-midia">
        <li class="twitter"><a href="http://www.twitter.com/olook">Siga-nos no twitter</a></li>
        <li class="facebook"><a href="http://www.facebook.com/olook">Curta a Olook no Facebook</a></li>
      </ul>

      <ul class="bandeiras">
        <li><span>TRABALHAMOS COM:</span></li>
        <li><%= image_tag("common/ico-bandeiras.png", :alt => "Trabalhamos com Visa, Mastercard, American Express e Dinners") %></li>
      </ul>

      <p>© 2011 - olook</p>
      <p>Todos os direitos reservados</p>
    </section>
  </footer>
</body>
</html>
