<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" dir="ltr" lang="pt-BR">
  <head>
    <%= render :partial => "shared/errorception" %>
    <meta charset="UTF-8">
    <title>
      <%= title_text %>
    </title>
    <%= favicon_link_tag 'olook_favicon.ico' %>

    <% error = nil unless error %>
    <% if params[:share] %>
      <%= render 'shared/meta_tags' %>
    <% else %>
      <meta name="Description" content="Roupas femininas, sapatos, bolsas, óculos e acessórios incríveis - Olook. Seu look, seu estilo">
    <% end %>


    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700|Pontano+Sans' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  "http://olook.neoassist.com/clients/olook/novo/modal.css" if Setting.enable_neoassist %>
    <%= stylesheet_link_tag  "application" %>
    <%- unless @hide_fb_page_id -%>
      <meta property="fb:page_id" content="157293541026960" />
    <%- end -%>

    <% if Setting.use_vwo %>
      <!-- VWO -->
      <%= render :partial => "shared/metrics/vwo/tracking_code" %>
    <% end %>

    <!-- Struq navigation pixel -->
    <%#= render :partial => "shared/metrics/struq/homepage" %>

    <%= render :partial => "shared/metrics/header_tags" %>
    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->


    <%= render 'shared/metrics/google/universal_analytics' %>

    <script>
      dataLayer = [];
    </script>

    <%= render 'shared/data_layer/master' %>
    <%= yield :data_layer %>

    <%= render 'shared/tag/soasta' %>
  </head>



  <body onload="<%= Setting.enable_neoassist ? 'ativaDiv();' : '' %>" class="<%= user_signed_in? ? 'logged' : '' %> <%= Campaign.activated_campaign.background if Campaign.activated_campaign %> <%= "moments" if is_moment_page? %>">
    <%= render :partial => "shared/tag/google_tag_manager" %>
    <% if Setting.enable_neoassist %>
      <div id="modalneo" align="right" style="display:none;border:0px;">
        <a href="javascript: var a=null;" onclick="window.open(' http://olook.neoassist.com/?action=neolive&th=moda&scr=request&ForcaAutenticar=1&UMail=%User[EMail]%&email=%User[EMail]%&name=%User[Name]%&uName=%User[Name]%', 'Chat' , 'status , scrollbars=no ,width=500, height=580, resizable=no, top=30 , left=30');"><img src=" http://olook.neoassist.com/clients/olook/novo/images/chatmsg.png" border="0" onclick="javascript:this.style.display='none';" id="chatmsg"  /></a>
      </div>
    <% end %>
    <%= render 'shared/admin_label' if current_admin %>

    <div id="modal" class="promo-olook"></div>
    <div id="modal-campaign"></div>
    <div id="overlay-campaign"></div>

    <div id="error-messages">
      <p class="notice"><%= notice unless params[:action] == "product_valentines_day" %></p>
      <p class="alert"><%= alert %></p>
      <%= yield :errors %>
    </div>
    <%= link_to "Ir para o topo", "#", :id => "go_top" %>

    <%= yield :top_my_account %>
    <div id="content" class="<%= error.nil? ? 'content': 'error_content'%>">

    <%= render_promotion_banner unless error %>

    <%= content_for?(:content) ? yield(:content) : yield %>

    </div>
    <div id="fb-root"></div>

    <%= yield :site_footer %>
    <%= javascript_include_tag "http://olook.neoassist.com/clients/olook/js/chat.js" if Setting.enable_neoassist %>
    <%= javascript_include_tag "jquery" %>
    <%= yield :scripts %>
    <%= javascript_include_tag "application" %>
    <script>
      show_modal = '<%= j @modal_show %>';
    </script>

    <%= render(:partial => "shared/footer_bar") if should_display_footer_bar? %>

    <%= render "shared/facebook_js", :member => current_user, :facebook_app_id => @facebook_app_id  %>

    <% unless user_signed_in? || request.url.include?("gclid") %>
    <%= javascript_include_tag "campaign_emails_modal" if Setting.show_campaign_email_modal &&  !['landing_pages','survey', 'users/registrations', 'cart/cart', 'devise/sessions' ].include?(params[:controller]) %>
    <% end %>

    <% if content_for? :footer %>
      <%= yield :footer %>
    <% end %>
    <%= render :partial => "shared/metrics/master_tags" %>
  </body>
</html>
