<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>olook</title>
    <meta name="Description" content="A olook descobre o seu estilo. Todos os meses o nossos stylists montam uma vitrine personalizada com produtos fabulosos para você. A devolução é grátis.">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  "application" %>
    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->

    <%= render "shared/metrics/google/google_analytics" %>
    <%= favicon_link_tag %>

  </head>
  <body>
    <div id="error-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield :errors %>
    </div>

    <header>
      <div class="content">
        <h1><%= link_to 'Olook', root_path %></h1>
        <div class="info">
          <%= image_tag("common/animacao_topo_site.gif", :alt => "Todos os produtos por R$69,90 R$99,90 ou R$129,90. Frete gratuito a partir de R$100 e devolução fácil e gratuita. O cadastro é gratuito e leva menos de 2 minutos. Todos os meses uma coleção nova para você.") %>
        </div>

        <div id="session">
          <% if user_signed_in? %>
            <h2>Olá, <span id="info_user"><%= current_user.name %></span></h2>
          <% end %>
          <ul>
            <% if user_signed_in? %>
              <li><%= link_to "Sair", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li class="login">
                <p>Já faz parte? <%= link_to "Faça seu login", "sign-in-dropdown", :class => "trigger" %></p>
              </li>
            <% end %>
          </ul>
          <div class="sign-in-dropdown close">
            <%= render "sessions/form_user" %>
          </div>
        </div>
      </div>
    </header>

    <div class="top-shadow"></div>


    <% if user_signed_in? %>
      <nav>
        <ul class="content">
          <li class="invite"><%= link_to 'Convidar amigas', member_invite_path, :class => is_current?('members', 'invite') %></li>
          <li class="my_friends"><%= link_to 'Minhas amigas convidadas', member_invite_list_path, :class => is_current?('members', 'invite_list') %></li>
          <li class="how_to"><%= link_to 'Como funciona', member_how_to_path, :class => is_current?('members', 'how_to') %></li>
        </ul>
      </nav>

    <% else %>

    <% end %>

    <div class="content">
      <%= yield %>
    </div>
  </div>
  <%= render :partial => "shared/footer" %>

  <%= javascript_include_tag "application" %>
  <%= render_google_remessaging_scripts %>
  <% if content_for? :footer %>
    <%= yield :footer %>
  <% end %>
</body>
</html>
