<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>olook</title>
    <% if params[:share] %>
      <%= render 'shared/meta_tags' %>
    <% else %>
      <meta name="Description" content="A olook descobre o seu estilo. Todos os meses o nossos stylists montam uma vitrine personalizada com produtos fabulosos para você. A devolução é grátis.">
    <% end %>

    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag  "application" %>
    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->


    <%= render "shared/metrics/google/google_analytics" %>
    <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" %>
    <%= render "shared/metrics/vwo/tracking_code" %>
    <%= favicon_link_tag %>

  </head>
  <body class="<%= user_signed_in? ? 'logged' : '' %>">
    <div id="error-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield :errors %>
    </div>

    <%= yield :top_my_account %>

    <div id="content" class="content">
      <%= render_promotion_banner %>
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>

  <%= yield :site_footer %>

  <%= javascript_include_tag "application" %>
  <%= render_google_remessaging_scripts %>
  <% if content_for? :footer %>
    <%= yield :footer %>
  <% end %>
</body>
</html>
