<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <title>olook</title>
    <% if params[:share] %>
      <meta property="og:title" content="olook Style Panel – Sou <%= @qualities %>">
      <meta property="og:url" content="<%= "#{@url}/membro/#{params[:share]}/#{params[:uid]}" %>">
      <meta property="og:description" content="Faça o Style Quiz da olook pelo link: <%= accept_invitation_url(:invite_token => @user.invite_token) %> e descubra também o seu estilo. A cada mês, uma nova vitrine personalizada para você com sapatos, bolsas e acessórios.">
      <meta property="og:image" content="<%= "#{@url}/assets/first_visit_banner/#{@profile}.jpg" %>">
      <meta property="og:site_name" content="Olook">
      <meta property="og:type" content="website">
    <% else %>
      <meta name="Description" content="A olook descobre o seu estilo. Todos os meses o nossos stylists montam uma vitrine personalizada com produtos fabulosos para você. A devolução é grátis.">
    <% end %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag  "application" %>
    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->

    <%= render "shared/metrics/google/google_analytics" %>
    <%= favicon_link_tag %>

  </head>
  <body class="<%= user_signed_in? ? 'logged' : '' %>">
    <div id="error-messages">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield :errors %>
    </div>

    <%= yield :top_my_account %>

    <div id="content" class="content">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>

  <%= yield :site_footer %>

  <%= javascript_include_tag "application" %>
  <%= render_google_remessaging_scripts %>
  <% if content_for? :footer %>
    <%= yield :footer %>
  <% end %>
</body>
</html>
