<% content_for :top_my_account do %>
  <%= render "shared/header_checkout" %>
<% end %>

<% content_for :content do %>
  <% if params["controller"] == "checkout/checkout" && params["action"] == "new" %>
   <%= content_for?(:news_content) ? yield(:news_content) : yield %>
    <ul class="links_moip">
      <% if @referer %>
        <li class="link"><%= link_to "<< Continuar comprando", @referer[:url], :class => "back_link" %></li>
      <% else %>
        <li class="link"><%= link_to "<< Continuar comprando", member_showroom_path, :class => "back_link" %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>


<%= content_for :site_footer, render(:partial => "shared/footer_checkout") %>

<%= render :template => 'layouts/application' %>
