!!!
%html{:dir => "ltr", :lang => "pt-BR", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://opengraphprotocol.org/schema/"}
  %head
    = render :partial => "shared/errorception"
    %meta{:charset => "UTF-8"}/
    %title
      = title_text
    = apply_canonical_link
    = favicon_link_tag 'olook_favicon.ico'
    - error = nil unless error
    - if params[:share]
      = render 'shared/meta_tags'
    - else
      %meta{:content => "Roupas femininas, sapatos, bolsas, óculos e acessórios incríveis - Olook. Seu look, seu estilo", :name => "Description"}/
    = csrf_meta_tags
    = stylesheet_link_tag  "http://olook.neoassist.com/clients/olook/novo/modal.css" if Setting.enable_neoassist
    = stylesheet_link_tag  "new_structure/lite_application"
    = stylesheet_link_tag  "desktop" unless mobile?
    - unless @hide_fb_page_id
      %meta{:content => "157293541026960", :property => "fb:page_id"}/
    - if Setting.use_vwo
      / VWO
      = render :partial => "shared/metrics/vwo/tracking_code"
    = render :partial => "shared/metrics/header_tags"
    = yield :head
    /[if IE]
      <haml:loud> javascript_include_tag &amp;quot;html5.js&amp;quot; </haml:loud>
    :javascript
      dataLayer = [];
    = render 'shared/data_layer/master'
    = yield :data_layer
    = render 'shared/tag/soasta'
  %body{:class => "#{user_signed_in? ? 'logged' : ''} #{Campaign.activated_campaign.background if Campaign.activated_campaign}#{mobile? ? ' mobile' : ' desktop'}", :onload => Setting.enable_neoassist ? 'ativaDiv();' : ''}
    = yield :after_body
    = render :partial => "shared/tag/google_tag_manager"
    - if Setting.enable_neoassist
      #modalneo{:align => "right", :style => "display:none;border:0px;"}
        %a{:href => "javascript: var a=null;", :onclick => "window.open(' http://olook.neoassist.com/?action=neolive&th=moda&scr=request&ForcaAutenticar=1&UMail=%User[EMail]%&email=%User[EMail]%&name=%User[Name]%&uName=%User[Name]%', 'Chat' , 'status , scrollbars=no ,width=500, height=580, resizable=no, top=30 , left=30');"}
          %img#chatmsg{:border => "0", :onclick => "javascript:this.style.display='none';", :src => " http://olook.neoassist.com/clients/olook/novo/images/chatmsg.png"}/
    = render 'shared/admin_label' if current_admin
    #container
      #error-messages
        %p.notice= notice
        %p.alert= alert
        = yield :errors
      = link_to "Ir para o topo", "#", :id => "go_top"
      %header#new_header
        .new_content
          .box_left
            %p
              SAC (11) 2626-3489 |
              %a.contact{:href => "/centraldeatendimento"} Central de Atendimento
            %ul.social_icons
              %li= link_to "Acompanhe pelo Facebook", "http://facebook.com/olook", title: "Acompanhe pelo Facebook", target: "_blank", class: "social_facebook"
              %li= link_to "Acompanhe pelo Twitter", "http://twitter.com/olook", title: "Acompanhe pelo Twitter", target: "_blank", class: "social_twitter"
              %li= link_to "Acompanhe por RSS", "http://stylist-news.olook.com.br/feed/", title: "Acompanhe por RSS", target: "_blank", class: "social_rss"
              %li= link_to "Acompanhe pelo Instagram", "http://instagram.com/olook", title: "Acompanhe pelo Instagram", target: "_blank", class:"social_instagram"
            %p= link_to "Ganhe créditos!", "/membro/ganhe-creditos", :class => "earn_credits"
          .box_right
            - if user_signed_in?
              .user
                %ul
                  %li.first Olá,
                  %li.username
                    = current_user.first_name
                %p.trade= link_to "Troca Fácil", troca_path, :class => "invite"
              %li.submenu
                = link_to "Minha Conta", user_orders_path, :id => "account"
                .my_account
                  %ul
                    %li= link_to "Meus pedidos", user_orders_path
                    / <li></haml:block><haml:silent></haml:silent><haml:block></li>
                    %li.last= link_to "Meus créditos", user_credits_path
                    %li= link_to "Dados pessoais", edit_user_registration_path
                    %li= link_to "Endereços", user_addresses_path
                    %li= link_to "Sair", destroy_user_session_path, :method => :delete, onclick: track_event("Checkout","clickSignOut")
            - else
              %p.new_login
                = link_to "Entre", "javascript:void(0);", :rel => "sign-in-dropdown", :class => "trigger"
                ou #{link_to "Descubra seu estilo", wysquiz_path}
              .sign-in-dropdown.close
                = render "users/sessions/form_user"
          = render 'shared/search_bar'
        .olook_logo
          %h1= link_to 'Olook', root_path
    - unless params[:controller] == "survey"
      #wrapper_new_menu
        %nav.menu_new
          .content_new
            %ul.default_new
              = MenuPresenter.new(self, :user => current_user).render_menu(mobile?)
            - unless params[:controller].include? "survey"
              .new_sacola
                = link_to "SACOLA #{cart_total(@cart)}".html_safe, cart_path, :class => "cart #{'full' if @cart.try(:items_total).to_i > 0}"
                = render 'shared/cart', :cart => @cart
    #content{:class => error.nil? ? 'content': 'error_content'}
      = render_promotion_banner unless error
      = content_for?(:content) ? yield(:content) : yield
    = render(:partial => "shared/footer")
    = render(:partial => "shared/footer_bar")
    / Modals
    #modal.promo-olook
    #overlay-campaign= image_tag 'common/ajax-loader.gif', id: 'ajax-loader', style: 'position:fixed;top:50%;left:50%'
    #modal-campaign &nbsp;
    / End Modals
    = javascript_include_tag "http://olook.neoassist.com/clients/olook/js/chat.js" if Setting.enable_neoassist
    = javascript_include_tag "jquery"
    = javascript_include_tag "lite_application"
    :javascript
      show_modal = '#{j @modal_show}';
    - unless user_signed_in? || request.url.include?("gclid")
      = javascript_include_tag "campaign_emails_modal" if Setting.show_campaign_email_modal && !['landing_pages','survey', 'users/registrations'].include?(params[:controller])
    - if content_for? :footer
      = yield :footer
    = javascript_include_tag "http://olook.neoassist.com/clients/olook/js/chat.js" if Setting.enable_neoassist
    = render :partial => "shared/metrics/master_tags"
