<!DOCTYPE html>
<html xmlns:fb="http://www.facebook.com/2008/fbml" xmlns:og="http://opengraphprotocol.org/schema/" dir="ltr" lang="pt-BR">
  <head>
    <%= render :partial => "shared/errorception" %>
    <meta charset="UTF-8">
    <title>
      <%= title_text %>
    </title>
    <%= apply_canonical_link %>
    <%= favicon_link_tag 'olook_favicon.ico' %>

    <% error = nil unless error %>
    <% if params[:share] %>
      <%= render 'shared/meta_tags' %>
    <% else %>
      <meta name="Description" content="Roupas femininas, sapatos, bolsas, óculos e acessórios incríveis - Olook. Seu look, seu estilo">
    <% end %>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  "http://olook.neoassist.com/clients/olook/novo/modal.css" if Setting.enable_neoassist %>
    <%= stylesheet_link_tag  "new_structure/lite_application" %>

    <%- unless @hide_fb_page_id -%>
      <meta property="fb:page_id" content="157293541026960" />
    <%- end -%>

    <% if Setting.use_vwo %>
      <!-- VWO -->
      <%= render :partial => "shared/metrics/vwo/tracking_code" %>
    <% end %>

    <%= render :partial => "shared/metrics/header_tags" %>

    <%= yield :head %>

    <!--[if IE]>
    <%= javascript_include_tag "html5.js" %>
    <![endif]-->

    <script>
      dataLayer = [];
    </script>

    <%= render 'shared/data_layer/master' %>
    <%= yield :data_layer %>
  </head>


  <body onload="<%= Setting.enable_neoassist ? 'ativaDiv();' : '' %>" class="<%= user_signed_in? ? 'logged' : '' %> <%= Campaign.activated_campaign.background if Campaign.activated_campaign %>">
    <%= yield :after_body %>
    <%= render :partial => "shared/tag/google_tag_manager" %>
    <% if Setting.enable_neoassist %>
      <div id="modalneo" align="right" style="display:none;border:0px;">
        <a href="javascript: var a=null;" onclick="window.open(' http://olook.neoassist.com/?action=neolive&th=moda&scr=request&ForcaAutenticar=1&UMail=%User[EMail]%&email=%User[EMail]%&name=%User[Name]%&uName=%User[Name]%', 'Chat' , 'status , scrollbars=no ,width=500, height=580, resizable=no, top=30 , left=30');"><img src=" http://olook.neoassist.com/clients/olook/novo/images/chatmsg.png" border="0" onclick="javascript:this.style.display='none';" id="chatmsg"  /></a>
      </div>
    <% end %>
    <%= render 'shared/admin_label' if current_admin %>
    <div id="container">
       <div id="error-messages">
         <p class="notice"><%= notice %></p>
         <p class="alert"><%= alert %></p>
         <%= yield :errors %>
       </div>
       <%= link_to "Ir para o topo", "#", :id => "go_top" %>

       <header id="new_header">
         <div class="new_content">
           <div class="box_left">
             <p>SAC (11) 2626-3489 | <a class="contact" href="/centraldeatendimento">Central de Atendimento</a></p>
             <ul class="social_icons">
               <li><%= link_to "Acompanhe pelo Facebook", "http://facebook.com/olook", title: "Acompanhe pelo Facebook", target: "_blank", class: "social_facebook" %></li>
               <li><%= link_to "Acompanhe pelo Twitter", "http://twitter.com/olook", title: "Acompanhe pelo Twitter", target: "_blank", class: "social_twitter" %></li>
               <li><%= link_to "Acompanhe por RSS", "http://stylist-news.olook.com.br/feed/", title: "Acompanhe por RSS", target: "_blank", class: "social_rss" %></li>
               <li><%= link_to "Acompanhe pelo Instagram", "http://instagram.com/olook", title: "Acompanhe pelo Instagram", target: "_blank", class:"social_instagram" %></li>
             </ul>
             <p><%= link_to "Ganhe créditos!", "/membro/ganhe-creditos", :class => "earn_credits" %></p>
           </div>
            <div class="box_right">
             <% if user_signed_in? %>
            <div class="user">
              <ul>
                <li class="first">Olá,</li>
                <li class="username">
                  <%= current_user.first_name %>
                </li>
                <p class="trade"><%= link_to "Troca Fácil", troca_path, :class => "invite" %></p>
                <li class="submenu">
                  <%= link_to "Minha Conta", user_orders_path, :id => "account" %>
                  <div class="my_account">
                    <ul>
                      <li><%= link_to "Meus pedidos", user_orders_path %></li>
                      <!-- <li><%#= link_to "Meus presentes", user_gifts_path %></li> -->
                      <li class="last"><%= link_to "Meus créditos", user_credits_path %></li>
                      <li><%= link_to "Dados pessoais", edit_user_registration_path %></li>
                      <li><%= link_to "Endereços", user_addresses_path %></li>
                      <li><%= link_to "Sair", destroy_user_session_path, :method => :delete, onclick: track_event("Checkout","clickSignOut") %></li>
                    </ul>
                  </div>
                </li>
              </ul>
            </div>
             <% else %>
             <p class="new_login"><%= link_to "Entre", "javascript:void(0);", :rel => "sign-in-dropdown", :class => "trigger" %> ou <%= link_to "Descubra seu estilo", wysquiz_path %></p>
             <div class="sign-in-dropdown close">
               <%= render "users/sessions/form_user" %>
             </div>
             <% end %>
             <%= render 'shared/search_bar' %>
             <%= render 'shared/cart', :cart => @cart %>
           </div>
           <div class="olook_logo">
               <h1><%= link_to 'Olook', root_path %></h1>
           </div>
         </div>
       </header>

       <% unless params[:controller] == "survey" %>
         <div id="wrapper_new_menu">
           <nav class="menu_new">
             <div class="content_new">
               <ul class="default_new">
                 <%= MenuPresenter.new(self, :user => current_user).render_menu %>
               </ul>
             </div>
           </nav>
         </div>
       <%- end -%>

       <div id="content" class="<%= error.nil? ? 'content': 'error_content'%>">

         <%= render_promotion_banner unless error %>
         <%= content_for?(:content) ? yield(:content) : yield %>
       </div>

       <%= render(:partial => "shared/footer") %>
       <%= render(:partial => "shared/footer_bar") %>

       <!-- Modals -->
       <div id="modal" class="promo-olook"></div>
       <div id="overlay-campaign"><%= image_tag 'common/ajax-loader.gif', id: 'ajax-loader', style: 'position:fixed;top:50%;left:50%' %></div>
       <div id="modal-campaign">&nbsp;</div>
       <!-- End Modals -->


       <%= javascript_include_tag "http://olook.neoassist.com/clients/olook/js/chat.js" if Setting.enable_neoassist %>
       <%= javascript_include_tag "jquery" %>
       <%= javascript_include_tag "lite_application" %>
       <script>
         show_modal = '<%= j @modal_show %>';
       </script>

       <% unless user_signed_in? || request.url.include?("gclid") %>
         <%= javascript_include_tag "campaign_emails_modal" if Setting.show_campaign_email_modal && !['landing_pages','survey', 'users/registrations'].include?(params[:controller]) %>
       <% end %>


       <% if content_for? :footer %>
         <%= yield :footer %>
       <% end %>

       <%= javascript_include_tag "http://olook.neoassist.com/clients/olook/js/chat.js" if Setting.enable_neoassist %>
       <%= render :partial => "shared/metrics/master_tags" %>
    </div>
  </body>
</html>
