!!!
%html{:dir => "ltr", :lang => "pt-BR", "xmlns:fb" => "http://www.facebook.com/2008/fbml", "xmlns:og" => "http://opengraphprotocol.org/schema/"}
  %head
    %meta{:charset => "UTF-8"}/
    %title olook
    = favicon_link_tag 'olook_favicon.ico'
    - error = nil unless error
    - if params[:share]
      = render 'shared/meta_tags'
    - else
      %meta{:content => "Roupas femininas, sapatos, bolsas, óculos e acessórios incríveis - Olook. Seu look, seu estilo", :name => "Description"}/
    = csrf_meta_tags
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700|Pontano+Sans", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag  "/new_structure/section/survey"
    - unless @hide_fb_page_id
      %meta{:content => "157293541026960", :property => "fb:page_id"}/
    - if Setting.use_vwo
      / VWO
      = render :partial => "shared/metrics/vwo/tracking_code"
    / Struq navigation pixel
    = render :partial => "shared/metrics/header_tags"
    = yield :head
    /[if IE]
      <haml:loud> javascript_include_tag &amp;quot;html5.js&amp;quot; </haml:loud>
    = render 'shared/metrics/google/universal_analytics'
    :javascript
      dataLayer = [];
    = render 'shared/data_layer/master'
    = yield :data_layer
  %body{:class => "#{user_signed_in? ? 'logged' : ''} #{Campaign.activated_campaign.background if Campaign.activated_campaign} #{"moments" if is_moment_page?}"}
    = render :partial => "shared/tag/google_tag_manager"
    %header
      = content_for?(:content) ? yield(:content) : yield
      %footer
