<div class="lookbook">
  <h1>Lookbooks</h1>
  <div id="mask_carousel_showroom">
    <ul>
      <li><%= link_to image_tag("lookbooks/glitter.jpg"), glitter_path %></li>
      <li><%= link_to image_tag("lookbooks/color-block.jpg"), color_block_path %></li>
      <li><%= link_to image_tag("lookbooks/golden-grace.jpg"), golden_grace_path %></li>
      <li><%= link_to image_tag("lookbooks/lets-party.jpg"), lets_party_path %></li>
      <li><%= link_to image_tag("lookbooks/flores.jpg"), flores_path %></li>
    </ul>
    <%= link_to "Anterior", "javascript:void(0);", :class => "carousel-prev" %>
    <%= link_to "Próximo", "javascript:void(0);", :class => "carousel-next" %>
  </div>
</div>
