    <section class="container_product" id="shoes_container">
      <h1 class="title">Sapatos de <%= showroom_presenter.collection_name %></h1>
      <div class="type_list">
        <div class="products_list best">
          <ul>
            <%= showroom_presenter.display_shoes (0..4) %>
          </ul>
          <%= link_to "Veja os sapatos que quase entraram para sua vitrine", "javascript:void(0);", :class => "more shoes", :rel => "almost" %>
        </div>
        <div class="products_list almost">
          <ul>
            <%= showroom_presenter.display_shoes (5..9) %>
          </ul>
          <%= link_to "Veja mais sapatos", "javascript:void(0);", :class => "more all_shoes", :rel => "all" %>
        </div>
        <div class="products_list all">
          <ul>
            <%= showroom_presenter.display_shoes (10..19) %>
          </ul>
        </div>
      </div>
    </section>
