    <section class="container_product" id="purse_container">
      <h1 class="title">Bolsas de <%= showroom_presenter.collection_name %></h1>
      <div class="type_list">
        <div class="products_list best">
          <ul>
            <%= showroom_presenter.display_bags (0..4) %>
          </ul>
          <%= link_to "Veja as bolsas que quase entraram para sua vitrine", "javascript:void(0);", :class => "more", :rel => "almost" %>
        </div>
        <div class="products_list almost">
          <ul>
            <%= showroom_presenter.display_bags (5..9) %>
          </ul>
          <%= link_to "Veja mais bolsas", "javascript:void(0);", :class => "more", :rel => "all" %>
        </div>
        <div class="products_list all">
          <ul>
            <%= showroom_presenter.display_bags (10..19) %>
          </ul>
        </div>
      </div>
    </section>

