<% content_for :head do %>
  <%= stylesheet_link_tag "section/credits" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "credits" %>
<% end %>

<section id="credits">
  <h1>Ganhe créditos e economize muito nas suas compras</h1>
  <% if current_user.current_credit.to_i > 0 %>
    <div class="bubble">
      <h1>Você tem <span><%= number_to_currency current_user.current_credit %></span> de crédito para sua próxima compra</h1>
      <p>Eles serão aplicados automaticamente na sua sacola, antes do pagamento</p>
    </div>
    <div class="plus"></div>
  <% end %>
  <section id="friends_credits">
    <% if current_user.current_credit.to_i > 0 %>
      <%= render 'shared/my_account/credits_friends', :user => current_user %>
    <% end %>
    <h2 class="title">Convide suas amigas:</h2>
    <p>Você ganha R$ 30 quando elas fizerem a 1ª compra.</p>
    <%= render "shared/social/share", :user => current_user %>
    <div class="rules">
      <%= link_to "Confira o regulamento completo", "#" %>
    </div>
  </section>
  <section id="purchase_credits">
    <% if current_user.current_credit.to_i > 0 %>
      <%= render 'shared/my_account/credits_last_order', :user => current_user %>
    <% end %>
    <h1 class="max">Você sempre ganha 15% do valor das suas compras em desconto no próximo pedido</h1>
    <div id="box_months">
      <h3>O crédito é válido para as próximas 2 coleções.</h3>
      <table cellpadding="0" cellspacing="0" class="current">
        <thead>
          <tr>
            <th><%= l Time.now, :format => "%B" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>mês atual</td>
          </tr>
        </tbody>
      </table>
      <table cellpadding="0" cellspacing="0">
        <thead>
          <tr>
            <th><%= l (Time.now + 1.month), :format => "%B" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <table cellpadding="0" cellspacing="0" class="last">
        <thead>
          <tr>
            <th><%= l (Time.now + 2.month), :format => "%B" %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </tbody>
      </table>
      <p class="current">Você compra hoje</p>
      <p class="next">E recebe 15% do valor em créditos para usar nas coleções de <%= (l (Time.now + 1.month), :format => "%B").downcase %> ou <%= (l (Time.now + 2.month), :format => "%B").downcase %></p>
    </div>
    <div class="rules">
      <%= link_to "Confira o regulamento completo", "#" %>
    </div>
  </section>
</section>
