<% content_for :head do %>
  <%= stylesheet_link_tag "section/invite" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "members" %>
<% end %>

<aside class="pic_credits">
  <p>
    Queremos ver você sempre linda e satisfeita, no dia-a-dia e nas compras! Por isso oferecemos várias maneiras de você ganhar créditos. Quer ver?
  </p>
</aside>

<section class="share_friends">
  <article class="fidelity">
    <h2>Fidelidade Olook</h2>
    <p>Sempre que comprar na Olook, você ganha 15% do valor total em créditos para gastar nos próximos 30 dias em compras acima de R$100,00.</p>
    <%= link_to ">> Garanta seus créditos!", "#", :class =>"win_credits" %>
  </article>
  <article class="invite_your_friends">
    <h2>Convide suas amigas</h2>
    <p>
      Convide suas amigas pelo FACEBOOK ou E-MAIL.<br>
      Se elas fizerem alguma compra, você ganha R$ 30,00 para gastar em compras acima de R$ 150,00. Escolha a forma de compartilhar!
    </p>
    <% if @current_user %>
      <ul>
        <li>
          <b>1. Por E-mail</b>
          Digite o e-mail das suas amigas no campo abaixo, separado por virgula.
          <%= form_tag(member_invite_by_email_path, class: "invite") do %>
            <%= text_area_tag :invite_mail_list %>
            <%= submit_tag(">> CONVIDAR", id: "invite_email", onclick: track_event('MemberInvite', 'EmailInvite')) %>
          <% end %>
        </li>
        <li>
          <b>2. Pelo Facebook</b>
          Selecione suas amigas e envie o convite!
          <%= link_to image_tag('common/bt-face-send-messages.png'), 'javascript:void;', :id => 'facebook_invite_friends', onclick: track_event("MemberInvite","FacebookMessage"), data: { href: accept_invitation_url(:invite_token => @user.invite_token) } %>
        </li>
      </ul>
    <% else %>
    Para convidar, você precisa se logar antes:

    <p>

      <div class="login_with_facebook">
        <div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false" data-scope="<%=FACEBOOK_CONFIG['login_scope']%>" data-onlogin="loginFacebook" login_text='Entrar com Facebook'/>
      </div>

    </p>
      <p class="email">Ou entre com seu e-mail</p>
      <%= render partial: "users/sessions/form", locals: {resource: User.new, resource_name: :user} %>

    <% end %>
  </article>
</section>

<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" charset="utf-8">
  window.twttr = (function (d,s,id) {
    var t, js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
    js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
    return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
  }(document, "script", "twitter-wjs"));
</script>
<script type="text/javascript" charset="utf-8">
  twttr.ready(function (twttr) {
    twttr.events.bind('click', function(event){
      <%# = track_event('MemberInvite', 'TwitterPost') %>
    });
  });
</script>