<% content_for :head do %>
  <%= stylesheet_link_tag "section/invite" %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "members" %>
<% end %>

<section id="user-info">
  <ul>
    <li><a class="convide" href="javascript:void(0);"></a></li>
    <li><a class="fidelidade_desativado" href="javascript:void(0);"></a></li>
  </ul>
</section>

<section id="share-mail">
  <hgroup>
    <h1>Compartilhe seu link pessoal</h1>
    <h2>Envie seu link pessoal <br /> pelo Facebook, Twitter, MSN e <br /> por onde mais você quiser.</h2>
  </hgroup>

  <form>
    <fieldset>
      <ol>
        <li>
          <%= text_field_tag "link", accept_invitation_url(:invite_token => @user.invite_token), :readonly => "readonly" %>
          <%= link_to "Copiar link", "#", :class =>"copy_link" %>
          <ul class="share">
            <li class="share_msg"> ou compartilhe
              <a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= twitte_message(@user) %>" data-url="www.olook.com.br" data-count="none" data-counturl="www.olook.com.br">Tweet</a>
              <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
              <script type="text/javascript" charset="utf-8">
                window.twttr = (function (d,s,id) {
                  var t, js, fjs = d.getElementsByTagName(s)[0];
                  if (d.getElementById(id)) return; js=d.createElement(s); js.id=id;
                  js.src="//platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs);
                  return window.twttr || (t = { _e: [], ready: function(f){ t._e.push(f) } });
                }(document, "script", "twitter-wjs"));
              </script>
              <script type="text/javascript" charset="utf-8">
                twttr.ready(function (twttr) {
                  twttr.events.bind('click', function(event){
                    <%# = track_event('MemberInvite', 'TwitterPost') %>
                  });
                });
              </script>
            </li>
            <li>
              <%= link_to image_tag('common/fb-post-to-wall.png'), 'javascript:void', id: 'facebook_post_wall', onclick: track_event('MemberInvite', 'FacebookPost') %>
            </li>
          </ul>
        </li>
      </ol>
    </fieldset>
  </form>
  <div class="box_copy" style="display: none">
    <p>Link copiado com sucesso!</p>
    <p><span>Aperte CTRL + V para colar.</span></p>
  </div>
</section>

<section id="invite-mail">
  <hgroup>
    <h1>Convide suas amigas por email</h1>
    <h2>Digite o email de suas amigas <br /> no campo ao lado separados por vírgula.</h2>
  </hgroup>

  <%= form_tag (member_invite_by_email_path) do %>
    <fieldset>
      <ol>
        <li>
          <%= text_area_tag :invite_mail_list %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons invite">
      <ol>
        <li>
          <%= submit_tag("CONVIDAR", id: "invite_email", onclick: track_event('MemberInvite', 'EmailInvite')) %>          
        </li>
      </ol>
    </fieldset>
  <% end %>
</section>

<section id="post-to-wall", style="background:none;">
  <hgroup>
    <h1>Convide amigas do Facebook</h1>
    <h2>Para convidar, selecione suas amigas<br />na caixa ao lado.
    </h2>
  </hgroup>
  <%= link_to image_tag('common/bt-face-send-messages.png'), 'javascript:void;', :id => 'facebook_invite_friends', onclick: track_event("MemberInvite","FacebookMessage") %>
</section>

<section id="credits">
  <h1>AGORA VOCÊ FICARÁ NA MODA TODOS OS MESES GASTANDO MENOS</h1>
  <ul>
    <li class="first"><p>Toda a vez que você </br>comprar na Olook</p></li>
    <li class="earn"><p>Você ganhará 15% </br>do valor do seu </br>pedido em créditos</p></li>
    <li class="last"><p>Para usar em compras </br>nos próximos 2 meses </br>(em compras acima de R$ 100).</p></li>
  </ul>

</section>
<%#= render 'invite_by_email.html.erb' %>
