<%= form_tag(member_import_contacts_path) do %>
  <%= hidden_field_tag(:email_provider, @email_provider) %>
  <p>Email login: <%= text_field_tag(:login) %></p>
  <p>Password: <%= password_field_tag(:password) %></p>
  <p><%= submit_tag("Get contacts!") %></p>
<% end %>
