<div id="invite_list">
  <h1><%= invitation_score(@user) %></h1>
  <h2>A cada 5 amigas convidadas, você ganha R$20, e elas R$10 cada.</h2>
  <table id="list">
    <thead>
      <tr>
        <th>Email</th>
        <th>Convidada em</th>
        <th>Registrada</th>
      </tr>
    </thead>

    <% @invites.each do |invite| %>
      <tbody>
        <tr>
          <td><%= invite.email %></td>
          <td><%= invite.created_at.to_s(:short) %></td>
          <td><%= Invite.status_for_user_invite(@user.id, invite) %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= will_paginate @invites %>

</div>
