<% content_for :head do %>
  <%= stylesheet_link_tag "section/invite" %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "members" %>
<% end %>

<div id="fb-root"></div>
<%= render "facebook_js", :member => @member, :facebook_app_id => @facebook_app_id  %>

<% if @is_the_first_visit %>
  <%= render 'shared/models' %>
<% end %>

<section id="user-info">
<hgroup class='info'>
    <% unless current_user.has_facebook? %>
      <div class="connect">
        <p>Conecte-se com o facebook e veja sua vitrine antes de todas</p>
        <%= link_to "Conectar com o Facebook", user_omniauth_authorize_path(:facebook), :class => "fb-connect" %>
      </div>
    <% end %>
    <h2><%= display_member_invite_bonus(current_user) %></h2>
  </hgroup>

  <div class="banner">
    <h1>Quer ganhar</h1>
    <h2>R$20?</h2>
    <h3>
      <p>Convide <span>5</span> de suas amigas</p>
      <p>e elas ganham R$10</p>
    </h3>
    <%= link_to 'Veja o regulamento', terms_path %>
    <%= image_tag('/assets/common/model-banner.png') %>
  </div>
</section>

<nav class="invite">
  <ul>
    <li class='personal_link'><%= link_to 'Link pessoal', 'javascript:void(0);', :class => 'share-mail' %></li>
    <li class='invite_mail'><%= link_to 'Email', 'javascript:void(0);', :class => 'invite-mail' %></li>
    <li class='facebook'><%= link_to  'Facebook', 'javascript:void(0);', :class => 'post-to-wall' %></li>
    <li class='import_contacts'><%= link_to 'Lista de contatos', 'javascript:void(0);', :class => 'import-contacts' %></li>
  </ul>
</nav>

<section id="share-mail">
  <hgroup>
    <h1>Compartilhe seu link pessoal</h1>
    <h2>Envie seu link pessoal <br /> pelo FaceBook, Twitter, MSN, Orkut e <br /> por onde mais você quiser</h2>
  </hgroup>

  <form>
    <fieldset>
      <ol>
        <li>
          <input type="text" value="<%= accept_invitation_url(:invite_token => @member.invite_token) %>" readonly="readonly">
          <ul class="share">
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-text="<%= twitte_message(@member) %>" data-url="www.olook.com.br" data-count="none" data-counturl="www.olook.com.br">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
            <li>
              <div id="orkut_share" style="width:100%;"></div>
              <script src="http://www.google.com/jsapi" type="text/javascript"></script>
              <script type="text/javascript">
                google.load('orkut.share', '1');
                google.setOnLoadCallback(function(){
                  new google.orkut.share.Button({
                    style:'regular',
                    title:'Olook',
                    summary:'<%= invite_message %>',
                    destination:'<%= invitation_link(@member) %>'
                  }).draw('orkut_share');
                }, true);
              </script>
            </li>
            <li>
              <a href="#" id="facebook_post_wall"><%= image_tag 'common/fb-post-to-wall.png' %></a>
            </li>
          </ul>
        </li>
      </ol>
    </fieldset>
  </form>
</section>

<section id="invite-mail">
  <hgroup>
    <h1>Convide suas amigas por email</h1>
    <h2>Digite o email de suas amigas <br /> no campo ao lado separados <br /> por vírgula </h2>
  </hgroup>

  <%= form_tag (member_invite_by_email_path) do %>
    <fieldset>
      <ol>
        <li>
          <%= text_area_tag :invite_mail_list %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li><input name="commit" type="submit" value="" id="invite_email"></input></li>
      </ol>
    </fieldset>
  <% end %>
</section>

<section id="post-to-wall">
  <hgroup>
    <h1>Convide amigas do Facebook</h1>
    <h2>Para convidar, <br /> selecione suas amigas<br />na caixa ao lado
    </h2>
  </hgroup>
  <%= link_to image_tag('/assets/common/bt-face-send-messages.png'), '', :id => 'facebook_invite_friends' %>
</section>

<section id="import-contacts" style="background:none;">
  <hgroup>
    <h1>Importe sua lista de contatos</h1>
    <h2>Importe sua lista de contatos <br /> do Gmail ou Yahoo!</h2>
  </hgroup>

  <ul class="services">
    <li><%= link_to '', member_import_contacts_path, :class => 'gmail' %></li>
    <% if @yahoo_oauth_url %>
      <li><%= link_to '', @yahoo_oauth_url, :class => 'yahoo' %></li>
    <% else %>
      <li>Serviço Yahoo indisponível no momento</li>
    <% end %>
  </ul>

  <div class="import-dropdown">
    <%= link_to 'X', '', :class => 'close' %>
    <span>Service</span>

    <%= form_tag(member_show_imported_contacts_path) do %>
      <%= hidden_field_tag(:email_provider, '', :id => "email_provider") %>
      <fieldset class="inputs">
        <ol>
          <li>
            <label for="login">Email:</label>
            <%= text_field_tag(:login) %>
          </li>
          <li>
            <label for="password">Senha:</label>
            <%= password_field_tag(:password) %>
          </li>
        <li><span class="hint">A olook não guarda suas informações</span></li>
    </fieldset>

    <fieldset class="buttons">
      <ol>
        <li><%= image_submit_tag('/assets/common/bt-import.png') %></li>
      </ol>
    </fieldset>
    <% end %>
  </div>
</section>
<% if @is_the_first_visit %>
  <%= render "shared/metrics/google/google_quiz_conversion" %>
  <%= render "shared/metrics/google/track_signup_page_view" %>
  <%= render "shared/metrics/metaffiliation/action", :email => current_user.email %>
<% end %>
