<div id="invite_list">
  <h1><%= invitation_score(@member) %></h1>

  <table id="list">
    <thead>
      <tr>
        <th>Email</th>
        <th>Convidada em</th>
        <th>Registrada</th>
      </tr>
    </thead>

    <% @invites.each do |invite| %>
      <tbody>
        <tr>
          <td><%= invite.email %></td>
          <td><%= invite.created_at.to_s(:short) %></td>
          <td><%= invite.invited_member.nil? ? 'Não' : raw('<b>Sim</b>') %></td>
        </tr>
      </tbody>
    <% end %>
  </table>
  <%= will_paginate @invites %>

</div>
