<% content_for :head do %>
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <%= render "facebook_js", :member => @member, :facebook_app_id => @facebook_app_id  %>
<% end %>

<h1>Member</h1>

<p>Token: <%= content_tag(:span, accept_invitation_url(:invite_token => @member.invite_token), :id => 'share_invitation') %></p>

<hr>

<p>Share on Twitter <a href="https://twitter.com/share" class="twitter-share-button" data-text=<%= raw(link_to_invitation(@member)) %> data-count="none" data-via="olook">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></p>

</p>

<hr>

<p>Share on Facebook
  <a href="#" id="facebook_invite_friends">Convide suas amigas</a>
</p>

<hr>

<p>
  <span>Convide suas amigas por e-mail</span>
  <%= form_tag(member_invite_by_email_path) do %>
    <%= label_tag(:invite_mail_list, "E-mails:") %>
    <%= text_field_tag :invite_mail_list %>
    <%= submit_tag("Enviar convites") %>
  <% end %>
</p>
