<% content_for :head do %>
  <%= render "facebook_js", :member => @member, :facebook_app_id => @facebook_app_id  %>
<% end %>

<% content_for(:head) do %>
  <script type="text/javascript">
    if(window.opener) {
      window.close();
      window.opener.location = '<%= @redirect_uri %>';
    }
  </script>
<% end %>

<% if current_user.first_visit? %>
  <%= render 'shared/models' %>
  <%= render 'shared/banner' %>
<% current_user.record_first_visit %>
<% end %>

<section id="user-info">
  <hgroup class='info'>
    <h1 id="user">Olá, <span><%= current_user.name %></span></h1>
    <h2>Escolha uma das opções abaixo e comece a convidar</h2>
  </hgroup>

  <div class="banner">
    <h1>Quer ganhar</h1>
    <h2>R$10?</h2>
    <h3>
      <span>Convide suas amigas</span>
      <span>e vocês duas ganham<sup>*</sup></span>
    </h3>
    <%= link_to '* até R$300,00', '' %>
    <%= image_tag('/assets/common/model-banner.png') %>
  </div>
</section>

<nav>
  <ul>
    <li><%= link_to 'Link pessoal', '#share-mail', :class => 'selected' %></li>
    <li><%= link_to 'Email', '#invite-mail' %></li>
    <li><%= link_to  'Facebook', '#post-to-wall' %></li>
    <li><%= link_to 'Lista de contatos', '#import-contacts' %></li>
  </ul>
</nav>

<section id="share-mail">
  <hgroup>
    <h1>Compartilhe<br /> seu link pessoal</h1>
    <h2>Envie seu link pessoal <br /> pelo FaceBook, Twitter, MSN, Orkut e <br /> por onde mais você quiser</h2>
  </hgroup>

  <form>
    <fieldset>
      <ol>
        <li>
          <input type="text" value="<%= accept_invitation_url(:invite_token => @member.invite_token) %>" readonly="readonly">
          <ul class="share">
            <li>Compartilhe:</li>
            <li><a href="https://twitter.com/share" class="twitter-share-button" data-text=<%= raw(link_to_invitation(@member)) %> data-count="none" data-via="olook">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script></li>
            <li>
              <div id="orkut_share" style="width:100%;"></div>
              <script src="http://www.google.com/jsapi" type="text/javascript"></script>
              <script type="text/javascript">
                google.load('orkut.share', '1');
                google.setOnLoadCallback(function(){
                  new google.orkut.share.Button({
                    style:'regular',
                    title:'Olook',
                    summary:'<%= invite_message %>',
                    destination:'<%= invitation_link(@member) %>'
                  }).draw('orkut_share');
                }, true);
            </script>
          </li>
          <li>
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) {return;}
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/pt_BR/all.js#xfbml=1&appId=185909824810171";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
          </li>
          </ul>
        </li>
      </ol>
    </fieldset>
  </form>
</section>

<section id="invite-mail">
  <hgroup>
    <h1>Convide suas<br /> amigas por email</h1>
    <h2>Digite o email de suas amigas <br /> no campo ao lado separados <br /> por vírgula </h2>
  </hgroup>

  <%= form_tag (member_invite_by_email_path) do %>
    <fieldset>
      <ol>
        <li>
          <%= text_area_tag :invite_mail_list %>
        </li>
      </ol>
    </fieldset>
    <fieldset class="buttons">
      <ol>
        <li><input name="commit" type="submit" value="Convidar"></input></li>
      </ol>
    </fieldset>
  <% end %>
</section>

<section id="post-to-wall">
  <hgroup>
    <h1>Convide amigas do Facebook</h1>
    <h2>Para convidar, <br /> selecione suas amigas<br />na caixa ao lado
    </h2>
  </hgroup>
  <%= link_to image_tag('/assets/common/bt-face-send-messages.png'), '', :id => 'facebook_invite_friends' %>
</section>

<section id="import-contacts" style="background:none;">
  <hgroup>
    <h1>Importe sua<br /> lista de contatos</h1>
    <h2>Importe sua lista de contatos <br /> do Gmail ou Yahoo!</h2>
  </hgroup>

  <ul class="services">
    <li><%= link_to '', member_import_contacts_path(:email_provider => 'gmail'), :class => 'gmail' %></li>
    <li><%= link_to '', member_import_contacts_path(:email_provider => 'yahoo'), :class => 'yahoo' %></li>
  </ul>

  <div class="import-dropdown">
    <%= link_to 'X', '', :class => 'close' %>
    <span>Service</span>

    <%= form_tag(member_show_imported_contacts_path) do %>
      <%= hidden_field_tag(:email_provider, '', :id => "email_provider") %>
      <fieldset class="inputs">
        <ol>
          <li>
            <label for="login">Email:</label>
            <%= text_field_tag(:login) %>
          </li>
          <li>
            <label for="password">Senha:</label>
            <%= password_field_tag(:password) %>
          </li>
        <li><span class="hint">A olook não guarda suas informações</span></li>
    </fieldset>

    <fieldset class="buttons">
      <ol>
        <li><%= submit_tag("Importar") %></li>
      </ol>
    </fieldset>
    <% end %>
  </div>

</section>
