<div id="showroom">
  <section id="greetings">
    <%#= render :partial => "showroom_facebook_connect" %>
    <%= render :partial => "showroom_facebook_connected" %>
    <div class="lookbook">
      <h1>Lookbooks</h1>
      <%= image_tag "fake/showroom-lookbook.png" %>
    </div>
  </section>
  <section class="container_product" id="shoes">
    <h1 class="title">Sapatos de <span>Novembro</span></h1>
    <div class="type_list">
      <div class="products_list best">
        <ul>
          <% 5.times do %>
            <li>
              <div class="box_product">
                <%= image_tag "fake/showroom-product.png" %>
                <h1>Hawthrone</h1>
                <div class="line">
                  <ol>
                    <li>Black</li>
                    <li>Red</li>
                  </ol>
                  <%= link_to "Adorei", "javascript:void(0);", :class => "like" %>
                </div>
                <p class="line">
                  <%= image_tag "fake/like-fb.png" %>
                  <span>R$129,00</span>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
        <%= link_to "Veja os sapatos que quase entraram para sua vitrine", "javascript:void(0);", :class => "more", :rel => "almost" %>
      </div>
      <div class="products_list almost">
        <ul>
          <% 5.times do %>
            <li>
              <div class="box_product">
                <%= image_tag "fake/showroom-product.png" %>
                <h1>Hawthrone</h1>
                <div class="line">
                  <ol>
                    <li>Black</li>
                    <li>Red</li>
                  </ol>
                  <%= link_to "Adorei", "javascript:void(0);", :class => "like" %>
                </div>
                <p class="line">
                  <%= image_tag "fake/like-fb.png" %>
                  <span>R$129,00</span>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
        <%= link_to "Veja mais sapatos", "javascript:void(0);", :class => "more", :rel => "all" %>
      </div>
      <div class="products_list all">
        <ul>
          <% 10.times do %>
            <li>
              <div class="box_product">
                <%= image_tag "fake/showroom-product.png" %>
                <h1>Hawthrone</h1>
                <div class="line">
                  <ol>
                    <li>Black</li>
                    <li>Red</li>
                  </ol>
                  <%= link_to "Adorei", "javascript:void(0);", :class => "like" %>
                </div>
                <p class="line">
                  <%= image_tag "fake/like-fb.png" %>
                  <span>R$129,00</span>
                </p>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
  <section class="container_product" id="purse">
    <h1 class="title">Bolsas de <span>Novembro</span></h1>
    <div class="type_list">
      <div class="products_list best">
        <ul>
          <% 5.times do %>
            <li>
              <a href="#">
                <%= image_tag "fake/showroom-product-purse.png" %>
              </a>
            </li>
          <% end %>
        </ul>
        <%= link_to "Veja os sapatos que quase entraram para sua vitrine", "javascript:void(0);", :class => "more", :rel => "almost" %>
      </div>
      <div class="products_list almost">
        <ul>
          <% 5.times do %>
            <li>
              <a href="#">
                <%= image_tag "fake/showroom-product-purse.png" %>
              </a>
            </li>
          <% end %>
        </ul>
        <%= link_to "Veja mais sapatos", "javascript:void(0);", :class => "more", :rel => "all" %>
      </div>
      <div class="products_list all">
        <ul>
          <% 10.times do %>
            <li>
              <a href="#">
                <%= image_tag "fake/showroom-product-purse.png" %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
  <section class="container_product" id="accessories">
    <h1 class="title">Acessórios de <span>Novembro</span></h1>
    <div class="type_list">
      <div class="products_list best">
        <ul>
          <% 5.times do %>
            <li>
              <a href="#">
                <%= image_tag "fake/showroom-product-accessories.png" %>
              </a>
            </li>
          <% end %>
        </ul>
        <%= link_to "Veja os sapatos que quase entraram para sua vitrine", "javascript:void(0);", :class => "more", :rel => "almost" %>
      </div>
      <div class="products_list almost">
        <ul>
          <% 5.times do %>
            <li>
              <a href="#">
                <%= image_tag "fake/showroom-product-accessories.png" %>
              </a>
            </li>
          <% end %>
        </ul>
        <%= link_to "Veja mais sapatos", "javascript:void(0);", :class => "more", :rel => "all" %>
      </div>
      <div class="products_list all">
        <ul>
          <% 10.times do %>
            <li>
              <a href="#">
                <%= image_tag "fake/showroom-product-accessories.png" %>
              </a>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </section>
</div>
