<% content_for :head do %>
  <%= stylesheet_link_tag "new_structure/section/lite_showroom" %>
  
  <meta name="chaordic:source" content="home/vitrine">
  <meta name="chaordic:user" content="<%= @chaordic_user %>">
  <meta name="chaordic:category" content="Vitrine" >
<% end %>



<div id="showroom">
  <div id="fb-root"></div>
  <section class="user-info">
    <div id="profile">
      <div class="photo">
      <% if current_user.has_facebook? %>
        <%= content_tag :div, image_tag("https://graph.facebook.com/#{current_user.uid}/picture?type=normal", class: 'avatar'), class: 'avatar' if current_user.uid %>
      <% else %>  
        <p>Que tal sua foto aqui?</p>
        <a href="#" clas="btn-connect-face">Conectar no Facebook</a>
      <% end %>
      </div>

      <div class="description">
        <p class="name">Olá, <%= current_user.first_name %>!</p>
        <p>
          Nossas stylists montaram uma seleção incrível de produtos para você este mês.
          Confira e aproveite sem moderação!
          <%= link_to "Confira aqui o seu perfil",'#' %> ou se não gostar do resultado,<%= link_to "responda nosso style quiz", new_survey_path %> novamente.
        </p>

        <% if @user.profile_name.present? %>
          <%= link_to "#" do %>
            <%= image_tag "profiles/mini_#{@user.profile_name.to_s}.jpg", class: "profile-quiz" %>
          <% end %>
        <% end %>

      </div>  
    </div>  
    <% if @friends && @friends.any? %>
      <div id="mask_carousel_facebook">
        <%= link_to "Anterior", "javascript:void(0);", :class => "carousel-prev-fb" %>
        <ul class="<%= 'carousel' if @friends.count > 12 %>">
          <%- @friends.each do |friend| -%>
            <li>
              <%= link_to friend_showroom_path(:friend_id => friend.id) do %>
                <div class="mask">
                  <%= image_tag user_avatar(friend, 'square'), :title => friend.name %>
                </div>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
        <%= link_to "Próximo", "javascript:void(0);", :class => "carousel-next-fb" %>
      </div>
      <%= link_to "Convide mais amigas e ganhe créditos!", member_invite_path %>
    <%- else -%>
      <div id="banner_creditos"><%= link_to 'Banner de R$20 em créditos!', member_invite_path %><!-- apagar esse texto --></div>
    <%- end -%>
  </section>
    
  <div class="share">
    <!--iframe src="//www.facebook.com/plugins/like.php?href=http%3A%2F%2F<%= request.host %>/membro/share/<%= @user.id %>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=35&amp;appId=<%= @facebook_app_id %>" scrolling="no" frameborder="0" id="fb_iframe" allowTransparency="true"></iframe-->
  </div>
  
  <div class="showroom-title">
    <p><span>Sua vitrine de <%= current_collection_name %></span></p>
  </div>
      
  <section class="container_product" id="clothes_container">
    <ul>
      <%- @cloth.shift(5).each do |product| -%>
          <%= render 'shared/lite_product_item', product: product  %>
      <%- end -%>
    </ul>

    <ul>
      <%- @cloth.shift(5).each do |product| %>
        <%= render 'shared/product_item', product: product %>
      <%- end -%>
    </ul>


    <%#= link_to "ver mais roupas", "javascript:void(0);", :class => "more clothes", :onclick => track_event("Showroom", "SeeMore", "Clothes"), :rel => "almost", :data => {:url => member_showroom_clothes_path } %>
  </section>

  <section class="container_product" id="shoes_container">
    <ul>
      <%- @shoes.each do |product| -%>
        <%= render 'shared/product_item', product: product %>
      <%- end -%>
    </ul>

    <%#= link_to "ver mais sapatos", "javascript:void(0);", :class => "more shoes", :onclick => track_event("Showroom", "SeeMore", "Shoes"), :rel => "almost", :data => {:url => member_showroom_shoes_path } %>
  </section>

  <section class="container_product" id="purse_container">
    <ul>
      <%- @bags.each do |product| -%>
        <%= render 'shared/product_item', product: product %>
      <%- end -%>
    </ul>
 
    <%#= link_to "ver mais bolsas", "javascript:void(0);", :class => "more purses",:onclick => track_event("Showroom", "SeeMore", "Bags"), :rel => "almost", :data => {:url => member_showroom_bags_path } %>
  </section>

  <section class="container_product" id="accessories_container">    
    <ul>
      <%- @accessories.each do |product| -%>
        <%= render 'shared/product_item', product: product %>
      <%- end -%>
    </ul>
    
    <%#= link_to "ver mais acessórios", "javascript:void(0);", :class => "more accessories", :onclick => track_event("Showroom", "SeeMore", "Acessories") ,:rel => "almost", :data => {:url => member_showroom_accessories_path } %>
  </section>

</div> <%# fecha div#showroom %>

<%#= render "home/boxes" %>
<section id="boxes">
<ul>
  <li>
    <%= link_to clothes_path, onclick: track_event('DestaquesRodape', "BannerEsquerda") do %>
      <%= image_tag "home/picture-1.jpg" %>
      <h1>Novidades todos os meses</h1>
      <p>Agora temos o look completo</p>
    <% end %>
  </li>
  <li>
    <%= link_to shoes_path, onclick: track_event('DestaquesRodape', "BannerCentro") do %>
      <%= image_tag "home/picture-2.jpg" %>
      <h1>SAPATOS HOT</h1>
      <p>Vai ser difícil escolher apenas um</p>
    <% end %>
  </li>
  <li class="iehack"><!-- NAO REMOVER A CLASSE -->
    <%= link_to accessories_path, onclick: track_event('DestaquesRodape', "BannerDireita") do %>
      <%= image_tag "home/picture-3.jpg" %>
      <h1>Pontue com acessórios</h1>
      <p>Eles valorizam qualquer look</p>
    <% end %>
  </li>
</ul>
</section>
<%#= fim "home/boxes" %>

<%#= render "home/products_categories" %>
<div id="products_categories">
  <h1>O que você quer ver hoje?</h1>
  <ul>
    <li class="blusa"><%= link_to "Blusa", "/roupas?cloth_subcategories[]=blusa"%></li>
    <li class="camisa"><%= link_to "Camisa", "/roupas?cloth_subcategories[]=camisa" %></li>
    <li class="calca"><%= link_to "Calça", "/roupas?cloth_subcategories[]=calca" %></li>
    <li class="saia"><%= link_to "Saia", "/roupas?cloth_subcategories[]=saia" %></li>
    <li class="vestido"><%= link_to "Vestido", "/roupas?cloth_subcategories[]=vestido" %></li>
    <li class="anabela"><%= link_to "Anabela", anabelas_path %></li>
    <li class="rasteira"><%= link_to "Rasteira", rasteiras_path %></li>
    <li class="sapatilha"><%= link_to "Sapatilha", sapatilhas_path %></li>
    <li class="scarpin"><%= link_to "Scarpin", scarpins_path %></li>
    <li class="sneaker"><%= link_to "Sneaker", sneakers_path %></li>
    <li class="acessorios"><%= link_to "Acessórios", accessories_path %></li>
    <li class="bolsas"><%= link_to "Bolsas", bags_path %></li>
  </ul>
</div>
<%#= fim "home/products_categories" %>

<%#= render "home/facebook_box" %>
<div id="facebook_box">
  <%= image_tag "home/olook.jpg", title: "Olook" %>
  <h1><span>olook</span> no facebook</h1>
  <%= render "shared/facebook_like_button" %>
</div>
<%#= fim "home/facebook_box" %>

<!-- MODALS -->
<%#= render 'shared/banners/olooklet' extraindo o conteudo aqui embaixo %>
<% if show_current_liquidation_advertise? %>
  <%= link_to image_tag('common/olooklet_banner_header.jpg'), liquidations_path(current_liquidation.id), :class => "liquidation_banner" %>
<% end %>
<%# fim do 'shared/banners/olooklet -%>


<% if Campaign.activated_campaign && Campaign.activated_campaign.lightbox? %>
  <%= render :partial => "shared/modal/lightbox", :locals => {:image_url => Campaign.activated_campaign.lightbox_url, :link => Campaign.activated_campaign.link}  %>
<% end %>


<% if @show_liquidation_lightbox && current_liquidation.lightbox_banner?  %>
<%= render "shared/modal/liquidation" %>
<% end %>
<!-- END MODALS -->


<% if user_signed_in? %>
  <%#= render "shared/invite", :user => current_user %>
  <!--div class="box_invite">
    <h1>Convide suas amigas e ganhe créditos</h1>
    <p>Você ganhará <strong>R$20</strong> na primeira compra de cada amiga que se cadastrar usando seu convite. <strong>Mande para todo mundo!</strong></p>
    <%#= render "shared/social/share", :user => user %>
    <div class="social">
      <ul>
        <li class="facebook"><%= link_to "#", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","clickShareFacebook") do %>Postar no meu mural<% end %></li>
        <li class="twitter"><%= link_to "Tweetar", "https://twitter.com/intent/tweet?text=Cadastre-se na olook pelo meu convite, descubra o seu estilo e ainda ganhe R$10! #{accept_invitation_url(:invite_token => current_user.invite_token)}&hashtags=ficaadica", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","clickShareTwitter") %></li>
        <li class="email"><%= link_to "#" do %>Enviar por email<% end %></li>
      </ul>
      <%= form_tag member_invite_by_email_path do %>
        <p>Digite o email de suas amigas separados por vírgula no campo abaixo:</p>
        <%= text_area_tag :invite_mail_list %>
        <%= submit_tag "", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","clickShareEmail") %>
      <% end %>
    </div>
    <div class="link_mail">
      <p class="txt-copie">Copie o link abaixo e envie por email, MSN ou GTalk:</p>
      <ul>
        <li>
          <%= text_field_tag "link", accept_invitation_url(:invite_token => current_user.invite_token), :readonly => "readonly" %>
          <%= link_to "Copiar link", "#", onclick: track_event("#{params[:controller].split("/").join("_").camelize}Share","clickShareLink") %>
        </li>
      </ul>
      <div class="box_copy">
        <p><strong>Link copiado</strong></p>
        <p>Aperte CTRL + V para colar.</p>
      </div>
    </div>
    <%#= fim "shared/social/share", :user => user %>
  </div-->
  <%#= render "shared/invite", :user => current_user %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "sections/lite_showroom" %>
  <% if @user.first_visit_for_member? %>
    <%= javascript_include_tag "first_visit" %>
    <%= render "shared/metrics/google/track_signup_page_view" %>
    <%= render "shared/metrics/metaffiliation/action", :email => current_user.email %>
    <%= render "shared/metrics/adlead/adlead" %>
  <% elsif @is_retake %>
    <script type="text/javascript">
    setTimeout(function() {
      initBase.showProfileLightbox();
    }, 2000);
    </script>
  <% end %>

<% end %>
