<% present 'Showroom', :member => @member,  do |showroom_presenter| %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "section/showroom" %>
  <% end %>

  <% content_for :footer do %>
    <%= javascript_include_tag "showroom" %>
  <% end %>

  <% if @is_the_first_visit %>
    <%= render 'shared/models' %>
  <% end %>
  <div id="showroom">
    <section id="greetings">
      <%= showroom_presenter.render_identification %>

      <div class="lookbook">
        <h1>Lookbooks</h1>
        <div id="mask_carousel_showroom">
          <ul>
            <li><%= link_to image_tag("lookbooks/flores.jpg"), flores_path %></li>
            <li><%= link_to image_tag("lookbooks/lets-party.jpg"), lets_party_path %></li>
            <li><%= link_to image_tag("lookbooks/golden-grace.jpg"), golden_grace_path %></li>
            <li><%= link_to image_tag("lookbooks/color-block.jpg"), color_block_path %></li>
          </ul>
        </div>
      </div>
    </section>
    <%= render :partial => 'members/showroom_shoes', :locals => {:showroom_presenter => showroom_presenter} %>
    <%= render :partial => 'members/showroom_bags', :locals => {:showroom_presenter => showroom_presenter} %>
    <%= render :partial => 'members/showroom_accessories', :locals => {:showroom_presenter => showroom_presenter} %>
  </div>
  <% if @is_the_first_visit %>
    <%= render "shared/metrics/google/google_quiz_conversion" %>
    <%= render "shared/metrics/google/track_signup_page_view" %>
    <%= render "shared/metrics/metaffiliation/action", :email => current_user.email %>
  <% end %>
<% end %>
