<% present 'Showroom', :member => @member,  do |showroom_presenter| %>
  <% content_for :head do %>
    <%= stylesheet_link_tag "section/showroom" %>
  <% end %>
  <div id="showroom">
    <section id="greetings">
      <%= showroom_presenter.render_identification %>

      <div class="lookbook">
        <h1>Lookbooks</h1>
        <div id="mask_carousel_showroom">
          <%= link_to "<", "javascript:void(0);", :class => "arrows prev" %>
          <ul>
            <% 5.times do %>
              <li><%= link_to image_tag("fake/fake-lookbook.png"), "#" %></li>
            <% end %>
          </ul>
          <%= link_to ">", "javascript:void(0);", :class => "arrows next" %>
        </div>
      </div>
    </section>
    <%= render :partial => 'members/showroom_shoes', :locals => {:showroom_presenter => showroom_presenter} %>
    <%= render :partial => 'members/showroom_bags', :locals => {:showroom_presenter => showroom_presenter} %>
    <%= render :partial => 'members/showroom_accessories', :locals => {:showroom_presenter => showroom_presenter} %>
  </div>
<% end %>
