<% content_for :head do %>
  <%= stylesheet_link_tag "new_structure/section/lite_showroom" %>

  <meta name="chaordic:source" content="home/vitrine">
  <meta name="chaordic:user" content="<%= @chaordic_user %>">

<% end %>

<%= first_level_breadcrumb "Minha Vitrine"  %>
<div id="showroom">

  <section class="user-info">
    <div id="profile">
      <div class="photo">
      <% if current_user.has_facebook? %>
        <%= content_tag :div, image_tag("http://graph.facebook.com/#{current_user.uid}/picture?width=90&height=85", class: 'avatar-photo'), class: 'avatar' if current_user.uid %>
      <% else %>
        <p>Que tal sua foto aqui?</p>
        <%= link_to "Conectar no Facebook", "/conta/auth/facebook", class: "btn-connect-face", onclick: track_event("FacebookConnect", "ConnectFromLoggedShowRoom") %>
      <% end %>
      </div>

      <div class="description">
        <p class="name">Olá, <%= current_user.first_name %>!</p>
        <p>
          Nossas stylists montaram uma seleção incrível de produtos para você este mês.
          Confira e aproveite sem moderação!
          <%= link_to "Confira aqui o seu perfil",profile_path, onclick: track_event("Showroom","ShowProfile") %> ou se não gostar do resultado, <%= link_to "responda nosso style quiz", wysquiz_path, onclick: track_event("Showroom","RestartQuiz") %> novamente.
        </p>

      </div>

    </div>

    <% if @friends && @friends.any? %>
      <div id="mask_carousel_facebook">
        <p>Últimas amigas que se registraram</p>
        <%= link_to "Anterior", "javascript:void(0);", :class => "carousel-prev-fb", :id=> "prev-button" %>
        <ul id="friends-face" class="<%= 'carousel' if @friends.count > 12 %>">
          <%- @friends.each do |friend| -%>
            <li>
              <%= link_to friend_showroom_path(:friend_id => friend.id), onclick: track_event("Showroom","ShowFriendShowroom") do %>
                <div class="mask">
                  <%= image_tag user_avatar(friend, 'square'), :title => friend.name %>
                </div>
              <%- end -%>
            </li>
          <%- end -%>
        </ul>
        <%= link_to "Próximo", "javascript:void(0);", :class => "carousel-next-fb", :id=> "next-button" %>
        <%= link_to "Convide mais amigas e ganhe créditos!", member_invite_path, class: "invite-more", onclick: track_event("Showroom","ShowroomMemberInvite") %>
      </div>
    <%- else -%>
      <div id="banner_creditos"><%= link_to (image_tag('showroom/banner.png')), member_invite_path, :title => "Convide amigas e ganhe R$ 20 quando elas fizerem a primeira compra", onclick: track_event("BannerInvite", " ClickBannerFromShowroom") %></div>
    <%- end -%>
  </section>

  <% if @user.profile_name.present? %>
    <%#= image_tag "profiles/mini_#{@user.profile_name.to_s}.jpg", class: "profile-quiz" %>
    <%= render "shared/modal/retake_quiz", :user => @user, :link => "#"  %>
  <% end %>

  <div class="showroom-title">
    <p><span>Sua vitrine de <%= current_collection_name %></span></p>
  </div>

  <section class="container_product" id="clothes_container">

    <div class="fb_share">
      <p>Gostou da sua vitrine? Então compartilhe!</p>
      <%= link_to 'Compartilhar', "javascript:void(0);", id: "facebook_share", :class => "share", :"data-width" => 128, :"data-height" => 24, onclick: track_event("Showroom","ShowroomShareFacebook") %>
    </div>

    <ul>
      <%- @cloth.shift(5).each do |product| -%>
          <%= render 'shared/lite_product_item', product: product  %>
      <%- end -%>
    </ul>

    <ul class="second_line">
      <%- @cloth.shift(5).each do |product| %>
        <%= render 'shared/lite_product_item', product: product %>
      <%- end -%>
    </ul>

    <%= content_tag(:p, link_to("+ ver mais roupas +", catalog_path(category: "roupa"), :class => "more clothes", :onclick => track_event("Showroom", "SeeMore", "Clothes"), :rel => "follow"), class:"see-more")%>
  </section>

  <section class="container_product" id="shoes_container">

    <ul>
      <%- @shoes.each do |product| -%>
        <%= render 'shared/lite_product_item', product: product %>
      <%- end -%>
    </ul>

    <%= content_tag(:p, link_to("+ ver mais sapatos +", catalog_path(category: "sapato"), :class => "more shoes", :onclick => track_event("Showroom", "SeeMore", "Shoes"), :rel => "follow"), class:"see-more")%>
  </section>


  <section class="container_product" id="purse_container">
    <ul>
      <%- @bags.each do |product| -%>
        <%= render 'shared/lite_product_item', product: product %>
      <%- end -%>
    </ul>

    <%= content_tag(:p, link_to("+ ver mais bolsas +", catalog_path(category: "bolsa"), :class => "more purses", :onclick => track_event("Showroom", "SeeMore", "Bags"), :rel => "follow"), class:"see-more")%>
  </section>


  <section class="container_product" id="accessories_container">
    <ul>
      <%- @accessories.each do |product| -%>
        <%= render 'shared/lite_product_item', product: product %>
      <%- end -%>
    </ul>

    <%= content_tag(:p, link_to("+ ver mais acessórios +", catalog_path(category: "acessorio"), :class => "more accessories", :onclick => track_event("Showroom", "SeeMore", "Acessories"), :rel => "follow"), class:"see-more")%>
  </section>

</div> <%# fecha div#showroom %>

<div class="chaordic rec4you"></div>

<section id="boxes">
<ul>
  <li>
    <%= link_to catalog_path(category: "roupa"), onclick: track_event('DestaquesRodape', "BannerEsquerda") do %>
      <%= image_tag "home/destaque_novidades.jpg" %>
      <h1>Novidades todos os meses</h1>
      <p>Agora temos o look completo</p>
    <% end %>
  </li>
  <li>
    <%= link_to catalog_path(category: "sapato"), onclick: track_event('DestaquesRodape', "BannerCentro") do %>
      <%= image_tag "home/destaque_sapatoshot.jpg" %>
      <h1>SAPATOS HOT</h1>
      <p>Vai ser difícil escolher apenas um</p>
    <% end %>
  </li>
  <li class="iehack"><!-- NAO REMOVER A CLASSE -->
    <%= link_to catalog_path(category: "acessorio"), onclick: track_event('DestaquesRodape', "BannerDireita") do %>
      <%= image_tag "home/destaque_acessorios.jpg" %>
      <h1>Pontue com acessórios</h1>
      <p>Eles valorizam qualquer look</p>
    <% end %>
  </li>
</ul>
</section>
<%#= fim "home/boxes" %>

<%#= render "home/products_categories" %>
<div id="products_categories">
  <h1>O que você quer ver hoje?</h1>
  <ul>
    <li class="blusa"><%= link_to "Blusa", catalog_path(category: "roupa", parameters: 'blusa') %></li>
    <li class="camisa"><%= link_to "Camisa", catalog_path(category: "roupa", parameters: 'camisa') %></li>
      <li class="calca"><%= link_to "Calça", catalog_path(category: "roupa", parameters: 'calca') %></li>
    <li class="vestido"><%= link_to "Vestido", catalog_path(category: "roupa", parameters: 'vestido') %></li>
    <li class="anabela"><%= link_to "Anabela", catalog_path(category: 'sapato', parameters: 'anabela') %></li>
    <li class="bota"><%= link_to "Bota", catalog_path(category: "sapato", parameters: 'bota') %></li>
    <li class="sapatilha"><%= link_to "Sapatilha", catalog_path(category: "sapato", parameters: 'sapatilha') %></li>
    <li class="scarpin"><%= link_to "Scarpin", catalog_path(category: "sapato", parameters: 'scarpin') %></li>
    <li class="sneaker"><%= link_to "Sneaker", catalog_path(category: "sapato", parameters: 'sneaker') %></li>
    <li class="acessorios"><%= link_to "Acessórios", catalog_path(category: 'acessorio') %></li>
    <li class="bolsas"><%= link_to "Bolsas", catalog_path(category: 'bolsa') %></li>
  </ul>
</div>
<%#= fim "home/products_categories" %>

<!-- MODALS -->
<%#= render 'shared/banners/olooklet' extraindo o conteudo aqui embaixo %>
<% if show_current_liquidation_advertise? %>
  <%= link_to image_tag('common/olooklet_banner_header.jpg'), liquidations_path(current_liquidation.id), :class => "liquidation_banner" %>
<% end %>
<%# fim do 'shared/banners/olooklet -%>


<% if Campaign.activated_campaign && Campaign.activated_campaign.lightbox? %>
  <%= render :partial => "shared/modal/lightbox", :locals => {:image_url => Campaign.activated_campaign.lightbox_url, :link => Campaign.activated_campaign.link}  %>
<% end %>


<% if @show_liquidation_lightbox && current_liquidation.lightbox_banner?  %>
<%= render "shared/modal/liquidation" %>
<% end %>
<!-- END MODALS -->
<% first_visit = @user.first_visit_for_member? %>
<% if first_visit %>
  <% content_for :data_layer do %>
    <%= render "shared/metrics/adlead/adlead" %>
  <% end %>
<% end %>

<% content_for :footer do %>
  <%= javascript_include_tag "section/lite_showroom" %>

  <%= render "shared/facebook_js", :member => current_user, :facebook_app_id => @facebook_app_id, product: ""  %>

  <% if user_signed_in? %>
    <% content_for :head do %>
      <%= stylesheet_link_tag "section/invite" %>
      <%= stylesheet_link_tag "section/box_invite" %>
    <% end %>

    <%= javascript_include_tag "common/jquery.zclip.min" %>

    <%= render "shared/invite", :user => current_user %>
    <%= render 'shared/metrics/all_in/showroom', :user => current_user  %>
  <% end %>

  <% if first_visit %>

    <%= javascript_include_tag "first_visit" %>
    <%= render "shared/metrics/google/track_signup_page_view" %>
    <%= render "shared/metrics/metaffiliation/action", :email => current_user.email %>

  <% elsif @is_retake %>
    <script type="text/javascript">
    setTimeout(function() {
      $("img.profile-quiz").trigger('click');
    }, 1500);
    </script>
  <% end %>
<% end %>
