<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <% if resource.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% resource.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset>
    <ol class="<%= "facebook" if @signup_with_facebook %>">
      <li>
        <%= f.label :first_name, "Primeiro nome" %>
        <%= f.text_field :first_name %>
      </li>

      <li>
        <%= f.label :last_name, "Sobrenome" %>
        <%= f.text_field :last_name %>
      </li>
    </ol>
    <ol>
      <li>
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, value: email %>
        <p class='hint'>* Coloque um email válido para receber seu resultado</p>
      </li>
      <li class="password">
        <%= f.label :password, "Senha" %>
        <%= f.password_field :password %>
        <p class='hint'>* mínimo 6 caracteres</p>
      </li>

      <li>
        <%= f.label :password_confirmation, "Confirmar senha" %>
        <%= f.password_field :password_confirmation %>
      </li>

      <% if resource.is_invited %>
        <li class="cpf">
          <span class="hint">Para você ganhar R$10, preencha o seu CPF.</span>
          <%= f.label :cpf, "CPF" %>
          <%= f.text_field :cpf %>
        </li>
      <% end %>

      <li class="terms">
        <p>Ao concluir o cadastro você aceita os <%= link_to 'Termos de uso', terms_path, :target => "_blank" %> e a nossa <%= link_to "Política de Privacidade", privacy_path %></p>
      </li>
    </ol>
  </fieldset>

  <fieldset class="buttons">
    <ol>
      <li><%= f.submit "Cadastrar", :id => "register" %></li>
    </ol>
  </fieldset>
<% end %>
